<div class="feed-content-padding-container">
  <div id="select" class="user-select mdc-select mdc-select--outlined feed-select-width">
    <input type="hidden" name="enhanced-select">
    <i class="mdc-select__dropdown-icon"></i>
    <div class="mdc-select__selected-text">{{$ctrl.userPages[0][0].location.properties.timestamp | moment: 'fromNow'}}</div>
    <div class="mdc-select__menu mdc-menu mdc-menu-surface feed-select-width">
      <ul class="mdc-list">
          <li class="mdc-list-item mdc-list-item--selected"
          data-value="0">
          {{$ctrl.userPages[0][0].location.properties.timestamp | moment: 'fromNow'}}
        </li>
        <li class="mdc-list-item"
          ng-if="!$first"
          ng-repeat="userPage in $ctrl.userPages track by $index"
          data-value="$index">
          {{userPage[0].properties.timestamp | moment: 'fromNow'}}
        </li>
      </ul>
    </div>
    <div class="mdc-notched-outline">
    <div class="mdc-notched-outline__leading"></div>
    <div class="mdc-notched-outline__notch">
      <label class="mdc-floating-label">User Page</label>
    </div>
    <div class="mdc-notched-outline__trailing"></div>  
    </div>
  </div>
</div>
<div class="people-card-background-container card-background-container">
  <div
    id="{{user.id}}"
    class="mdc-card"
    ng-class="($ctrl.selectedUser && $ctrl.selectedUser.id !== user.id) && 'inactive-feed-card'"
    ng-repeat="user in $ctrl.userPages[$ctrl.currentUserPage] track by user.id">
    <div user-news-item="user" user-news-item-followable="true" user-news-item-follow="followUserId" container-element="side-bar"></div>
  </div>
</div>