<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li><i class="fa fa-calendar admin-dashboard"></i><a ui-sref="admin.events">Events</a></li>
      <li><a ui-sref="admin.event({ eventId: $ctrl.event.id })">{{ $ctrl.event.name }}</a></li>
      <li><a ui-sref="admin.formEdit({ eventId: $ctrl.event.id, formId: $ctrl.form.id })">{{ $ctrl.form.name }}</a></li>
      <li class="active">Feed Configuration <span class="text-danger" ng-show="$ctrl.unSavedChanges"> (unsaved changes)</span></li>
    </ol>
  </div>
</div>

<div class="container" ng-show="$ctrl.event">
  <div class="row">
    <div class="col-md-12">
      <h2 ng-if="form.id">Edit Feed Configuration for form: {{$ctrl.form.name}}</h2>
    </div>
  </div>

  <div class="row top-gap-l">
    <div class="col-md-12">
      <nav class="navbar navbar-default admin-dashboard-navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">Feed Configuration</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="admin-table admin-table-content">
        <strong>Choose a primary field to be used in the feed:</strong>
        <div class="row bottom-gap">
          <div class="col-md-2">
            <div class="field form-group">
              <ui-select ng-model="$ctrl.form.primaryFeedField" theme="bootstrap" on-select="$ctrl.onFieldChanged()">
                <ui-select-match allow-clear>{{$select.selected.title}}</ui-select-match>
                <ui-select-choices ui-disable-choice="field.archived === true" repeat="field.name as field in $ctrl.form.fields | filter: $ctrl.fieldFilter($ctrl.primaryFeedField)">
                  <div ng-bind-html="field.title | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>

        <strong>Choose a secondary field to be used in the feed:</strong>
        <div class="row bottom-gap">
          <div class="col-md-2">
            <div class="field form-group">
              <ui-select ng-model="$ctrl.form.secondaryFeedField" theme="bootstrap" on-select="$ctrl.onFieldChanged()">
                <ui-select-match allow-clear>{{$select.selected.title}}</ui-select-match>
                <ui-select-choices ui-disable-choice="field.archived === true" repeat="field.name as field in $ctrl.form.fields | filter: $ctrl.fieldFilter($ctrl.form.secondaryFeedField)">
                  <div ng-bind-html="field.title | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row top-gap-l">
    <div class="col-md-12">
      <h4>Sample Observation Feed</h4>
      <div class="mdc-card" ng-repeat="observation in $ctrl.observations track by observation.id" container-element="side-bar">
        <observation-list-item [observation]="observation" [event]="$ctrl.event" [form]="$ctrl.form"></observation-list-item>
      </div>
    </div>
  </div>
</div>

<div class="bottom-gap-l top-gap-xl">
  <div class="container" ng-if="$ctrl.event">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right" ng-if="$ctrl.unSavedChanges && !$ctrl.saving" ng-click="$ctrl.save(event)" ng-disabled="$ctrl.form.fields.$invalid">Save</button>
        <button class="btn btn-success pull-right" ng-if="!$ctrl.unSavedChanges && !$ctrl.saving" disabled="disabled">Save</button>
        <button class="btn btn-success pull-right" ng-if="$ctrl.saving" disabled="disabled"><i class="fa fa-spinner fa-spin"></i> Saving</button>
      </div>
    </div>
  </div>
</div>