<mat-card matRipple [matRippleTrigger]="ripple">
  <mat-card-content class="item" (click)="viewUser()" (mousedown)="onRipple()">
    <div class="item-header">
      <div class="item-thumbnail">
        <user-avatar [user]="user" avatarWidth="40" avatarHeight="40"></user-avatar>
      </div>

      <div class="item-header-content">
        <div class="item-title">
          <span>{{ user?.user?.displayName }}</span>
        </div>

        <div *ngIf="user?.location?.properties?.timestamp" class="item-subtitle">
          {{ user?.location?.properties?.timestamp | moment }}
        </div>

        <div *ngIf="user?.location?.geometry" class="item-subtitle">
          {{ user?.location?.geometry | geometry : 5 }}
        </div>
      </div>

      <div *ngIf="user?.user?.iconUrl">
        <img class="item-icon" [src]="user?.user?.iconUrl + '?access_token=' + token" alt="" />
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div class="actions-buttons">
      <button *ngIf="followingUser.id !== user.id" matButton (click)="followUser($event)">Follow</button>
      <button *ngIf="followingUser.id === user.id" matButton="filled" (click)="followUser($event)">Following</button>
    </div>

    <div class="actions-icons">
      <button matIconButton (click)="onUserLocation()">
        <mat-icon>my_location</mat-icon>
      </button>
    </div>
  </mat-card-actions>

  <div #ripple></div>
</mat-card>
