:host {
  --mat-card-elevated-container-color: #ffffff;
}

.item {
  cursor: pointer;
}

.item-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.item-header-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;
}

.item-title {
  font: var(--mat-sys-body-large);
  color: var(--mat-sys-on-surface);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item-thumbnail {
  margin-right: 16px;
  margin-bottom: auto;
  flex: 0 0 auto;
}

.item-icon {
  width: 28px;
  height: 28px;
  margin-left: 16px;
  flex: 0 0 auto;
}

.item-subtitle {
  font: var(--mat-sys-body-small);
  color: var(--mat-sys-on-surface-variant);
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.actions-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actions-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 8px;
}
