<div class="user-feed">
  <div class="feed-pages">
    <mat-form-field class="feed-pages__select" appearance="outline">
      <mat-label>User Page</mat-label>
      <mat-select [(ngModel)]="currentUserPage">
        <mat-option *ngFor="let userPage of userPages; index as i; trackBy: trackByPageId" [value]="i">
          {{userPage[0].location.properties.timestamp | moment: 'fromNow'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="page-container">
    <ng-container *ngFor="let user of userPages[currentUserPage]; trackBy: trackByUserId">
      <div class="feed-user">
        <user-list-item [user]="user" followable="true" [follow]=followUserId></user-list-item>
      </div>
    </ng-container>
  </div>
</div>