<div class="container top-gap-l">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="row">
        <div class="col-md-12 top-gap-xl">
          <h3 class="text-center">MAGE</h3>
          <div class="text-center">
            <i class="fa fa-magic icon-brand-m"></i>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 top-gap-xl">
          <h5 class="text-center">Sign up to use to MAGE</h5>
        </div>
      </div>

      <hr>

      <div ng-repeat="strategy in thirdPartyStrategies" ng-if="!thirdPartyUser">
        <div class="row" ng-if="strategy.name == 'google'">
          <div class="or-container">
            <hr class="or-hr">
            <div id="or">Use Google to Sign up for a MAGE account</div>
          </div>
          <div class="col-md-12 text-center">
            <div style="display:inline-block;" ng-init="initializeGoogleButton(strategy)" id="google-signin" class="g-signin2"></div>
          </div>
        </div>
      </div>

      <div ng-if="thirdPartyUser">
        <div ng-if="thirdPartyUser.type=='google'">
          <div class="or-container">
            <hr class="or-hr">
            <div id="or">Google Account</div>
          </div>
          <div class="row">
            <div class="col-md-1 col-md-offset-3">
                <img width="42" height="42" class="img-circle pull-right" ng-src="{{thirdPartyUser.imageUrl}}"></img>
            </div>
            <div class="col-md-5">
                <div>{{thirdPartyUser.displayName}}</div>
                <div>{{thirdPartyUser.email}}</div>
            </div>
          </div>
          <div class="or-container">
            <hr class="or-hr">
            <div id="or">Verify MAGE Account Info</div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form id="new-user-form" class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-3" for="type">Display Name</label>
                  <div class="col-sm-8">
                    <input type="text" placeholder="Johnny Appleseed" ng-model="thirdPartyUser.displayName" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-3" for="type">Email</label>
                  <div class="col-sm-8">
                    <input type="text" placeholder="johnny@appleseed.com" ng-model="thirdPartyUser.email" autocapitalize="off" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-3" for="type">Phone</label>
                  <div class="col-sm-8">
                    <input type="text" ng-model="thirdPartyUser.phone" autocapitalize="off" class="form-control">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="localAuthenticationStrategy && !thirdPartyUser" >
        <div ng-if="thirdPartyStrategies.length" class="top-gap">
          <div class="or-container">
            <hr class="or-hr">
            <div id="or">or create a MAGE account</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal" name="account" ng-submit="signup(thirdPartyUser.type || 'local', account)" method="post" autocomplete="off" novalidate>

              <div class="form-group">
                <label class="control-label col-sm-3">Avatar</label>
                <div class="col-sm-8">
                  <div avatar-user-edit="user"/>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Username</label>
                <div class="col-sm-8" ng-class="{'has-error': account.$submitted && account.password.$invalid}">
                  <input type="text" ng-model="user.username" autocapitalize="off" name="username" placeholder="i.e. jappleseed" class="form-control" required>
                  <div class="help-block" ng-messages="account.$submitted && account.username.$error" ng-if="account.username.$invalid">
                    <div ng-message="required">Username is required</div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Display Name</label>
                <div class="col-sm-8" ng-class="{'has-error': account.$submitted && account.displayName.$invalid}">
                  <input type="text" ng-model="user.displayName" autocapitalize="off" name="displayName" placeholder="Johnny Appleseed" class="form-control" required>
                  <div class="help-block" ng-messages="account.$submitted && account.displayName.$error" ng-if="account.displayName.$invalid">
                    <div ng-message="required">Display Name is required</div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3" for="type">Email</label>
                <div class="col-sm-8">
                  <input type="text" placeholder="johnny@appleseed.com" ng-model="user.email" autocapitalize="off" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3" for="type">Phone</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="user.phone" autocapitalize="off" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Password</label>
                <div class="col-sm-8" ng-class="{'has-error': account.$submitted && account.password.$invalid}">
                  <input type="password" ng-model="user.password" name="password" placeholder="{{passwordPlaceholder}}" class="form-control" required>
                  <div class="help-block" ng-messages="account.$submitted && account.password.$error" ng-if="account.password.$invalid">
                    <div ng-message="required">Password is required</div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Re-type new</label>
                <div class="col-sm-8" ng-class="{'has-error': account.$submitted && account.passwordconfirm.$invalid}">
                  <input type="password" ng-model="user.passwordconfirm" name="passwordconfirm" placeholder="{{passwordPlaceholder}}" class="form-control" required>
                  <div class="help-block" ng-messages="account.passwordconfirm.$error" ng-if="account.$submitted && account.passwordconfirm.$invalid">
                    <div ng-message="required">New password confirmation is required</div>
                    <div ng-messages="nomatch">Passwords do not match</div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-offset-3 col-sm-8">
                  <div><strong class="muted">Password Strength: <span class="text-{{passwordStrengthType}}">{{passwordStrength}}<span></strong></div>
                  <uib-progressbar max="5" value="passwordStrengthScore" type="{{passwordStrengthType}}"></uib-progressbar>
                </div>
              </div>

              <div class="row top-gap">
                <div class="col-sm-8 col-sm-offset-3">
                  <button type="submit" class="btn btn-default pull-right">Create my account</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="row top-gap">
        <div class="col-sm-9 col-sm-offset-3">
          <p class="help-block">Your account will have to be approved by an admin before it becomes active</p>
        </div>
      </div>

      <!-- Status message area -->
      <div class="row top-gap-l" ng-show="showStatus">
        <div class="col-md-8 col-md-offset-3 alert" ng-class="statusLevel">
          <button type="button" class="close" ng-click="setShowStatus(false)">&times;</button>
          <h4>{{statusTitle}}</h4>
          {{statusMessage}}
        </div>
      </div>

    </div>
  </div>
</div>
