<div class="container top-gap-l">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="row">
        <div class="col-md-12 top-gap-xl">
          <h3 class="text-center">MAGE</h3>
          <div class="text-center">
            <i class="fa fa-magic icon-brand-m"></i>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 top-gap-xl">
          <h5 class="text-center">Sign up to use to MAGE</h5>
        </div>
      </div>

      <hr>

      <div ng-repeat="strategy in thirdPartyStrategies">
        <div class="row" ng-if="strategy.name == 'google'">
          <div class="col-md-12 text-center">
            <button class="btn btn-google" ng-click="signup('google')">
              <i class="fa fa-google-plus right-gap"></i> Google
            </button>
          </div>
        </div>
      </div>

      <div ng-if="localAuthenticationStrategy">
        <div ng-if="thirdPartyStrategies.length" class="top-gap">
          <div class="or-container">
            <hr class="or-hr">
            <div id="or">or</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <form id="new-user-form" class="form-horizontal">

              <div class="form-group">
                <label class="control-label col-sm-4">Avatar</label>
                <div class="col-sm-8">
                  <div avatar-user="user"/>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4">Username</label>
                <div class="col-sm-8">
                  <input type="text" placeholder="i.e. jappleseed" ng-model="user.username" autocapitalize="off" class="form-control"/>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4" for="type">Display Name</label>
                <div class="col-sm-8">
                  <input type="text" placeholder="Johnny Appleseed" ng-model="user.displayName" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4" for="type">Email</label>
                <div class="col-sm-8">
                  <input type="text" placeholder="johnny@appleseed.com" ng-model="user.email" autocapitalize="off" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4" for="type">Password</label>
                <div class="col-sm-8">
                  <input type="password" placeholder="14 characters, alphanumeric" ng-model="user.password" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4" for="type">Confirm Password</label>
                <div class="col-sm-8">
                  <input type="password" placeholder="14 characters, alphanumeric" ng-model="user.passwordconfirm" class="form-control">
                </div>
              </div>

              <div class="pull-right">
                <button type="submit" class="btn btn-default" ng-click="signup('local')">Create my account</button>
              </div>
              <div class="help-block top-gap pull-right">Your account will have to be approved by an admin before it becomes active</div>

            </form>
          </div>
        </div>
      </div>

      <!-- Status message area -->
      <div class="row top-gap" ng-show="showStatus">
        <div class="col-md-12 alert" ng-class="statusLevel">
          <button type="button" class="close" ng-click="setShowStatus(false)">&times;</button>
          <h4>{{statusTitle}}</h4>
          {{statusMessage}}
        </div>
      </div>

    </div>
  </div>
</div>




<!--
<div class="container top-gap-xl">

  <div class="row">
    <div class="col-md-6">
      <h3>Mobile Awareness GEOINT Environment</h3>
      <i class="fa fa-magic icon-brand-l"></i>
    </div>

    <div class="col-md-6">
      <h3>Sign up</h3>
      <form ng-submit="signup()" id="new-user-form" class="form-horizontal">

        <div avatar-user="user"></div>

        <div class="form-group">
          <label class="control-label col-sm-4">Username</label>
          <div class="col-sm-8">
            <input type="text" placeholder="i.e. jappleseed" ng-model="user.username" autocapitalize="off" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="type">Display Name</label>
          <div class="col-sm-8">
            <input type="text" placeholder="Johnny Appleseed" ng-model="user.displayName" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="type">Email</label>
         -->
