<div class="observation-favorite-modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span>&times;</span></button>
  <h3 class="observation-favorite-modal-title">Favorited {{observation.favoriteUserIds.length}} {{observation.favoriteUserIds.length > 1 ? 'times' : 'time'}}</h3>
</div>

<div class="observation-favorite-modal-body">
    <div class="observation-item observation-favorite-modal-item">
      <div class="observation-favorite-icon">
        <img class="avatar-image img-rounded" width="43" ng-src="{{observation.style.iconUrl}}">
      </div>

      <div class="observation-item-content">
        <div class="observation-type">
          <strong class="muted">{{observation.properties.type}}</strong>
        </div>
        <div class="observation-variant muted" ng-if="observation.properties[form.variantField]">{{observation.properties[form.variantField]}}</div>
      </div>

      <div class="observation-item-actions">
        <div class="ellipsis small muted" title="{{observationUser.displayName}}">{{observationUser.displayName}}</div>
        <div class="pull-right news-feed-item-support small muted">{{fromNow}}</div>
        <div>
          <span class="small muted">
            {{observation.geometry.coordinates[0] | number: 3}}, {{observation.geometry.coordinates[1] | number: 3}}
          </span>
        </div>
      </div>
    </div>

    <div class="observation-favorite-modal-users">
      <div ng-repeat="user in favoriteUsers" class="observation-favorite-user">
        <div class="user-item feed-card-content">
          <div>
            <div class="pull-left right-gap" avatar-user="user" avatar-width="60" avatar-height="60"></div>
          </div>

          <div class="user-item-content">
            <div class="observation-type">
              <strong class="muted">{{user.displayName}}</strong>
            </div>
        		<div class="observation-variant ellipsis muted" title="{{user.email}}">{{user.email}}</div>
          </div>
        </div>
      </div>
    </div>

</div>
