<section class="mat-typography">
    <mat-form-field appearance="outline">
        <mat-label>Account Lock</mat-label>
        <input matInput readonly [value]="accountLockState.title">
        <mat-hint align="end">{{accountLockState.description}}</mat-hint>
    </mat-form-field>

    <div *ngIf="strategy.settings.accountLock.enabled">
        <mat-form-field appearance="outline">
            <mat-label>Account Lockout Threshold</mat-label>
            <input matInput readonly [value]="strategy.settings.accountLock.interval">
            <mat-hint align="end">Number of invalid login attempts, after which the users account will be locked.</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Account Lockout Interval (Seconds)</mat-label>
            <input matInput readonly [value]="strategy.settings.accountLock.interval">
            <mat-hint align="end">Amount of time in seconds a users account will remain locked after reaching number of invalid login attempts.</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Max Lockout</mat-label>
            <input matInput readonly [value]="maxLockState.title">
            <mat-hint align="end">{{maxLockState.description}}</mat-hint>
        </mat-form-field>

        <div *ngIf="maxLockState.value">
            <mat-form-field appearance="outline">
                <mat-label>Max Lockout Threshold</mat-label>
                <input matInput readonly [value]="strategy.settings.accountLock.max">
                <mat-hint align="end">Number of times a user account can be locked before it is disabled. Disabled accounts must be re-enabled by an admin. If left blank this feature is disabled.</mat-hint>
            </mat-form-field>
        </div>
    </div>
</section>