@import '~@angular/material/theming';
@import "variables.scss";
  
a {
  color: #1E88E5;
}

label {
  font-weight: unset;
  margin-left: 8px;
}

h1, h2, h3, h4, h5 {
	color: #1E88E5;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}