<div>
   <h4>Settings</h4>
</div>
<div class="settings-table">
   <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="key">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Key </th>
         <td mat-cell *matCellDef="let setting">{{setting.displayKey}}</td>
      </ng-container>

      <ng-container matColumnDef="value">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
         <td mat-cell *matCellDef="let setting">
            <ng-container *ngIf='!setting.isSecret; then visible else hidden'></ng-container>
            <ng-template #visible>
               {{setting.value}}
            </ng-template>
            <ng-template #hidden>
               *****
            </ng-template>
         </td>
      </ng-container>

      <ng-container matColumnDef="action">
         <th mat-header-cell *matHeaderCellDef> Action </th>
         <td mat-cell *matCellDef="let setting">
            <ng-container *ngIf="!setting.required; then editDelete else editOnly"></ng-container>
            <ng-template #editOnly>
               <a href="javascript:void(0);" (click)="editSetting(setting)">Edit</a>
            </ng-template>
            <ng-template #editDelete>
               <a href="javascript:void(0);" (click)="editSetting(setting)">Edit</a> |
               <a href="javascript:void(0);" (click)="deleteSetting(setting)">Delete</a>
            </ng-template>
         </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
</div>