@import '~@angular/material/theming';
@import "variables.scss";

.admin-settings-gap {
  //top right bottom left
  margin: 0px 20px 0px 20px;
}

.bottom-gap {
  margin-bottom: 16px;
}

.left-gap {
  margin-left: 10px;
}

.right-gap {
  margin-right: 10px;
}
  
a {
  color: #1E88E5;
}

label {
  font-weight: unset;
  margin-left: 8px;
}

h1, h2, h3, h4, h5 {
	color: #1E88E5;
}

table {
  width: 100%;
}