// Undo Bootstrap style
:host ::ng-deep label {
  max-width: unset;
  margin-bottom: unset;
  font-weight: unset
}

table {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 500px;
}

mat-form-field-wrapper {
  padding-bottom: unset;
}

.settings-table {
  margin-bottom: 16px;
}

.settings-add {
  margin-bottom: 32px;
}

.settings-add__item {
  margin: 0 8px;
}

.settings-add__button {
  margin-left: 32px;
}