@if (strategy().settings; as settings) {
  <p class="field-label">New User Accounts Require Admin Approval</p>
  <mat-form-field appearance="fill">
    <mat-select
      [(ngModel)]="settings.usersReqAdmin.enabled"
      (selectionChange)="setDirty(true); userReqAdminChanged()">
      @for (option of usersReqAdminChoices; track option.title) {
        <mat-option [value]="option.value">
          {{ option.title }}
        </mat-option>
      }
    </mat-select>
    <mat-hint align="end">
      If disabled, new user accounts do <b>NOT</b> require admin approval to access Mage.
    </mat-hint>
  </mat-form-field>

  @if (!settings.usersReqAdmin.enabled) {
    <p class="field-label">New Users Default Event(s)</p>
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="settings.newUserEvents" multiple (selectionChange)="setDirty(true)">
        @for (event of events(); track event.id) {
          <mat-option [value]="event.id">{{ event.name }}</mat-option>
        }
      </mat-select>
      <mat-hint align="end">
        When new users are created, this is the event that they will be added to by default.
      </mat-hint>
    </mat-form-field>

    <p class="field-label">New Users Default Team(s)</p>
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="settings.newUserTeams" multiple (selectionChange)="setDirty(true)">
        @for (team of teams(); track team.id) {
          <mat-option [value]="team.id">{{ team.name }}</mat-option>
        }
      </mat-select>
      <mat-hint align="end">
        When new users are created, this is the team that they will be added to by default.
      </mat-hint>
    </mat-form-field>
  }

  <p class="field-label">New Devices Require Admin Approval</p>
  <mat-form-field appearance="fill">
    <mat-select
      [(ngModel)]="settings.devicesReqAdmin.enabled"
      (selectionChange)="setDirty(true)">
      @for (option of devicesReqAdminChoices; track option.title) {
        <mat-option [value]="option.value">
          {{ option.title }}
        </mat-option>
      }
    </mat-select>
    <mat-hint align="end">
      If disabled, new devices do <b>NOT</b> require admin approval to access Mage.
    </mat-hint>
  </mat-form-field>

  @switch (strategy().type) {
    @case ('local') {
      <admin-authentication-local
        [strategy]="strategy()"
        (strategyDirty)="onStrategyDirty($event)">
      </admin-authentication-local>
    }
    @case ('openidconnect') {
      <admin-authentication-oidc
        [strategy]="strategy()"
        (strategyDirty)="onStrategyDirty($event)">
      </admin-authentication-oidc>
    }
    @case ('oauth') {
      <admin-authentication-oauth2
        [strategy]="strategy()"
        (strategyDirty)="onStrategyDirty($event)">
      </admin-authentication-oauth2>
    }
    @case ('ldap') {
      <admin-authentication-ldap
        [strategy]="strategy()"
        (strategyDirty)="onStrategyDirty($event)">
      </admin-authentication-ldap>
    }
    @case ('saml') {
      <admin-authentication-saml
        [strategy]="strategy()"
        (strategyDirty)="onStrategyDirty($event)">
      </admin-authentication-saml>
    }
  }
}
