<section class="mat-typography">
    <admin-breadcrumb [breadcrumbs]="breadcrumbs"></admin-breadcrumb>
</section>

<section class="mat-typography; accordian-section admin-authentication-container">
    <mat-accordion class="headers-align">
        <div *ngFor="let strategy of strategies; index as i; first as isFirst; last as isLast">
            <mat-expansion-panel [expanded]="isFirst">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span *ngIf="!strategy.icon" [ngStyle]="{'color': strategy.buttonColor}">
                            <mat-icon>security</mat-icon>
                        </span>
                        <span *ngIf="strategy.icon">
                            <img [src]="strategy.icon" style="width:24px; height:24px">
                        </span>
                        {{strategy.title}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <admin-authentication-settings [strategy]="strategy" [teams]="teams" [events]="events"
                    (strategyDirty)="onStrategyDirty($event)">
                </admin-authentication-settings>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</section>