<div>
  <form [formGroup]="formGroup" class="ldap-settings">
    <mat-form-field appearance="outline">
      <mat-label>URL</mat-label>
      <input matInput type="text" formControlName="url" required [readonly]="!editable">
      <mat-hint align="end">
        An LDAP URL describes an LDAP search operation that is used to retrieve information from an LDAP directory and
        begins with the protocol prefix "ldap".
      </mat-hint>
    </mat-form-field>

    <div class="mat-subheading-2">Authentication</div>

    <mat-form-field appearance="outline">
      <mat-label>Bind DN</mat-label>
      <input matInput type="text" formControlName="bindDN" required [readonly]="!editable">
      <mat-hint align="end">
        The bind DN is basically the credential you are using to authenticate against an LDAP. When using a bind DN it
        usually comes with a password associated with it, which is set in the bind credentials.
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Bind Credentials</mat-label>
      <input matInput type="text" formControlName="bindCredentials" required [readonly]="!editable">
      <mat-hint align="end">
        Password used to authenticate against an LDAP.
      </mat-hint>
    </mat-form-field>

    <div class="mat-subheading-2">Search</div>

    <mat-form-field appearance="outline">
      <mat-label>Search Base</mat-label>
      <input matInput type="text" formControlName="searchBase" required [readonly]="!editable">
      <mat-hint align="end">
        The search base defines the starting point for the search in an LDAP.
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Search Filter</mat-label>
      <input matInput type="text" formControlName="searchFilter" required [readonly]="!editable">
      <mat-hint align="end">
        This requires knowledge of the LDAP search filter grammar.
      </mat-hint>
    </mat-form-field>
  </form>
</div>