mat-toolbar {
  background-color: white;

  button {
    color: var(--mat-sys-primary);
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.user-container {
  background-color: var(--mat-sys-surface-container);
  position: absolute;
  top: 64px;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
}

.user-card {
  margin: 8px;
  overflow: hidden;
  --mat-card-elevated-container-color: white;
}

mat-card-content {
  padding-bottom: 0;
}

.user-map {
  margin: -16px -16px 0;
}

.user-map__view {
  position: relative;
  width: 100%;
  height: 200px;
  z-index: 0;
}

.user-avatar {
  margin-top: -62px;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
}

.user-avatar__border {
  width: 125px;
  height: 125px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.user-avatar__img {
  position: absolute;
}

.user__name {
  text-align: center;
  margin-top: 8px;
  font: var(--mat-sys-headline-medium);
  color: var(--mat-sys-on-surface);
}

mat-divider {
  margin: 16px -16px 0;
}

mat-action-list {
  margin: 0 -8px;
  --mat-list-list-item-container-shape: var(--mat-sys-corner-full);
  --mat-list-list-item-leading-icon-color: var(--mat-sys-primary);
  --mat-list-list-item-hover-leading-icon-color: var(--mat-sys-primary);
}

.row-phone {
  --mat-list-list-item-leading-icon-color: var(--mat-sys-tertiary);
  --mat-list-list-item-hover-leading-icon-color: var(--mat-sys-tertiary);
}

.user__location--accuracy {
  font: var(--mat-sys-body-small);
  color: var(--mat-sys-on-surface-variant);
}

.user__location--provider {
  text-transform: uppercase;
}
