<a ng-class="{'mdc-button': !$ctrl.drawer, 'top-app-bar-button': !$ctrl.drawer, 'mdc-list-item': $ctrl.drawer}"
  ng-click="$ctrl.export()"
  tabindex="0">
  <i class="material-icons">save_alt</i>
  <span class="mdc-button__label navbar-export__title">Exports<span class="navbar-export__badge"><span ng-if="$ctrl.count > 0" class="badge badge-accent">{{$ctrl.count}}</span></span>
</a>
<export 
  ng-if="$ctrl.exportOpen" 
  [open]="$ctrl.exportOpen" 
  (on-export-close)="$ctrl.onExportClose()" 
  [events]="$ctrl.events"
  myself="$ctrl.myself"></export>