@use '@angular/material' as mat;
@import "variables.scss";

.disclaimer {
  overflow-y: scroll;
}

.title {
  font: 400 34px / 40px Roboto, "Helvetica Neue", sans-serif;
  color: mat.get-color-from-palette($app-primary);
  margin-bottom: 16px;
}

.subtitle {
  font: 400 16px / 20px Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 32px;
  opacity: 60%;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  gap: 16px;
}

.actions__button {
  flex: 1;
}