.popup {
  display: flex;
  align-items: center;
  min-height: 88px;
  padding: 8px 8px 8px 16px;
  gap: 8px;
}

.popup__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.item-overline {
  font: var(--mat-sys-body-small);
  color: var(--mat-sys-on-surface-variant);
  display: flex;
  gap: 4px;
}

.item-header-text {
  font: var(--mat-sys-title-medium);
  color: var(--mat-sys-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-subhead {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface-variant);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.popup__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;

  button {
    color: var(--mat-sys-primary);
  }
}
