<div class="popup">
  <div class="popup__content">
    <div class="item-overline">
      <span>{{observation?.user?.displayName}}</span>
      <span>·</span>
      <span>{{observation?.properties?.timestamp | moment}}</span>
    </div>

    <div *ngIf="primaryField?.value" class="item-header-text">
      <span [ngSwitch]="primaryField?.field?.type">
        <span *ngSwitchCase="'geometry'">{{primaryField?.value | geometry:5}}</span>
        <span *ngSwitchDefault>{{primaryField?.value}}</span>
      </span>
    </div>

    <div *ngIf="secondaryField?.value" class="item-subhead">
      <span [ngSwitch]="secondaryField?.field?.type">
        <span *ngSwitchCase="'geometry'">{{secondaryField?.value | geometry:5}}</span>
        <span *ngSwitchDefault>{{secondaryField?.value}}</span>
      </span>
    </div>
  </div>

  <div class="popup__actions">
    <button matIconButton (click)="onZoom()">
      <mat-icon>my_location</mat-icon>
    </button>
    <button matIconButton (click)="onInfo()">
      <mat-icon>info_outline</mat-icon>
    </button>
  </div>
</div>
