<admin-breadcrumb class="spacer" *ngIf="pluginActive" [breadcrumbs]="pluginBreadcrumbs">
</admin-breadcrumb>

<div class="nav-float-wrapper">
  <div class="nav-float-inner" [class.open]="drawerOpen">
    <button
      class="nav-toggle"
      type="button"
      (click)="toggleDrawer()"
      aria-haspopup="true"
      [attr.aria-expanded]="drawerOpen"
      aria-controls="adminNavDrawer"
      title="Open navigation"
    >
      <i *ngIf="!drawerOpen" class="fa fa-bars" aria-hidden="true"></i>
      <i *ngIf="drawerOpen" class="fa fa-times" aria-hidden="true"></i>
      <span class="label">Menu</span>
    </button>

    <div class="nav-divider"></div>

    <div
      class="drawer-backdrop"
      *ngIf="drawerOpen"
      (click)="closeDrawer()"
    ></div>

    <nav
      id="adminNavDrawer"
      class="drawer"
      role="menu"
      [class.open]="drawerOpen"
      (keydown.escape)="closeDrawer()"
    >
      <div class="drawer-scroller">
        <ng-container *ngFor="let item of navItems">
          <a
            *ngIf="!item.permission || hasPermission(item.permission)"
            class="nav-row"
            role="menuitem"
            [routerLink]="item.route"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeDrawer()"
            #rla="routerLinkActive"
            [attr.aria-current]="rla.isActive ? 'page' : null"
          >
            <i [class]="item.icon" class="icon" aria-hidden="true"></i>
            <span class="text">{{ item.label }}</span>

            <span
              *ngIf="item.count && item.count > 0"
              class="badge"
              [attr.aria-label]="item.count + ' pending items'"
            >
              {{ item.count }}
            </span>
          </a>
        </ng-container>

        <ng-container *ngFor="let plugin of pluginTabs">
          <a
            *ngIf="hasPermission('UPDATE_SETTINGS')"
            class="nav-row"
            role="menuitem"
            [routerLink]="pluginRouterLink(plugin)"
            routerLinkActive="selected"
            (click)="closeDrawer()"
            #pla="routerLinkActive"
            [attr.aria-current]="pla.isActive ? 'page' : null"
          >
            <span class="icon plugin">
              <img
                *ngIf="plugin.icon?.path"
                class="plugin-icon"
                [src]="'/ui_plugins/' + plugin.id + '/' + plugin.icon.path + '?access_token=' + token"
                alt=""
              />
              <i
                *ngIf="plugin.icon?.className"
                [class]="plugin.icon.className"
                aria-hidden="true"
              ></i>
              <i
                *ngIf="!plugin.icon || (!plugin.icon.path && !plugin.icon.className)"
                class="fa fa-plug"
                aria-hidden="true"
              ></i>
            </span>
            <span class="text">{{ plugin.title }}</span>
          </a>
        </ng-container>
      </div>
    </nav>
  </div>
</div>
