<div class="container top-gap-l">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="row">
        <div class="col-md-12 top-gap-xl">
          <h3 class="text-center">MAGE</h3>
          <div class="text-center">
            <i class="fa fa-magic icon-brand-m"></i>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 top-gap-xl">
          <h5 class="text-center">Log in to continue to MAGE</h5>
        </div>
      </div>

      <hr>

      <div ng-repeat="strategy in thirdPartyStrategies">
        <div class="or-container" ng-if="strategy.name === 'google'">
          <hr class="or-hr">
          <div id="or">Log in to MAGE with Google</div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group" ng-class="{'has-error': status > 399}">
              <input ng-model="uid" class="form-control" name="uid" placeholder="UID" type="text" autocapitalize="off"/>
            </div>
          </div>
        </div>

        <div class="row" ng-if="strategy.name === 'google'">
          <div class="col-md-12 text-center">
            <div ng-hide="uid">
              Please enter your server UID before logging in with Google.
            </div>
            <div style="display:inline-block;" ng-init="initializeGoogleButton(strategy)" id="google-signin" class="g-signin2"></div>
          </div>
        </div>
      </div>

      <div ng-if="localAuthenticationStrategy">
        <div ng-if="thirdPartyStrategies.length" class="top-gap">
          <div class="or-container">
            <hr class="or-hr">
            <div id="or">Log in with your MAGE account</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <form class="form" method="post" autocomplete="off">
              <div class="form-group" ng-class="{'has-error': status > 399}">
                <input ng-model="username" class="form-control" name="username" placeholder="Username" autocomplete="username" type="text" autocapitalize="off"/>
              </div>

              <div class="form-group" ng-class="{'has-error': status > 399}">
                <input ng-model="uid" class="form-control" name="uid" placeholder="UID" type="text" autocapitalize="off"/>
              </div>

              <div class="form-group" ng-class="{'has-error': status > 399}">
                <input ng-model="password" class="form-control" name="password" placeholder="Password" autocomplete="password" type="password" autocapitalize="off"/>
              </div>

              <span>
                <button class="btn btn-default pull-right" ng-click="signin()" ngm-tap="signin()">Login</button>
              </span>
            </form>
          </div>
        </div>
      </div>

      <div class="top-gap-l">
        <p>Don't have an account? <a href="/#/signup">Create one here.</a></p>
      </div>

      <!-- Status message area -->
      <div class="row top-gap" ng-show="showStatus">
        <div class="col-md-12 alert" ng-class="statusLevel">
          <button type="button" class="close" ng-click="hideStatus()">&times;</button>
          <h4>{{statusTitle}}</h4>
          {{statusMessage}}
        </div>
      </div>

    </div>
  </div>
</div>
