# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.vscode
public/.tmp
public/dist/*
.test_run
coverage
.test_run
npm-debug.log
scratch
docker/database
docker/server/resources
