# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
.test_run
.vscode
coverage
dist
dist-test
docker/database
docker/server/resources
npm-debug.log
pnpm-debug.log
scratch
