<div cl***REMOVED***="container top-gap-l">
  <div cl***REMOVED***="row-fluid">
    <div cl***REMOVED***="span12">
      <h2>About {{name}}</h2>
    </div>
  </div>
  <div cl***REMOVED***="row-fluid">
    <div cl***REMOVED***="span6">
      <p>
        Mobile applications provide situational awareness capabilities to disconnected and disadvantaged users. MAGE enables imagery sharing, georeferencing, tracking, and communication between users supporting mobile and desktop users.
      </p>
      <p>
        Designed to merge the best of breed features from MFO and Hermes based on GIAT technical experience and community feedback. MAGE delivers an enhanced mobile situational awareness capability for a broad community of users.
      </p>
    </div>
    <div cl***REMOVED***="span6">
      <table cl***REMOVED***="table">
        <p><strong>Version:</strong> {{serverVersion}}</p>
        <p>Device Provisioning <strong>{{deviceProvisioning}}</strong></p>
        <p>LocationServices <strong>{{locationServices}}</strong></p>
      </table>
    </div>
  </div>
  <div cl***REMOVED***="row-fluid top-gap-l">
    <div cl***REMOVED***="span12">
      <h2>App downloads</h2>
    </div>
  </div>
  <div cl***REMOVED***="row-fluid">
    <div cl***REMOVED***="span1">
      <a href="apps/mage.apk"><i cl***REMOVED***="icon-android icon-android-color icon-large"></i></a>
    </div>
    <div cl***REMOVED***="span5">
      <p><strong>Features:</strong> Creating and viewing observations with photos, voice, and video. Friendly Force Tracking. Cached map tiles, and observation storage and synching for offline useage. </p>
      <p>
        <em>
          Due to a bug in the stock Android browser you will need to use a third party browser such as Mozilla Firefox to download the mobile storefront for Android.
        </em>
      </p>
    </div>
    <div cl***REMOVED***="span3">
      <p><strong>Version</strong> {{apk.version}}</p>
      <p><strong>Supported OS versions:</strong> {{apk.supportedVersions[0]}}, {{apk.supportedVersions[1]}}</p>
    </div>
  </div>
  <div cl***REMOVED***="row-fluid">
    <div cl***REMOVED***="offset1 span2">
      <a href="apps/mage.apk" cl***REMOVED***="btn">
        <i cl***REMOVED***="icon-download"></i>
        Download
      </a>
    </div>
  </div>
</div>