<div cl***REMOVED***="container top-gap-l">
  <div cl***REMOVED***="row-fluid">
    <div cl***REMOVED***="span12">
      <h2>About MAGE</h2>
    </div>
  </div>
  <div cl***REMOVED***="row-fluid">
    <div cl***REMOVED***="span6">
      <p>
        Mobile applications provide situational awareness capabilities to disconnected and disadvantaged users. MAGE enables imagery sharing, georeferencing, tracking, and communication between users supporting mobile and desktop users.
      </p>
      <p>
        Designed to merge the best of breed features from MFO and Hermes based on GIAT technical experience and community feedback. MAGE delivers an enhanced mobile situational awareness capability for a broad community of users.
      </p>
    </div>
    <div cl***REMOVED***="span6">
      <table cl***REMOVED***="table">
        <p><strong>Version:</strong> {{serverVersion}}</p>
        <p ng-show="deviceProvisioningEnabled">Device Provisioning <strong>enabled</strong></p>
        <p ng-show="locationServicesEnabled">LocationServices <strong>enabled</strong></p>
      </table>
    </div>
  </div>
  <div cl***REMOVED***="row-fluid top-gap-l">
    <div cl***REMOVED***="span12">
      <h2>App downloads</h2>
    </div>
    <div cl***REMOVED***="span1">
      <a href="apps/mage.apk"><i cl***REMOVED***="icon-android icon-android-color icon-large"></i></a>
    </div>
    <div cl***REMOVED***="span5">
      <p><strong>Features:</strong> Creating and viewing observations with photos, voice, and video. Friendly Force Tracking. Cached map tiles, and observation storage and synching for offline useage. </p>
    </div>
    <div cl***REMOVED***="span3">
      <p><strong>Supported OS versions:</strong> 2.3, 4.1</p>
      <p></p>
    </div>
    <div cl***REMOVED***="span1">
      <a href="apps/mage.apk" cl***REMOVED***="btn">Download</a>
    </div>
  </div>
</div>