<div cl***REMOVED***="top-gap-xl">
  <div cl***REMOVED***="container-fluid">

    <div cl***REMOVED***="row-fluid">
      <div cl***REMOVED***="span2" style="padding-left: 15px">
        <div ng-cl***REMOVED***="{'admin-active': currentAdminPanel == 'user'}">
          <h3><a href="" ng-click="changeCurrentPanel('user')" ngm-tap="changeCurrentPanel('user')">Users</a></h3>
        </div>
        <div ng-cl***REMOVED***="{'admin-active': currentAdminPanel == 'device'}">
          <h3><a href="" ng-click="changeCurrentPanel('device')" ngm-tap="changeCurrentPanel('device')">Devices</a></h3>
        </div>
        <div ng-cl***REMOVED***="{'admin-active': currentAdminPanel == 'form'}">
          <h3><a href="" ng-click="changeCurrentPanel('form')" ngm-tap="changeCurrentPanel('form')">Forms</a></h3>
        </div>
      </div>
      <div cl***REMOVED***="span10">
        <div cl***REMOVED***="row-fluid">
          <div cl***REMOVED***="span12 top-gap" id="user-admin-area" ng-show="currentAdminPanel == 'user'">
            <button cl***REMOVED***="btn" ng-click="newUser()" ngm-tap="newUser()"><i cl***REMOVED***="fa fa-plus-square-o"></i> New User</button>
            <div id="user-form" name="edit-form" cl***REMOVED***="top-gap" ng-show="showUserForm">
              <form ng-submit="saveUser()" id="userform" name="user-form" cl***REMOVED***="form-horizontal">
                <fieldset>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label" for="type">Username</label>
                    <div cl***REMOVED***="controls">
                      <input type="text" placeholder="i.e. jappleseed" ng-model="user.username" name="username">
                    </div>
                  </div>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label" for="type">First Name</label>
                    <div cl***REMOVED***="controls">
                      <input type="text" placeholder="Johnny" ng-model="user.firstname" name="firstname">
                    </div>
                  </div>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label" for="type">Last Name</label>
                    <div cl***REMOVED***="controls">
                      <input type="text" placeholder="Appleseed" ng-model="user.lastname" name="lastname">
                    </div>
                  </div>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label" for="type">Email</label>
                    <div cl***REMOVED***="controls">
                      <input type="text" placeholder="johnny@appleseed.com" ng-model="user.email" name="email">
                    </div>
                  </div>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label" for="type">Phone</label>
                    <div cl***REMOVED***="controls">
                      <input type="text" placeholder="(xxx) xxx-xxxx" ng-model="user.phone" name="phone">
                    </div>
                  </div>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label" for="type">P***REMOVED***word</label>
                    <div cl***REMOVED***="controls">
                      <input type="p***REMOVED***word" placeholder="14 characters, alphanumeric" ng-model="user.p***REMOVED***word" name="p***REMOVED***word">
                    </div>
                  </div>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label" for="type">Confirm P***REMOVED***word</label>
                    <div cl***REMOVED***="controls">
                      <input type="p***REMOVED***word" placeholder="14 characters, alphanumeric" ng-model="user.p***REMOVED***wordconfirm" name="p***REMOVED***wordconfirm">
                    </div>
                  </div>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label" for="type">Role</label>
                    <div cl***REMOVED***="controls">
                      <select ng-model="user.role" ng-options="role._id as role.name for role in roles"></select>
                    </div>
                  </div>
                  <span>
                    <button type="reset" cl***REMOVED***="btn btn-inverse" ng-click="setShowUserForm(false)" ngmtap="setShowUserForm(false)">Cancel</button>
                    <button type="submit" cl***REMOVED***="btn">Save user</button>
                  </span>
                </fieldset>
              </form>
            </div>
            <div cl***REMOVED***="navbar top-gap">
              <div cl***REMOVED***="navbar-inner">
                <div cl***REMOVED***="container">
                  <ul cl***REMOVED***="nav navbar-nav">
                    <li ng-cl***REMOVED***="userFilterCl***REMOVED***('all')"><a href="" ng-click="changeCurrentUserFilter('all')">All Users</a></li>
                    <li ng-cl***REMOVED***="userFilterCl***REMOVED***('active')"><a href="" ng-click="changeCurrentUserFilter('active')">Active Users</a></li>
                    <li ng-cl***REMOVED***="userFilterCl***REMOVED***('unregistered')"><a href="" ng-click="changeCurrentUserFilter('unregistered')">Users Awaiting Approval</a></li>
                  </ul>
                  <form cl***REMOVED***="navbar-search pull-right">
                    <input type="text" cl***REMOVED***="form-search search-query" ng-model="userQuery" placeholder="Search" ng-change="userSearch()">
                  </form>
                </div>
              </div>
            </div>
            <div cl***REMOVED***="top-gap" ng-repeat="u in filteredUsers">
              <div cl***REMOVED***="row-fluid">
                <div cl***REMOVED***="span3">
                  <button cl***REMOVED***="btn" ng-click="editUser(u)" ngm-tap="editUser(u)">
                    <i cl***REMOVED***="fa fa-edit"></i>
                    Edit
                  </button>
                  <button cl***REMOVED***="btn btn-success" ng-hide='u.active' ng-click="approveUser(u)" ngm-tap="approveUser(u)">
                    <i cl***REMOVED***="fa-thumbs-up"></i>
                    Approve Account
                  </button>
                </div>
                <div cl***REMOVED***="span2">
                  {{u.username}}
                </div>
                <div cl***REMOVED***="span2">
                  {{u.firstname}} {{u.lastname}}
                </div>
                <div cl***REMOVED***="span3">
                  {{u.email}}
                </div>
                <div cl***REMOVED***="span2">
                  <button cl***REMOVED***="btn btn-danger" ng-click="deleteUser(u)" ngm-tap="deleteUser(u)">
                    <i cl***REMOVED***="fa fa-trash-o"></i>
                    Delete user
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div cl***REMOVED***="row-fluid">
          <div cl***REMOVED***="span12 top-gap" id="device-admin-area" ng-show="currentAdminPanel == 'device'">
            <button cl***REMOVED***="btn" ng-click="setShowDeviceForm(true)" ngmtap="setShowDeviceForm(true)" ng-show="showNewDeviceButton"><i cl***REMOVED***="fa fa-plus-square-o icon-white"></i> New Device</button>
            <div cl***REMOVED***="top-gap" ng-show="showDeviceForm">
              <form ng-submit="saveDevice()" id="device-form" cl***REMOVED***="form-horizontal">
                <fieldset>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label" for="type">Device Identifier</label>
                    <div cl***REMOVED***="controls">
                      <input type="text" placeholder="for example 01:02:03:04:05:06:08" ng-model="device.uid">
                      <span cl***REMOVED***="help-block top-gap">MAC address, or some sort of unique identifier for your device.</span>
                    </div>
                  </div>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label" for="type">Device Name</label>
                    <div cl***REMOVED***="controls">
                      <input type="text" placeholder="i.e. Jacks Android" ng-model="device.name">
                    </div>
                  </div>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label" for="type">Description</label>
                    <div cl***REMOVED***="controls">
                      <textarea type="text" placeholder="A bit about the device" ng-model="device.description"></textarea>
                    </div>
                  </div>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label" for="type">Point of Contact</label>
                    <div cl***REMOVED***="controls">
                      <select ng-model="device.poc" ng-options="user._id as user.firstname + ' ' + user.lastname for user in users">
                      </select>
                    </div>
                  </div>
                  <span>
                    <button type="reset" cl***REMOVED***="btn btn-inverse" ng-click="setShowDeviceForm(false)" ngmtap="setShowDeviceForm(false)">Cancel</button>
                    <button type="submit" cl***REMOVED***="btn">Save device</button>
                  </span>
                </fieldset>
              </form>
            </div>
            <div cl***REMOVED***="navbar top-gap">
              <div cl***REMOVED***="navbar-inner">
                <div cl***REMOVED***="container">
                  <ul cl***REMOVED***="nav navbar-nav">
                    <li ng-cl***REMOVED***="deviceFilterCl***REMOVED***('all')"><a href="" ng-click="changeCurrentDeviceFilter('all')">All Devices</a></li>
                    <li ng-cl***REMOVED***="deviceFilterCl***REMOVED***('registered')"><a href="" ng-click="changeCurrentDeviceFilter('registered')">Registered Devices</a></li>
                    <li ng-cl***REMOVED***="deviceFilterCl***REMOVED***('unregistered')"><a href="" ng-click="changeCurrentDeviceFilter('unregistered')">Unregistered Devices</a></li>
                  </ul>
                  <form cl***REMOVED***="navbar-search pull-right">
                    <input type="text" cl***REMOVED***="form-search search-query" ng-model="deviceQuery" placeholder="Search" ng-change="deviceSearch()">
                  </form>
                </div>
              </div>
            </div>
            <div cl***REMOVED***="top-gap">
              <div ng-repeat="device in filteredDevices" cl***REMOVED***="top-gap">
                  <div cl***REMOVED***="row-fluid">
                  <div cl***REMOVED***="span2">
                    <button cl***REMOVED***="btn" ng-click="editDevice(device)" ngm-tap="editDevice(device)">
                      <i cl***REMOVED***="fa fa-edit pointer"></i> Edit
                    </button>
                    <button cl***REMOVED***="btn btn-success" ng-hide="device.registered" ng-click="registerDevice(device)" ngm-tap="registerDevice(device)">
                      <i cl***REMOVED***="fa fa-thumbs-up"></i> Register
                    </button>
                  </div>
                  <div cl***REMOVED***="span2">
                    {{device.uid}}
                  </div>
                  <div cl***REMOVED***="span2">
                    {{device.name}}
                  </div>
                  <div cl***REMOVED***="span2">
                    {{device.description}}
                  </div>
                  <div cl***REMOVED***="span2">
                    {{getUserDisplayName(device.poc)}}
                  </div>
                  <div cl***REMOVED***="span2">
                  <button cl***REMOVED***="btn btn-danger" ng-click="deleteDevice(device)" ngm-tap="deleteDevice(device)">
                    <i cl***REMOVED***="fa fa-trash-o"></i> Delete device
                  </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div cl***REMOVED***="row-fluid">
          <div cl***REMOVED***="span12 top-gap" ng-show="currentAdminPanel == 'form'">
            <div cl***REMOVED***="row-fluid">
              <div cl***REMOVED***="span2">
                <button cl***REMOVED***="btn" ng-click="createNewForm()"><i cl***REMOVED***="fa fa-plus-square-o icon-white"></i> New Form</button>
                <div ng-repeat="form in forms" cl***REMOVED***="row-fluid top-gap">
                  <div cl***REMOVED***="span12">
                    <a ng-click="editForm(form)"><i cl***REMOVED***="fa fa-check" ng-show="form.inUse"></i> {{form.name}}</a>
                  </div>
                </div>
              </div>
              <div cl***REMOVED***="span10" ng-controller="CreateCtrl" ng-show="form">
                <h2 ng-hide="form.id">Create a new form</h2> <h2 ng-show="form.id">{{form.name}}</h2><br>
                <div cl***REMOVED***="form-fields-preview well">
                  <h3>Form Preview</h3>
                  <form-directive form="form"></form-directive>
                </div>
                <hr>
                <h3 ng-show="form.id">Edit {{form.name}}</h3>
                <strong>
                    <p>Select field type you want to add to the form below and click on 'Add Field' button. Don't forget to set field properties. After you finish creating the form, you can preview the form by clicking Preview Form button.</p>
                </strong>

                <div>
                  <div cl***REMOVED***="form-fields">
                    <div cl***REMOVED***="form-properties">
                        <h3>Form Properties</h3>
                        <div cl***REMOVED***="row-fluid">
                            <div cl***REMOVED***="span12">
                              <form cl***REMOVED***="form-inline">
                                <div cl***REMOVED***="control-group">
                                  <label cl***REMOVED***="control-label">Form Name</label>
                                  <input type="text" name="form-name" ng-disabled="previewMode" ng-model="form.name"/>
                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h3>Fields</h3>
                    <div cl***REMOVED***="add-field">
                        <form cl***REMOVED***="form-inline">
                          <select ng-model="addField.new" ng-options="type.name as type.value for type in addField.types"></select>
                          <button type="submit" cl***REMOVED***="btn" ng-click="addNewField()"><i cl***REMOVED***="fa fa-plus-square-o"></i> Add Field</button>
                        </form>
                    </div>
                    <hr>
                    <p ng-show="form.fields.length == 0">No fields added yet.</p>
                    <div cl***REMOVED***="well">
                      <accordion close-others="accordion.oneAtATime">
                        <accordion-group heading="{{field.title}}" ng-repeat="field in form.fields">
                          <div cl***REMOVED***="accordion-edit">
                            <button cl***REMOVED***="btn btn-danger pull-right" type="button" ng-click="deleteField(field.id)"><i cl***REMOVED***="fa fa-trash icon-white"></i> Delete</button>
                            <div cl***REMOVED***="row-fluid">
                                <div cl***REMOVED***="span2">Field Type:</div>
                                <div cl***REMOVED***="span4">{{field.type}}</div>
                            </div>
                            <div cl***REMOVED***="clear"></div>
                            <hr>
                            <div cl***REMOVED***="row-fluid">
                              <div cl***REMOVED***="span2">Field Title:</div>
                              <div cl***REMOVED***="span4"><input type="text" ng-model="field.title" value="{{field.title}}"></div>
                            </div>
                            <div cl***REMOVED***="row-fluid">
                              <div cl***REMOVED***="span2">Field Default Value:</div>
                              <div cl***REMOVED***="span4"><input type="text" ng-model="field.value" value="{{field.value}}"></div>
                            </div>
                            <div cl***REMOVED***="row-fluid" ng-show="showAddOptions(field)">
                              <div cl***REMOVED***="span2">Field Options:</div>
                              <div cl***REMOVED***="span6">
                                <div ng-repeat="option in field.choices">
                                    <input type="text" ng-model="option.title" value="{{option.title}}">
                                    <a cl***REMOVED***="btn btn-danger btn-mini right" type="button" ng-click="deleteOption(field, option)"><i cl***REMOVED***="fa fa-minus icon-white"></i></a>
                                    <!--<span cl***REMOVED***="label label-inverse">Value: {{ option.value }}</span>-->
                                </div>
                                <button cl***REMOVED***="btn btn-primary btn-small" type="button" ng-click="addOption(field)"><i cl***REMOVED***="fa fa-plus-square-o icon-white"></i> Add Option</button>
                              </div>
                            </div>
                            <div cl***REMOVED***="row-fluid">
                              <div cl***REMOVED***="span2">Required:</div>
                              <div cl***REMOVED***="span4">
                                <label>
                                  <input type="radio" ng-value="true" ng-selected ng-model="field.required"/>
                                  &nbsp; Yes
                                </label>
                                <label>
                                  <input type="radio" ng-value="false" ng-model="field.required"/>
                                  &nbsp; No
                                </label>
                              </div>
                            </div>
                         </div>
                        </accordion-group>
                      </accordion>
                    </div>

                    <div cl***REMOVED***="symbology">

                      <h3>Symbology</h3>

                      <h4>Choose a field to be used for icon variants:</h4>
                      <select ng-model="variantField" ng-options="field as field.title for field in form.fields | filter: { type: 'dropdown'}"/>

                      <div cl***REMOVED***="well striped-rows">
                        <div cl***REMOVED***="row-fluid">
                            <div cl***REMOVED***="span3">
                              Default Icon
                            </div>
                            <form enctype="multipart/form-data" simple-upload url="{{'/api/icons/'+form.id+'?access_token=' + token}}" allow-upload="form.id">
                            <div cl***REMOVED***="span4">
                              <div cl***REMOVED***="preview" style="float:left;">
                                <img ng-src="{{url}}"/>
                              </div>
                              <div ng-show="uploading" cl***REMOVED***="progress progress-striped" style="margin-left: 60px; margin-top: 15px;">
                                <div cl***REMOVED***="bar" style="width: {{uploadProgress}}%;"></div>
                              </div>
                              <div ng-show="uploadStatus" cl***REMOVED***="strong">
                                {{uploadStatus}}
                              </div>
                            </div>
                            <div cl***REMOVED***="span5">
                                <label cl***REMOVED***="file">
                                  <input type="file" name="icon">
                                  <span cl***REMOVED***="file-custom"></span>
                                </label>

                            </div>
                          </form>
                        </div>

                        <div cl***REMOVED***="row-fluid" ng-repeat="option in typeField.choices">
                          <div cl***REMOVED***="row-fluid">
                            <div cl***REMOVED***="span12 strong">
                              {{option.title}}
                            </div>
                          </div>
                          <div cl***REMOVED***="row-fluid">
                            <div cl***REMOVED***="span2">
                              <div cl***REMOVED***="row-fluid">
                                <div cl***REMOVED***="span12 strong">
                                  Default
                                </div>
                              </div>
                              <form enctype="multipart/form-data" simple-upload url="{{'/api/icons/'+form.id+'/'+option.title+'?access_token=' + token}}" allow-upload="form.id">
                                <div cl***REMOVED***="row-fluid">
                                  <div cl***REMOVED***="span12">
                                    <div cl***REMOVED***="preview" style="float:left;">
                                      <img ng-src="{{url}}"/>
                                    </div>
                                  </div>
                                </div>
                                <div cl***REMOVED***="row-fluid">
                                  <div cl***REMOVED***="span12">
                                    <div ng-show="uploading" cl***REMOVED***="progress progress-striped" style="margin-left: 60px; margin-top: 15px;">
                                      <div cl***REMOVED***="bar" style="width: {{uploadProgress}}%;"></div>
                                    </div>
                                    <div ng-show="uploadStatus" cl***REMOVED***="strong">
                                      {{uploadStatus}}
                                    </div>
                                  </div>
                                </div>
                                <div cl***REMOVED***="row-fluid">
                                  <div cl***REMOVED***="span12">
                                    <label cl***REMOVED***="file">
                                      <input type="file" name="icon">
                                      <span cl***REMOVED***="file-custom"></span>
                                    </label>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div cl***REMOVED***="span2" ng-repeat="variant in variantField.choices">
                              <div cl***REMOVED***="row-fluid">
                                <div cl***REMOVED***="span12 strong">
                                  {{variant.title}}
                                </div>
                              </div>
                              <form enctype="multipart/form-data" simple-upload url="{{'/api/icons/'+form.id+'/'+option.title+'/'+variant+'?access_token=' + token}}" allow-upload="form.id">
                                <div cl***REMOVED***="row-fluid">
                                  <div cl***REMOVED***="span12">
                                    <div cl***REMOVED***="preview" style="float:left;">
                                      <img ng-src="{{url}}"/>
                                    </div>
                                  </div>
                                </div>
                                <div cl***REMOVED***="row-fluid">
                                  <div cl***REMOVED***="span12">
                                    <div ng-show="uploading" cl***REMOVED***="progress progress-striped" style="margin-left: 60px; margin-top: 15px;">
                                      <div cl***REMOVED***="bar" style="width: {{uploadProgress}}%;"></div>
                                    </div>
                                    <div ng-show="uploadStatus" cl***REMOVED***="strong">
                                      {{uploadStatus}}
                                    </div>
                                  </div>
                                </div>
                                <div cl***REMOVED***="row-fluid">
                                  <div cl***REMOVED***="span12">
                                    <label cl***REMOVED***="file">
                                      <input type="file" name="icon">
                                      <span cl***REMOVED***="file-custom"></span>
                                    </label>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <p cl***REMOVED***="text-center">
                      <button cl***REMOVED***="btn btn-success right" type="button" ng-click="useForm(form)"><i cl***REMOVED***="fa-check icon-white"></i>Save And Use This Form</button>
                      <button cl***REMOVED***="btn btn-primary right" type="button" ng-click="createForm()">Save Form</button>
                    </p>
                    <br>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Status message area -->
      <div cl***REMOVED***="row top-gap" ng-show="showStatus">
        <div cl***REMOVED***="span11 alert alert-block" ng-cl***REMOVED***="statusLevel">
          <button type="button" cl***REMOVED***="close" ng-click="setShowStatus(false)">&times;</button>
          <h4>{{statusTitle}}</h4>
          {{statusMessage}}
        </div>
      </div>

    </div>
  </div>
</div>
