<div>
  <div cl***REMOVED***="upload-file" ng-repeat="file in filesToUpload">
    <div cl***REMOVED***="row-fluid">
      <div cl***REMOVED***="span12">
        <div ng-show="preview" cl***REMOVED***="preview" style="float:left;">
          <img ng-src="{{url}}"/>
        </div>
      </div>
    </div>
    <div cl***REMOVED***="row-fluid">
      <div cl***REMOVED***="span12">
        <div ng-show="uploading" cl***REMOVED***="progress progress-striped" style="margin-left: 60px; margin-top: 15px;">
          <div cl***REMOVED***="bar" style="width: {{file.uploadProgress}}%;"></div>
        </div>
        <div ng-show="file.uploadStatus" cl***REMOVED***="strong">
          {{file.uploadStatus}}
        </div>
      </div>
    </div>
  </div>
  <div cl***REMOVED***="row-fluid">
    <div cl***REMOVED***="span12">
      <label cl***REMOVED***="file">
        <input type="file" name="icon">
        <span cl***REMOVED***="file-custom"></span>
      </label>
    </div>
  </div>
</div>
