<div ng-show="showExport" cl***REMOVED***="filter-panel">
  <h4>Export to KML</h4>
  <form cl***REMOVED***="form">  
    <div cl***REMOVED***="top-gap">
      <i cl***REMOVED***="icon-layers icon-sage"></i>    
      <strong>Select Layers</strong> <span cl***REMOVED***="text-error" ng-show="showLayerError">Please Select a Layer</span>
    </div>

    <div cl***REMOVED***="control-group">
      <div cl***REMOVED***="controls">
		 <label cl***REMOVED***="checkbox" ng-repeat="layer in featureLayers">
           <input type="checkbox" ng-model="layer.exportChecked"/>{{layer.name}}
         </label>

        <label cl***REMOVED***="checkbox">
          <input type="checkbox" ng-model="fft">People
        </label>
      </div>
    </div>

    <div cl***REMOVED***="top-gap">
      <i cl***REMOVED***="icon-filter icon-sage"></i>
      <strong>Filter Output</strong>
    </div>

    <div cl***REMOVED***="control-group">
      <select cl***REMOVED***="input-xlarge" ng-model="export" ng-options="o.label for o in exportOptions"></select>
    </div>

    <div ng-show="export.custom">
		<div>
	        <div cl***REMOVED***="control-group input-append">
	    	  <label cl***REMOVED***="control-label">Start Date/Time</label>
	          <input cl***REMOVED***="input-small" type="text" ng-model="exportStartDate" data-date-format="mm/dd/yyyy" bs-datepicker>
	          <button type="button" cl***REMOVED***="btn" data-toggle="datepicker"><i cl***REMOVED***="icon-sage icon-calendar"></i></button>
	        </div>
	        <div cl***REMOVED***="control-group input-append">
	    	  <label cl***REMOVED***="control-label" for="">&nbsp</label>
	   		  <input cl***REMOVED***="input-small" type="text" ng-model="exportStartTime" bs-timepicker data-template="false" data-show-inputs="false" data-show-seconds="true" data-show-meridian="false">
	   		  <span cl***REMOVED***="add-on"><i cl***REMOVED***="icon-sage icon-time"></i></span>
	        </div>
        </div>
        <div>
	        <div cl***REMOVED***="control-group input-append">
	    	  <label cl***REMOVED***="control-label">End Date/Time</label>
	          <input cl***REMOVED***="input-small" type="text" ng-model="exportEndDate" data-date-format="mm/dd/yyyy" bs-datepicker>
	          <button type="button" cl***REMOVED***="btn" data-toggle="datepicker"><i cl***REMOVED***="icon-sage icon-calendar"></i></button>
	        </div>
	        <div cl***REMOVED***="control-group input-append">
	    	  <label cl***REMOVED***="control-label" for="">&nbsp</label>
	   		  <input cl***REMOVED***="input-small" type="text" ng-model="exportEndTime" bs-timepicker data-template="false" data-show-inputs="false" data-show-seconds="true" data-show-meridian="false">
	   		  <span cl***REMOVED***="add-on"><i cl***REMOVED***="icon-sage icon-time"></i></span>
	        </div>
        </div>
		</div>

  </form>
  <button cl***REMOVED***="btn btn-inverse pull-right" ng-click="showExport = false" ngm-tap="showExport = false">Close</button>
  <button cl***REMOVED***="btn sage-color" ng-click="exportData('kml')" ngm-tap="exportData('kml')"><i cl***REMOVED***="icon-sage icon-download"></i> KML</button>
	  <button cl***REMOVED***="btn sage-color" ng-click="exportData('shapefile')" ngm-tap="exportData('shapefile')"><i cl***REMOVED***="icon-sage icon-download"></i> Shapefile</button>
  <div id="export-error-message" cl***REMOVED***="top-gap alert alert-error" style="display: none;"></div>
</div>