<div cl***REMOVED***="filter-panel" ng-show="showFilter">
  <h3>Filter</h3>

  <h4>Layers</h4>
  <form cl***REMOVED***="form">
    <div cl***REMOVED***="control-group">
      <div cl***REMOVED***="controls">
        <label cl***REMOVED***="checkbox">
          <input type="checkbox" ng-model="locationServicesEnabled" ng-click="locationServices()" ngm-tap="locationServices()"/><i cl***REMOVED***="icon-users icon-sage"
          ng-cl***REMOVED***="{false: 'icon-sage-inverse', true: 'icon-sage'}[locationServicesEnabled]"></i> Show People
        </label>
        <label cl***REMOVED***="checkbox" ng-show="locationServicesEnabled">
          <input style="margin-left: 0px" type="checkbox" ng-model="hideLocationsFromNewsFeed" ng-click="hideLocations()" ngm-tap="hideLocations()"/>Hide People in News Feed
        </label>
      </div>
    </div>

    <div ng-show="featureLayers.length > 0">
      <div cl***REMOVED***="control-group">
        <div cl***REMOVED***="controls">
          <div ng-repeat="layer in featureLayers">
            <label cl***REMOVED***="checkbox">
              <input type="checkbox" ng-init="layer.checked=false" ng-model="layer.checked" ng-click="onFeatureLayer(layer)" ngm-tap="onFeatureLayer(layer)"/><i cl***REMOVED***="icon-sage icon-map-marker"
              ng-cl***REMOVED***="{false: 'icon-sage-inverse', true: 'icon-sage'}[layer.checked]"></i> {{layer.name}}
              <i cl***REMOVED***="icon-globe icon-spin" ng-show="loadingLayers[layer.id]" style="margin-left: 7px;"></i>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="externalLayers.length > 0">
      <h4 style="display:inline;">Static Layers </h4><a style="cursor:pointer" ng-click="showStaticLayers = !showStaticLayers">(<span ng-hide="showStaticLayers">show</span><span ng-show="showStaticLayers">hide</span> {{externalLayers.length}})</a>
      <div cl***REMOVED***="control-group" ng-show="showStaticLayers">
        <div cl***REMOVED***="controls">
          <label cl***REMOVED***="checkbox" ng-repeat="layer in externalLayers">
            <input type="checkbox" ng-model="layer.checked" ng-click="onFeatureLayer(layer)"/>{{layer.name}}
            <i cl***REMOVED***="icon-globe icon-spin" ng-show="loadingLayers[layer.id]" style="margin-left: 7px;"></i>
          </label>
        </div>
      </div>
    </div>

    <div ng-show="imageryLayers.length > 0">
      <h4>Imagery Layers</h4>
      <div cl***REMOVED***="control-group">
        <div cl***REMOVED***="controls">
          <label cl***REMOVED***="checkbox" ng-repeat="layer in imageryLayers">
            <input type="checkbox" ng-model="layer.checked" ng-click="onImageryLayer(layer)"/>{{layer.name}}
          </label>
        </div>
      </div>
    </div>
  </form>

  <h4>Time</h4>
  <div cl***REMOVED***="control-group">
    <select ng-model="interval" ng-options="o.label for o in intervals" ng-change="updateInterval()"></select>

    <div ng-show="interval.filter == 'custom'">
      <div>
        <div cl***REMOVED***="control-group input-append">
          <label cl***REMOVED***="control-label">Start Date/Time</label>
          <input cl***REMOVED***="input-small" type="text" ng-model="filterStartDate" data-date-format="mm/dd/yyyy" bs-datepicker ng-change="updateInterval()">
          <button type="button" cl***REMOVED***="btn" data-toggle="datepicker"><i cl***REMOVED***="icon-sage icon-calendar"></i></button>
        </div>

        <div cl***REMOVED***="control-group input-append">
          <label cl***REMOVED***="control-label" for="">&nbsp</label>
          <input cl***REMOVED***="input-small" type="text" ng-model="filterStartTime" bs-timepicker data-template="false" data-show-inputs="false" data-show-seconds="true" data-show-meridian="false" ng-change="updateInterval()">
          <span cl***REMOVED***="add-on">
            <span ng-click="filterLocalTime = !filterLocalTime; updateInterval()" ngm-tap="filterLocalTime = !filterLocalTime; updateInterval()">
              <i cl***REMOVED***="icon-sage icon-time"></i>
              <span ng-show="filterLocalTime"> Local (GMT {{filterLocalOffset}})</span>
              <span ng-show="!filterLocalTime"> GMT (GMT +00:00)</span>
            </span>
          </span>
        </div>
      </div>

      <div>
        <div cl***REMOVED***="control-group input-append">
          <label cl***REMOVED***="control-label">End Date/Time</label>
          <input cl***REMOVED***="input-small" type="text" ng-model="filterEndDate" data-date-format="mm/dd/yyyy" bs-datepicker ng-change="updateInterval()">
          <button type="button" cl***REMOVED***="btn" data-toggle="datepicker"><i cl***REMOVED***="icon-sage icon-calendar"></i></button>
        </div>
        <div cl***REMOVED***="control-group input-append">
          <label cl***REMOVED***="control-label" for="">&nbsp</label>
          <input cl***REMOVED***="input-small" type="text" ng-model="filterEndTime" bs-timepicker data-template="false" data-show-inputs="false" data-show-seconds="true" data-show-meridian="false" ng-change="updateInterval()">
          <span cl***REMOVED***="add-on">
            <span ng-click="filterLocalTime = !filterLocalTime; updateInterval()" ngm-tap="filterLocalTime = !filterLocalTime; updateInterval()">
              <i cl***REMOVED***="icon-sage icon-time"></i>
              <span ng-show="filterLocalTime"> Local (GMT {{filterLocalOffset}})</span>
              <span ng-show="!filterLocalTime"> GMT (GMT +00:00)</span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div cl***REMOVED***="row-fluid">
    <button cl***REMOVED***="btn btn-inverse pull-right" ng-click="showFilter = false" ngm-tap="showFilter = false">Close</button>
  </div>
</div>
