<div>
	<div cl***REMOVED***="navbar">
    <div cl***REMOVED***="navbar-inner">
	    <a cl***REMOVED***="brand" href="/"><i cl***REMOVED***="icon-white icon-magic" style="margin-right:10px;"></i>MAGE</a>
	    <ul cl***REMOVED***="nav">
        <li><a href="map.html">Map</a></li>
        <li style="background: #305680"><a href="layers.html" style="color:#fff;">Layer Manager</a></li>
      </ul>
    </div>
  </div>
	<div cl***REMOVED***="container">
		<div cl***REMOVED***="row">
			<div cl***REMOVED***="span12"><h2>Layer Manager</h2></div>
		</div>
		<div cl***REMOVED***="row">
			<div cl***REMOVED***="span2">
				<div style="border-right: 1px solid #648D53; height: 925px;">
					<h3>Layers</h3>
					<a id="new-layer-btn" ng-click="newLayer()" ngm-tap="newLayer()" cl***REMOVED***="btn"><i cl***REMOVED***="icon-plus sage-color"></i> New Layer</a>
					<ul style="list-style: none;" cl***REMOVED***="top-gap">
						<li ng-repeat="layer in layers"><a ng-click="viewLayer()">{{layer.name}}</a></li>
					</ul>
					<p id="instructions" cl***REMOVED***="hide">
						There are no layers on this server. Click the new layer button to get started.
					</p>
				</div>
			</div>
			<div cl***REMOVED***="span10">
				<h3>{{layer.name}}</h3>
				<form ng-submit="saveLayer()" id="new-layer-form" cl***REMOVED***="hide">
					 <fieldset>
						<legend>New Layer</legend>
						<label>Layer name</label>
						<input type="text" placeholder="i.e. HurricaneSandy" ng-model="layerName">
						<span cl***REMOVED***="help-block">A name that corresponds to the type of data you will be storing</span>
						<button type="submit" cl***REMOVED***="btn">Create layer</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
