<!-- News Feed -->
<div id="side-bar" cl***REMOVED***="side-bar-holder">
  <div cl***REMOVED***="news-feed-pane"
    news-feed feed-observations="feedObservations" feed-observations-changed="feedChangedObservations"
    feed-users="feedUsers"/>
</div>

<!-- New observation form -->
<div cl***REMOVED***="map-filter" ng-hide="newsFeedEnabled">
  <div id="observation-form" cl***REMOVED***="feature-panel" ng-show="newObservationEnabled"></div>
</div>

<!-- leaflet map -->
<div id="map" cl***REMOVED***="map-wrap">
  <div leaflet></div>
</div>
