<div>  
  <!-- News Feed panel -->
  <div cl***REMOVED***="side-bar-holder">
    <div id="side-bar-header">
      <div id="side-bar" cl***REMOVED***="side-panel">
      </div>
      
    </div>
    <div cl***REMOVED***="news-feed-panel-content">
      <div id="news-feed-list">
        <div cl***REMOVED***="navbar">
          <div cl***REMOVED***="navbar-inner">
            <div cl***REMOVED***="btn-group">
              <a cl***REMOVED***="btn dropdown-toggle" data-toggle="dropdown">
                <i style="margin-right: 3px;" ng-cl***REMOVED***="pollTime != 0 && 'icon-spin icon-spinner' || 'blank-icon-space'" cl***REMOVED***="icon-spin icon-spinner"></i>
                Live Update
                <span cl***REMOVED***="caret"></span>
              </a>
              <ul cl***REMOVED***="dropdown-menu">
                <li cl***REMOVED***="nav-header">Poll Time</li>
                 <li>
                   <a ng-click="pollTime = 5000" cl***REMOVED***="pointer">
                     <i ng-cl***REMOVED***="pollTime == 5000 && 'icon-check' || 'icon-check-empty'"></i>
                     5 Seconds
                   </a>
                 </li>
                 <li>
                   <a ng-click="pollTime = 30000" cl***REMOVED***="pointer">
                     <i ng-cl***REMOVED***="pollTime == 30000 && 'icon-check' || 'icon-check-empty'"></i>
                     30 Seconds
                   </a>
                 </li>
                 <li>
                   <a ng-click="pollTime = 120000" cl***REMOVED***="pointer">
                     <i ng-cl***REMOVED***="pollTime == 120000 && 'icon-check' || 'icon-check-empty'"></i>
                     2 Minutes
                   </a>
                 </li>
                 <li>
                   <a ng-click="pollTime = 300000" cl***REMOVED***="pointer">
                     <i ng-cl***REMOVED***="pollTime == 300000 && 'icon-check' || 'icon-check-empty'"></i>
                     5 Minutes
                   </a>
                 </li>
                 <li>
                   <a ng-click="pollTime = 0" cl***REMOVED***="pointer">
                     <i ng-cl***REMOVED***="pollTime == 0 && 'icon-check' || 'icon-check-empty'"></i>
                     No Polling
                   </a>
                 </li>
              </ul>
            </div>
            <a cl***REMOVED***="btn active" ng-tap="showFilter = !showFilter" ng-click="showFilter = !showFilter" data-toggle="button"><i style="margin-right: 3px;" cl***REMOVED***="icon-filter"></i>Filter</a>
            <!--
            <form cl***REMOVED***="navbar-search pull-right">
              <input type="text" cl***REMOVED***="span1 form-search search-query" ng-model="userQuery" placeholder="Search">
            </form>
          -->
          </div>
        </div>
        <div cl***REMOVED***="filter-panel" ng-show="showFilter">
        <h3>Newsfeed Filter</h3>
          <form cl***REMOVED***="form">

          <div cl***REMOVED***="control-group">
            <div cl***REMOVED***="controls">
              <label cl***REMOVED***="checkbox">
                <input type="checkbox" ng-model="locationServicesEnabled" ng-click="locationServices()" ng-tap="locationServices()"/><i cl***REMOVED***="icon-users" 
                ng-cl***REMOVED***="{false: 'icon-sage-inverse', true: 'icon-sage'}[locationServicesEnabled]"></i>Show People
                <!--<i cl***REMOVED***="icon-globe icon-spin" ng-show="loadingLayers[layer.id]" style="margin-left: 7px;"></i>-->
              </label>
            </div>
          </div>

          <div ng-show="featureLayers.length > 0">
            <div style="display: inline-block;">
              <h4>Feature Layers</h4>
            </div>
            <div cl***REMOVED***="control-group">
              <div cl***REMOVED***="controls">
                <label cl***REMOVED***="checkbox" ng-repeat="layer in featureLayers">
                  <input type="checkbox" ng-model="layer.checked" ng-click="onFeatureLayer(layer)"/>{{layer.name}}
                  <i cl***REMOVED***="icon-globe icon-spin" ng-show="loadingLayers[layer.id]" style="margin-left: 7px;"></i>
                </label>
              </div>
            </div>
          </div>

          <div ng-show="externalLayers.length > 0">
            <h4>External Layers</h4>
            <div cl***REMOVED***="control-group">
              <div cl***REMOVED***="controls">
                <label cl***REMOVED***="checkbox" ng-repeat="layer in externalLayers">
                  <input type="checkbox" ng-model="layer.checked" ng-click="onFeatureLayer(layer)"/>{{layer.name}}
                  <i cl***REMOVED***="icon-globe icon-spin" ng-show="loadingLayers[layer.id]" style="margin-left: 7px;"></i>
                </label>
              </div>
            </div>
          </div>

          <div ng-show="imageryLayers.length > 0">
            <h4>Imagery Layers</h4>
            <div cl***REMOVED***="control-group">
              <div cl***REMOVED***="controls">
                <label cl***REMOVED***="checkbox" ng-repeat="layer in imageryLayers">
                  <input type="checkbox" ng-model="layer.checked" ng-click="onImageryLayer(layer)"/>{{layer.name}}
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
        <div cl***REMOVED***="news-feed-item pointer" data-ng-repeat="feedItem in feedItems | orderBy: newsFeedOrder : true">
          <div ng-if="feedItem.locations">
            <div user-location-news-item="feedItem"/>
          </div>
          <div ng-if="feedItem.properties.EVENTDATE">
            <div observation-news-item="feedItem"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- The map directive -->
  <div id="map" ng-cl***REMOVED***="checkCurrentSidePanel('none') && 'derp' || 'leaflet-side-panel-container'" cl***REMOVED***="map-wrap leaflet-container">
    <div leaflet marker-location="markerLocation" baselayer="baseLayer" layer="layer" message="message" draggable="true" active-feature="activeFeature" newfeature="newFeature" active-location="activeLocation" currentlayerid="currentLayerId" position="position" position-broadcast="positionBroadcast" locations="locations"></div>
  </div>

  <div ss-observation active-feature="activeFeature" new-feature="newFeature" marker-location="markerLocation"></div>
  <!-- <div pdc-observation active-feature="activeFeature" new-feature="newFeature" marker-location="markerLocation"></div> -->
  <!-- <div ***REMOVED***-observation active-feature="activeFeature" new-feature="newFeature" marker-location="markerLocation"></div> -->

  <!-- Third party observation dialog. Might be a good idea to generalize all the things and make them one observation panel at some point in time. -->
  <!-- <div external active-feature="activeFeature" currentlayerid="currentLayerId" layers="layers"></div> -->
  
  <!-- layer picker button 

  <button cl***REMOVED***="btn" ng-cl***REMOVED***="{true: 'btn-inverse'}[checkCurrentMapPanel('layers')]" id="settings" ng-click="setCurrentMapPanel('layers')" ngm-tap="setCurrentMapPanel('layers')"><i ng-cl***REMOVED***="checkCurrentMapPanel('layers') && 'icon-sage-inverse' || 'icon-sage'" cl***REMOVED***="icon-layers"></i></button>
-->
  <div id="new-feature-toolbar" cl***REMOVED***="leaflet-bar">
    <a
       ng-cl***REMOVED***="newObservationEnabled && 'btn-inverse'"
       ng-click="newObservation()" ngm-tap="newObservation()">
      <i cl***REMOVED***="icon-map-marker" ng-cl***REMOVED***="newObservationEnabled && 'icon-sage-inverse' || 'icon-sage'"></i>
    </a>
  </div>

  <div id="user-location-toolbar" cl***REMOVED***="leaflet-bar">
    <a 
      ng-cl***REMOVED***="{true: 'btn-inverse'}[locate]"
      ng-click="toggleLocate()" 
      ngm-tap="toggleLocate()">
      <i cl***REMOVED***="icon-target" ng-cl***REMOVED***="{true: 'icon-sage-inverse', false: 'icon-sage'}[locate]"></i>
    </a>

    <a 
      ng-cl***REMOVED***="{true: 'btn-inverse'}[broadcast]"
      ng-click="toggleBroadcast()" 
      ngm-tap="toggleBroadcast()">
      <i cl***REMOVED***="icon-megaphone" ng-cl***REMOVED***="{true: 'icon-sage-inverse', false: 'icon-sage'}[broadcast]"></i>
    </a>
  </div>
  <div id="list-tool-toolbars" cl***REMOVED***="leaflet-bar">
    <a
      ng-cl***REMOVED***="{true: 'btn-inverse'}[newsFeedEnabled]" 
      ng-click="newsFeedEnabled = !newsFeedEnabled; newsFeed();" 
      ngm-tap="newsFeedEnabled = !newsFeedEnabled; newsFeed();">
      <i cl***REMOVED***="icon-rss" ng-cl***REMOVED***="{true: 'icon-sage-inverse', false: 'icon-sage'}[newsFeedEnabled]"></i>
    </a>
    <a 
      ng-cl***REMOVED***="{true: 'btn-inverse'}[checkCurrentMapPanel('export')]" 
      ng-click="setCurrentMapPanel('export')" 
      ngm-tap="setCurrentMapPanel('export')">
      <i ng-cl***REMOVED***="checkCurrentMapPanel('export') && 'icon-sage-inverse' || 'icon-sage'"cl***REMOVED***="icon-cloud-download"></i>
    </a>
  </div>

<!--
  <div id="time-scale">
    <h6>Start Time {{slider[0] | date}}<input type="hidden" ui-date="dateOptions" ng-model="slider[0]"/> End Time {{slider[1] | date}} <input type="hidden" ui-date="dateOptions" ng-model="slider[1]"/></h6>
    <div ui-slider="{range: true}" min="{{layerMinDate}}" max="{{layerMaxDate}}" step="1" ng-model="slider"></div>
  </div>
-->

  <!-- Export panel -->
  <div id="export-panel" ng-show="checkCurrentMapPanel('export')" cl***REMOVED***="panel panel-large">
    <div cl***REMOVED***="pull-right panel-close">
      <i ng-click="setCurrentMapPanel('none')" ngm-tap="setCurrentMapPanel('none')" cl***REMOVED***="close">&times;</i>
    </div>
    <div cl***REMOVED***="panel-content">
      <h3>Export to KML</h3>
      <form cl***REMOVED***="form">  
        <div cl***REMOVED***="top-gap">
          <i cl***REMOVED***="icon-layers icon-sage pull-left icon-spacer"></i>    
          <h4>Select Layers</h4>
        </div>
        <div cl***REMOVED***="control-group">
          <div cl***REMOVED***="controls">
            <label cl***REMOVED***="checkbox" ng-repeat="layer in featureLayers">
              <input type="checkbox" ng-click="addExportLayer(layer)">{{layer.name}}
            </label>
            <label cl***REMOVED***="checkbox">
              <input type="checkbox" ng-model="fft_layer">Friendly Forces
            </label>
          </div>
        </div>
        <div cl***REMOVED***="top-gap">
          <i cl***REMOVED***="icon-filter icon-sage pull-left icon-spacer"></i>
          <h4>Filter Output</h4>
        </div>
        <div>Time Range:</div>
        <div style="margin: 0px, 0px, 0px, 20px">
          <select ng-model="time_filter">
            <option value="300">Last 5 Minutes</option>
            <option value="3600">Last Hour</option>
            <option value="43200">Last 12 Hours</option>
            <option value="86400">Last 24 Hours</option>
            <option value="-1">All (Use With Caution)</option>
          </select>
      </div>
      </form>
      <button cl***REMOVED***="btn btn-inverse" ng-click="setCurrentMapPanel('none')" ngm-tap="setCurrentMapPanel('none')">Cancel</button>
      <button cl***REMOVED***="btn" ng-click="export()" ngm-tap="export()">Export</button>
      <div id="export-error-message" cl***REMOVED***="top-gap alert alert-error" style="display: none;"></div>
    </div>
  </div>

</div>

