<div>
  <div cl***REMOVED***="navbar hidden-phone">
    <div cl***REMOVED***="navbar-inner">
      <div cl***REMOVED***="container">
        <a cl***REMOVED***="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span cl***REMOVED***="icon-bar"></span>
          <span cl***REMOVED***="icon-bar"></span>
          <span cl***REMOVED***="icon-bar"></span>
        </a>
        <a cl***REMOVED***="brand" href="/"><i cl***REMOVED***="icon-magic icon-brand" style="margin-right:10px;"></i>MAGE</a>
        <div cl***REMOVED***="nav-collapse collapse">
          <ul cl***REMOVED***="nav">
            <li style="background: #305680"><a href="/#/map" style="color:#fff;"><i cl***REMOVED***="icon-map icon-spacer"></i> Map</a></li>
            <li><a href="/#/layers"><i cl***REMOVED***="icon-layers icon-spacer"></i> Layer Manager</a></li>
            <li><a href="/#/admin"><i cl***REMOVED***="icon-cog icon-spacer"></i>  Admin Panel</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  
  <!-- The map directive -->
  <div cl***REMOVED***="map-wrap">
    <div leaflet marker="marker" center="center" zoom="zoom" multimarkers="multiMarkers" baselayer="baseLayer" layer="layer" message="message" draggable="true" activefeature="activeFeature" newfeature="newFeature" currentlayerid="currentLayerId"></div>
  </div>

  <!-- The observation directive, was not wanting to play nice, will sort out after PDC.. -->
  <!--<div observation observationid="observation" marker="marker" currentlayerid="currentLayerId" newfeature="newFeature" layers="layers"></div>-->

  <!-- Third party observation dialog. Might be a good idea to generalize all the things and make them one observation panel at some point in time. -->
  <div external activefeature="activeFeature" currentlayerid="currentLayerId" layers="layers"></div>
  
  <!-- layer picker button -->
  <button cl***REMOVED***="btn" id="settings" ng-click="openSettings()" ngm-tap="openSettings()"><i cl***REMOVED***="icon-layers icon-sage"></i></button>
  <button cl***REMOVED***="btn" id="export" ng-click="openExport()" ngm-tap="openExport()"><i cl***REMOVED***="icon-cloud-download icon-sage"></i></button>
  
  <!-- Button bar -->
  <div id="button-bar">
    <button cl***REMOVED***="btn" id="geo" ng-click="geolocate()" ngm-tap="geolocate()">
      <i cl***REMOVED***="icon-location-2 icon-sage"></i>
    </button>
    <button cl***REMOVED***="btn hide" id="goto-address" ng-click="openGotoAddress()" ngm-tap="openGotoAddress()">
      <i cl***REMOVED***="icon-search icon-sage"></i>
    </button>
    <button cl***REMOVED***="btn" id="new-observation" ng-click="newObservation()" ngm-tap="newObservation()">
      <i cl***REMOVED***="icon-plus icon-sage"></i>
    </button>
    <!--
    <button cl***REMOVED***="btn" id="broadcast-location-btn" ng-click="broadcastLocation()" ngm-tap="broadcastLocation()">
      <i cl***REMOVED***="icon-megaphone icon-sage"></i>
    </button>
    <button cl***REMOVED***="btn" id="locations-btn" ng-click="openLocations()" ngm-tap="openLocations()">
      <i cl***REMOVED***="icon-users icon-sage"></i>
    </button>
    -->
  </div>

  <!-- Panels -->
  <!-- Settings panel -->
  <div id="settings-panel" ng-show="showSettings" cl***REMOVED***="panel panel-large">
    <form cl***REMOVED***="form">
      <h4>Base Layers</h4>
      <div cl***REMOVED***="control-group">
        <div cl***REMOVED***="controls">
          <select ng-model="baseLayer" ng-options="baseLayer.name for baseLayer in baseLayers"></select>
        </div>
      </div>

      <h4>Feature Layers</h4>
      <div cl***REMOVED***="control-group">
        <div cl***REMOVED***="controls">
          <label cl***REMOVED***="checkbox" ng-repeat="layer in featureLayers">
            <input type="checkbox" ng-model="layer.checked" ng-click="onFeatureLayer(layer)">{{layer.name}}
          </label>
        </div>
      </div>

      <h4>Imagery Layers</h4>
      <div cl***REMOVED***="control-group">
        <div cl***REMOVED***="controls">
          <label cl***REMOVED***="checkbox" ng-repeat="layer in imageryLayers">
            <input type="checkbox" ng-model="layer.checked" ng-click="onImageryLayer(layer)">{{layer.name}}
          </label>
        </div>
      </div>
    </form>
    
    <span>
      <button cl***REMOVED***="btn btn-mobile" ng-click="saveSettings()" ngm-tap="saveSettings()">Ok</button>
    </span>
  </div>

  <!-- Export panel -->
  <div id="export-panel" ng-show="showExport" cl***REMOVED***="panel panel-large">
    <h3>Export to KML</h3>
    <form cl***REMOVED***="form">  
      <div cl***REMOVED***="top-gap">
        <i cl***REMOVED***="icon-layers icon-sage pull-left icon-spacer"></i>    
        <h4>Select Layers</h4>
      </div>
      <div cl***REMOVED***="control-group">
        <div cl***REMOVED***="controls">
          <label cl***REMOVED***="checkbox" ng-repeat="layer in featureLayers">
            <input type="checkbox" ng-click="addExportLayer(layer)">{{layer.name}}
          </label>
          <label cl***REMOVED***="checkbox">
            <input type="checkbox" ng-model="fft_layer">Friendly Forces
          </label>
        </div>
      </div>
      <div cl***REMOVED***="top-gap">
        <i cl***REMOVED***="icon-filter icon-sage pull-left icon-spacer"></i>
        <h4>Filter Output</h4>
      </div>
      <div>Time Range:</div>
      <div style="margin: 0px, 0px, 0px, 20px">
        <select ng-model="time_filter">
          <option value="300">Last 5 Minutes</option>
          <option value="3600">Last Hour</option>
          <option value="43200">Last 12 Hours</option>
          <option value="86400">Last 24 Hours</option>
          <option value="-1">All (Use With Caution)</option>
        </select>
    </div>
    </form>
    <button cl***REMOVED***="btn btn-inverse" ng-click="closeExport()" ngm-tap="export()">Cancel</button>
    <button cl***REMOVED***="btn" ng-click="export()" ngm-tap="export()">Export</button>
  </div>

  <div id="goto-address-panel" ng-show="showGoToAddress" cl***REMOVED***="panel panel-medium">
    <form cl***REMOVED***="form-horizontal">
      <div cl***REMOVED***="control-group">
        <label cl***REMOVED***="control-label" for="address">Go to Address</label>
        <div cl***REMOVED***="controls">
          <input ng-model="address"/>
        </div>
      </div>
      <span>
        <button cl***REMOVED***="btn btn-inverse" ng-click="dismissGotoAddress()" ngm-tap="dismissGotoAddress()">Cancel</button>
        <button cl***REMOVED***="btn" ng-click="gotoAddress()" ngm-tap="gotoAddress()">Go</button>
      </span>
    </form>
  </div>

  <div id="refresh-panel" ng-show="showRefresh" cl***REMOVED***="panel panel-small">
    <i cl***REMOVED***="icon-spin icon-spinner icon-large"></i> Synchronizing
    <span>
      <button cl***REMOVED***="btn" ng-click="dismissRefresh()" ngm-tap="dismissRefresh()">Ok</button>
    </span>
  </div>

  <div id="location-panel" ng-show="showLocations" cl***REMOVED***="panel panel-medium">
    <h3>Team Locations</h3>
    <span>
      <button cl***REMOVED***="btn btn-inverse" ng-click="dismissLocations()" ngm-tap="dismissLocations()">Cancel</button>
      <button cl***REMOVED***="btn" ng-click="dismissLocations()" ngm-tap="dismissLocations()">Go</button>
    </span>
  </div>

  <!-- This is bad copy pasta. Was having some trouble with directives and loading templates... -->
  <div id="observation-panel" ng-show="showObservation" cl***REMOVED***="tabbable tabs-below panel panel-large">
    <ul cl***REMOVED***="nav nav-pills">
      <li ng-cl***REMOVED***="{active: observationTab == 1}">
        <a href="" ng-click="observationTab = 1;">
          <i cl***REMOVED***="icon-list" style="background-image: none;"></i> 
          Details
        </a>
      </li>
      <li ng-cl***REMOVED***="{active: observationTab == 2}">
        <a href="" ng-click="observationTab = 2;">
          <i cl***REMOVED***="icon-camera" style="background-image: none;"></i> 
          Media
        </a>
      </li>
    </ul>
    <div cl***REMOVED***="tab-content" ng-show="observationTab == 1">
      <form cl***REMOVED***="form-horizontal">
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="type">Layer</label>
          <div cl***REMOVED***="controls">
            <select ng-model="currentLayerId" ng-selected="currentLayerId" ng-options="layer.id as layer.name for layer in layers"></select>
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="type">Type</label>
          <div cl***REMOVED***="controls">
            <select ng-model="observation.attributes.TYPE" ng-selected="observationType" ng-options="type.title for type in observationTypes"></select>
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="level">Level</label>
          <div cl***REMOVED***="controls">
            <select ng-model="observation.attributes.EVENTLEVEL" ng-selected="level" ng-options="level.color for level in levels"></select>
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="team">Team</label>
          <div cl***REMOVED***="controls">
            <select ng-model="observation.attributes.TEAM" ng-selected="team" ng-options="team.name for team in teams"></select>
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="unit">Unit</label>
          <div cl***REMOVED***="controls">
            <input ng-model="observation.attributes.UNIT"/>
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="unit">Description</label>
          <div cl***REMOVED***="controls">
            <textarea ng-model="observation.attributes.DESCRIPTION"></textarea>
          </div>
        </div>
      </form>    
      <span>
        <button cl***REMOVED***="btn btn-inverse" ng-click="cancelObservation()" ngm-tap="cancelObservation()">Cancel</button>
        <button cl***REMOVED***="btn" ng-click="saveObservation()" ngm-tap="saveObservation()"><i cl***REMOVED***="icon-save"></i> Save</button>
      </span>
    </div>
    <!-- Start of tab2 -->
    <div cl***REMOVED***="tab-content" ng-show="observationTab == 2" style="height: 900px;">
      <form>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="unit">Select File</label>
          <div cl***REMOVED***="controls">
            <input type="file" id="file-upload" accept="image/*" capture="camera" ng-model-instant multiple onchange="angular.element(this).scope().setFiles(this)">
          </div>
          <div ng-show="progressVisible">
            <div cl***REMOVED***="percent">{{progress}}%</div>
            <div cl***REMOVED***="progress-bar">
                <div cl***REMOVED***="uploaded" ng-style="{'width': progress+'%'}"></div>
            </div>
          </div>
        </div>
      </form>
      <span>
        <button cl***REMOVED***="btn btn-inverse" ng-click="cancelObservation()" ngm-tap="cancelObservation()">Cancel</button>
        <button cl***REMOVED***="btn" ng-click="saveObservation()" ngm-tap="saveObservation()"><i cl***REMOVED***="icon-save"></i> Save</button>
      </span>
      <hr>
      <div cl***REMOVED***="attachment" ng-repeat="attachment in attachments">
        <img src="{{attachmentUrl + attachment.id + '?access_token=' + token}}">
      </div>
    </div>
  </div> <!-- end of observation panel -->
</div>