<div>
  <!-- News Feed panel -->
  <div id="side-bar" cl***REMOVED***="side-bar-holder">
    <div cl***REMOVED***="news-feed-pane" news-feed/>
  </div>
  <div cl***REMOVED***="map-filter" ng-hide="newsFeedEnabled">

    <!-- <div export/> -->
    <div id="observation-form" cl***REMOVED***="feature-panel" ng-show="newObservationEnabled">
    </div>
  </div>

  <!-- The map directive -->
  <div id="map" cl***REMOVED***="map-wrap">
    <div leaflet marker-location="markerLocation" baselayer="baseLayer" layer="layer" message="message" draggable="true" active-feature="activeFeature" newfeature="newFeature" active-location="activeLocation" currentlayerid="currentLayerId" position="position" position-broadcast="positionBroadcast" locations="locations"></div>
  </div>
  <div id="new-feature-toolbar" cl***REMOVED***="leaflet-bar">
    <a
       ng-cl***REMOVED***="os.newForm && 'btn-inverse'" ng-hide="readOnlyMode"
       ng-click="createNewObservation()" ngm-tap="createNewObservation()">
      <i cl***REMOVED***="fa-map-marker" ng-cl***REMOVED***="os.newForm && 'icon-sage-inverse' || 'icon-sage'"></i>
    </a>
  </div>

  <div id="user-location-toolbar" cl***REMOVED***="leaflet-bar">
    <a
      ng-cl***REMOVED***="{true: 'btn-inverse'}[locate]"
      ng-click="toggleLocate()"
      ngm-tap="toggleLocate()">
      <i cl***REMOVED***="icon-target" ng-cl***REMOVED***="{true: 'icon-sage-inverse', false: 'icon-sage'}[locate]"></i>
    </a>

    <a
      ng-cl***REMOVED***="{true: 'btn-inverse'}[broadcast]"
      ng-hide="readOnlyMode"
      ng-click="toggleBroadcast()"
      ngm-tap="toggleBroadcast()">
      <i cl***REMOVED***="icon-megaphone" ng-cl***REMOVED***="{true: 'icon-sage-inverse', false: 'icon-sage'}[broadcast]"></i>
    </a>
  </div>
  <div id="list-tool-toolbars" cl***REMOVED***="leaflet-bar">
    <a
      ng-cl***REMOVED***="{true: 'btn-inverse'}[newsFeedEnabled]"
      ng-click="newsFeedEnabled = !newsFeedEnabled"
      ngm-tap="newsFeedEnabled = !newsFeedEnabled">
      <i ng-cl***REMOVED***="newsFeedEnabled && 'icon-sage-inverse' || 'icon-sage'"cl***REMOVED***="fa fa-bars"></i>
    </a>
  </div>

</div>
