<div cl***REMOVED***="news-feed-panel-content">
  <div cl***REMOVED***="news-feed-header">
    <div filter-navbar/>
    <div cl***REMOVED***="feature-panel" ng-show="newObservationEnabled">
      <div observation="newFeature" active-feature="editObservation" new-feature="newFeature" marker-location="markerLocation"></div>
    </div>
  </div>
  <div cl***REMOVED***="overview-map hide-on-desktop" map-clip="activeFeature.feature" style="width: 100%; height: 150px;"/>

  <div cl***REMOVED***="news-items-wrapper">
    <div cl***REMOVED***="news-items">
      <div cl***REMOVED***="news-items-list">
        <div cl***REMOVED***="the-news-items">
          <div filter/>
          <div export/>  <!-- Export panel -->
          <div cl***REMOVED***="news-feed-item pointer" id="{{feedItem.id || feedItem.user}}"
          data-ng-repeat="feedItem in feedItems | orderBy: newsFeedOrder : true track by feedItem.id || feedItem.user">
            <div ng-if="feedItem.locations">
             <div user-location-news-item="feedItem"/>
            </div>
            <div ng-if="feedItem.properties.EVENTDATE">
              <div observation-news-item="feedItem" container-element="side-bar"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>