<div cl***REMOVED***="news-feed-panel-content">
  <div cl***REMOVED***="overview-map hide-on-ipad-landscape" map-clip="activeFeature.feature" style="width: 100%; height: 150px;"/>

  <div cl***REMOVED***="row-fluid news-feed-tabs">
    <div cl***REMOVED***="span5 offset2">
      <span cl***REMOVED***="admin-tab"><a cl***REMOVED***="pointer" ng-click="tabSelected('observationsTab')" ng-cl***REMOVED***="{observationsTab:'admin-nav-active', peopleTab:'admin-nav-inactive'}[currentFeedPanel]">Observations</a></span>
      <span cl***REMOVED***="badge badge-success" ng-show="observationsChanged - observationsChangedSeen > 0">{{observationsChanged - observationsChangedSeen}}</span>
    </div>
    <div cl***REMOVED***="span5">
      <span cl***REMOVED***="admin-tab"><a cl***REMOVED***="admin-tab pointer" ng-click="tabSelected('peopleTab')" ng-cl***REMOVED***="{peopleTab:'admin-nav-active', observationsTab:'admin-nav-inactive'}[currentFeedPanel]">People</a></span>
      <span cl***REMOVED***="badge badge-success" ng-show="usersChanged > 0">{{usersChanged}}</span>
    </div>
  </div>

  <div cl***REMOVED***="news-items-wrapper">
    <div cl***REMOVED***="news-items">
      <div cl***REMOVED***="news-items-list">
        <div cl***REMOVED***="the-news-items">
          <div cl***REMOVED***="feature-panel" ng-if="newObservation">
            <form-directive form="newObservationForm" form-observation="newObservation" cl***REMOVED***="row-fluid"></form-directive>
          </div>

          <div ng-show="currentFeedPanel == 'observationsTab'">
            <div cl***REMOVED***="row-fluid">
              <div cl***REMOVED***="bucket-panel">
                <select cl***REMOVED***="span12" style="margin-bottom: 0;" ng-model="currentObservationPage" ng-options="observationPages.indexOf(observationPage) as observationPage[0].properties.timestamp | moment: 'fromNow' for observationPage in observationPages">
                </select>
              </div>
            </div>

            <div cl***REMOVED***="news-feed-item pointer" id="{{observation.id}}"
              ng-cl***REMOVED***="(selectedObservation.id == observation.id) && 'active-news-feed-item'"
              ng-repeat="observation in observationPages[currentObservationPage] track by observation.id">
              <div observation-news-item="observation" observation-form="event.form" container-element="side-bar"></div>
            </div>
          </div>
          <div ng-show="currentFeedPanel == 'peopleTab'">
            <div cl***REMOVED***="row-fluid">
              <div cl***REMOVED***="bucket-panel">
                <select cl***REMOVED***="span12" style="margin-bottom: 0;" ng-model="currentUserPage" ng-options="userPages.indexOf(userPage) as userPage[0].location.properties.timestamp | moment: 'fromNow' for userPage in userPages">
                </select>
              </div>
            </div>

            <div cl***REMOVED***="news-feed-item pointer" id="{{user.id}}"
              ng-cl***REMOVED***="(selectedUser.id == user.id) && 'active-news-feed-item'"
              ng-repeat="user in userPages[currentUserPage] track by user.id">
              <div user-news-item="user" user-news-item-follow="followUserId" container-element="side-bar"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
