<div id="observation-panel" cl***REMOVED***="tabbable tabs-below hide panel panel-large">
  <ul cl***REMOVED***="nav nav-pills">
    <li ng-cl***REMOVED***="{active: selectedTab == 1}">
      <a href="#" ng-click="selectedTab = 1;">Details</a>
    </li>
    <li ng-cl***REMOVED***="{active: selectedTab == 2}">
      <a href="#" ng-click="selectedTab = 2;">Media</a>
    </li>
  </ul>

  <div cl***REMOVED***="tab-content" ng-show="selectedTab == 1">
		<form cl***REMOVED***="form-horizontal">

      <div cl***REMOVED***="control-group">
        <label cl***REMOVED***="control-label" for="type">Layer</label>
        <div cl***REMOVED***="controls">
          <select ng-model="currentLayerId" ng-selected="currentLayerId" ng-options="layer.id as layer.name for layer in layers"></select>
        </div>
      </div>

			<div cl***REMOVED***="control-group">
		    <label cl***REMOVED***="control-label" for="type">Type</label>
		    <div cl***REMOVED***="controls">
		      <select ng-model="observationType" ng-selected="observationType" ng-options="type.title for type in observationTypes"></select>
		    </div>
		  </div>
		  <div cl***REMOVED***="control-group">
		    <label cl***REMOVED***="control-label" for="level">Level</label>
		    <div cl***REMOVED***="controls">
		      <select ng-model="level" ng-selected="level" ng-options="level.color for level in levels"></select>
		    </div>
		  </div>
		  <div cl***REMOVED***="control-group">
		    <label cl***REMOVED***="control-label" for="team">Team</label>
		    <div cl***REMOVED***="controls">
		      <select ng-model="team" ng-selected="team" ng-options="team.name for team in teams"></select>
		    </div>
		  </div>
		  <div cl***REMOVED***="control-group">
		    <label cl***REMOVED***="control-label" for="unit">Unit</label>
		    <div cl***REMOVED***="controls">
		      <input ng-model="unit"/>
		    </div>
		  </div>
		  <div cl***REMOVED***="control-group">
		    <label cl***REMOVED***="control-label" for="unit">Description</label>
		    <div cl***REMOVED***="controls">
		      <textarea ng-model="description"></textarea>
		    </div>
		  </div>
		</form>    
		<span>
	  	<button cl***REMOVED***="btn btn-inverse" ng-click="cancelObservation()" ngm-tap="cancelObservation()">Cancel</button>
	  	<button cl***REMOVED***="btn" ng-click="saveObservation()" ngm-tap="saveObservation()">Submit</button>
	 	</span>
  </div>
  
  <div cl***REMOVED***="tab-content" ng-show="selectedTab == 2">
    <form>
    	<div cl***REMOVED***="control-group">
		    <label cl***REMOVED***="control-label" for="unit">Select File</label>
		    <div cl***REMOVED***="controls">
		      <input type="file" id="file-upload" ng-model-instant multiple onchange="angular.element(this).scope().setFiles(this)">
		    </div>
		    <div ng-show="progressVisible">
          <div cl***REMOVED***="percent">{{progress}}%</div>
          <div cl***REMOVED***="progress-bar">
              <div cl***REMOVED***="uploaded" ng-style="{'width': progress+'%'}"></div>
          </div>
        </div>
		  </div>
    </form>
    <span>
	  	<button cl***REMOVED***="btn btn-inverse" ng-click="cancelObservation()" ngm-tap="cancelObservation()">Cancel</button>
	  	<button cl***REMOVED***="btn" ng-click="saveObservation()" ngm-tap="saveObservation()">Submit</button>
	 	</span>
    <hr>
	  <div cl***REMOVED***="attachment" ng-repeat="attachment in attachments">
	  	<img src="{{attachmentUrl}}{{attachment.id}}">
	  </div>
  </div>
</div>
