<div cl***REMOVED***="observation-popup">

  <div cl***REMOVED***="pull-right">
    <a href="javascript:void(0)"cl***REMOVED***="observation-popup-info"  ng-click="onInfoClicked()"><i cl***REMOVED***="fa fa-info-circle"></i></a>
  </div>

  <div>
    <div ng-if="type" cl***REMOVED***="observation-popup-title">
      {{type}}
    </div>

    <div cl***REMOVED***="observation-popup-subtitle">
      <span ng-if="variant" cl***REMOVED***="icon-spacer strong">
        {{variant}}
      </span>
      <span ng-if="date">
        {{date}}
      </span>
    </div>

  </div>
</div>
