<div cl***REMOVED***="observation-news-item" ng-click="onObservationClick(observation)">
  <div ng-if="edit === false">
  	<div cl***REMOVED***="row-fluid">
  		<div cl***REMOVED***="span7">
        <div cl***REMOVED***="news-feed-item-support observation-type">{{observation.properties.type}}</div>
        <div cl***REMOVED***="news-feed-item-support observation-variant" ng-if="observation.properties[form.variantField]">{{observation.properties[form.variantField]}}</div>
      </div>
  		<div cl***REMOVED***="span5">
  			<div cl***REMOVED***="row-fluid">
  				<div cl***REMOVED***="pull-right news-feed-item-support small-text" user-id="observation.userId"></div>
  			</div>
        <div cl***REMOVED***="row-fluid">
          <span cl***REMOVED***="pull-right news-feed-item-support small-text">{{observation.properties.timestamp | moment: 'fromNow'}}</span>
        </div>
  			<div cl***REMOVED***="row-fluid">
  				<a cl***REMOVED***="pull-right small-text">{{observation.geometry.coordinates[0] | number: 3}}, {{observation.geometry.coordinates[1] | number: 3}}</a>
  			</div>
  		</div>
  	</div>

    <div cl***REMOVED***="top-gap-s">
      <div cl***REMOVED***="map-clip row-fluid" style="width: 100%; height: 150px;" map-clip="observation"></div>
    </div>

    <div cl***REMOVED***="row-fluid top-gap-s" ng-repeat="field in form.fields | filter:filterHidden">
      <property-view field="field">
    </div>

    <div cl***REMOVED***="top-gap-s bottom-gap-s">
      <div cl***REMOVED***="attachment" ng-repeat="attachment in observation.attachments track by attachment.id">
        <span ng-switch on="$index % 2">
          <span ng-switch-when="0">
            <div cl***REMOVED***="row-fluid">
              <div cl***REMOVED***="span6">
                <div attachment="observation.attachments[$index]" attachment-observation="observation" edit="false"></div>
              </div>
              <div cl***REMOVED***="span6">
                <div attachment="observation.attachments[$index + 1]" attachment-observation="observation"  edit="false"></div>
              </div>
            </div>
          </span>
        </span>
      </div>
    </div>

    <button cl***REMOVED***="btn" ng-click="editObservation()">Edit</button>
  </div>

  <div ng-if="edit === true">
    <form-directive form="editForm" form-observation="observation" cl***REMOVED***="row-fluid"></form-directive>
  </div>

</div>
