<div cl***REMOVED***="observation-news-item"  ng-init="editObservation = observation">
  <div ng-hide="editMode" ng-click="setActiveObservation(observation)" 
  ngm-tap="setActiveObservation(observation)">
  	<div cl***REMOVED***="row-fluid">
  		<div cl***REMOVED***="span2"><span marker-icon="observation"></span></div>
  		<div cl***REMOVED***="span10">
  			<div cl***REMOVED***="row-fluid">
  				<strong>{{observation.properties.type}}</strong> <span cl***REMOVED***="pull-right news-feed-item-support small-text">{{observation.properties.timestamp | moment: 'fromNow'}}</span>
  			</div>
  			<div cl***REMOVED***="row-fluid">
  				<div cl***REMOVED***="news-feed-item-support small-text pull-left" user-id="observation.properties.userId">{{user.firstname}} {{user.lastname}}</div>
  				<a cl***REMOVED***="pull-right small-text">{{observation.geometry.coordinates[0] | number: 3}}, {{observation.geometry.coordinates[1] | number: 3}}</a>
  			</div>
  		</div>
  	</div>
  	<div cl***REMOVED***="row-fluid top-gap-s">
  		{{observation.properties.DESCRIPTION}}
  	</div>
    <div cl***REMOVED***="map-clip row-fluid" style="width: 100%; height: 150px;" map-clip="mapClipConfig"/>

    <div cl***REMOVED***="top-gap-s bottom-gap-s">
      <div cl***REMOVED***="attachment" ng-repeat="attachment in observation.attachments track by attachment.id">
        <span ng-switch on="$index % 2">
          <span ng-switch-when="0">
            <div cl***REMOVED***="row-fluid">
              <div cl***REMOVED***="span6">
                <div ng-switch on="observation.attachments[$index].contentType">
                  <a ng-switch-when="image/jpg" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token + '&synced='+observation.attachments[$index].synced}}"></img></a>
                  <a ng-switch-when="image/jpeg" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token + '&synced='+observation.attachments[$index].synced}}"></img></a>
                  <a ng-switch-when="image/png" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token + '&synced='+observation.attachments[$index].synced}}"></img></a>
                  <a ng-switch-when="image/gif" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token + '&synced='+observation.attachments[$index].synced}}"></img></a>
                  <div ng-switch-when="video/mp4">
                    <video cl***REMOVED***="news-feed-video" controls="controls">
                      <source ng-src="{{'/FeatureServer/'+observation.layerId+'/features/' + observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}" type="video/mp4">
                    </video>
                    <i cl***REMOVED***="icon-sage icon-facetime-video"></i><a target="_blank" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/' + observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}"> Download video</a>
                  </div>

                  <div ng-switch-default>
                     <div ng-switch on="observation.attachments[$index].name.substr(observation.attachments[$index].name.lastIndexOf('.') + 1)">
                      <a ng-switch-when="jpg" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token + '&synced='+observation.attachments[$index].synced}}"></img></a>
                      <a ng-switch-when="jpeg" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token + '&synced='+observation.attachments[$index].synced}}"></img></a>
                      <a ng-switch-when="png" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token + '&synced='+observation.attachments[$index].synced}}"></img></a>
                      <a ng-switch-when="gif" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token + '&synced='+observation.attachments[$index].synced}}"></img></a>
                      <div ng-switch-when="mp4">
                        <video cl***REMOVED***="news-feed-video" controls="controls">
                          <source ng-src="{{'/FeatureServer/'+observation.layerId+'/features/' + observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token + '&synced='+observation.attachments[$index].synced}}" type="video/mp4">
                        </video>
                        <i cl***REMOVED***="icon-sage icon-facetime-video"></i><a target="_blank" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/' + observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}"> Download video</a>
                      </div>
                     </div>
                  </div>
                </div>
              </div>
              <div cl***REMOVED***="span6">
                <div ng-switch on="observation.attachments[$index+1].contentType">
                  <a ng-switch-when="image/jpg" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token + '&synced='+observation.attachments[$index+1].synced}}"></img></a>
                  <a ng-switch-when="image/jpeg" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token + '&synced='+observation.attachments[$index+1].synced}}"></img></a>
                  <a ng-switch-when="image/png" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token + '&synced='+observation.attachments[$index+1].synced}}"></img></a>
                  <a ng-switch-when="image/gif" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token + '&synced='+observation.attachments[$index+1].synced}}"></img></a>
                  <div ng-switch-when="video/mp4">
                    <video cl***REMOVED***="news-feed-video" controls="controls">
                      <source ng-src="{{'/FeatureServer/'+observation.layerId+'/features/' + observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token + '&synced='+observation.attachments[$index+1].synced}}" type="video/mp4">
                    </video>
                    <i cl***REMOVED***="icon-sage icon-facetime-video"></i><a target="_blank" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/' + observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}"> Download video</a>
                  </div>
                  <div ng-switch-default>
                    <div ng-switch on="observation.attachments[$index+1].name.substr(observation.attachments[$index+1].name.lastIndexOf('.') + 1)">
                      <a ng-switch-when="jpg" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token + '&synced='+observation.attachments[$index+1].synced}}"></img></a>
                      <a ng-switch-when="jpg" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token + '&synced='+observation.attachments[$index+1].synced}}"></img></a>
                      <a ng-switch-when="jpg" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token + '&synced='+observation.attachments[$index+1].synced}}"></img></a>
                      <a ng-switch-when="jpg" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}" target="_blank"><img cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token + '&synced='+observation.attachments[$index+1].synced}}"></img></a>
                      <div ng-switch-when="mp4">
                        <video cl***REMOVED***="news-feed-video" controls="controls">
                          <source ng-src="{{'/FeatureServer/'+observation.layerId+'/features/' + observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token + '&synced='+observation.attachments[$index+1].synced}}" type="video/mp4">
                        </video>
                        <i cl***REMOVED***="icon-sage icon-facetime-video"></i><a target="_blank" ng-href="{{'/FeatureServer/'+observation.layerId+'/features/' + observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}"> Download video</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </span>
      </div>
    </div>

    <button cl***REMOVED***="btn" ng-hide="readOnlyMode" ngm-tap="startEdit()" 
            ng-click="startEdit()">Edit</button>
  </div>
  <div ng-show="editMode">
    <div observation="editObservation" active-feature="editObservation" new-feature="newFeature" marker-location="markerLocation"></div>
  </div>


</div>