<div>
  <div cl***REMOVED***="container top-gap-l">
    <div cl***REMOVED***="row-fluid">
      <div cl***REMOVED***="span3">
        <h3 cl***REMOVED***="top-gap-l">Mobile Analytic GEOINT Environment</h3>
        <form cl***REMOVED***="form">
          <div cl***REMOVED***="control-group">
            <label cl***REMOVED***="control-label" for="username">Username</label>
            <div cl***REMOVED***="controls">
              <input ng-model="username" name="username" type="text" autocapitalize="off"/>
            </div>
          </div>
          <div cl***REMOVED***="control-group">
            <label cl***REMOVED***="control-label" for="uid">UID</label>
            <div cl***REMOVED***="controls">
              <input ng-model="uid" name="uid" type="text" autocapitalize="off"/>
            </div>
          </div>
          <div cl***REMOVED***="control-group">
            <label cl***REMOVED***="control-label" for="p***REMOVED***word">P***REMOVED***word</label>
            <div cl***REMOVED***="controls">
              <input ng-model="p***REMOVED***word" name="p***REMOVED***word" type="p***REMOVED***word"/>
            </div>
          </div>
          <span>
            <button cl***REMOVED***="btn" ng-click="signin()" ngm-tap="signin()">Login</button>
          </span>
        </form>
        <p>Don't have an account? <a href="/#/signup">Create one here.</a></p>
        <div cl***REMOVED***="alert alert-block" ng-show="status > 399">
          <h4>Failed login</h4>
          Please check your username, UID, and p***REMOVED***word and try again.
        </div>
      </div>
      <div cl***REMOVED***="span7 offset2 top-gap-xl">
        <i cl***REMOVED***="fa fa-magic icon-brand-l"></i>
      </div>
    </div>
  </div>
</div>
