<div>
	<div cl***REMOVED***="navbar hidden-phone">
    <div cl***REMOVED***="navbar-inner">
      <div cl***REMOVED***="container">
        <a cl***REMOVED***="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span cl***REMOVED***="icon-bar"></span>
          <span cl***REMOVED***="icon-bar"></span>
          <span cl***REMOVED***="icon-bar"></span>
        </a>
        <a cl***REMOVED***="brand" href="#">MAGE</a>
        <div cl***REMOVED***="nav-collapse collapse">
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div cl***REMOVED***="container top-gap">
    <div cl***REMOVED***="row-fluid">
      <div cl***REMOVED***="span3">
        <form cl***REMOVED***="form" action="/api/login" method="post">
          <div cl***REMOVED***="control-group">
            <label cl***REMOVED***="control-label" for="address">Username</label>
            <div cl***REMOVED***="controls">
              <input ng-model="username" type="text" name="username"/>
            </div>
          </div>
          <div cl***REMOVED***="control-group">
            <label cl***REMOVED***="control-label" for="address">P***REMOVED***word</label>
            <div cl***REMOVED***="controls">
              <input ng-model="p***REMOVED***word" name="p***REMOVED***word" type="p***REMOVED***word"/>
            </div>
          </div>
          <span>
            <button cl***REMOVED***="btn btn-inverse">Cancel</button>
            <button cl***REMOVED***="btn" type="submit">Login</button>
          </span>
        </form>
      </div>
      <div cl***REMOVED***="span9">
        <h3>Mobile Analytic GEOINT Environment</h3>
        *insert splash pic here*
      </div>
    </div>
  </div>
</div>
