<div ng-show="userLocation" cl***REMOVED***="container">
  <div cl***REMOVED***="row-fluid">
    <div cl***REMOVED***="span1">
      <img cl***REMOVED***="img-rounded" ng-src="{{avatarUrl}}" width="73" height="73"></img>
    </div>
    <div cl***REMOVED***="span10">
      <span>
        <strong>{{userLocation.firstname}} {{userLocation.lastname}} </strong>
        <span cl***REMOVED***="muted">({{userLocation.username}})</span>
      </span>
      <div>
        {{userLocation.email}}
      </div>
      <div>
        {{userLocation.phones[0].number}}
      </div>
    </div>
  </div>
<div>
