<div cl***REMOVED***="control-group">
    <label cl***REMOVED***="control-label">Photo</label>
    <div cl***REMOVED***="controls">
      <div cl***REMOVED***="clearfix">
        <div>
        <img cl***REMOVED***="avatar-image img-rounded" style="float: left" width="73" height="73" ng-src="{{avatarUrl}}">

        <div style="margin-left: 83px; line-height: 100%">
          <label cl***REMOVED***="file">
            <input type="file" id="file">
            <span cl***REMOVED***="file-custom" data-filename="{{file.name}}"></span>
          </label>
        </div>
      </div>
    </div>
</div>
