<div class="icon-select">
  <cdk-virtual-scroll-viewport [itemSize]="40">
    <mat-card *cdkVirtualFor="let icon of icons" class=icon-select-item>
      <mat-card-header>
        <mat-card-title>{{icon.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-img [src]="icon.path" />
    </mat-card>
  </cdk-virtual-scroll-viewport>
</div>
<!--
  <button mat-button class="add__button" type="button" color="primary" (click)="file.click()">
    Upload Icon
  </button>
  <input [hidden]="true" type="file" #file multiple (change)="onAttachmentFile($event)">
-->