.form-picker-header {
  display: flex;
  align-items: center;
  margin: 8px 0;
  height: 50px;
}

.form-picker-header__text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, .87);
}

.form-picker-header__divider {
  margin: 0 -16px;
}

.form-picker-list {
  background-color: white;
}

.form-picker-actions {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}