<div class="form-picker-header">
  <div class="form-picker-header__text">Add a Form To Your Observation</div>
</div>

<mat-divider class="form-picker-header__divider"></mat-divider>

<mat-nav-list class="form-picker-list">
  <mat-list-item *ngFor="let form of forms" (click)="formPicked(form)">
    <mat-icon matListItemIcon [style.color]="form.color">description</mat-icon>
    <span matListItemTitle>{{form.name}}</span>
    <span matListItemLine>{{form.description}}</span>
  </mat-list-item>
</mat-nav-list>

<div class="form-picker-actions">
  <button mat-button color="primary" (click)="cancel()">CANCEL</button>
</div>