@if (error()) {
  <div class="error-alert">
    <mat-icon fontSet="material-symbols-outlined">error</mat-icon>
    <span>{{ error() }}</span>
  </div>
}

@if (user(); as user) {
  @if (isEditingUser) {
    <mage-user-details-edit
      [user]="user"
      (saved)="onUserSaved($event)"
      (cancelled)="onEditCancelled()"
    ></mage-user-details-edit>
  } @else {
    <mage-user-details-view
      [user]="user"
      (editRequested)="toggleEditUser()"
      (userChanged)="onUserChanged($event)"
    ></mage-user-details-view>
  }
}
