mat-card {
  overflow: hidden;
  --mat-card-elevated-container-color: white;
}

mat-card-content {
  padding-top: 16px;
}

mat-card-actions {
  width: 100%;
}

.item {
  cursor: pointer;
}

.item-overline {
  font: var(--mat-sys-body-small);
  color: var(--mat-sys-on-surface-variant);
}

.item-header {
  display: flex;
  flex-direction: row;
}

.item-header-text {
  font: var(--mat-sys-body-large);
  color: var(--mat-sys-primary);
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-subhead {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface-variant);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item-header-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;
  margin-right: 16px;
}

.item-thumbnail {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: auto;
  text-align: center;
}

.item-thumbnail img {
  max-width: 48px;
  max-height: 48px;
  object-fit: contain;
  display: block;
}

.item-thumbnail__fallback {
  width: 48px;
  height: 48px;
  font-size: 48px;
  line-height: 48px;
  color: var(--mat-sys-primary);
}

.item-media {
  height: 200px;
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin: 8px -16px 0 -16px;
}

.item-media img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.item-important {
  padding: 8px 0;
  display: flex;
  cursor: pointer;
  background: var(--mat-sys-secondary-container);
}

.item-important--icon {
  margin: 0 16px;
  align-self: center;
  font-size: 32px;
  color: var(--mat-sys-on-secondary-container);
}

.item-important--overline {
  color: var(--mat-sys-on-secondary-container);
  font: var(--mat-sys-body-small);
}

.item-important--description {
  color: var(--mat-sys-on-secondary-container);
}

.important {
  padding: 16px;
}

.important__text {
  width: 100%;
}

.important__actions {
  display: flex;
  justify-content: flex-end;
}

.important__actions--confirm {
  margin-left: 8px;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actions-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.actions-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  flex-grow: 1;
  justify-content: flex-end;
}

.actions-icons>*+* {
  margin-left: 8px;
}

.actions__location-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}

.actions__important--active {
  color: var(--mat-sys-secondary);
}

.actions__favorite {
  display: flex;
  align-items: center;
}

.actions__favorite:hover {
  color: var(--mat-sys-secondary);
}

.actions__favorite--active {
  color: var(--mat-sys-secondary);
}

.actions__favorite-label {
  font-size: 12px;
  margin-left: -4px;
}