:host {
  min-height: 0;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  background: #f0f0f3;
  overflow: auto;
}

.page-container {
  display: flex;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 1170px;
  width: 100%;
  min-height: 0;
}

.mat-breadcrumb {
  display: flex;
  flex-direction: row;
  padding: 16px;
  background-color: white;
}

.content {
  display: block;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  background-color: white;
}

mat-card {
  padding: 8px 0 0;
}

.feed__icon {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.action__icon {
  color: rgba(0, 0, 0, 0.6);
}

:host ::ng-deep .feed__action--search div.mat-form-field-wrapper {
  padding-bottom: 0;
}

.actions {
  display: flex;
  align-items: center;
  margin: 8px 16px 0;
}

.feed__action--search {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

.feed__action--new {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

:host ::ng-deep .mat-form-field-infix {
  width: unset;
}

:host ::ng-deep .feed__action--search .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

:host ::ng-deep mat-nav-list {
  padding-top: 0;
}

:host ::ng-deep .mat-mdc-list-item {
  min-height: 72px;
  height: auto;
  padding: 0 16px;
}

:host ::ng-deep .mat-mdc-list-item .mdc-list-item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  align-self: center;
}

:host ::ng-deep mat-nav-list .mat-mdc-list-item-title {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
}

:host ::ng-deep .mdc-list-item__primary-text {
  color: rgba(0, 0, 0, 0.87);
}

:host ::ng-deep mat-nav-list .mat-mdc-list-item-line {
  font-size: 12px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep .mat-mdc-list-item-meta {
  margin-left: 12px;
  align-self: center;
}

:host ::ng-deep .mat-mdc-list-item .mat-mdc-list-item-icon {
  align-self: center;
}

:host ::ng-deep .mat-mdc-list-item .mdc-list-item__start {
  margin-top: 0;
}

:host ::ng-deep .mat-mdc-list-item .mdc-list-item__end {
  margin-top: 0;
}

:host ::ng-deep mat-paginator {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}