<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>KeepAlive</key>
        <dict>
            <key>SuccessfulExit</key>
            <false/>
        </dict>
        <key>Label</key>
        <string>org.geointapps.mage</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/forever</string>
            <string>start</string>
            <string>-a</string>
            <string>-l</string>
            <string>/usr/local/var/mage/mage.log</string>
            <string>-e</string>
            <string>/usr/local/var/mage/mage_error.log</string>
            <string>/data/mage/mage/mage.js</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <false/>
 <key>StandardOutPath</key>
    <string>/var/log/mage.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/mage.log</string>
    <key>Debug</key>
    <true/>
    </dict>

  
  <key>OtherJobEnabled</key>
      <dict>
          <key>homebrew.mxcl.mongodb</key>
            <true/>
      </dict>
</plist>
