<div class="export-panel mdc-dialog" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title"
  aria-describedby="my-dialog-content">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <div class="modal-header">
        <h2 style="color: white;" class="mdc-dialog__title"><i class="icon-download"></i> {{$ctrl.exportEvent.selected.name}} Export</h2>
      </div>
      <div class="mdc-dialog__content" id="my-dialog-content">
        <form>
          <div ng-show="showEventError" class="alert-error" bs-alert>
            <span>Please Select an Event</span>
          </div>
          <div class="top-gap">
            <div class="mdc-typography--headline6">What to Export</div>
            <div class="mdc-form-field">
              <div class="mdc-checkbox">
                <input 
                  type="checkbox"
                  ng-model="$ctrl.exportObservations.value"
                  value="{{$ctrl.exportObservations.value}}" 
                  class="mdc-checkbox__native-control"
                  id="observation-export"/>
                <div class="mdc-checkbox__background">
                  <svg class="mdc-checkbox__checkmark"
                      viewBox="0 0 24 24">
                    <path 
                      class="mdc-checkbox__checkmark-path"
                      fill="none"
                      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                  </svg>
                  <div class="mdc-checkbox__mixedmark"></div>
                </div>
                <div class="mdc-checkbox__ripple"></div>
              </div>
              <label for="observation-export">Observations</label>
            </div>
          </div>
          <div class="mdc-form-field">
            <div class="mdc-checkbox">
              <input 
                type="checkbox"
                ng-model="$ctrl.exportLocations.value"
                value="{{$ctrl.exportLocations.value}}" 
                class="mdc-checkbox__native-control"
                id="location-export"/>
              <div class="mdc-checkbox__background">
                <svg class="mdc-checkbox__checkmark"
                    viewBox="0 0 24 24">
                  <path 
                    class="mdc-checkbox__checkmark-path"
                    fill="none"
                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                </svg>
                <div class="mdc-checkbox__mixedmark"></div>
              </div>
              <div class="mdc-checkbox__ripple"></div>
            </div>
            <label for="location-export">Locations</label>
          </div>
          <div class="top-gap">
            <div class="mdc-typography--headline6">Export Format</div>
            <div class="mdc-chip-set mdc-chip-set--choice" role="grid">
              <div class="mdc-chip mdc-chip--selected" role="row" ng-click="$ctrl.type.value = 'kml'" ng-class="{'mdc-chip--selected': $ctrl.type.value === 'kml'}">
                <div class="mdc-chip__ripple"></div>
                  <span role="gridcell">
                    <span role="button" tabindex="0" class="mdc-chip__text">KML</span>
                  </span>
              </div>
              <div class="mdc-chip" role="row" ng-click="$ctrl.type.value = 'geojson'" ng-class="{'mdc-chip--selected': $ctrl.type.value === 'geojson'}">
                <div class="mdc-chip__ripple"></div>
                  <span role="gridcell">
                    <span role="button" tabindex="0" class="mdc-chip__text">GeoJSON</span>
                  </span>
              </div>
              <div class="mdc-chip" role="row"  ng-click="$ctrl.type.value = 'csv'" ng-class="{'mdc-chip--selected': $ctrl.type.value === 'csv'}">
                <div class="mdc-chip__ripple"></div>
                  <span role="gridcell">
                    <span role="button" tabindex="0" class="mdc-chip__text">CSV</span>
                  </span>
              </div>
              <div class="mdc-chip" role="row"  ng-click="$ctrl.type.value = 'shapefile'" ng-class="{'mdc-chip--selected': $ctrl.type.value === 'shapefile'}">
                <div class="mdc-chip__ripple"></div>
                  <span role="gridcell">
                    <span role="button" tabindex="0" class="mdc-chip__text">Shapefile</span>
                  </span>
              </div>  
            </div>
          </div>
          <div class="top-gap">
            <div class="interval-select mdc-select mdc-select--outlined filter-dropdown">
              <input type="hidden" name="enhanced-select">
              <i class="mdc-select__dropdown-icon"></i>
              <div class="mdc-select__selected-text">{{$ctrl.intervalChoice.label}}</div>
              <div class="mdc-select__menu mdc-menu mdc-menu-surface filter-dropdown">
                <ul class="mdc-list">
                  <li ng-repeat="intervalChoice in $ctrl.exportOptions"
                    ng-class="{'mdc-list-item--selected': $ctrl.exportTime.label === intervalChoice.label}"
                    class="mdc-list-item" data-value="{{intervalChoice.label}}">
                    {{intervalChoice.label}}
                  </li>
                </ul>
              </div>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label class="mdc-floating-label">Time</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
          </div>
          <div ng-if="$ctrl.exportTime.custom">
            <div class="top-gap">
              <date-time field-name="Start Date/Time" date="$ctrl.startDate" local-time="$ctrl.localTime"
                on-date-picked="$ctrl.onStartDate(date, localTime)"></date-time>
            </div>
            <div class="top-gap">
              <date-time field-name="End Date/Time" date="$ctrl.endDate" local-time="$ctrl.localTime"
                on-date-picked="$ctrl.onEndDate(date, localTime)"></date-time>
            </div>
          </div>
          <div class="top-gap">
            <div class="mdc-form-field">
              <label for="advanced-export" class="mdc-typography--subtitle1">Advanced</label>
              <button class="mdc-icon-button"
                aria-label="Advanced"
                title="Advanced"
                id="advanced-export"
                aria-hidden="true"
                aria-pressed="false">
                <i class="material-icons mdc-icon-button__icon" ng-show="$ctrl.advancedOptionsExpand.value" ng-click="$ctrl.advancedOptionsExpand.value = false">expand_less</i>
                <i class="material-icons mdc-icon-button__icon" ng-show="!$ctrl.advancedOptionsExpand.value" ng-click="$ctrl.advancedOptionsExpand.value = true">expand_more</i>
              </button>
            </div>
            <div class="export-actions" ng-show="$ctrl.advancedOptionsExpand.value">
                <div class="mdc-form-field">
                  <div class="mdc-checkbox">
                    <input 
                      type="checkbox"
                      ng-model="$ctrl.exportObservationsWithAttachments.value"
                      value="{{$ctrl.exportObservationsWithAttachments.value}}" 
                      class="mdc-checkbox__native-control"
                      id="observation-attachments-export"/>
                    <div class="mdc-checkbox__background">
                      <svg class="mdc-checkbox__checkmark"
                          viewBox="0 0 24 24">
                        <path 
                          class="mdc-checkbox__checkmark-path"
                          fill="none"
                          d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                      </svg>
                      <div class="mdc-checkbox__mixedmark"></div>
                    </div>
                    <div class="mdc-checkbox__ripple"></div>
                  </div>
                  <label for="observation-attachments-export">Exclude all attachments</label>
                </div>
              </div>
              <div class="export-actions" ng-show="$ctrl.advancedOptionsExpand.value">
                <div class="mdc-form-field">
                  <div class="mdc-checkbox">
                    <input 
                      type="checkbox"
                      ng-model="$ctrl.exportFavoriteObservations.value"
                      value="{{$ctrl.exportFavoriteObservations.value}}" 
                      class="mdc-checkbox__native-control"
                      id="observation-favorites-export"/>
                    <div class="mdc-checkbox__background">
                      <svg class="mdc-checkbox__checkmark"
                          viewBox="0 0 24 24">
                        <path 
                          class="mdc-checkbox__checkmark-path"
                          fill="none"
                          d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                      </svg>
                      <div class="mdc-checkbox__mixedmark"></div>
                    </div>
                    <div class="mdc-checkbox__ripple"></div>
                  </div>
                  <label for="observation-favorites-export">Export only your favorite observations</label>
                </div>
              </div>
              <div class="export-actions" ng-show="$ctrl.advancedOptionsExpand.value">
                <div class="mdc-form-field">
                  <div class="mdc-checkbox">
                    <input 
                      type="checkbox"
                      ng-model="$ctrl.exportImportantObservations.value"
                      value="{{$ctrl.exportImportantObservations.value}}" 
                      class="mdc-checkbox__native-control"
                      id="observation-important-export"/>
                    <div class="mdc-checkbox__background">
                      <svg class="mdc-checkbox__checkmark"
                          viewBox="0 0 24 24">
                        <path 
                          class="mdc-checkbox__checkmark-path"
                          fill="none"
                          d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                      </svg>
                      <div class="mdc-checkbox__mixedmark"></div>
                    </div>
                    <div class="mdc-checkbox__ripple"></div>
                  </div>
                  <label for="observation-important-export">Export only observations flagged as important</label>
                </div>
              </div>
          </div>
        </form>
      </div>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
          <span class="mdc-button__label">Cancel</span>
        </button>
        <button type="button" class="mdc-button mdc-dialog__button export-button" data-mdc-dialog-action="yes"
          ng-click="$ctrl.exportData($event)" data-mdc-dialog-button-default data-mdc-dialog-initial-focus>
          <span class="mdc-button__label">OK</span>
        </button>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>