<div cl***REMOVED***="modal-header">
  <h3 cl***REMOVED***="modal-title">Export</h3>
</div>

<div cl***REMOVED***="modal-body">
  <form>
    <div ng-show="showEventError" cl***REMOVED***="alert-error" bs-alert>
      <span>Please Select an Event</span>
    </div>

    <div cl***REMOVED***="form-group">
      <div cl***REMOVED***="row">
        <div cl***REMOVED***="col-md-6">
          <label>Event</label>
          <ui-select ng-model="exportEvent.selected" theme="bootstrap">
            <ui-select-match placeholder="Select an event to export">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="event in events | orderBy: 'name' | filter: $select.search">
              <div ng-bind-html="event.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div cl***REMOVED***="checkbox">
      <label>
        <input type="checkbox" ng-model="exportObservations.value">Observations
      </label>
    </div>

    <div cl***REMOVED***="checkbox">
      <label>
        <input type="checkbox" ng-model="exportLocations.value">Locations
      </label>
    </div>

    <div cl***REMOVED***="form-group">

      <div cl***REMOVED***="row">
        <div cl***REMOVED***="col-md-6">
          <label>Time Interval</label>
          <select cl***REMOVED***="form-control" ng-model="exportTime" ng-options="o.label for o in exportOptions"></select>
        </div>
      </div>
    </div>

    <div ng-show="exportTime.custom">
      <div cl***REMOVED***="form-group">

        <div cl***REMOVED***="row">
          <div cl***REMOVED***="col-md-6">
            <label cl***REMOVED***="control-label">Start Date/Time</label>
            <p cl***REMOVED***="input-group">
              <input type="text" cl***REMOVED***="form-control" datepicker-popup="MM/dd/yyyy HH:mm:ss" ng-model="startDate" is-open="startDatePopup.open" close-text="Close" />
              <span cl***REMOVED***="input-group-btn">
                <button type="button" cl***REMOVED***="btn btn-default" ng-click="openStartDate($event)"><i cl***REMOVED***="fa fa-calendar"></i></button>
              </span>
            </p>
          </div>
          <div cl***REMOVED***="col-md-6">
            <label cl***REMOVED***="control-label">&nbsp;</label>

            <p cl***REMOVED***="input-group">
              <button type="button" ng-click="exportLocalTime = !exportLocalTime" cl***REMOVED***="btn btn-default">
                <i cl***REMOVED***="fa fa-clock-o"></i>
                <span ng-show="exportLocalTime"> Local (GMT {{localOffset}})</span>
                <span ng-show="!exportLocalTime"> GMT (GMT +00:00)</span>
              </button>
            </p>
          </div>
        </div>

        <div cl***REMOVED***="row">
          <div cl***REMOVED***="col-md-6">
            <label cl***REMOVED***="control-label">End Date/Time</label>
            <p cl***REMOVED***="input-group">
              <input type="text" cl***REMOVED***="form-control" datepicker-popup="MM/dd/yyyy HH:mm:ss" ng-model="endDate" is-open="endDatePopup.open" close-text="Close" />
              <span cl***REMOVED***="input-group-btn">
                <button type="button" cl***REMOVED***="btn btn-default" ng-click="openEndDate($event)"><i cl***REMOVED***="fa fa-calendar"></i></button>
              </span>
            </p>
          </div>
          <div cl***REMOVED***="col-md-6">
            <label cl***REMOVED***="control-label">&nbsp;</label>

            <p cl***REMOVED***="input-group">
              <button type="button" ng-click="exportLocalTime = !exportLocalTime" cl***REMOVED***="btn btn-default">
                <i cl***REMOVED***="fa fa-clock-o"></i>
                <span ng-show="exportLocalTime"> Local (GMT {{localOffset}})</span>
                <span ng-show="!exportLocalTime"> GMT (GMT +00:00)</span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>

<div cl***REMOVED***="modal-footer ng-scope">
  <button cl***REMOVED***="btn btn-default pull-left" ng-click="closeModal()">Close</button>

  <button cl***REMOVED***="btn btn-default" ng-disabled="exporting.kml" ng-click="exportData($event, 'kml')">
    <i ng-cl***REMOVED***="exporting.kml && 'fa fa-spinner fa-pulse' || 'icon-download'"></i> {{exporting.kml && "Exporting..." || "KML"}}
  </button>
  <button cl***REMOVED***="btn btn-default" ng-disabled="exporting.geojson" ng-click="exportData($event, 'geojson')">
    <i ng-cl***REMOVED***="exporting.geojson && 'fa fa-spinner fa-pulse' || 'icon-download'"></i> {{exporting.geojson && "Exporting..." || "GeoJSON"}}
  </button>
  <button cl***REMOVED***="btn btn-default" ng-disabled="exporting.csv" ng-click="exportData($event, 'csv')">
    <i ng-cl***REMOVED***="exporting.csv && 'fa fa-spinner fa-pulse' || 'icon-download'"></i> {{exporting.csv && "Exporting..." || "CSV"}}
  </button>
  <button cl***REMOVED***="btn btn-default" ng-disabled="exporting.shapefile" ng-click="exportData($event, 'shapefile')">
    <i ng-cl***REMOVED***="exporting.shapefile && 'fa fa-spinner fa-pulse' || 'icon-download'"></i> {{exporting.shapefile && "Exporting..." || "Shapefile"}}
  </button>
</div>
