mat-form-field {
  width: 100%;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 8px;
}

.time-field {
  width: 100%;
  margin-bottom: -1.25em;
}

.datetime {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.datetime__pickers {
  flex: 1;
}

.timezone__button {
  width: 120px;
  margin-top: 18px;
}
