<div class="dialog-title" mat-dialog-title>
  <span>Delete {{feed.title}}?</span>
</div>

<div mat-dialog-content>
  <p class="info-hint">
    <mat-icon fontSet="material-symbols-outlined">info</mat-icon>
    The service attached to this feed will NOT be deleted.
  </p>
</div>

<mat-dialog-actions align="end">
  <button matButton type="button" [mat-dialog-close]="false" cdkFocusInitial data-testid="cancel-button">Cancel</button>
  <button matButton type="button" class="delete-button" [mat-dialog-close]="true" data-testid="delete-button">
    <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
    Delete Feed
  </button>
</mat-dialog-actions>
