mat-toolbar {
  background-color: white;

  button {
    color: var(--mat-sys-primary);
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.item-content {
  position: absolute;
  top: 64px;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
}

.item-card {
  margin: 8px;
  position: relative;
  overflow: hidden;
  --mat-card-elevated-container-color: white;
}

.item-important {
  margin-bottom: 16px;
  padding: 8px 0;
  display: flex;
  background: var(--mat-sys-secondary-container);
}

.item-important--icon {
  margin: 0 16px;
  align-self: center;
  font-size: 32px;
  color: var(--mat-sys-on-secondary-container);
}

.item-important--overline {
  font: var(--mat-sys-body-small);
  color: var(--mat-sys-on-secondary-container);
}

.item-important--description {
  color: var(--mat-sys-on-secondary-container);
}

.item-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}

.item-header-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.item-overline {
  font: var(--mat-sys-body-small);
  color: var(--mat-sys-on-surface-variant);
  display: flex;
  gap: 4px;
}

.item-header-text {
  font: var(--mat-sys-body-large);
  color: var(--mat-sys-primary);
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-thumbnail {
  width: 72px;
  margin-bottom: auto;
  text-align: center;
}

.item-thumbnail img {
  max-width: 40px;
}

.item-subhead {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface-variant);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item-map {
  margin: 0 -16px;
}

mat-divider {
  margin: 0 -16px;
}

.item-map__view {
  position: relative;
  width: 100%;
  height: 200px;
}

.item-location {
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-location-accuracy {
  margin-left: 16px;
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface-variant);
}

.item-location-provider {
  text-transform: uppercase;
}


mat-card-actions {
  width: 100%;
}

.favorites {
  color: var(--mat-sys-on-surface-variant);
}

.important {
  margin-top: 16px;
}

.important__text {
  width: 100%;
}

.important__actions {
  display: flex;
  justify-content: flex-end;
}

.important__actions--confirm {
  margin-left: 8px;
}

.actions-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 8px;
}

.actions__location-button {
  color: var(--mat-sys-primary);
  padding: 4px;
}

.actions__location-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
  margin-right: 4px;
  margin-top: -2px;
}

.actions__important--active {
  color: var(--mat-sys-secondary);
}

.actions__favorite--active {
  color: var(--mat-sys-secondary);
}

.form-card {
  margin: 8px;
}
