<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="navigation">
      <button mat-icon-button class="navigation__icon" (click)="onClose()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="navigation__title">
        <span>{{primaryFeedField?.value}}</span>
      </div>
  
      <button *ngIf="canEdit" mat-button (click)="editObservation()">EDIT</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="item-content">
    <mat-card class="item-card">
      <div *ngIf="observation?.important" class="item-important">
        <mat-icon class="item-important--icon">flag</mat-icon>
        <div>
          <div>
            <span class="item-important--overline">Flagged By {{observation?.important?.user?.displayName}}</span>
          </div>
          <div class="item-important--description">
            {{observation?.important?.description}}
          </div>
        </div>
      </div>

      <div class="item-header">
        <div class="item-header-content">
          <div class="item-overline">
            <div>
              <span>{{observation?.user?.displayName}}</span>
              <span>·</span>
              <span>{{observation?.properties?.timestamp | moment}}</span>
            </div>
          </div>

          <div *ngIf="primaryFeedField.value">
            <div class="item-header-text">
              <span [ngSwitch]="primaryFeedField.field?.type">
                <span *ngSwitchCase="'geometry'">
                  {{primaryFeedField?.value | geometry:5}}
                </span>
                <span *ngSwitchDefault>
                  {{primaryFeedField?.value}}
                </span>
              </span>
            </div>
          </div>

          <div *ngIf="secondaryFeedField.value">
            <div class="item-subhead">
              <span [ngSwitch]="secondaryFeedField.field?.type">
                <span *ngSwitchCase="'geometry'">
                  {{secondaryFeedField?.value | geometry:5}}
                </span>
                <span *ngSwitchDefault>
                  {{secondaryFeedField?.value}}
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="item-thumbnail">
          <img [src]="observation.style.iconUrl" />
        </div>
      </div>

      <div class="item-map">
        <div class="item-map__view">
          <map-clip [feature]="observation"></map-clip>
        </div>
      </div>

      <div class="item-location">
        <button mat-button color="primary" (click)="onObservationLocationClick()" class="actions__location-button">
          <mat-icon class="actions__location-icon">my_location</mat-icon> {{observation?.geometry | geometry:5}}
        </button>
        <span class="item-location-accuracy" *ngIf="observation?.properties?.accuracy">
          <span class="item-location-provider">{{observation.properties?.provider}} </span>
          <span>&#177;</span>
          <span> {{observation.properties?.accuracy | number:'0.0-5'}}m</span>
        </span>
      </div>

      <mat-divider></mat-divider>

      <div *ngIf="importantEditor.open" class="important" @important>
        <mat-form-field appearance="outline" class="important__text">
          <mat-label>Important Description</mat-label>
          <textarea matInput [(ngModel)]="importantEditor.description"></textarea>
        </mat-form-field>
        <div class="important__actions">
          <button mat-button color="primary" (click)="clearImportant()">{{observation?.important ? 'Remove' : 'Cancel'}}</button>
          <button mat-flat-button color="primary" (click)="markAsImportant()" class="important__actions--confirm">{{observation?.important ? 'Update' : 'Flag As Important'}}</button>
        </div>
      </div>

      <mat-card-actions>
        <div class="actions">
          <div *ngIf="observation?.favoriteUserIds?.length" class="favorites" (click)="showFavoriteUsers()" matRipple matRippleCentered="true" matRippleUnbounded="true">
            <span class="favorites__count">{{observation?.favoriteUserIds?.length}}</span>
            <span class="favorites__label">{{observation?.favoriteUserIds?.length === 1 ? "FAVORITE": "FAVORITES"}}</span>
          </div>
          <div class="actions-icons">
            <div *ngIf="canEditImportant">
              <button mat-icon-button (click)="onFlagAsImportant()" class="actions--inactive" [ngClass]="{'actions__important--active': observation.important}" matTooltip="Flag As Important" matTooltipPosition="above">
                <mat-icon>{{observation.important ? 'flag' : 'outlined_flag'}}</mat-icon>
              </button>
            </div>

            <div class="actions__favorite">
              <button mat-icon-button (click)="toggleFavorite()" class="actions--inactive" [ngClass]="{'actions__favorite--active': isUserFavorite}" matTooltip="Add To Favorites" matTooltipPosition="above">
                <mat-icon>{{isUserFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
              </button>
              <span *ngIf="favorites" class="actions__favorite-label">{{favorites}}</span>
            </div>

            <button *ngIf="canEdit" mat-icon-button (click)="onOptions()" class="actions--inactive">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>

    <div class="form-card" *ngFor="let form of observationForm.forms; let i = index">
      <observation-view-form [form]="form" [attachments]="observation.attachments" [expand]="i === 0"></observation-view-form>
    </div>
  </div>
</div>