@import '~@angular/material/theming';
@import "variables.scss";

.field {
  margin-bottom: 8px;
}

.header__title {
  margin-left: -16px;
  color: mat-color($app-primary);
}

.form-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 24px;
}

.form-header-summary {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;
}

.form-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 0 auto;
  margin-bottom: 8px;
}

.form-header-title__icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin-right: 8px;
}

.form-header-title__text {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.75rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.1666666667em;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .6);
}

.form-header-summary__primary {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, .87);
  padding-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.form-header-summary__secondary {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, .6);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.form-header-actions {
  display: flex;
  align-items: flex-end;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.form-content {
  margin-top: 16px;
}