:host {
  --mat-card-elevated-container-color: white;
}

.field {
  margin-bottom: 8px;
}

.form-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.form-header-summary {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;
}

.form-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 0 auto;
  margin-bottom: 8px;
}

.form-header-title__icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin-right: 8px;
}

.form-header-title__text {
  font: var(--mat-sys-label-small);
  color: var(--mat-sys-on-surface-variant);
  text-transform: uppercase;
}

.form-header-summary__primary {
  font: var(--mat-sys-title-medium);
  color: var(--mat-sys-primary);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.form-header-summary__secondary {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface-variant);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.form-header-actions {
  display: flex;
  align-items: flex-start;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.form-content {
  margin-top: 16px;
}
