@use '@angular/material' as mat;
@import "variables.scss";

mat-form-field {
  width: 100%;
}

.auth-button {
  width: 100%;
}

.signup {
  display: flex;
  margin-top: 32px;
  justify-content: center;
  gap: 8px;
}

.signup-text {
  opacity: 60%;
}

.signup-button {
  cursor: pointer;
  color: $primary;
}

.error-container {
  overflow: hidden;
}

.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  color: rgb(96 17 10);
  background-color: rgb(249 220 215);
  border-radius: 4px;
  // margin-bottom: 16px;
  padding: 0 16px;
}

.error__icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.error__message {
  flex: 1;
}