
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__field {
    width: 100%;
  }

  &__button {
    width: 100%;
  }

  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 24px 0;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid var(--mat-sys-error);
    color: var(--mat-sys-error);
    overflow: hidden;
  }

  &__error-icon {
    font-size: 48px;
    font-variation-settings: 'fill' 0, 'wght' 400, 'grad' 0, 'opsz' 48;
  }

  &__error-message {
    text-align: center;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    row-gap: 8px;
    margin-top: 16px;
    flex-wrap: wrap;
    text-align: center;

    div {
      display: flex;
      gap: 8px;
    }
  }

  &__footer-text {
    color: var(--mat-sys-on-surface-variant);
  }

  &__footer-link {
    color: var(--mat-sys-primary);
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }
  }
}

:host ::ng-deep a {
  color: var(--mat-sys-error);
  cursor: pointer;
  text-decoration: underline;
}
