<div class="container">
    <div>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" [formControl]="username" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password" [formControl]="password" required>
    </mat-form-field>
  </div>

  <div>
    <button class="auth-button" mat-flat-button color="primary" (click)="onSignin()">Sign In</button>
  </div>

  <div *ngIf="error" class="error-container" [@slide]>
    <div class="error" >
      <mat-icon class="error__icon">error</mat-icon>
      <div class="error__message">
        <p>{{error?.message}}</p>
        <p *ngIf="contact" [innerHTML]="contact"></p>
      </div>
    </div>
  </div>

  <div *ngIf="landing" class="signup">
    <span class="signup-text">New to Mage?</span>
    <a class="signup-button" (click)="onSignup()">Sign Up Now</a>
  </div>
</div>