<div class="signup-container">
  <div class="welcome">
    <div class="welcome__title">New to Mage?</div>
    <div class="welcome__message">Let's set up your account.</div>
  </div>

  <form class="signup" [formGroup]="signup">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" formControlName="username" (blur)="getCaptcha()" required />
      @if (signup.controls.username.touched && signup.controls.username.hasError('required')) {
        <mat-error>
          Username is required
        </mat-error>
      }
      @if (signup.controls.username.touched && signup.controls.username.hasError('exists')) {
        <mat-error>
          Username already exists
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Display Name</mat-label>
      <input matInput placeholder="Display Name" formControlName="displayName" required />
      @if (signup.controls.displayName.touched && signup.controls.displayName.hasError('required')) {
        <mat-error>
          Display name is required
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" />
      @if (signup.controls.email.touched && signup.controls.email.hasError('email')) {
        <mat-error>
          Must be a valid email address
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Phone" formControlName="phone" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="password-form-field">
      <mat-label>Password</mat-label>
      <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password"
        required />
      <button matIconButton type="button" matSuffix (click)="showPassword = !showPassword">
        <mat-icon>{{
          showPassword ? 'visibility_off' : 'visibility'
          }}</mat-icon>
      </button>
      <button matIconButton [matTooltip]="passwordTooltipText" matSuffix>
        <mat-icon>info</mat-icon>
      </button>

      @if (signup.controls.password.touched && signup.controls.password.errors; as errors) {
        <mat-error>
          @for (msg of getPasswordErrorMessages(errors); track msg) {
            <div>
              {{ msg }}
            </div>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password"
        formControlName="passwordconfirm" required />
      <button matIconButton type="button" matSuffix (click)="showConfirmPassword = !showConfirmPassword">
        <mat-icon>{{
          showConfirmPassword ? 'visibility_off' : 'visibility'
          }}</mat-icon>
      </button>
      @if (signup.controls.passwordconfirm.touched && signup.controls.passwordconfirm.hasError('required')) {
        <mat-error>
          Password confirmation is required
        </mat-error>
      }
      @if (signup.controls.passwordconfirm.touched && signup.controls.passwordconfirm.hasError('match')) {
        <mat-error>
          Passwords must match
        </mat-error>
      }
    </mat-form-field>

    <div class="password-strength">
      <div class="password-strength__header">
        <div class="password-strength__label">Password Strength</div>
        <div class="password-strength__value">{{ passwordStrength()?.text }}</div>
      </div>
      <mat-progress-bar mode="determinate" [value]="passwordStrength()?.value"
        [ngStyle]="{ '--password-bar-color': passwordStrength()?.color }" class="custom-password-bar">
      </mat-progress-bar>
    </div>

    <div class="auth-captcha-container">
      @if (loadingCaptcha()) {
        <div class="auth-captcha-progress">
          <div class="auth-captcha-progress__container">
            <div class="auth-captcha-progress-text">Generating Captcha...</div>
            <mat-progress-bar mode="indeterminate" class="auth-captcha-progressbar"></mat-progress-bar>
          </div>
        </div>
      }

      @if (captcha().uri && !loadingCaptcha()) {
        <div class="auth-captcha">
          <img [src]="captcha().uri" alt="captcha image" width="100%" height="100%" />
        </div>
      }

      @if (captcha().uri) {
        <div class="auth-captcha-refresh">
          <button matIconButton (click)="getCaptcha()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      }
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Captcha</mat-label>
      <input matInput placeholder="Captcha" formControlName="captchaText" required />
      @if (signup.controls.captchaText.touched && signup.controls.captchaText.hasError('required')) {
        <mat-error>
          Captcha is required
        </mat-error>
      }
      @if (signup.controls.captchaText.touched && signup.controls.captchaText.hasError('invalid')) {
        <mat-error>
          Invalid captcha
        </mat-error>
      }
    </mat-form-field>

    <div class="actions">
      <button matButton="outlined" type="button" class="actions__button" (click)="onCancel()">
        Cancel
      </button>
      <button matButton="filled" class="actions__button" type="submit" [disabled]="signup.invalid"
        (click)="onSignup()">
        Signup
      </button>
    </div>
  </form>
</div>
