<div class="date-time-picker">
  <div class="date-picker-input mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
    <input type="text" class="mdc-text-field__input date-input" ng-model="$ctrl.dateInputValue" ng-change="$ctrl.inputChanged()" ng-required="$ctrl.required">
    <i class="material-icons mdc-text-field__icon" tabindex="0" role="button" ng-click="$ctrl.openPicker()">event</i>
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label for="my-input" class="mdc-floating-label">{{$ctrl.fieldName}}</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
  <button class="mdc-button mdc-button--outlined time-zone-button" ng-click="$ctrl.updateTimeZone()">
    <span class="mdc-button__label">
      <span ng-show="$ctrl.timeZone === 'local'">Local ({{$ctrl.localOffset}})</span>
      <span ng-show="$ctrl.timeZone === 'gmt'">GMT (+00:00)</span>
    </span>
    <i class="material-icons mdc-button__icon" aria-hidden="true">access_time</i>
  </button>
</div>