
:host {
  width: 100%;
}

.authorization {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorization.compact {
  gap: 16px;

  .header {
    align-items: flex-start;
  }
}

.header__title {
  font: var(--mat-sys-headline-large);
  color: var(--mat-sys-primary);
  margin-bottom: 16px;
}

.header__message {
  font: var(--mat-sys-body-large);
  color: var(--mat-sys-on-surface-variant);
}

.content {
  flex: 1;
  min-height: 0;
}

.authorize {
  display: flex;
  justify-content: flex-end;
}

mat-form-field {
  width: 100%;
}