@import '~@angular/material/theming';
@import "variables.scss";

mat-radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

mat-radio-button {
  margin-right: 8px;
}

#cancel-button {
  margin-right: 8px;
}

#ok-button {
  margin-left: 8px;
}

[mat-dialog-actions] {
  display: flex;
  justify-content: right;
}