@import '~@angular/material/theming';
@import "variables.scss";

#cancel-button {
  margin-right: 8px;
}

#ok-button {
  margin-left: 8px;
}

#ok-button:not(:disabled) {
  background-color: #1E88E5 !important;
  color: white;
}

[mat-dialog-actions] {
  display: flex;
  justify-content: right;
}

mat-radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

mat-radio-button {
  margin-right: 8px;
}

#time-field {
  width: 350px;
}