<section class="mat-typography">
    <h1 mat-dialog-title>{{exportEvent.selected.name}} Export</h1>
</section>
<section class="mat-typography">
    <mat-dialog-content>
        <mat-card class="mat-elevation-z0">
            <section>
                <h2>What to Export</h2>
                <mat-list>
                    <mat-list-item>
                        <mat-checkbox [(ngModel)]="exportObservations" color="primary">
                            Observations
                        </mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox [(ngModel)]="exportLocations" color="primary">
                            Locations
                        </mat-checkbox>
                    </mat-list-item>
                </mat-list>
            </section>
            <section>
                <h2>Export Format</h2>
                <mat-radio-group aria-label="Export format" [(ngModel)]="exportFormat">
                    <mat-radio-button *ngFor="let format of exportFormats" [value]="format" color="primary">
                        {{format}}</mat-radio-button>
                </mat-radio-group>
            </section>
            <section>
                <h2>Time</h2>
                <mat-form-field id="time-field" appearance="outline">
                    <mat-label>Time Range</mat-label>
                    <mat-select [(ngModel)]="exportTime">
                        <mat-option *ngFor="let option of exportTimeOptions" [value]="option.key">{{option.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
            <section *ngIf="exportTime === 'custom'">
                <section>
                    <div class="time-group">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Start Date/Time</mat-label>
                                <input matInput [ngxMatDatetimePicker]="picker" (dateChange)="onStartDate($event)">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <ngx-mat-datetime-picker #picker [showSeconds]="true"></ngx-mat-datetime-picker>
                            </mat-form-field>
                        </div>
                        <div>
                            <button class="mat-stroked-button locale-button" (click)="toggleTime()">
                                {{currentOffset}}<mat-icon>access_time</mat-icon>
                            </button>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="time-group">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>End Date/Time</mat-label>
                                <input matInput [ngxMatDatetimePicker]="picker2" (dateChange)="onEndDate($event)">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <ngx-mat-datetime-picker #picker2 [showSeconds]="true"></ngx-mat-datetime-picker>
                            </mat-form-field>
                        </div>
                        <div>
                            <button class="mat-stroked-button locale-button" (click)="toggleTime()">
                                {{currentOffset}}<mat-icon>access_time</mat-icon>
                            </button>
                        </div>
                    </div>
                </section>
            </section>
            <section>
                <mat-expansion-panel (opened)="advancedOptionsExpanded = true"
                    (closed)="advancedOptionsExpanded = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Advanced
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item>
                            <mat-checkbox [(ngModel)]="excludeObservationsAttachments" color="primary">
                                Exclude all attachments
                            </mat-checkbox>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-checkbox [(ngModel)]="exportFavoriteObservations" color="primary">
                                Export only your favorite observations
                            </mat-checkbox>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-checkbox [(ngModel)]="exportImportantObservations" color="primary">
                                Export only observations flagged important
                            </mat-checkbox>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
            </section>
        </mat-card>
        <br>
    </mat-dialog-content>
</section>
<section class="mat-typography">
    <mat-dialog-actions>
        <button class="mat-button" id="cancel-button" mat-dialog-close>CANCEL</button>
        <button class="mat-button mat-primary" id="ok-button" (click)="exportData($event)" cdkFocusInitial>OK</button>
    </mat-dialog-actions>
</section>