@import '~@angular/material/theming';
@import "variables.scss";

table {
  width: 100%;
}

td {
  width: 25%;
}

tr.export-detail-row {
  height: 0;
}

tr.export-row:not(.export-expanded-row):hover {
  background: whitesmoke;
}

tr.export-row:not(.export-expanded-row):active {
  background: #efefef;
}

.export-row td {
  border-bottom-width: 0;
}

.export-detail {
  overflow: hidden;
  display: flex;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

#close-button {
  margin-right: 8px;
}

#new-button {
  margin-left: 8px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 289;
  display: flex;
  align-items: center;
  justify-content: center;
}

[mat-dialog-actions] {
  display: flex;
  justify-content: right;
}

[mat-paginator] {
  display: flex;
  justify-content: right;
}