@import '~@angular/material/theming';
@import "variables.scss";

.export-row {
  position: relative;
}

.export-row:not(.expanded) {
  cursor: pointer;
}

.export-row:not(.expanded):hover {
  background: #f5f5f5;
}

.export-row.expanded {
  border-bottom-color: transparent;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 289;
  display: flex;
  align-items: center;
  justify-content: center;
}

#close-button {
  margin-right: 8px;
  color: #1E88E5;
}

#new-button {
  margin-left: 8px;
}

#new-button:not(:disabled) {
  background-color: #1E88E5 !important;
  color: white;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

[mat-dialog-actions] {
  display: flex;
  justify-content: right;
}

mat-table {
  overflow: auto;
  max-height: 500px;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-paginator {
  display: flex;
  justify-content: right;
}

mat-list {
  padding-left: 20px;
}

mat-list-item {
  margin-left: 10px;
}

mat-list mat-icon {
  margin-right: 5px;
  transform: scale(.75);
}