<mat-toolbar class="admin-breadcrumbs">
  @for (breadcrumb of breadcrumbs; track breadcrumb.title; let i = $index) {
    @if (breadcrumb.icon) {
      <mat-icon fontSet="material-symbols-outlined">{{ breadcrumb.icon }}</mat-icon>
    }

    @if (breadcrumb.iconClass) {
      <i [ngClass]="breadcrumb.iconClass.split(' ')" aria-hidden="true"></i>
    }

    <div>
      @if (breadcrumb.route && (breadcrumb.route | slice:0:1).length) {
        <a class="admin-breadcrumb" [routerLink]="breadcrumb.route">
          {{ breadcrumb.title }}
        </a>
      } @else {
        <span class="admin-breadcrumb admin-breadcrumb--active">
          {{ breadcrumb.title }}
        </span>
      }
    </div>

    @if (i < breadcrumbs.length - 1) {
      <span class="admin-breadcrumb__separator">/</span>
    }
  }
  <span class="breadcrumb-spacer"></span>
  <ng-content></ng-content>
</mat-toolbar>
