.item {
  min-height: 72px;
  width: 100%;
  cursor: pointer;
}

:host ::ng-deep .item .mdc-list-item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.mat-body-1 {
  opacity: .60;
}

.mat-body-2 {
  opacity: .87;
}

.overline {
  font: 500 10px/1.2 Roboto, "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  opacity: .60;
}

.action {
  color: rgba(0, 0, 0, 0.6);
}