<mat-list>
  <mat-list-item class="item" (click)="onInfo()">
    <ng-container *ngIf="hasContent; else noContent">
      <span matListItemTitle class="overline">{{timestamp | moment}}</span>
      <span matListItemLine class="mat-body-2">{{primary || "&nbsp;"}}</span>
      <span matListItemLine class="mat-body-1">{{secondary || "&nbsp;"}}</span>
    </ng-container>

    <ng-template #noContent>
      <span matListItemTitle>No Content</span>
      <span matListItemLine>&nbsp;</span>
    </ng-template>

    <button mat-icon-button matListItemMeta>
      <mat-icon ngClass="action">info_outline</mat-icon>
    </button>
  </mat-list-item>
</mat-list>