<div class="popup">
  <div class="popup__content">
    <ng-container *ngIf="hasContent; else noContent">
      <span class="item__timestamp">{{timestamp | moment}}</span>
      <span class="item__primary">{{primary || "&nbsp;"}}</span>
      <span class="item__secondary">{{secondary || "&nbsp;"}}</span>
    </ng-container>
    <ng-template #noContent>
      <span class="item__primary">{{feed.title}}</span>
    </ng-template>
  </div>

  <button matIconButton (click)="onInfo()">
    <mat-icon class="action">info_outline</mat-icon>
  </button>
</div>
