.popup {
  display: flex;
  align-items: center;
  min-height: 88px;
  padding: 8px 8px 8px 16px;
  gap: 8px;
}

.popup__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.item__timestamp {
  font: var(--mat-sys-body-small);
  color: var(--mat-sys-on-surface-variant);
}

.item__primary {
  font: var(--mat-sys-body-large);
  color: var(--mat-sys-on-surface);
}

.item__secondary {
  font: var(--mat-sys-body-small);
  color: var(--mat-sys-on-surface-variant);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action {
  color: var(--mat-sys-primary);
}
