html
  head
    style.
      body { margin-top: 48px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}
      a { font-size: 48px; }
      .header { text-align: center; font-size: 48px;  color: #1E88E5; margin-bottom: 60px; font-weight: bolder;}
      .content { text-align: center; }

  body
    p.header ${strategy.name} Authentication Successful
    .content
      a(href=`${uri}`) Continue to MAGE
