@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "~leaflet-geosearch/assets/css/leaflet.css";
@import "~leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.css";
@import "~leaflet-control-geocoder/dist/Control.Geocoder.css";

.leaflet-control-geocoder-icon {
  border-radius: 4px;
  width: 26px;
  height: 26px;
  border: none;
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  color: #365F8C;
}


.leaflet-control-geocoder-icon::before {
   font-family: "FontAwesome";
   content: "\f002";
   font-size: 1.1em;
   margin-left: 2px;
}

.leaflet-control-geocoder-throbber .leaflet-control-geocoder-icon {
 background-image: none;
}

.leaflet-control-geocoder-throbber .leaflet-control-geocoder-icon::before {
  font-family: "FontAwesome";
  font-size: 1.1em;
  content: "\f110";
  display: block;
  margin-top: 4px;
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

.leaflet-control-geocoder-clear {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.leaflet-bar a, .leaflet-bar a:hover {
    color: #365F8C;
}

.leaflet-control-inverse, a.leaflet-control-inverse {
  background: #204976;
}

.map-clip {
  width: 100%;
  height: 170px;
  display: flex;
  position: relative;
  margin-top: 5px;
}

@media(max-width:768px){
  .map-clip {
    display: none;
  }
}

@-ms-viewport {
	width: device-width;
}

.observation-item {
  display: flex;
  flex-direction: row;
}

.observation-item-content {
  flex: 1;
  min-width: 0;
}

.observation-item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 150px;
  text-align: right;
}

.user-item {
  display: flex;
  flex-direction: row;
}

.user-item-content {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 0;
}

.user-item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-popup {
  display: flex;
}

.user-popup-content {
  flex: 1 1 auto;
  margin-left: 15px;
  max-width: 200px;
}

.user-popup-actions {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.observation-popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.observation-popup-content {
  flex: 1 1 auto;
  max-width: 200px;
}

.observation-popup-actions {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploaded {
  padding: 0;
  height: 14px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
  border-image: initial;
}

.mage-icon {
	margin-left: -17px;
}

.mage-icon-image {
  transform: translate(0, -100%);
	width: 35px;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.marker-tooltip {
  transform: translate(0, -100%);
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 7px;
  margin-left: 40px;
  margin-top: 3px;
  opacity: .7;
  border-radius: 3px;
  width: 200px;
  text-align: center;
}

.leaflet-vertex-icon {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #999;
}

.leaflet-middle-icon {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #999;
}

.marker-icon {
  border: 1px solid #777;
}

.marker-icon:focus {
  border: 1px solid #000;
  background-color: transparent;
}

.selected-marker {
  border: 1px solid #999;
  background-color: #00e976 !important;
}

.cursor-marker:after {
  content: 'Click to draw vertex';
  background-color: rgba(128, 128, 128 ,.2);
  font-size: 1.3em;
  display: block;
  width: 155px;
  margin-left: 20px;
  margin-top: -4px;
  border-radius: 3px;
  padding-left: 5px;
}

.user-map-icon {
  font-family: RobotoMono;
  font-weight: 500;
}

.location-popup {
	color: #345477;
	width: 265px;
}

.location-popup-info i {
	font-size: 17px;
	color: #345477;
}
