html, body, div.leaflet-container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.navbar {
	margin-bottom: 0;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

/* Buttons */
@media all and (max-width: 699px) {
	#settings {
		position: absolute;
		height: 50px;
		width: 50px;
		top: 16px;
		right: 5px;
		z-index: 2000;
	}	
}

@media all and (min-width: 700px) {
	#settings {
		position: absolute;
		height: 50px;
		width: 50px;
		top: 56px;
		right: 5px;
		z-index: 2000;
	}
}

#geo {
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 5px;
	left: 5px;
	z-index: 1999;
}

#goto-address {
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 5px;
	left: 68px;
	z-index: 1999;
}

#new-observation {
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 5px;
	left: 133px;
	z-index: 1999;
}

#refresh-points {
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 5px;
	left: 198px;
	z-index: 1999;
}

#fft-btn {
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 5px;
	left: 263px;
	z-index: 1999;
}

/* Panels and their contents */
.panel {
	padding: 20px;
	left: 5px;
	top: 5px;
	z-index: 2000;
	overflow: auto;
	background: #D0E7FF;
	color: #5278A2;
	position: absolute;
	height: 90%;
	width: 85%;
	border: 2px solid #5278A2;
}

@media all and (min-width: 520px) {
	.panel {
		margin: 45px;
	}
}

.panel-large {
	max-height: 400px;
	max-width: 430px;
}

.panel-medium {
	height: 100px;
	max-width: 430px;
}

.panel-small {
	height: 35px;
	max-width: 430px;
}

#observation-panel > form > span > button {
	width: 130px;
}

.attachment {
	margin-bottom: 15px;
}

/* Progress bar stuff */
.percent {
    position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}
.progress-bar {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}
.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}

@media all and (max-width: 520px) {
	.btn-mobile {
		height: 45px;
		width: 100%;
	}

	.btn-mobile-half {
		height: 45px;
		width: 45%;
		padding-right: 15px;
	}
}

