html, body, div.leaflet-container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.navbar {
	margin-bottom: 0;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

/* Buttons */
@media all and (max-width: 699px) {
	#settings {
		position: absolute;
		height: 50px;
		width: 50px;
		top: 16px;
		right: 5px;
		z-index: 2000;
	}	
}

@media all and (min-width: 700px) {
	#settings {
		position: absolute;
		height: 50px;
		width: 50px;
		top: 56px;
		right: 5px;
		z-index: 2000;
	}
}

#geo {
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 5px;
	left: 5px;
	z-index: 2000;
}

#goto-address {
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 5px;
	left: 68px;
	z-index: 2000;
}

#new-observation {
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 5px;
	left: 133px;
	z-index: 2000;
}

#refresh-points {
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 5px;
	left: 198px;
	z-index: 2000;
}

#fft-btn {
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 5px;
	left: 263px;
	z-index: 2000;
}

/* Panels and their contents */
.panel {
	padding: 20px;
	left: 5px;
	top: 5px;
	z-index: 2000;
	overflow: auto;
	background: #CFE4C3;
	position: absolute;
	height: 90%;
	width: 85%;
}

@media all and (min-width: 520px) {
	.panel {
		margin-top: 45px;
	}
}

.panel-large {
	max-height: 400px;
	max-width: 430px;
}

.panel-medium {
	height: 100px;
	max-width: 430px;
}

.panel-small {
	height: 35px;
	max-width: 430px;
}

#observation-panel > form > span > button {
	width: 130px;
}

/* Overrides */
.form-horizontal .control-group {
	margin-bottom: 10px;
}

textarea {
	height: 75px;
}