  $mdc-theme-primary:#1E88E5;
  $mdc-theme-primary-dark: #1565C0;
  $mdc-theme-primary-on-background: rgba(30, 136, 229, 0.87);
  $mdc-theme-secondary: #1E88E5;
  $mdc-theme-background: #FFFFFF;
  $mdc-theme-surface: #FFFFFF;
  $mdc-theme-error: #D32F2F;
  $mdc-theme-on-primary: #fff;
  $mdc-theme-on-secondary: #fff;
  $mdc-theme-on-surface: #000;
  $mdc-theme-on-error: #fff;
  $mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  $mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  $mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  $mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  $mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  $mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  $mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  $mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  $mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  $mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  $mdc-theme-text-primary-on-dark: white;
  $mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  $mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  $mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  $mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
