.menu-drawer {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.menu-drawer-scrim {
  flex: 1;
  background-color: var(--scrim-background);
}

.menu-drawer-content {
  background-color: var(--mdc-theme-surface);
  color: var(--mdc-theme-primary);
}