
.new-obs-card {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  bottom: 0;
  z-index: 3;
  overflow-y: auto;
}
.feed .mdc-top-app-bar {
  width: var(--feed-width);
}
.feed .mdc-top-app-bar .mdc-button:not(:disabled) {
  color: white;
}

.delete-dialog .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.delete-button.mdc-button:not(:disabled) {
  color: white;
  background-color: var(--mdc-theme-error) !important;
  margin-right: 16px;
}

.observation-feed-container > .new-obs-card.ng-animate {
  position:relative;
  /* top:0;
  left:0; */
  width: 100%;
  flex:1;
  height:100%;
}
.new-obs-card.ng-enter, .new-obs-card.ng-leave,
.record.ng-anchor {
  transition:0.3s linear all;
}
.new-obs-card.ng-enter {
  transform:translateX(100%);
}
.new-obs-card.ng-enter.ng-enter-active, .new-obs-card.ng-leave {
  transform:translateX(0%);
}
.new-obs-card.ng-leave.ng-leave-active {
  transform:translateX(100%);
}
.record.ng-anchor-out {
  background:blue;
}
.add-attachment-button.mdc-button:not(:disabled) {
  background-color: var(--mdc-theme-primary) !important;
  color: white;
  width: 100%;
}
.add-attachment-button-container {
  padding-right: 4px;
  margin: 16px;
}
.add-attachment-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.delete-observation-button-container {
  margin: 16px;
}

.delete-observation-button {
  width: 100%;
}