.view-obs-card {
  background-color: var(--background-behind-card);
  position:absolute;
  top:0;
  width: 100%;
  bottom: 0;
  z-index: 3;
  overflow-y: auto;
}

.mdc-card {
  margin: 8px;
}

.observation-view-card {
  margin-top: 16px;
}

.map-clip {
  width: 100%;
  height: 194px;
  display: flex;
  position: relative;
  z-index: 1;
}

.observation-form-card {
  padding: 16px;
}

.media-card {
  padding-left: 4px;
  padding-top: 4px;
}

.media-tile {
  margin-right: 4px;
  margin-bottom: 4px;
}

.feed-top-bar {
  z-index: 2;
}

.mage-field-value {
  padding-left: 4px;
}

.mage-field-title {
  color: var(--mdc-theme-text-secondary-on-background);
}