.observation-card {
  background-color: var(--mdc-theme-background);
  display: flex;
  flex-direction: column;
}

.observation-header {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  padding-bottom: 16px;
}

.leaflet-popup-content .observation-header {
  padding-bottom: 0px;
}

.observation-header-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.observation-header-content-right {
  padding-right: 16px;
  width: 150px;
  text-align: right;
}

.leaflet-popup-content .observation-header-content-right {
  padding-right: 0px;
  padding-top: 6px;
}

.leaflet-popup-content .mdc-card__actions {
  padding-right: 0px;
}

.observation-thumbnail {
  width: 72px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.observation-thumbnail img {
  /* margin-left: 16px; */
  max-width: 40px;
  /* max-height: 40px; */
}

.observation-header-text {
  font-size: 1.2rem;
  color: var(--mdc-theme-text-primary-on-background);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.observation-subhead {
  color: var(--mdc-theme-text-secondary-on-background);
}

.observation-supporting-text-container {
  padding: 16px;
}

.observation-supporting-text-container i {
}

.observation-supporting-text {
  color: var(--mdc-theme-text-secondary-on-background);
}

.observation-time {
  font-size: .8rem;
  font-weight: 400;
}

.observation-media {
  height: 194px;
  /* position: relative; */
}

.observation-media img {
  height: 194px;
}

.observation-media-double img {
  height: 194px;
  width: 194px;
}

.observation-actions {

}

.observation-icons {

}

.attachment-number {
  top: unset;
  left: unset;
  bottom: 5px;
  right: 5px;
}

.label-chip {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.image-text-protection {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 4px;
}

.image-text-label {
  color: var(--mdc-theme-text-secondary-on-dark);
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.image-action-icons {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--mdc-theme-text-secondary-on-dark);
}

.delete-attachment-button:not(:disabled) {
  color: rgba(255, 0, 0, .9) !important;
}

.edit-button {
  font-size: 1rem;
}