@font-face {
	font-family: SansBetween;
	font-weight: regular;
	src: url('../fonts/SANSB___.TTF');
}

h1, h2, h3, h4, h5 {
	font-family: SansBetween, Arial, sans-serif;
	color: #2B2620;
}

a {
	color: #009933;
}

body {
	background: #CFE4C3;
	color: #2B2620;
}

.navbar-inner {
	background: #648D53;
	color: #F5F3DA;
}

.navbar .brand {
	font-family: SansBetween, sans-serif;
    color: #CFE4C3;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 10px 20px;
    text-shadow: 0 1px 0 #2B2620;
}

.navbar .nav > li > a {
    color: #F5F3DA;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2B2620;
}

.well {
	background: #efefef;
}

.sage-color {
    color: #648D52;
}

.top-gap {
    margin-top: 15px;
}

.icon-sage {
    color: #648D52;
    font-size: 1.2em;
    background-image: none;
}
