/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-weight: 400;
}

html {
  height: 100%;
}

h1, h2, h3, h4, h5 {
	color: #365F8C;
}

a {
	color: #365F8C;
}

.right-gap-s {
  margin-right: 5px;
}

.right-gap {
  margin-right: 10px;
}

.top-gap-s {
  margin-top: 5px;
}

.top-gap {
    margin-top: 15px;
}

.top-gap-l {
    margin-top: 30px;
}

.top-gap-xl {
    margin-top: 50px;
}

.bottom-gap-s {
    margin-bottom: 5px;
}

.bottom-gap {
    margin-bottom: 15px;
}

.bottom-gap-l {
    margin-bottom: 30px;
}

.bottom-gap-xl {
    margin-bottom: 50px;
}

.ellipsis {
 text-overflow: ellipsis;
 width: 100%;
 overflow: hidden;
 white-space: nowrap;
 display: block;
}

.navbar {
	margin-bottom: 0;
}

.content-flex {
  flex: 1 1 0;
  position: relative;
}

.content-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.route-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.filter-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1029;
  font-size: 16px;
  background-color: #555;
  color: #fff;
  padding: 10px 0px;
}

.filter-text {
  flex: 1;
}

.filter-event {
	font-family: Roboto;
	font-weight: 400;
}

.filter-teams {
	font-family: Roboto;
	font-weight: 400;
	margin-left: 5px;
}

.filter-interval {
	font-family: Roboto;
	font-weight: 400;
	padding-left: 35px;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
  overflow: auto;
}

.feed {
  order: 1;
  display: flex;
  flex-direction: column;
  min-width: 450px;
  max-width: 500px;
  flex:1;
  background-color: #5278a2;
  transition: margin-left 0.3s linear;
}

.feed.ng-hide {
  margin-left: -500px;
}

.feed-tabs {
  flex: 0 0 53px;
  display: flex;
  color: #345477;
  font-size: 17.5px;
  line-height: 20px;
  background-color: #fff;
}

.feed-tab:last-child {
	margin-left: 0;
}

.feed-tab {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px 3px 0 0;
  margin: 10px 10px 0 10px;
  box-shadow: 3px -5px 5px -5px rgba(0,0,0,.35),
              5px 0px 5px -5px rgba(0,0,0,.35);
}

.feed-tab:hover a {
	text-decoration: none;
	color: #EEE;
}

.feed-tab-active {
	background-color: #5278a2;
}

.feed-tab-inactive {
	background-color: #7C9DC2;
}

.feed-tab-active a {
	color: #fff;
}

.feed-tab-inactive a {
	color: #fff;
}

.feed-badge {
  margin-left: 5px;
  background: #666;
}

.badge-accent {
   background: #F8A173;
}

.badge-notif {
   position: relative;
   top: 4px;
   left: -10px;
}

.feed-items {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
  margin-top: 10px;
}

.feed-page {
  margin: 7px 6px 0;
  flex: 0 0 34px;
}

.feed-card {
  background-color: #fff;
  margin: 0 7px 10px;
  box-shadow: 0 3px 7px rgba(0,0,0,.35);
}

.inactive-feed-card {
  opacity: .2;
}

.feed-card-content {
  padding: 10px;
}

.map {
  flex: 2;
  position: relative;
  order: 2;
}

.leaflet-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .map {
    order: 1;
    flex: 1;
    min-height: 200px;
    position: relative;
  }

  .feed {
    order: 2;
    flex: 2;
    width: 100%;
    min-width: none;
    max-width: none;
    transition: flex-grow 0.3s linear;
  }

  .feed.ng-hide {
    flex-grow: 0;
    margin-left: 0px;
  }

  .feed-tabs {
    flex: 0 0 35px;
    display: flex;
    font-size: 12.5px;
  }
}

@media(max-width:768px){
  .filter-interval {
    padding-left: 0;
  }
}

.attachments {
  flex-flow: row wrap;
  display: flex;
  margin-top: 10px;
}

.attachment {
  position: relative;
  width: 32%;
  margin-bottom: 2%;
}

.attachment-delete {
  position: absolute;
  top: 5px;
  right: 5px;
}

.attachment-icon {
  color: #eee;
  background-color: #555;
}

.attachment-icon a {
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
}

.attachment-icon i {
  font-size: 50px;
}

.image-delete {
	opacity: 0.5;
}

.attachment:nth-child(3n-1) {
  margin-left: 2%;
  margin-right: 2%;
}

.attachment:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.attachment-media {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.card {
  box-sizing: border-box;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
}

.card > .card-content {
  padding: 16px;
}

.modal-header {
  background: #5278A2;
  color: #91BDEE;
}

.modal-header h3 {
  color: #FFF;
}

.modal-body {
  background: #FFF;
}

.modal-footer {
  background: #FFF;
  color: #6389b3;
}

.icon-brand-s {
	font-size: 75px;
	color: #365F8C;
}

.icon-brand-m {
	font-size: 125px;
  color: #365F8C;
}

.icon-brand-l {
	font-size: 300px;
	color: #365F8C;
}

/* Overrides */

textarea {
  height: 75px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.accordion-edit {
	color: #555;
}

.icon-mage {
  color: #365F8C;
  font-size: 1.2em;
  background-image: none;
}

.icon-mage-inverse {
  color: #FEFEFE;
  font-size: 1.2em;
  background-image: none;
  margin-bottom: 9px;
}

.marker-tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  margin-left: 40px;
  opacity: .7;
  border-radius: 3px;
  width: 200px;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

@media (min-width: 768px) {
  .fixed-width-navbar .form-control {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
  }
}

.navbar {
  flex: auto;
}

.navbar-default .admin-navbar-toggle {
  border-color: #ddd;
}

.navbar-default .admin-navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-default .admin-navbar-toggle:focus, .navbar-default .admin-navbar-toggle:hover {
    background-color: #ddd;
}

.navbar-default .navbar-text-inverse {
    color: #777;
}

.admin-dashboard-navbar .btn-link {
    color: #777;
}

.navbar-default .admin-navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.admin-dashboard {
  color: #365F8C;
  margin-right: 5px;
}

/* User management page styles */
.admin-card {
  height: 235px;
  background-color: white;
}

.admin-dashboard-navbar {
  background-color: #F5F5F5;
  border-color: #F0F0F0;
}

.admin-dashboard-navbar > .container-fluid > .navbar-header > .navbar-brand {
  color: #204976;
}

.admin-dashboard-content {
  padding: 16px;
}

.admin-dashboard-item {
  line-height: 48px;
  font-size: 36px;
  padding: 20px;
  text-align: center;
  font-weight: normal;
}

.admin-nav {
  height: 40px;
  background-color: #E2E2E2;
}

.admin-nav-gap {
  margin: 20px 0 20px;
}

.admin-table {
	color: #555;
	background-color: white;
	border: 1px solid #F5F5F5;
}

.admin-table-content {
  padding: 15px;
}

.admin-user-button {
  margin-left: 10px;
}

.admin-table-delete-btn {
	margin-right: 15px;
	float: left;
}

.admin-device-container {
  display: flex;
}

.admin-device-info {
  flex: 1;
  overflow: hidden;
}

.admin-device-icon {
  width: 40px;
  text-align: center;
}

.admin-android-icon {
  color: #A4C739;
  font-size: 32px;
}

.admin-apple-icon {
  color: #666;
  font-size: 28px;
}

.admin-desktop-icon {
  color: #555;
  font-size: 26px;
}

.admin-generic-icon {
  color: #555;
  font-size: 36px;
}

.admin-android-icon-xs {
  color: #A4C739;
  font-size: 18px;
}

.admin-apple-icon-xs {
  color: #666;
  font-size: 18px;
}

.admin-desktop-icon-xs {
  color: #555;
  font-size: 14px;
}

.admin-generic-icon-xs {
  color: #555;
  font-size: 18px;
}

.admin-layer-icon {
  padding: 5px 0 5px;
  font-size: 25px;
}

.pointer {
  cursor: pointer; cursor: hand;
}

h4.image-delete {
	position: absolute;
  text-align: center;
	color: white;
	font-weight: bold;
}

.well-item {
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

.well-item:last-child {
	border-bottom: none;
}

.muted {
	color: #777777;
}

.file-custom:before {
	box-sizing: border-box;
}

.file-custom {
	box-sizing: border-box;
}

.preview-image {
	width: 35px;
}

.center-crop {
  object-fit: cover;
}

.observation-type {
	font-size: 15.5px;
	padding-bottom: 2px;
}

.observation-variant {
	font-size: 14px;
	font-style: italic;
}

.or-container {
    text-align: center;
    margin-top: 20px;
    color: #808080;
    font-variant: small-caps;
}

.or-hr {
    margin-bottom: -20px;
    height: 0;
    border: 0;
    border-top: 1px solid #e6e6e6;
}

#or {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #fff;
}

.btn-google {
  color: #FFFFFF;
  background-color: #DC4E41;
  border-color: #DC4E41;
}

.btn-google.active, .btn-google.focus, .btn-google:active, .btn-google:focus, .btn-google:hover, .open>.dropdown-toggle.btn-google {
    color: #FFFFFF;
    background-color: #DC4E41;
    border-color: #DC4E41;
}

.user-icon-container {
  display: flex;
}

.user-icon-initials {
  width: 52px;
  margin-right: 5px;
}

.user-icon-input {
  flex: 1;
  margin-left: 35px;
}

.dropdown-menu {
    z-index: 1031;
}

.attachment-media-sm videogular vg-controls, [videogular] vg-controls {
    height: 30px;
}

.attachment-media-sm videogular vg-controls .controls-container, [videogular] vg-controls .controls-container {
    height: 30px;
}

/* Leaflet controls overrides */
.leaflet-bar a, .leaflet-bar a:hover {
    color: #365F8C;
}

/* Leaflet geosearch overrides */
.leaflet-control-geosearch a.glass {
  background-image: none;
  background-size: 0;
}

.leaflet-control-geosearch a.alert {
  background-image: none;
  background-size: 0;
  padding: 0;
}

a.glass:before {
  font-family: FontAwesome;
  content: '\f002';
}

a.alert:after {
  font-family: FontAwesome;
  content: '\f06a';
  color: red;
  font-size: 1.2em;
}

.field {
  padding-left: 7px;
  font-size: 1.1em;
}

.field-textarea {
  white-space: pre;
  padding-left: 0;
}
