<div class="field bottom-gap" ng-class="{'geometry-edit__active': $ctrl.edit}">
  <div id="location-select" class="mdc-select mdc-select--outlined location-field-select" ng-mouseover="$ctrl.showEdit = !$ctrl.edit" ng-mouseleave="$ctrl.showEdit = false">    
    <div class="location-field-card mdc-select__selected-text-mine" ng-class="{'location-field-card__flip': $ctrl.edit}">
      <div class="location-map location-field-card__view" ng-click="$ctrl.gotoGeometry($event)">
        <geometry-edit-map feature="$ctrl.feature" show-edit="$ctrl.showEdit" on-edit="$ctrl.startGeometryEdit(true)"></geometry-edit-map>
      </div>
  
      <div class="edit-location-card feed-card location-field-card__edit">
        <geometry-edit-form ng-if="$ctrl.initialized" feature="$ctrl.editFeature" save-edit="$ctrl.saveGeometryEdit(value)" cancel-edit="$ctrl.cancelGeometryEdit()"></geometry-edit-form>
      </div>
    </div>

    <select class="mdc-select__native-control" ng-required="$ctrl.field.required">
      <option disabled selected value=" "></option>
    </select>

    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label class="mdc-floating-label">{{$ctrl.field.title}}</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
</div>
