<div class="modal-header">
  <h4 class="modal-title">Reorder "{{model.option.title}}"</h4>
</div>

<div class="modal-body admin-option-modal-content">
  <div class="bottom-gap text-center">
    <span class="muted"><i class="fa fa-info-circle text-success right-gap"></i>  Tip: Click to change the field you are reording</span>
  </div>

  <div ng-repeat="choice in model.choices">
    <div class="row" ng-if="$first">
      <div class="col-md-1"><i class="fa pointer text-primary admin-option-reorder" ng-click="move($index)" ng-class="choice.id !== model.option.id ? 'fa-long-arrow-right pointer' : ''"></i></div>
      <div class="col-md-11 admin-option-border"></div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-11">
        <strong ng-if="choice.id === model.option.id">{{choice.title}}</strong>
        <span ng-if="choice.id !== model.option.id" class="pointer admin-option-model-text" ng-click="model.option = choice">{{choice.title}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <i class="fa pointer text-primary admin-option-reorder" ng-click="move($index + 1)" ng-class="(choice.id !== model.option.id && ($last || model.choices[$index + 1].id !== model.option.id)) ? 'fa-long-arrow-right pointer' : ''"></i>
      </div>
      <div class="col-md-11 admin-option-border"></div>
    </div>
  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()" ngm-tap="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="done()">Reorder</button>
</div>
