<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="#/admin"><i class="fa fa-dashboard admin-dashboard"></i>Dashboard</a></li>
      <li><a href="#/admin/events">Events</a></li>
      <li><a ng-href="#/admin/events/{{event.id}}">{{event.name}}</a></li>
      <li class="active">Form <span class="text-danger" ng-show="unSavedChanges"> (unsaved changes)</span></li>
    </ol>
  </div>
</div>

<div class="content-flex">

  <div class="content-inner">

    <div class="container" ng-show="event">

      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-default pull-right" ng-href="{{'/api/events/' + event.id + '/form.zip?access_token=' + token}}">
            <i class="fa fa-download"></i> Export Form
          </a>
        </div>
      </div>

      <div class="row top-gap-l">
        <div class="col-md-12">
          <nav class="navbar navbar-default admin-dashboard-navbar">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand">Form Fields</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="admin-table admin-table-content">
            <uib-accordion close-others="accordion.oneAtATime">
              <uib-accordion-group ng-repeat="field in event.form.fields | filter:{archived: '!true'} | orderBy: 'id'">
                <uib-accordion-heading>
                  {{field.title}}
                  <i class="pull-right fa fa-arrow-up" ng-if="!$first && canMoveField(field)" ng-click="moveFieldUp($event, field)"></i>
                  <i class="pull-right fa fa-arrow-down" ng-if="!$last && canMoveField(field)" ng-click="moveFieldDown($event, field)"></i>
                </uib-accordion-heading>
                <div class="accordion-edit">
                  <form name="form.fields" novalidate>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Type</label>
                          <input type="text" value="{{getTypeValue(field)}}" class="form-control" disabled>
                          <p class="help-block" ng-if="isMemberField(field)">The 'User Select' type is a dynamic list of all users that are part of the event.  As such you cannot add/remove choices, users will be automatically populated.</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Title</label>
                          <input type="text" ng-model="field.title" value="{{field.title}}" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row" ng-hide="showAddOptions(field) || field.type === 'numberfield' || field.type === 'checkbox'">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Default Value</label>
                          <input type="text" ng-model="field.value" value="{{field.value}}" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row" ng-show="showAddOptions(field) && !isMemberField(field)">
                      <div class="col-md-6" ng-if="field.type === 'dropdown'">
                        <div class="form-group">
                          <label>Default Value</label>
                          <select ng-model="field.value" ng-options="choice.title as choice.title for choice in field.choices" class="form-control">
                            <option value="">No Default</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6" ng-if="field.type === 'multiselectdropdown'">
                        <div class="form-group">
                          <label>Default Value</label>
                          <ui-select multiple ng-model="field.value" theme="bootstrap">
                            <ui-select-match>{{$item.title}}</ui-select-match>
                            <ui-select-choices repeat="choice.title as choice in field.choices">
                              <div ng-bind-html="choice.title"></div>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                      </div>

                    </div>
                    <div class="row" ng-if="field.type === 'numberfield'">
                      <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': form.fields.{{field.name}}.$invalid}">
                          <label>Default Value</label>
                          <input type="number" ng-model="field.value" name="{{field.name}}" value="{{field.value}}" min="{{field.min}}" max="{{field.max}}" class="form-control">
                          <div class="help-block" ng-messages="form.fields[field.name].$error" ng-if="form.fields[field.name].$invalid">
                            <p ng-message="min">value is less than min</p>
                            <p ng-message="max">value is greater than max</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="checkbox" ng-show="field.type=='checkbox'">
                      <label>
                        <input ng-model="field.value" id="{{field.id}}" type="checkbox" ng-checked="field.value == true"/> Default Value
                      </label>
                    </div>
                    <div class="row" ng-show="field.type === 'numberfield'">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Min</label>
                          <input type="number" ng-model="field.min" value="{{field.min}}" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Max</label>
                          <input type="number" ng-model="field.max" value="{{field.max}}" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group" ng-show="showAddOptions(field) && !isMemberField(field)">
                          <label>Field Options</label>
                          <div ng-repeat="option in field.choices | filter:{blank: '!true'}" class="row bottom-gap">
                            <div class="col-sm-12">
                              <span class="admin-table-delete-btn"><a class="btn btn-danger btn-xs pull-left" type="button" ng-click="deleteOption(field, option)"><i class="fa fa-minus icon-white"></i></a></span>
                              {{option.title}}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-10">
                              <input type="text" ng-model="newOptionTitle" class="form-control">
                            </div>
                            <div class="col-md-2">
                              <button class="btn btn-primary" type="button" ng-click="addOption(field, newOptionTitle); newOptionTitle = '';"><i class="fa fa-plus"></i> Add Option</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="checkbox" ng-show="field.name != 'timestamp' &amp;&amp; field.name != 'geometry' &amp;&amp; field.name != 'type'">
                      <label>
                      <input type="checkbox" ng-model="field.required"  ng-change="onRequiredChanged(field);"> Required
                      </label>
                    </div>

                    <button ng-show="deletableField(field)" class="btn btn-danger pull-right" type="button" ng-click="deleteField(field.id)"><i class="fa fa-trash icon-white"></i> Delete Field</button>
                  </form>

                </div>
              </uib-accordion-group>
            </uib-accordion>

            <div class="row top-gap-l">
              <div class="col-md-12">
                <nav class="navbar navbar-default admin-dashboard-navbar">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand">Add a new form field</a>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
            <div class="admin-table admin-table-content">
              <form name="form.newField" novalidate>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Type</label>
                      <select ng-model="newField.type" ng-options="type.name as type.title for type in fieldTypes | filter: {hidden: '!'}" class="form-control"></select>
                      <p class="help-block" ng-if="isUserDropdown(newField)">The 'User Select' type is a dynamic list of all users that are part of the event.  As such you cannot add/remove options from this list, users will be automatically populated.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Title</label>
                      <input type="text" ng-model="newField.title" value="{{newField.title}}" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="row" ng-if="newField.type === 'dropdown' || isUserDropdown(newField)">
                  <div class="col-md-6">
                    <div class="checkbox">
                      <label>
                        <input ng-model="newField.multiselect" type="checkbox" ng-checked="newField.multiselect == true"/> Multiselect
                      </label>
                      <p class="help-block">Choose multiselect if you would like users to be able to select more than one choice.</p>
                    </div>
                  </div>
                </div>

                <div class="row" ng-if="newField.type !== 'checkbox' && newField.type !== 'numberfield'">
                  <div class="col-md-6">
                    <div class="form-group" ng-hide="hideAddOptions(newField)">
                      <label>Default Value</label>
                      <input type="text" ng-model="newField.value" value="{{newField.value}}" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row" ng-if="newField.type === 'numberfield'">
                  <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': form.newField.value.$invalid}">
                      <label>Default Value</label>
                      <input type="number" ng-model="newField.value" name="value" value="{{newField.value}}" min="{{newField.min}}" max="{{newField.max}}" class="form-control">
                      <div class="help-block" ng-messages="form.newField.value.$error" ng-if="form.newField.value.$invalid">
                        <p ng-message="min">value is less than min</p>
                        <p ng-message="max">value is greater than max</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" ng-show="newField.type === 'numberfield'">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Min</label>
                      <input type="number" ng-model="newField.min" value="{{newField.min}}" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Max</label>
                      <input type="number" ng-model="newField.max" value="{{newField.max}}" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="checkbox" ng-if="newField.type=='checkbox'">
                  <label>
                    <input ng-model="newField.value" type="checkbox" ng-checked="newField.value == true"/> Default Value
                  </label>
                </div>
                <div class="row" ng-if="showAddOptions(newField)">
                  <div class="col-md-6" ng-if="!newField.multiselect">
                    <div class="form-group">
                      <label>Default Value</label>
                      <select ng-model="newField.value" ng-options="choice.title as choice.title for choice in newField.choices" class="form-control">
                        <option value="">No Default</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6" ng-if="newField.multiselect">
                    <div class="form-group">
                      <label>Default Value</label>
                      <ui-select multiple ng-model="newField.value" theme="bootstrap">
                        <ui-select-match>{{$item.title}}</ui-select-match>
                        <ui-select-choices repeat="choice.title as choice in newField.choices">
                          <div ng-bind-html="choice.title"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" ng-show="showAddOptions(newField)">
                      <label>Field Options</label>
                      <div ng-repeat="option in newField.choices | filter:{blank: '!true'}" class="row bottom-gap">
                        <div class="col-sm-12">
                          <span class="admin-table-delete-btn"><a class="btn btn-danger btn-xs pull-left" type="button" ng-click="deleteOption(newField, option)"><i class="fa fa-minus icon-white"></i></a></span>
                          {{option.title}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-9">
                          <input type="text" ng-model="newFieldNewOptionTitle" class="form-control">
                        </div>
                        <div class="col-md-3">
                          <button class="btn btn-primary" type="button" ng-click="addOption(newField, newFieldNewOptionTitle); newFieldNewOptionTitle = '';"><i class="fa fa-plus"></i> Add Option</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="newField.required"> Required
                  </label>
                  <p class="help-block">Choose required if users must enter a value.</p>
                </div>

                <hr>

                <button type="submit" ng-disabled="form.newField.value.$invalid" class="btn btn-primary" ng-click="addNewField()"><i class="fa fa-plus-square-o"></i> Add Field</button>
              </form>
            </div>

          </div>
        </div>
      </div>

      <div class="row top-gap-l">
        <div class="col-md-12">
          <nav class="navbar navbar-default admin-dashboard-navbar">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand">Map Symbology</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="admin-table admin-table-content">

            <strong>Default Icon</strong>
            <form
              type="button"
              enctype="multipart/form-data"
              file-upload url="{{'/api/events/' + event.id + '/form/icons' + '?access_token=' + token}}"
              allow-upload="uploadIcons"
              preview="true"
              upload-file-form-name="'icon'">
            </form>

            <hr>

            <strong>Choose a field to be used for icon variants:</strong>
            <div class="row bottom-gap">
              <div class="col-md-2">
                <select ng-model="event.form.variantField" ng-change="variantChanged()" ng-options="field.name as field.title for field in event.form.fields | filter: variantFilter" class="form-control">
                  <option value="">No Variant</option>
                </select>
              </div>
            </div>
            <div ng-show="showNumberVariants" class="bottom-gap">
              <h4>You have chosen a date field for your icon variants.  Please define the ranges for each variant.</h4>
              <div ng-repeat="variant in variants" class="row bottom-gap">
                <div class="col-md-12">
                  <span class="strong">{{variant.title}}
                  <span ng-show="variants[$index+1]">
                  - {{variants[$index+1].title}}
                  </span>
                  <span ng-hide="variants[$index+1]">+</span>
                  minutes old
                  <button class="btn btn-sm btn-danger" ng-click="removeVariant(variant)">Remove Variant</button>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <form class="form-inline">
                    <div class="form-group">
                      <p class="form-control-static">More than</p>
                    </div>
                    <div class="form-group">
                      <input type="number" ng-model="newVariantMin" class="form-control"/>
                    </div>
                    <div class="form-group">
                      <p class="form-control-static">minutes old</p>
                    </div>
                    <button class="btn btn-sm btn-primary" ng-click="addVariantOption(newVariantMin)">Add Variant</button>
                  </form>
                </div>
              </div>
            </div>

            <hr>

            <div ng-repeat="option in typeField.choices">
              <div class="row bottom-gap-s">
                <div class="col-md-12">
                  <strong>{{option.title}}</strong>
                </div>
              </div>
              <div class="row bottom-gap-l">
                <div class="col-md-2">
                  <div class="row">
                    <div class="col-md-12">Default</div>
                  </div>
                  <form
                    type="button"
                    enctype="multipart/form-data"
                    file-upload url="{{'/api/events/' + event.id + '/form/icons/' + option.title + '?access_token=' + token + '&_dc=' + savedTime}}"
                    allow-upload="uploadIcons"
                    preview="true"
                    upload-file-form-name="'icon'">
                  </form>
                </div>
                <div class="col-md-2" ng-repeat="variant in variants">
                  <div class="row">
                    <div class="col-md-12">
                      <span>
                      {{variant.title}}
                      <span ng-show="variantField.type == 'date'">
                      <span ng-show="variants[$index+1]">
                      - {{variants[$index+1].title}}
                      </span>
                      <span ng-hide="variants[$index+1]">+</span>
                      minutes old
                      </span>
                      </span>
                    </div>
                  </div>
                  <form
                    type="button"
                    enctype="multipart/form-data"
                    file-upload url="{{'/api/events/' + event.id + '/form/icons/' + option.title + '/' + variant.title + '?access_token=' + token + '&_dc=' + savedTime}}"
                    allow-upload="uploadIcons"
                    preview="true"
                    upload-file-form-name="'icon'">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-gap-l top-gap-xl">
  <div class="container" ng-if="event">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right" ng-if="unSavedChanges && !saving" ng-click="saveForm(event)" ng-disabled="form.fields.$invalid">Save Form</button>
        <button class="btn btn-success pull-right" ng-if="!unSavedChanges && !saving" disabled="disabled">Save Form</button>
        <button class="btn btn-success pull-right" ng-if="saving" disabled="disabled"><i class="fa fa-spinner fa-spin"></i> Saving Form</button>
      </div>
    </div>
  </div>
</div>
