<div class="modal-header">
  <h3 class="modal-title">Delete "{{event.name}}"</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <p>Event "{{event.name}}" will be deleted.
        <strong>This cannot be undone, all data will be unrecoverable.</strong>.
        </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>Do you want to delete the "{{event.name}}" event?</p>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-click="deleteEvent(event, true)" ngm-tap="deleteEvent(event, true)"><i class="icon-trash"> </i>Confirm Event Delete</button>
  <button class="btn btn-default" ng-click="cancel()" ngm-tap="cancel()">Cancel</button>
</div>
