<div class="admin">
  <div admin-tab="'events'"></div>

  <div class="admin-main">
    <div class="admin-nav-gap">
      <div class="container-fluid">
        <ol class="breadcrumb">
          <li class="active"><i class="fa fa-calendar"></i> Events</li>
        </ol>
      </div>
    </div>

    <div class="admin-content">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
              <li ng-click="page = 0; filter='active'" ng-class="{active: filter=='active'}"><a href="javascript:void(0);">Active <span class="badge pull-right">{{(filteredEvents | filter:{complete: '!true'}).length}}</span></a></li>
              <li ng-click="page = 0; filter='complete'" ng-class="{active: filter=='complete'}"><a href="javascript:void(0);">Complete <span class="badge pull-right">{{(filteredEvents | filter:{complete: true}).length}}</span></a></li>
              <li ng-click="page = 0; filter='all'" ng-class="{active: filter=='all'}"><a href="javascript:void(0);">All <span class="badge pull-right">{{filteredEvents.length}}</span></a></li>
            </ul>

            <hr>
            <form class="form">
              <div class="top-gap">
                <label>Search</label>
                <input type="text" class="form-control" placeholder="event name, description" ng-model="eventSearch" ng-change="page=0">
              </div>
            </form>
            <hr>

            <button class="btn btn-default pull-right" ng-click="reset()">Reset</button>
          </div>

          <div class="col-md-9">
            <nav class="navbar navbar-default admin-dashboard-navbar">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand">Events</a>
                </div>

                <form class="navbar-form navbar-right" role="search">
                  <button type="submit" class="btn btn-default" ng-click="newEvent()">New Event</button>
                </form>
              </div>
            </nav>

            <div class="row">
              <div class="col-md-12">
                <div class="admin-table">
                  <div class="well-item"
                      ng-repeat="e in (filteredEvents = (events | filter:filterEvents)) | filter:filterComplete | orderBy:'name' | offset: page*itemsPerPage | limitTo:itemsPerPage" >

                      <div class="row pointer" ng-click="gotoEvent(e)">
                        <div class="col-md-8">
                          <div class="right-gap pull-left">
                            <i class="fa fa-calendar admin-layer-icon"></i>
                          </div>
                          <div class="strong">{{e.name}}</div>
                          <div class="muted">{{e.description}}</div>
                        </div>
                        <div class="col-md-4">
                          <button class="btn btn-sm btn-danger pull-right admin-user-button" ng-if="hasDeletePermission(e)" ng-click="deleteEvent($event, e)">Delete</button>
                          <button class="btn btn-sm btn-default pull-right" ng-if="hasUpdatePermission(e)" ng-click="editEvent($event, e)">Edit</button>
                        </div>
                      </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <ul class="pager pull-right">
                      <li ng-class="{'disabled': page == 0}">
                        <a href="javascript:void(0);" ng-click="page == 0 || (page=page-1)">&larr; Previous</a>
                      </li>
                      <li ng-class="{'disabled': page >= (filteredEvents.length/itemsPerPage) - 1}">
                        <a href="javascript:void(0);" ng-click="page >= (filteredEvents.length/itemsPerPage) - 1 || (page=page+1)">Next&rarr;</a>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
