<div cl***REMOVED***="modal-header">
  <h3 cl***REMOVED***="modal-title">Delete "{{event.name}}"</h3>
</div>

<div cl***REMOVED***="modal-body">
  <div cl***REMOVED***="row">
    <div cl***REMOVED***="col-md-12">
      <p>Event "{{event.name}}" will be deleted.
        <strong>This cannot be undone, all data will be unrecoverable.</strong>.
        </p>
    </div>
  </div>

  <div cl***REMOVED***="row">
    <div cl***REMOVED***="col-md-12">
      <p>Do you want to delete the "{{event.name}}" event?</p>
    </div>
  </div>
</div>

<div cl***REMOVED***="modal-footer">
  <button cl***REMOVED***="btn btn-danger pull-left" ng-click="deleteEvent(event, true)" ngm-tap="deleteEvent(event, true)"><i cl***REMOVED***="icon-trash"> </i>Confirm Event Delete</button>
  <button cl***REMOVED***="btn btn-default" ng-click="cancel()" ngm-tap="cancel()">Cancel</button>
</div>
