<div cl***REMOVED***="row-fluid" ng-controller="AdminEventsController">
  <div cl***REMOVED***="row-fluid">
    <div cl***REMOVED***="span2">
      <div cl***REMOVED***="row-fluid admin-header">
        <div cl***REMOVED***="span12">
          <span ng-click="refresh()"><i cl***REMOVED***="fa fa-refresh icon-spacer pointer"></i></span>
          <h3 style="display: inline">Events ({{filteredEvents.length}})</h3>
          <a cl***REMOVED***="btn pull-right" ng-click="newEvent()">New Event</a>
        </div>
      </div>

      <div cl***REMOVED***="row-fluid">
        <div cl***REMOVED***="form-search">
          <input type="text" cl***REMOVED***="search-query span12" placeholder="Search" ng-model="eventSearch" ng-change="page=0">
        </div>
      </div>

      <div cl***REMOVED***="row-fluid">
        <ul cl***REMOVED***="pager">
          <li cl***REMOVED***="previous" ng-show="page != 0">
            <a ng-click="page=page-1">&larr; Previous</a>
          </li>
          <li cl***REMOVED***="next" ng-show="page < (filteredEvents.length/itemsPerPage) - 1">
            <a ng-click="page=page+1">Next &rarr;</a>
          </li>
        </ul>
      </div>

      <div ng-repeat="e in (filteredEvents = (events | events:eventSearch)) | orderBy:'name' | offset: page*itemsPerPage | limitTo:itemsPerPage" cl***REMOVED***="row-fluid pointer bottom-gap-s" ng-click="editEvent(e)">
        <div ng-cl***REMOVED***="{'admin-active': event.id == e.id}" cl***REMOVED***="admin-row">
          <div cl***REMOVED***="strong">{{e.name}}</div>
          <div cl***REMOVED***="muted">{{e.description}}</div>
        </div>
      </div>
    </div>

    <div cl***REMOVED***="span10" ng-show="event">
      <div style="position: fixed; top: 84px; left: 50%" cl***REMOVED***="fade alert alert-success" ng-cl***REMOVED***="{'in': saved, 'out': !saved}">
        Successfully Saved The Event
      </div>
      <h2>Details</h2>
        <div ng-show="event">
            <div cl***REMOVED***="row-fluid">
              <div cl***REMOVED***="span12">
                <form cl***REMOVED***="form">
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label">Name</label>
                    <input type="text" name="event-name" ng-change="autoSave()" placeholder="Event name" ng-model="event.name"/>
                  </div>
                  <div cl***REMOVED***="control-group">
                    <label cl***REMOVED***="control-label">Description</label>
                    <div cl***REMOVED***="controls">
                      <textarea type="text" ng-change="autoSave()" placeholder="Brief description of the event." ng-model="event.description"/>
                    </div>
                  </div>
                  <div cl***REMOVED***="control-group" ng-hide="event.id">
                    <label cl***REMOVED***="control-label">Form</label>
                    <div file-browser></div>
                    <span cl***REMOVED***="help-block">Optionally import form.  If no form archive is picked your event will start with a default form</span>
                  </div>
                </form>
              </div>
            </div>
            <a cl***REMOVED***="btn right" ng-show="form.id" ng-href="{{'/api/events/' + event.id + '/form.zip?access_token=' + token}}"> <i cl***REMOVED***="fa fa-sign-out"></i> Export Form</a>
            <a cl***REMOVED***="btn btn-danger right" ng-show="event.id" ng-click="deleteEvent(event)"> <i cl***REMOVED***="fa fa-trash-o"></i> Delete Event</a>

            <h2 cl***REMOVED***="top-gap-l">Teams</h2>
            <div cl***REMOVED***="bottom-gap">
              <span>
                <ui-select ng-model="team.selected" theme="select2" style="min-width: 300px;">
                  <ui-select-match placeholder="Select a team to add to event">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="team in nonTeams | orderBy: 'name' | filter: $select.search">
                    <div ng-bind-html="team.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </span>
              <span><button cl***REMOVED***="btn btn-small btn-success" ng-click="addTeam(team.selected)" ng-disabled="team.selected == null"><i cl***REMOVED***="fa fa-plus"></i> Add Team</button></span>
            </div>

            <div cl***REMOVED***="navbar">
              <div cl***REMOVED***="navbar-inner admin-table-nav">
                <a cl***REMOVED***="pull-left btn" ng-click="teamsEdit = !teamsEdit">Edit</a>
                <a cl***REMOVED***="brand" href="#">Teams ({{eventTeams.length}})</a>

                <form cl***REMOVED***="navbar-search">
                  <input type="text" cl***REMOVED***="search-query" placeholder="Filter Teams" ng-model="teamSearch">
                </form>
              </div>
            </div>
            <div cl***REMOVED***="pre-scrollable-large well well-small admin-table">
              <div ng-repeat="team in eventTeams | filter:teamSearch | orderBy:'name'" cl***REMOVED***="row-fluid well-item">
                <div cl***REMOVED***="span12">
                  <span cl***REMOVED***="admin-table-delete-btn" ng-show="teamsEdit">
                    <a cl***REMOVED***="btn btn-mini btn-danger" ng-click="removeTeam(team)"><i cl***REMOVED***="fa fa-minus"></i></a>
                  </span>
                  
                  <div>
                    <span cl***REMOVED***="strong">
                      {{team.name}}
                    </span>
                  </div>
                  <div>
                    <span cl***REMOVED***="muted">{{team.description}}</span>
                  </div>
                </div>
              </div>
            </div>

            <h2 cl***REMOVED***="top-gap">Layers</h2>

            <div cl***REMOVED***="bottom-gap">
              <span>
                <ui-select ng-model="layer.selected" theme="select2" style="min-width: 300px;">
                  <ui-select-match placeholder="Select a layer to add to event">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices group-by="groupLayerByType" repeat="layer in nonLayers | orderBy: 'name' | filter: $select.search">
                    <div ng-bind-html="layer.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </span>
              <span><button cl***REMOVED***="btn btn-small btn-success" ng-click="addLayer(layer.selected)" ng-disabled="layer.selected == null"><i cl***REMOVED***="fa fa-plus"></i> Add Layer</button></span>
            </div>

            <div cl***REMOVED***="navbar">
              <div cl***REMOVED***="navbar-inner admin-table-nav">
                <a cl***REMOVED***="pull-left btn" ng-click="layersEdit = !layersEdit">Edit</a>

                <a cl***REMOVED***="brand" href="#">Layers ({{eventLayers.length}})</a>

                <form cl***REMOVED***="navbar-search">
                  <input type="text" cl***REMOVED***="search-query" placeholder="Filter Layers" ng-model="layerSearch">
                </form>
              </div>
            </div>
            <div cl***REMOVED***="pre-scrollable-large well well-small admin-table">
              <div ng-repeat="layer in eventLayers | filter:layerSearch | orderBy:'name'" cl***REMOVED***="row-fluid well-item">
                <div cl***REMOVED***="span12">
                  <span cl***REMOVED***="admin-table-delete-btn" ng-show="layersEdit">
                    <a cl***REMOVED***="btn btn-mini btn-danger" ng-click="removeLayer(layer)"><i cl***REMOVED***="fa fa-minus"></i></a>
                  </span>
                  <div>
                    <span cl***REMOVED***="strong">
                      {{layer.name}}
                    </span>
                    <i cl***REMOVED***="muted icon-spacer">{{layer.type}}</i>
                  </div>
                  <div>
                    <span cl***REMOVED***="muted">{{layer.description}}</span>
                  </div>
                </div>
              </div>
            </div>

            <button cl***REMOVED***="btn btn-success right" ng-hide="event.id" ng-click="createEvent(event)"> <i cl***REMOVED***="fa fa-thumbs-o-up"></i> Create Event</button>

        </div>

        <div ng-if="event.id">
            <h2 cl***REMOVED***="top-gap-xl">Form
              <a ng-href="{{'/api/events/' + event.id + '/form.zip?access_token=' + token}}">
                <span cl***REMOVED***="fa-stack" style="font-size: 18px;">
                  <i cl***REMOVED***="fa fa-square fa-stack-2x"></i>
                  <i cl***REMOVED***="fa fa-download fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </h2>
            <span></span>

            <div cl***REMOVED***="form-fields">
              <h4>Fields</h4>
              <p ng-show="event.form.fields.length == 0">No fields added yet.</p>
              <div cl***REMOVED***="well">
                <accordion close-others="accordion.oneAtATime">
                  <accordion-group heading="{{field.title}}" ng-repeat="field in event.form.fields | filter:{archived: '!true'} track by field.id">
                    <div cl***REMOVED***="accordion-edit">
                      <button ng-show="deletableField(field)" cl***REMOVED***="btn btn-danger pull-right" type="button" ng-click="deleteField(field.id)"><i cl***REMOVED***="fa fa-trash icon-white"></i> Delete</button>
                      <div cl***REMOVED***="row-fluid">
                        <div cl***REMOVED***="span2">Field Type:</div>
                        <div cl***REMOVED***="span4">{{field.type}}</div>
                      </div>
                      <div cl***REMOVED***="clear"></div>
                      <hr>
                      <div cl***REMOVED***="row-fluid">
                        <div cl***REMOVED***="span2">Field Title:</div>
                        <div cl***REMOVED***="span4"><input type="text" ng-change="autoSave()" ng-model="field.title" value="{{field.title}}"></div>
                      </div>
                      <div cl***REMOVED***="row-fluid" ng-hide="showAddOptions(field)">
                        <div cl***REMOVED***="span2">Field Default Value:</div>
                        <div cl***REMOVED***="span4"><input ng-show="field.type=='checkbox'" ng-model="field.value" id="{{field.id}}" type="checkbox" ng-change="autoSave()" ng-checked="field.value == true" ng-required="field.required"/>
                          <input ng-hide="field.type=='checkbox'" type="text" ng-change="autoSave()" ng-model="field.value" value="{{field.value}}"></div>
                        </div>
                        <div cl***REMOVED***="row-fluid" ng-show="showAddOptions(field)">
                          <div cl***REMOVED***="span2">Field Default Value:</div>
                          <div cl***REMOVED***="span4">
                            <select ng-model="field.value" ng-change="autoSave()" ng-options="choice.title as choice.title for choice in field.choices">
                              <option value="">No Default</option>
                            </select>
                          </div>
                        </div>
                        <div cl***REMOVED***="row-fluid" ng-show="showAddOptions(field)">
                          <div cl***REMOVED***="span2">Field Options:</div>
                          <div cl***REMOVED***="span6">

                            <div ng-repeat="option in field.choices" cl***REMOVED***="row-fluid">
                              <div cl***REMOVED***="span3 strong">{{option.title}}</div>
                              <div cl***REMOVED***="span3"><a cl***REMOVED***="btn btn-danger btn-mini right" type="button" ng-click="deleteOption(field, option)"><i cl***REMOVED***="fa fa-minus icon-white"></i></a></div>
                            </div>
                            <div cl***REMOVED***="row-fluid">
                              <input type="text" ng-model="newOptionTitle">
                              <button cl***REMOVED***="btn btn-primary btn-small" type="button" ng-click="addOption(field, newOptionTitle); newOptionTitle = '';"><i cl***REMOVED***="fa fa-plus-square-o icon-white"></i> Add Option</button>
                            </div>
                          </div>
                        </div>
                        <div cl***REMOVED***="row-fluid" ng-show="field.name != 'timestamp' && field.name != 'geometry' && field.name != 'type'">
                          <div cl***REMOVED***="span2">Required:</div>
                          <div cl***REMOVED***="span4">
                            <label>
                              <input type="radio" ng-value="true" ng-change="autoSave()" ng-selected ng-model="field.required"/>
                              &nbsp; Yes
                            </label>
                            <label>
                              <input type="radio" ng-value="false" ng-change="autoSave()" ng-model="field.required"/>
                              &nbsp; No
                            </label>
                          </div>
                        </div>
                      </div>
                    </accordion-group>
                  </accordion>
                  <div cl***REMOVED***="add-field">
                    <h3>Add A New Field</h3>
                    <div cl***REMOVED***="well">
                      <div cl***REMOVED***="row-fluid">
                        <div cl***REMOVED***="span2">Field Type:</div>
                        <div cl***REMOVED***="span4"><select ng-model="newField.type" ng-options="type.name as type.value for type in fieldTypes"></select></div>
                      </div>
                      <div cl***REMOVED***="clear"></div>
                      <hr>
                      <div cl***REMOVED***="row-fluid">
                        <div cl***REMOVED***="span2">Field Title:</div>
                        <div cl***REMOVED***="span4"><input type="text" ng-model="newField.title" value="{{newField.title}}"></div>
                      </div>
                      <div cl***REMOVED***="row-fluid" ng-hide="showAddOptions(newField)">
                        <div cl***REMOVED***="span2">Field Default Value:</div>
                        <div cl***REMOVED***="span4">
                          <input ng-show="newField.type=='checkbox'" ng-model="newField.value" type="checkbox" ng-checked="newField.value == true"/>
                          <input ng-hide="newField.type=='checkbox'" type="text" ng-model="newField.value" value="{{newField.value}}">
                        </div>
                      </div>
                      <div cl***REMOVED***="row-fluid" ng-show="showAddOptions(newField)">
                        <div cl***REMOVED***="span2">Field Default Value:</div>
                        <div cl***REMOVED***="span4">
                          <select ng-model="newField.value" ng-options="choice.title as choice.title for choice in newField.choices">
                            <option value="">No Default</option>
                          </select>
                        </div>
                      </div>
                      <div cl***REMOVED***="row-fluid" ng-show="showAddOptions(newField)">
                        <div cl***REMOVED***="span2">Field Options:</div>
                        <div cl***REMOVED***="span6">
                          <div ng-repeat="option in newField.choices" cl***REMOVED***="row-fluid">
                            <div cl***REMOVED***="span3 strong">{{option.title}}</div>
                            <div cl***REMOVED***="span3"><a cl***REMOVED***="btn btn-danger btn-mini right" type="button" ng-click="deleteOption(newField, option)"><i cl***REMOVED***="fa fa-minus icon-white"></i></a></div>
                          </div>
                          <div cl***REMOVED***="row-fluid">
                            <input type="text" ng-model="newFieldNewOptionTitle">
                            <button cl***REMOVED***="btn btn-primary btn-small" type="button" ng-click="addOption(newField, newFieldNewOptionTitle); newFieldNewOptionTitle='';"><i cl***REMOVED***="fa fa-plus-square-o icon-white"></i> Add Option</button>
                          </div>
                        </div>
                      </div>
                      <div cl***REMOVED***="row-fluid">
                        <div cl***REMOVED***="span2">Required:</div>
                        <div cl***REMOVED***="span4">
                          <label>
                            <input type="radio" ng-value="true" ng-selected ng-model="newField.required"/>
                            &nbsp; Yes
                          </label>
                          <label>
                            <input type="radio" ng-value="false" ng-model="newField.required"/>
                            &nbsp; No
                          </label>
                        </div>
                      </div>
                      <button type="submit" cl***REMOVED***="btn btn-primary" ng-click="addNewField()"><i cl***REMOVED***="fa fa-plus-square-o"></i> Add Field</button>
                    </div>
                  </div>
                </div>

                <div cl***REMOVED***="symbology">
                  <h3>Symbology</h3>
                  <div cl***REMOVED***="well">
                    <div cl***REMOVED***="row-fluid">
                      <div cl***REMOVED***="span3 strong">
                        Default Icon
                      </div>
                      <form enctype="multipart/form-data"
                        file-upload url="{{'/api/events/' + event.id + '/form/icons' + '?access_token=' + token}}"
                        allow-upload="event.id"
                        preview="true"
                        upload-file-form-name="'icon'">
                    </form>
                  </div>
                </div>

                <h4>Choose a field to be used for icon variants:</h4>
                <select ng-model="event.form.variantField" ng-change="variantChanged()" ng-options="field.name as field.title for field in event.form.fields | filter: variantFilter">
                  <option value="">No Variant</option>
                </select>

                <div ng-show="showNumberVariants">
                  <h4>You have chosen a date field for your icon variants.  Please define the ranges for each variant.</h4>
                  <div ng-repeat="variant in variants" cl***REMOVED***="row-fluid">
                    <div cl***REMOVED***="span12">
                      <span cl***REMOVED***="strong">{{variant.title}}
                        <span ng-show="variants[$index+1]">
                          - {{variants[$index+1].title}}
                        </span>
                        <span ng-hide="variants[$index+1]">+</span>
                        minutes old
                        <button cl***REMOVED***="btn btn-small btn-danger" ng-click="removeVariant(variant)">Remove Variant</button>
                      </span>
                    </div>
                  </div>
                  <div cl***REMOVED***="row-fluid">
                    <div cl***REMOVED***="span12">
                      <span>More than <input type="number" ng-model="newVariantMin"/> minutes old <button cl***REMOVED***="btn btn-primary" ng-click="addVariantOption(newVariantMin)">Add Variant</button></span>
                    </div>
                  </div>
                </div>

                <div cl***REMOVED***="well">
                  <div cl***REMOVED***="row-fluid" ng-repeat="option in typeField.choices">
                    <div cl***REMOVED***="row-fluid">
                      <div cl***REMOVED***="span12 strong">
                        {{option.title}}
                      </div>
                    </div>
                    <div cl***REMOVED***="row-fluid">
                      <div cl***REMOVED***="span2">
                        <div cl***REMOVED***="row-fluid">
                          <div cl***REMOVED***="span12 strong">Default</div>
                        </div>
                        <form enctype="multipart/form-data"
                          file-upload url="{{'/api/events/' + event.id + '/form/icons/' + option.title + '?access_token=' + token + '&_dc=' + savedTime}}"
                          allow-upload="event.id"
                          preview="true"
                          upload-file-form-name="'icon'">
                      </form>
                    </div>
                    <div cl***REMOVED***="span2" ng-repeat="variant in variants">
                      <div cl***REMOVED***="row-fluid">
                        <div cl***REMOVED***="span12">
                          <span cl***REMOVED***="strong">{{variant.title}}
                            <span ng-show="variantField.type == 'date'">
                              <span ng-show="variants[$index+1]">
                                - {{variants[$index+1].title}}
                              </span>
                              <span ng-hide="variants[$index+1]">+</span>
                              minutes old
                            </span>
                          </span>
                        </div>
                      </div>
                      <form enctype="multipart/form-data"
                        file-upload url="{{'/api/events/' + event.id + '/form/icons/' + option.title + '/' + variant.title + '?access_token=' + token + '&_dc=' + savedTime}}"
                        allow-upload="event.id"
                        preview="true"
                        upload-file-form-name="'icon'">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div cl***REMOVED***="form-fields-preview well">
            <h3>Form Preview</h3>
            <form-directive form="event.form" form-preview="true"></form-directive>
          </div>

        </div>

        <div cl***REMOVED***="row-fluid">
          <div cl***REMOVED***="span12">
            <p cl***REMOVED***="text-center">
              <a cl***REMOVED***="btn right" ng-show="form.id" ng-href="{{'/api/events/' + event.id + '/form.zip?access_token=' + token}}"> <i cl***REMOVED***="fa fa-sign-out"></i> Export Form</a>
              <div ng-hide="event.id">
                <button cl***REMOVED***="btn btn-primary right" type="button" ng-click="saveEvent()"><i cl***REMOVED***="fa fa-save"></i> Create Event</button>
              </div>
            </p>
          </div>
        </div>
    </div>
</div>
</div>
</div>
