<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li><i class="fa fa-users admin-dashboard"></i><a ui-sref="admin.teams">Teams</a></li>
      <li class="active">{{$ctrl.team.name}}</li>
    </ol>
  </div>
</div>

<div class="container-fluid bottom-gap-l">
  <div class="row">
    <div class="col-md-offset-1 col-md-10" ng-show="$ctrl.team">

      <div class="row">
        <div class="col-md-8">
          <h2>Team: {{$ctrl.team.name}}</h2>
        </div>
        <div class="col-md-4">
          <h2 ng-if="$ctrl.hasUpdatePermission">
            <button class="btn btn-default pull-right" ng-click="$ctrl.editTeam($ctrl.team)"><i class="fa fa-edit"></i>
              Edit</button>
            <button class="btn btn-default pull-right right-gap" ng-click="$ctrl.editAccess($ctrl.team)"><i
                class="fa fa-shield"></i> Access</button>
          </h2>
        </div>
      </div>

      <hr>

      <div class="row top-gap-l">
        <div class="col-sm-6 col-xs-12">

          <div class="row top-gap-l">
            <div class="col-md-3">
              <span class="muted">Name:&nbsp;</span>
            </div>
            <div class="col-md-9">
              <span>{{$ctrl.team.name}}</span>
            </div>
          </div>

          <div class="row top-gap-s bottom-gap">
            <div class="col-md-3">
              <span class="muted">Description:&nbsp;</span>
            </div>
            <div class="col-md-9">
              <span>{{$ctrl.team.description}}</span>
            </div>
          </div>
        </div>

        <div class="col-sm-6" ng-if="$ctrl.hasDeletePermission">
          <div class="card">
            <div class="card-content">
              <strong class="text-danger">Delete team</strong>
              <p class="text-danger">Deleting team will remove all team information including. This cannot be undone,
                users within team will not be deleted.</p>
              <button class="btn btn-danger top-gap" ng-click="$ctrl.deleteTeam($ctrl.team)"> <i
                  class="fa fa-trash-o"></i> Delete</button>
            </div>
          </div>
        </div>

      </div>

      <hr>

      <div class="row">
        <div class="col-md-6 col-xs-12">

          <div ng-if="$ctrl.hasUpdatePermission" class="bottom-gap-l">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-default admin-dashboard-navbar">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand">Add user to the team</a>
                    </div>
                  </div>
                </nav>
              </div>
            </div>

            <div class="admin-table">
              <div class="well-item">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" ng-model="$ctrl.nonMember" placeholder="Search"
                      uib-typeahead="user as user.displayName for user in $ctrl.searchNonMembers($viewValue)"
                      typeahead-loading="$ctrl.nonMemberSearchResults" typeahead-no-results="noSearchResults"
                      class="form-control" ng-model-options="{ debounce: 1000 }">
                    <i ng-show="$ctrl.isSearching == true" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noSearchResults">
                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-success" ng-click="$ctrl.addUser()"
                      ng-disabled="($ctrl.nonMember == null || $ctrl.nonMember == '')"><i class="fa fa-plus"></i> Add
                      User</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <nav class="navbar navbar-default admin-dashboard-navbar">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand">Users <sup><span class="badge">{{$ctrl.count()}}</span></sup></a>
                  </div>

                  <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.memberSearch"
                        ng-model-options="{ debounce: 1000 }" ng-change="$ctrl.search()">
                    </div>
                  </form>
                  <div class="navbar-form navbar-right right-gap-s" ng-show="$ctrl.hasUpdatePermission">
                    <button class="btn btn-default navbar-right" ng-click="$ctrl.edit = !$ctrl.edit">Edit</button>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="admin-table">
                <div class="well-item"
                  ng-repeat="user in $ctrl.members | orderBy:'displayName' | limitTo:$ctrl.usersPerPage">
                  <div class="row pointer" ng-click="$ctrl.gotoUser(user)">
                    <div class="col-md-12">
                      <div class="right-gap pull-left">
                        <i class="fa fa-user"></i>
                      </div>
                      <span>
                        {{user.displayName}}
                      </span>

                      <span class="pull-right" ng-show="$ctrl.edit">
                        <a class="btn btn-xs btn-danger" ng-click="$ctrl.removeUser(user)"><i
                            class="fa fa-minus"></i></a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="pager pull-right">
                  <li ng-class="{'disabled': $ctrl.hasPrevious() == false}">
                    <a href="javascript:void(0);" ng-click="$ctrl.previous()">&larr; Previous</a>
                  </li>
                  <li ng-class="{'disabled': $ctrl.hasNext() == false}">
                    <a href="javascript:void(0);" ng-click="$ctrl.next()">Next&rarr;</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="row">
            <div class="col-md-12">
              <nav class="navbar navbar-default admin-dashboard-navbar">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand">Add team to an event</a>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div class="admin-table">
            <div class="well-item">

              <!-- TODO only show events that I have update access for -->
              <div class="row">
                <div class="col-md-12">
                  <ui-select ng-model="$ctrl.event.selected" theme="bootstrap">
                    <ui-select-match placeholder="Select an event">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="event in $ctrl.nonTeamEvents | orderBy: 'name' | filter: $select.search">
                      <div ng-bind-html="event.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-success" ng-click="$ctrl.addEventToTeam($ctrl.event.selected)"
                    ng-disabled="$ctrl.event.selected == null"><i class="fa fa-plus"></i> Add Event</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row top-gap-l">
            <div class="col-md-12">
              <nav class="navbar navbar-default admin-dashboard-navbar">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand">Events for {{$ctrl.team.name}} <sup><span
                          class="badge">{{$ctrl.filteredEvents.length}}</span></sup></a>
                  </div>

                  <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.eventSearch">
                    </div>
                  </form>
                  <div class="navbar-form navbar-right right-gap-s">
                    <button class="btn btn-default navbar-right"
                      ng-click="$ctrl.editEvent = !$ctrl.editEvent">Edit</button>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="admin-table">
                <div class="well-item"
                  ng-repeat="e in ($ctrl.filteredEvents = ($ctrl.teamEvents | filter:$ctrl.filterEvents)) | orderBy:'name' | offset: $ctrl.eventsPage*$ctrl.eventsPerPage | limitTo:$ctrl.eventsPerPage">
                  <div class="row pointer" ng-click="$ctrl.gotoEvent(e)">
                    <div class="col-md-12">
                      <span class="pull-right" ng-show="$ctrl.editEvent">
                        <!-- TODO Don't let them remove a team from an event they don't have access to -->
                        <a class="btn btn-xs btn-danger" ng-click="$ctrl.removeEventFromTeam($event, e)"><i
                            class="fa fa-minus"></i></a>
                      </span>

                      <div class="right-gap pull-left">
                        <i class="fa fa-calendar admin-layer-icon"></i>
                      </div>
                      <div class="strong">{{e.name}}</div>
                      <div class="muted">{{e.description}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="pager pull-right">
                <li ng-class="{'disabled': $ctrl.eventsPage == 0}">
                  <a href="javascript:void(0);"
                    ng-click="$ctrl.eventsPage == 0 || ($ctrl.eventsPage=$ctrl.eventsPage-1)">&larr; Previous</a>
                </li>
                <li ng-class="{'disabled': $ctrl.eventsPage >= ($ctrl.filteredEvents.length/$ctrl.eventsPerPage) - 1}">
                  <a href="javascript:void(0);"
                    ng-click="$ctrl.eventsPage >= ($ctrl.filteredEvents.length/$ctrl.eventsPerPage) - 1 || ($ctrl.eventsPage=$ctrl.eventsPage+1)">Next&rarr;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>