<div class="page" *ngIf="feedLoaded | async; else loading">

  <admin-breadcrumb [breadcrumbs]="breadcrumbs"></admin-breadcrumb>

  <div class="heading">
    <div class="heading__content">
      <mat-icon class="heading__icon">rss_feed</mat-icon>
      <div class="heading__info">
        <div class="heading__title">{{feed.title}}</div>
        <div class="heading__summary">{{feed.summary}}</div>
      </div>
    </div>

    <div class="heading__actions">
      <button mat-button color="primary" class="heading__action" (click)="editFeed()">
        <mat-icon>edit</mat-icon>Edit
      </button>
      <button mat-button color="warn" class="heading__action" (click)="deleteFeed()">
        <mat-icon>delete</mat-icon>Delete
      </button>
    </div>
  </div>

  <div class="content">
    <div class="row__card">
      <div class="column__card">
        <mat-card class="content__card">
          <mat-card-header>
            <mat-icon mat-card-avatar>settings</mat-icon>
            <mat-card-title class="primary-color">Configuration</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <mat-form-field appearance="standard">
              <mat-label>Primary Property</mat-label>
              <input matInput placeholder="Primary Property" value="{{feed?.itemPrimaryProperty}}" readonly>
            </mat-form-field>

            <mat-form-field appearance="standard">
              <mat-label>Secondary Property</mat-label>
              <input matInput placeholder="Secondary Property" value="{{feed?.itemSecondaryProperty}}" readonly>
            </mat-form-field>

            <mat-form-field appearance="standard">
              <mat-label>Update Frequency</mat-label>
              <input matInput placeholder="Update Frequency" value="{{feed?.updateFrequencySeconds}}" readonly>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="column__card">
        <mat-card class="content__card">
          <mat-card-header>
            <mat-icon mat-card-avatar>cloud_queue</mat-icon>
            <mat-card-title class="primary-color">Service</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <mat-form-field appearance="standard">
              <mat-label>Service</mat-label>
              <input matInput placeholder="Service" value="{{service.title}}" readonly>
            </mat-form-field>

            <mat-form-field appearance="standard">
              <mat-label>Summary</mat-label>
              <input matInput placeholder="Summary" value="{{service?.summary}}" readonly>
            </mat-form-field>

          </mat-card-content>
        </mat-card>
      </div>

      <div class="column__card">
        <mat-card class="content__card">
          <mat-card-header>
            <mat-icon mat-card-avatar>event</mat-icon>
            <mat-card-title class="primary-color">Events</mat-card-title>

            <button [@rotate]="addEvent" mat-mini-fab class="events__add" (click)="toggleNewEvent()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-card-header>

          <mat-card-content class="content__events">
            <div [@slide]="addEvent">
              <div class="events__new">
                <mat-form-field>
                  <input type="text" #eventSelect placeholder="Add Feed To Event" matInput [matAutocomplete]="auto"
                    [formControl]="searchControl">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="addFeedToEvent($event)">
                    <mat-option *ngFor="let event of filteredChoices | async" [value]="event.name" [id]="event.id">
                      {{event.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>

            <mat-nav-list>
              <ng-container
                *ngFor="let event of feedEvents | slice:(eventsPage*eventsPerPage):((eventsPage+1)*eventsPerPage);">
                <mat-list-item (click)="goToEvent(event)">
                  <mat-icon class="feed__icon" mat-list-icon>event</mat-icon>
                  <div mat-line>{{event.name}}</div>
                  <div mat-line>{{event.description}}</div>
                  <button mat-icon-button (click)="removeFeedFromEvent($event, event)" *ngIf="hasFeedEditPermission">
                    <mat-icon color="warn">remove_circle_outline</mat-icon>
                  </button>
                </mat-list-item>

                <mat-divider [inset]="true"></mat-divider>

              </ng-container>

              <mat-paginator [length]="feedEvents.length" [pageSize]="eventsPerPage" (page)="eventsPage = $event.pageIndex">
              </mat-paginator>

            </mat-nav-list>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div>
    Loading
  </div>
</ng-template>
