commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/88_final_tweaks.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash      
      sed -i '1s/.*/#!\/bin\/env \/opt\/elasticbeanstalk\/node-install\/node-v0.10.26-linux-x64\/bin\/node/' /var/app/current/node_modules/mongodb-migrations/bin/mm
      cd /var/app/current
      node_modules/mongodb-migrations/bin/mm
      sed -i 's/http:\/\/nodejs/http:\/\/127.0.0.1:4242/g' /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
      /etc/init.d/nginx reload
