<section class="mat-typography">
    <div class="mat-subheading-2">Password Policies</div>
</section>
<section class="mat-typography">
    <div class="mat-subheading-1">Minimum Password Requirements for User Accounts</div>
    <div>
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.minCharsEnabled"
            [checked]="strategy.settings.passwordPolicy.minCharsEnabled" (change)="buildPasswordHelp(); setDirty(true)"
            color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput type="number" id="minChars" [disabled]="!strategy.settings.passwordPolicy.minCharsEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.minChars" min="0"
                (click)="buildPasswordHelp(); setDirty(true)">
        </mat-form-field>
        <mat-label for="minChars">Minimum Letters</mat-label>
    </div>
    <div>
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.maxConCharsEnabled"
            [checked]="strategy.settings.passwordPolicy.maxConCharsEnabled"
            (change)="buildPasswordHelp(); setDirty(true)" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput type="number" id="maxConChars"
                [disabled]="!strategy.settings.passwordPolicy.maxConCharsEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.maxConChars" min="0"
                (click)="buildPasswordHelp(); setDirty(true)">
        </mat-form-field>
        <mat-label for="maxConChars">Maximum Consecutive Letters</mat-label>
    </div>
    <div>
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.lowLettersEnabled"
            [checked]="strategy.settings.passwordPolicy.lowLettersEnabled"
            (change)="buildPasswordHelp(); setDirty(true)" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput type="number" id="lowLetters"
                [disabled]="!strategy.settings.passwordPolicy.lowLettersEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.lowLetters" min="0"
                (click)="buildPasswordHelp(); setDirty(true)">
        </mat-form-field>
        <mat-label for="lowLetters">Lowercase Letters</mat-label>
    </div>
    <div>
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.highLettersEnabled"
            [checked]="strategy.settings.passwordPolicy.highLettersEnabled"
            (change)="buildPasswordHelp(); setDirty(true)" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput type="number" id="highLetters"
                [disabled]="!strategy.settings.passwordPolicy.highLettersEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.highLetters" min="0"
                (click)="buildPasswordHelp(); setDirty(true)">
        </mat-form-field>
        <mat-label for="highLetters">Uppercase Letters</mat-label>
    </div>
    <div>
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.numbersEnabled"
            [checked]="strategy.settings.passwordPolicy.numbersEnabled" (change)="buildPasswordHelp(); setDirty(true)"
            color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput type="number" id="numbers" [disabled]="!strategy.settings.passwordPolicy.numbersEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.numbers" min="0"
                (click)="buildPasswordHelp(); setDirty(true)">
        </mat-form-field>
        <mat-label for="numbers">Numbers</mat-label>
    </div>
    <div>
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.specialCharsEnabled"
            [checked]="strategy.settings.passwordPolicy.specialCharsEnabled"
            (change)="buildPasswordHelp(); setDirty(true)" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput type="number" id="specialChars"
                [disabled]="!strategy.settings.passwordPolicy.specialCharsEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.specialChars" min="0"
                (click)="buildPasswordHelp(); setDirty(true)">
        </mat-form-field>
        <mat-label for="specialChars">Special Characters</mat-label>
    </div>
</section>
<section class="mat-typography">
    <div class="mat-subheading-1">User Password Policies</div>
    <div>
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.passwordMinLengthEnabled"
            [checked]="strategy.settings.passwordPolicy.passwordMinLengthEnabled"
            (change)="buildPasswordHelp(); setDirty(true)" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput type="number" id="passwordMinLength"
                [disabled]="!strategy.settings.passwordPolicy.passwordMinLengthEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.passwordMinLength" min="0"
                (click)="buildPasswordHelp(); setDirty(true)">
        </mat-form-field>
        <mat-label for="passwordMinLength">Minimum Password Length</mat-label>
    </div>
    <div>
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.passwordHistoryCountEnabled"
            [checked]="strategy.settings.passwordPolicy.passwordHistoryCountEnabled"
            (change)="buildPasswordHelp(); setDirty(true)" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput type="number" id="passwordHistoryCount"
                [disabled]="!strategy.settings.passwordPolicy.passwordHistoryCountEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.passwordHistoryCount" min="0"
                (click)="buildPasswordHelp(); setDirty(true)">
        </mat-form-field>
        <mat-label for="passwordHistoryCount">Previous Passwords
            Remembered</mat-label>
    </div>
</section>
<section class="mat-typography">
    <div class="mat-subheading-1">User Password Policy Help</div>
    <div>
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.customizeHelpText"
            [checked]="strategy.settings.passwordPolicy.customizeHelpText" color="primary"
            (change)="buildPasswordHelp(); setDirty(true)">
        </mat-checkbox>
        <mat-label for="customize-help" class="label--customize-password">Customize password help message</mat-label>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <textarea matInput id="helpText" [disabled]="!strategy.settings.passwordPolicy.customizeHelpText"
                [(ngModel)]="strategy.settings.passwordPolicy.helpText" (click)="setDirty(true)"></textarea>
            <mat-hint align="end">This is the help
                text that is displayed to the user during password
                creation/update, when their password fails to meet the password
                policy.</mat-hint>
        </mat-form-field>
    </div>
</section>