<section class="mat-typography">
    <div class="mat-subheading-2">Password Policies</div>
</section>
<section class="mat-typography">
    <div class="mat-subheading-1">Minimum Password Requirements for User Accounts</div>
    <div>
        <mat-checkbox
            disabled 
            [value]="strategy.settings.passwordPolicy.minCharsEnabled"
            [checked]="strategy.settings.passwordPolicy.minCharsEnabled">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput readonly [value]="strategy.settings.passwordPolicy.minChars">
        </mat-form-field>
        <mat-label for="minChars">Minimum Letters</mat-label>
    </div>
    <div>
        <mat-checkbox 
            disabled
            [value]="strategy.settings.passwordPolicy.maxConCharsEnabled"
            [checked]="strategy.settings.passwordPolicy.maxConCharsEnabled">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput readonly [value]="strategy.settings.passwordPolicy.maxConChars">
        </mat-form-field>
        <mat-label for="maxConChars">Maximum Consecutive Letters</mat-label>
    </div>
    <div>
        <mat-checkbox
            disabled
            [value]="strategy.settings.passwordPolicy.lowLettersEnabled"
            [checked]="strategy.settings.passwordPolicy.lowLettersEnabled">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput readonly [value]="strategy.settings.passwordPolicy.lowLetters">
        </mat-form-field>
        <mat-label for="lowLetters">Lowercase Letters</mat-label>
    </div>
    <div>
        <mat-checkbox
            disabled
            [value]="strategy.settings.passwordPolicy.highLettersEnabled"
            [checked]="strategy.settings.passwordPolicy.highLettersEnabled">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput readonly [value]="strategy.settings.passwordPolicy.highLetters">
        </mat-form-field>
        <mat-label for="highLetters">Uppercase Letters</mat-label>
    </div>
    <div>
        <mat-checkbox
            disabled
            [value]="strategy.settings.passwordPolicy.numbersEnabled"
            [checked]="strategy.settings.passwordPolicy.numbersEnabled">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput readonly [value]="strategy.settings.passwordPolicy.numbers">
        </mat-form-field>
        <mat-label for="numbers">Numbers</mat-label>
    </div>
    <div>
        <mat-checkbox
            disabled
            [value]="strategy.settings.passwordPolicy.specialCharsEnabled"
            [checked]="strategy.settings.passwordPolicy.specialCharsEnabled">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput readonly [value]="strategy.settings.passwordPolicy.specialChars">
        </mat-form-field>
        <mat-label for="specialChars">Special Characters</mat-label>
    </div>
</section>
<section class="mat-typography">
    <div class="mat-subheading-1">User Password Policies</div>
    <div>
        <mat-checkbox
            disabled
            [value]="strategy.settings.passwordPolicy.passwordMinLengthEnabled"
            [checked]="strategy.settings.passwordPolicy.passwordMinLengthEnabled">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput readonly [value]="strategy.settings.passwordPolicy.passwordMinLength">
        </mat-form-field>
        <mat-label for="passwordMinLength">Minimum Password Length</mat-label>
    </div>
    <div>
        <mat-checkbox
            disabled
            [value]="strategy.settings.passwordPolicy.passwordHistoryCountEnabled"
            [checked]="strategy.settings.passwordPolicy.passwordHistoryCountEnabled">
        </mat-checkbox>
        <mat-form-field appearance="outline">
            <input matInput readonly [value]="strategy.settings.passwordPolicy.passwordHistoryCount">
        </mat-form-field>
        <mat-label for="passwordHistoryCount">Previous Passwords Remembered</mat-label>
    </div> 
</section>
<section class="mat-typography">
    <div class="mat-subheading-1">Password Policy Help</div>
    <div>
        <mat-checkbox
            disabled
            [value]="strategy.settings.passwordPolicy.customizeHelpText"
            [checked]="strategy.settings.passwordPolicy.customizeHelpText">
        </mat-checkbox>
        <mat-label for="customize-help" class="label--customize-password">Password help message</mat-label>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <textarea matInput readonly [value]="strategy.settings.passwordPolicy.helpText"></textarea>
            <mat-hint align="end">This is the help text that is displayed to the user during password creation/update, when their password fails to meet the password policy.</mat-hint>
        </mat-form-field>
    </div>
</section>