<mat-card>
  <mat-card-header>
    <mat-card-title>{{formDefinition.name}}</mat-card-title>
  </mat-card-header>

  <div *ngFor="let field of nonArchivedFields(formDefinition.fields)">
    <div [ngSwitch]="field.type">
      <observation-edit-checkbox *ngSwitchCase="'checkbox'" [field]="field"></observation-edit-checkbox>
      <observation-edit-date *ngSwitchCase="'date'" [field]="field"></observation-edit-date>
      <observation-edit-dropdown *ngSwitchCase="'dropdown'" [field]="field"></observation-edit-dropdown>
      <observation-edit-multiselect *ngSwitchCase="'multiselectdropdown'" [field]="field"></observation-edit-multiselect>
      <observation-edit-email *ngSwitchCase="'email'" [field]="field"></observation-edit-email>
      <observation-edit-number *ngSwitchCase="'numberfield'" [field]="field"></observation-edit-number>
      <observation-edit-radio *ngSwitchCase="'radio'" [field]="field"></observation-edit-radio>
      <observation-edit-text *ngSwitchCase="'textfield'" [field]="field"></observation-edit-text>
      <observation-edit-textarea *ngSwitchCase="'textarea'" [field]="field"></observation-edit-textarea>
      <observation-edit-geometry *ngSwitchCase="'geometry'" 
        [field]="field"
        featureId="{{formDefinition.id}}_{{field.id}}"
        [featureStyle]="geometryStyle"
        (onFeatureEdit)="onGeometryEdit($event)"
        (onFeatureChanged)="onGeometryChanged($event, field)">
      </observation-edit-geometry>
    </div>
  </div>
</mat-card>
