mat-toolbar {
  background-color: white;

  button {
    color: var(--mat-sys-primary);
  }
}

.navigation {
  display: flex;
}

.navigation__icon {
  margin-right: 24px;
}

.navigation__title {
  flex: 1 1 auto;
  font: var(--mat-sys-title-large);
  color: var(--mat-sys-primary);
}

.observation {
  margin-top: 16px;
}

.form {
  margin: 0 8px 8px 8px;
  --mat-card-elevated-container-color: white;
}

.edit-content {
  position: absolute;
  top: 64px;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 54px;
}

.edit-content--scroll-lock {
  overflow-y: hidden;
}

.edit-banner {
  background: var(--mat-sys-surface-container-low);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 10;
  max-height: 240px;
}

.edit-banner-container {
  margin: 16px;
  flex: 1;
  overflow-y: auto;
}

.edit-banner-content {
  display: flex;
  flex-direction: column;
}

.edit-banner-content__title {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  font: var(--mat-sys-body-large);
  color: var(--mat-sys-on-surface);
}

.edit-banner-content__title-icon {
  color: var(--mat-sys-error);
}

.edit-banner-content__summary {
  font: var(--mat-sys-body-medium);
  white-space: pre-wrap;
  color: var(--mat-sys-on-surface-variant);
}

.edit-banner-actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-bottom: 8px;
}

.edit-progress {
  z-index: 1;
}

.edit-date {
  margin-bottom: 16px;
}

.form-mask {
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .2;
}

.add-form {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 1;
}

.edit-forms {
  padding-bottom: 16px;
}

.form-drag-handle {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: var(--mat-sys-on-surface-variant);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging {
  cursor: grabbing !important;
}

.cdk-drag-handle {
  cursor: grab;
}
