.navigation {
  display: flex;
}

.navigation__icon {
  margin-right: 24px;
}

.navigation__title {
  flex: 1 1 auto;
}

.observation {
  margin-top: 16px;
}

.form {
  margin: 0 8px 8px 8px;
}

.edit-content {
  position: absolute;
  top: 64px;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 54px;
}

.edit-content--scroll-lock {
  overflow-y: hidden;
}

.edit-banner {
  background: #e7e7e7;
  border-bottom: 1px solid rgba($color: #000000, $alpha: .12);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1;
}

.edit-banner-container {
  margin: 16px;
  display: flex;
  flex-direction: row;
}

.edit-banner-content {
  display: flex;
  flex-direction: column;
}

.edit-banner-content__title {
  margin-bottom: 8px;
  font-size: 16px;
  color: rgba(213, 0, 0, 1);
}

.edit-banner-content__summary {
  font-size: 16px;
  white-space: pre-wrap;
  color: rgba($color: #000000, $alpha: .87);
}

.edit-banner-actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-bottom: 8px;
}

.edit-progress {
  z-index: 1;
}

.form-mask {
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .2;
}

.add-form {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.extended-fab-button {
  width: unset;
  padding: 0 16px;
  border-radius: 24px;
  height: 48px;

  .mat-icon {
    margin-right: 12px;
    color: white;
  }

  .extended-fab-button__text {
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: white;
  }
}

:host .extended-fab-button > ::ng-deep.mat-button-wrapper {
  padding: unset;
}

.edit-forms {
  padding-bottom: 16px;
}

.form-drag-handle {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging {
  cursor: grabbing !important;
}

.cdk-drag-handle {
  cursor: grab;
}