:host {
  --mat-bottom-sheet-container-background-color: white;
}

.container {
  width: 468px;
}

.form-picker-header {
  display: flex;
  align-items: center;
  min-height: 72px;
  padding: 0 32px;
}

.form-picker-header__text {
  font: var(--mat-sys-title-large);
  color: var(--mat-sys-on-surface);
}

.form-picker-header__divider {
  margin: 0;
}

.form-picker-list {
  padding: 24px 0 8px;
  --mat-list-list-item-container-shape: var(--mat-sys-corner-full);
}
