<mat-card>
  <div class="form-header">
    <div class="form-header-summary">
      <div class="form-header-title">
        <mat-icon class="form-header-title__icon" [style.color]="definition.color">description</mat-icon>
        <div class="form-header-title__text">{{definition.name}}</div>
      </div>
      <div *ngIf="primaryField.value" class="form-header-summary__primary">
        <div [ngSwitch]="primaryField?.type">
          <div *ngSwitchCase="geometry">
            {{primaryField?.value | geometry:5}}
          </div>
          <div *ngSwitchDefault>
            {{primaryField?.value}}
          </div>
        </div>
      </div>
      <div *ngIf="secondaryField.value" class="form-header-summary__secondary">
        <span [ngSwitch]="secondaryField?.type">
          <span *ngSwitchCase="geometry">
            {{secondaryField?.value | geometry:5}}
          </span>
          <span *ngSwitchDefault>
            {{secondaryField?.value}}
          </span>
        </span>
      </div>
    </div>
  
    <div class="form-header-actions">
      <button mat-icon-button (click)="expand = !expand">
        <mat-icon [@rotate]="expand" class="form-header-actions__expand" [style.color]="formGroup.invalid && formGroup.touched ? 'red' : ''">expand_more</mat-icon>
      </button>
      <div class="form-header-actions__drag" #dragHandle>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  
  <div *ngIf="expand" @expand class="form-content">
    <div *ngFor="let fieldName of fieldNames">
      <div [ngSwitch]="fieldDefinitions[fieldName].type">
        <observation-edit-checkbox *ngSwitchCase="'checkbox'" [formGroup]="formGroup" [definition]="fieldDefinitions[fieldName]"></observation-edit-checkbox>
        <observation-edit-date *ngSwitchCase="'date'" [formGroup]="formGroup" [definition]="fieldDefinitions[fieldName]"></observation-edit-date>
        <observation-edit-dropdown *ngSwitchCase="'dropdown'" [formGroup]="formGroup" [definition]="fieldDefinitions[fieldName]"></observation-edit-dropdown>
        <observation-edit-multiselect *ngSwitchCase="'multiselectdropdown'" [formGroup]="formGroup" [definition]="fieldDefinitions[fieldName]"></observation-edit-multiselect>
        <observation-edit-email *ngSwitchCase="'email'" [formGroup]="formGroup" [definition]="fieldDefinitions[fieldName]"></observation-edit-email>
        <observation-edit-number *ngSwitchCase="'numberfield'" [formGroup]="formGroup" [definition]="fieldDefinitions[fieldName]"></observation-edit-number>
        <observation-edit-radio *ngSwitchCase="'radio'" [formGroup]="formGroup" [definition]="fieldDefinitions[fieldName]"></observation-edit-radio>
        <observation-edit-text *ngSwitchCase="'textfield'" [formGroup]="formGroup" [definition]="fieldDefinitions[fieldName]"></observation-edit-text>
        <observation-edit-textarea *ngSwitchCase="'textarea'" [formGroup]="formGroup" [definition]="fieldDefinitions[fieldName]"></observation-edit-textarea>
        <observation-edit-geometry *ngSwitchCase="'geometry'"
          [formGroup]="formGroup"
          [definition]="fieldDefinitions[fieldName]"
          featureId="{{formGroup.get('formId').value}}_{{fieldDefinitions[fieldName].id}}"
          [featureStyle]="geometryStyle"
          (onFeatureEdit)="onGeometryEdit($event)">
        </observation-edit-geometry>
      </div>
    </div>
  
    <div class="form-actions">
      <button mat-button color="warn" (click)="removeForm()">Remove Form</button>
    </div>
  </div>
</mat-card>
