.navigation {
  display: flex;
}

.navigation__icon {
  margin-right: 24px;
}

.navigation__title {
  flex: 1 1 auto;
}

.observation {
  margin-top: 16px;
}

.form {
  margin: 0 8px 8px 8px;
}

.edit-content {
  position: absolute;
  top: 64px;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 70px;
}

.edit-content--scroll-lock {
  overflow-y: hidden;
}

.edit-banner {
  background: #e7e7e7;
  border-bottom: 1px solid rgba($color: #000000, $alpha: .12);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1;
}

.edit-banner-container {
  margin: 16px;
  display: flex;
  flex-direction: row;
}

.edit-banner-content {
  display: flex;
  flex-direction: column;
}

.edit-banner-content__title {
  font-size: 16px;
  color: rgba(213, 0, 0, 1);
}

.edit-banner-content__summary {
  font-size: 16px;
  white-space: pre-wrap;
  color: rgba($color: #000000, $alpha: .87);
}

.edit-banner-actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-bottom: 8px;
}

.edit-progress {
  z-index: 1;
}

.form-mask {
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .2;
}

.edit-attachments__grid {
  margin: 0 8px;
}

.delete {
  margin: 16px 8px;
}

.delete__button {
  width: 100%;
}

// Need this to override bootstrap, can be removed when bootstrap is removed
input[type="file"] { 
  display: none;
}

.add__button {
  margin: 8px;
}

.attachment-field {
  border-radius: 4px 4px 0 0;
  background-color: rgb(245, 245, 245);
}

.attachment-field__underline {
  width: 100%;
  pointer-events: none;
  transform: scaleY(1.0001);
  bottom: 1.34375em;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}

.attachment-field__label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.125;
  padding: 12px 16px 8px 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, 0.6)
}

.no-attachments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 194px;
  background-color: #F5F5F5;
  margin: 8px;
}

.no-attachments__icon {
  font-size: 60px;
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, .4);
}

.no-attachments__text {
  font-size: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, .4)
}

.attachment-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.add-form {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.extended-fab-button {
  width: unset;
  padding: 0 16px;
  border-radius: 24px;
  height: 48px;

  .mat-icon {
    margin-right: 12px;
  }

  .extended-fab-button__text {
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}

:host .extended-fab-button > ::ng-deep.mat-button-wrapper {
  padding: unset;
}

.form-drag-handle {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.form-actions__drag {
  margin-right: -14px;
  margin-top: -14px;
  // cursor: grab;
}

.form-actions__drag:active {
  // cursor: grabbing;
}

.cdk-drop-list-dragging {
  cursor: grabbing !important;
}

.cdk-drag-handle {
  cursor: grab;
}

.cdk-drag-handle:active {
  cursor: grabbing;
}

.cdk-drag-handle:hover {
  cursor: grab;
}