<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="navigation">
      <button mat-icon-button class="navigation__icon" (click)="cancel()"><mat-icon>close</mat-icon></button>
      <div class="navigation__title">
        <span *ngIf="!isNewObservation">Edit Observation</span>
        <span *ngIf="isNewObservation">Create Observation</span>
      </div>

      <button mat-button (click)="save()" [disabled]="observationForm.$invalid || saving || mask">SAVE</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-progress-bar *ngIf="saving" color="primary" mode="indeterminate" class="edit-progress"></mat-progress-bar>

  <div cdkScrollable #editContent class="edit-content" [ngClass]="{'edit-content--scroll-lock': mask}">
    <div class="edit-banner" *ngIf="error" @error>
      <div class="edit-banner--content">
        <mat-icon>error_outline</mat-icon>
        <div class="edit-banner--content__text">{{error?.message}}.</div>
      </div>
    
      <div class="edit-banner--actions">
        <button mat-button color="primary" (click)="error = null;">OK</button>
      </div>
    </div>

    <form class="observation" name="observationForm" novalidate>
      <mat-card class="form">
        <observation-edit-date [field]="form?.timestampField"></observation-edit-date>
      
        <observation-edit-geometry
          [field]="form?.geometryField"
          [featureId]="observation.id"
          [featureStyle]="geometryStyle"
          (onFeatureEdit)="onGeometryEdit($event)"
          (onFeatureChanged)="onGeometryChanged($event, field)">
        </observation-edit-geometry>
      </mat-card>

      <div *ngFor="let formDefinition of form?.forms">
        <div class="form">
          <observation-edit-form
            [form]="observationForm"
            [formDefinition]="formDefinition"
            [geometryStyle]="geometryStyle"
            (featureEdit)="onGeometryEdit($event)">
          </observation-edit-form>
        </div>
      </div>

      <div *ngIf="!preview">
        <mat-card class="edit-attachments">
          <mat-grid-list class="edit-attachments__grid" cols="2" rowHeight="210px" gutterSize="4px" *ngIf="allAttachments().length">
            <mat-grid-tile *ngFor="let attachment of allAttachments(); trackBy: trackByAttachment; first as isFirst" [rowspan]="1" [colspan]="isFirst && (allAttachments().length % 2 === 1) ? 2 : 1">
              <observation-attachment *ngIf="!attachment.file" [attachment]="attachment" [observation]="observation" edit="true"></observation-attachment>
              <attachment-upload *ngIf="attachment.file"
                [url]="observation.url + '/attachments'"
                [attachment]="attachment"
                [allowUpload]="uploadAttachments"
                (remove)="onAttachmentRemove($event)"
                (error)="onAttachmentError($event)"
                (upload)="onAttachmentUploaded($event)"></attachment-upload>
            </mat-grid-tile>
          </mat-grid-list>

          <div>
            <button mat-flat-button class="add__button" type="button" color="primary" (click)="file.click()">Add Attachments</button>
            <input [hidden]="true" type="file" #file multiple (change)="onAttachmentFile($event)">
          </div>
        </mat-card>

        <div *ngIf="observation.id && canDeleteObservation" class="delete">
          <button mat-flat-button color="warn" type="button" (click)="deleteObservation(observation)" class="delete__button">
            Delete Observation
          </button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="mask" @mask class="form-mask"></div>

</div>