<section class="mat-typography banner-section">
  <div class="mat-body banner-summary">
    MAGE can add a header and footer to all views. Below you can specify whether
    or not you want a header and/or footer, text, text color and background
    color.
  </div>
</section>

<section class="mat-typography banner-section">
  <div class="banner-block">
    <h3 class="banner-title">Header</h3>

    <div class="show-section">
      <mat-checkbox
        [(ngModel)]="banner.showHeader"
        [checked]="banner.showHeader"
        color="primary"
        (change)="setDirty(true)"
      >
      </mat-checkbox>
      <span class="show-label">Show Header</span>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Header Text</mat-label>
      <input
        matInput
        [(ngModel)]="banner.headerText"
        required
        [disabled]="!banner.showHeader"
        (click)="setDirty(true)"
      />
    </mat-form-field>

    <div class="color-field">
      <label class="color-field-label" for="headerTextColor"
        >Header Text Color</label
      >
      <color-picker
        [hexColor]="banner.headerTextColor"
        id="headerTextColor"
        #headerTextColor
      >
      </color-picker>
    </div>

    <div class="color-field">
      <label class="color-field-label" for="headerBackgroundColor"
        >Header Background Color</label
      >
      <color-picker
        [hexColor]="banner.headerBackgroundColor"
        id="headerBackgroundColor"
        #headerBackgroundColor
      >
      </color-picker>
    </div>
  </div>
</section>

<section class="mat-typography banner-section">
  <div class="banner-block">
    <h3 class="banner-title">Footer</h3>

    <div class="show-section">
      <mat-checkbox
        [(ngModel)]="banner.showFooter"
        [checked]="banner.showFooter"
        color="primary"
        (change)="setDirty(true)"
      >
      </mat-checkbox>
      <span class="show-label">Show Footer</span>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Footer Text</mat-label>
      <input
        matInput
        [(ngModel)]="banner.footerText"
        required
        [disabled]="!banner.showFooter"
        (click)="setDirty(true)"
      />
    </mat-form-field>

    <div class="color-field">
      <label class="color-field-label" for="footerTextColor"
        >Footer Text Color</label
      >
      <color-picker
        [hexColor]="banner.footerTextColor"
        id="footerTextColor"
        #footerTextColor
      >
      </color-picker>
    </div>

    <div class="color-field">
      <label class="color-field-label" for="footerBackgroundColor"
        >Footer Background Color</label
      >
      <color-picker
        [hexColor]="banner.footerBackgroundColor"
        id="footerBackgroundColor"
        #footerBackgroundColor
      >
      </color-picker>
    </div>
  </div>
</section>
