<section class="mat-typography">
    <div class="mat-body; banner-summary">
        MAGE can add a header and footer to all views. Below you can specify whether or
        not you want a header and/or footer, text, text color and background color.
    </div>
</section>
<section class="mat-typography">
    <div class="mat-title">Header</div>
    <div class="show-section">
        <mat-checkbox [(ngModel)]="banner.showHeader" [checked]="banner.showHeader" color="primary"
            (change)="setDirty(true)">
        </mat-checkbox>
        <mat-label for="show-header">Show Header</mat-label>
    </div>
    <mat-form-field appearance="outline">
        <mat-label for="headerText">Header Text</mat-label>
        <input matInput [(ngModel)]="banner.headerText" required [disabled]="!banner.showHeader" (click)="setDirty(true)">
    </mat-form-field>
    <mat-label for="headerTextColor">Header Text Color</mat-label>
    <color-picker [hexColor]="banner.headerTextColor" id="headerTextColor" #headerTextColor>
    </color-picker>
    <mat-label for="headerBackgroundColor">Header Background Color</mat-label>
    <color-picker [hexColor]="banner.headerBackgroundColor" id="headerBackgroundColor" #headerBackgroundColor>
    </color-picker>
</section>
<section class="mat-typography">
    <div class="mat-title">Footer</div>
    <div class="show-section">
        <mat-checkbox [(ngModel)]="banner.showFooter" [checked]="banner.showFooter" color="primary"
            (change)="setDirty(true)">
        </mat-checkbox>
        <mat-label for="show-footer">Show Footer</mat-label>
    </div>
    <mat-form-field appearance="outline">
        <mat-label for="footerText">Footer Text</mat-label>
        <input matInput [(ngModel)]="banner.footerText" required [disabled]="!banner.showFooter" (click)="setDirty(true)">
    </mat-form-field>
    <mat-label for="footerTextColor">Footer Text Color</mat-label>
    <color-picker [hexColor]="banner.footerTextColor" id="footerTextColor" #footerTextColor>
    </color-picker>
    <mat-label for="footerBackgroundColor">Footer Background Color</mat-label>
    <color-picker [hexColor]="banner.footerBackgroundColor" id="footerBackgroundColor" #footerBackgroundColor>
    </color-picker>
</section>