@import '~@angular/material/theming';
@import "variables.scss";

.bottom-gap {
    margin-bottom: 16px;
}

mat-button {
    margin-left: 8px; 
}

mat-dialog-actions {
    display: flex;
    justify-content: right;
}