@import '~@angular/material/theming';
@import "variables.scss";

#cancel-button {
    margin-right: 8px;
    color: #1E88E5;
}
  
#ok-button {
    margin-left: 8px;
}
  
#ok-button:not(:disabled) {
    background-color: #1E88E5 !important;
    color: white;
}

mat-dialog-actions {
    display: flex;
    justify-content: right;
}