<section class="mat-typography">
  <h1 mat-dialog-title>Delete Authentication</h1>
</section>
<section class="mat-typography">
  <mat-dialog-content>
    <p>Are you sure you would like to delete {{strategy.name.toUpperCase()}} Authentication?</p>
  </mat-dialog-content>
</section>
<section class="mat-typography">
  <mat-dialog-actions>
    <button class="mat-button mat-primary" (click)="close()">CANCEL</button>
    <button class="mat-button mat-primary" (click)="delete()">OK</button>
  </mat-dialog-actions>
</section>