<admin-breadcrumb [breadcrumbs]="breadcrumbs"></admin-breadcrumb>

<div class="container bottom-gap-l">
  <div class="page-header">
    <h2 class="page-title">Teams</h2>
  </div>

  <div class="table-wrapper mat-elevation-z2">
    <div
      class="integrated-navbar d-flex align-items-center justify-content-between"
    >
      <div class="filters d-flex align-items-center">
        <mage-card-navbar
          [isSearchable]="true"
          [searchPlaceholder]="'Search teams...'"
          (searchTermChanged)="onSearchTermChanged($event)"
          (searchCleared)="onSearchCleared()"
        ></mage-card-navbar>
      </div>

      <div class="button-group">
        <button mat-flat-button class="btn-primary" (click)="createTeam()">
          New Team
        </button>
      </div>
    </div>

    <div class="table-scroll" *ngIf="teams.length; else noTeams">
      <table
        mat-table
        [class.mat-table]="true"
        [dataSource]="dataSource"
        class="mat-table-even-columns"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let team">
            <div class="d-flex align-items-center pointer">
              <i class="icon fa fa-users mr-2" aria-hidden="true"></i>
              <div class="w-100">
                <div class="strong">{{ team.name }}</div>
                <div
                  [matTooltip]="team.description"
                  [matTooltipDisabled]="
                    !team.description || team.description.length <= numChars
                  "
                  matTooltipClass="mat-tooltip-event-desc"
                  class="w-90"
                >
                  <p class="muted ellipsis">{{ team.description }}</p>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="gotoTeam(row)"
          class="pointer"
        ></tr>
      </table>
    </div>

    <ng-template #noTeams>
      <div class="text-center p-4 muted">No teams found.</div>
    </ng-template>

    <div class="pagination">
      <mat-paginator
        [length]="totalTeams"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
