<div class="field form-group">
  <div class="row">
    <div class="col-md-7">
      <label>{{$ctrl.field.title}}</label> <span class="required-error" ng-show="$ctrl.field.required && !$ctrl.field.value">*</span>

      <p class="input-group">
        <input type="text" name="timestamp" class="form-control" uib-datepicker-popup="MMM d yyyy HH:mm:ss" ng-model="$ctrl.date" ng-change="$ctrl.onDateChanged()" ng-required="$ctrl.field.required" is-open="$ctrl.datePopup.open" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.openDate($event)"><i class="fa fa-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-5">
      <label class="control-label">&nbsp;</label>

      <p class="input-group">
        <button type="button" ng-click="$ctrl.onTimeZoneChange()" class="btn btn-default">
          <i class="fa fa-clock-o"></i>
          <span ng-show="$ctrl.timeZone === 'local'"> Local (GMT {{$ctrl.localOffset}})</span>
          <span ng-show="$ctrl.timeZone === 'gmt'"> GMT (GMT +00:00)</span>
        </button>
      </p>
    </div>
  </div>
</div>
