<div class="mdc-card observation-form-card">
  <div class="observation-header-text bottom-gap">
    {{$ctrl.formDefinition.name}}
  </div>

  <div ng-repeat="field in $ctrl.formDefinition.fields | filter:{archived: '!true'} | orderBy: 'id'">
    <div ng-switch on="field.type">
      <checkbox-edit ng-switch-when="checkbox" field="field"></checkbox-edit>
      <date-edit ng-switch-when="date" field="field" form-field="$ctrl.form[field.name]"></date-edit>
      <dropdown-edit ng-switch-when="dropdown" field="field"></dropdown-edit>
      <email-edit ng-switch-when="email" field="field"></email-edit>
      <geometry-edit ng-switch-when="geometry" 
        feature="{type: 'Feature', geometry: field.value, style: $ctrl.geometryStyle}" 
        field="field" 
        on-feature-changed="$ctrl.onGeometryChanged($event, field)" 
        on-feature-edit="$ctrl.onGeometryEdit($event)"></geometry-edit>
      <multiselectdropdown-edit ng-switch-when="multiselectdropdown" field="field"></multiselectdropdown-edit>
      <number-edit ng-switch-when="numberfield" field="field"></number-edit>
      <password-edit ng-switch-when="password" field="field"></password-edit>
      <radio-edit ng-switch-when="radio" field="field"></radio-edit>
      <text-edit ng-switch-when="textfield" field="field"></text-edit> 
      <textarea-edit ng-switch-when="textarea" field="field"></textarea-edit>
    </div>
  </div>
  <span>* required</span>
</div>
