<div class="field form-group">
  <label>{{field.title}}</label> <span class="required-error" ng-show="field.required && !field.value">*</span>

  <div class="row">
    <div class="col-md-5">
      <input class="form-control" type="number" ng-model="field.value.x" value="{{field.value.x}}" ng-required="field.required" ng-change="onLatLngChange(field)">
    </div>
    <div class="col-md-5">
      <input class="form-control" type="number" ng-model="field.value.y" value="{{field.value.y}}" ng-required="field.required" ng-change="onLatLngChange(field)">
    </div>
  </div>
</div>
