<div class="field form-group">
  <div
    class="mdc-select mdc-select--outlined location-field-select"
    ng-click="$ctrl.editGeometry($event)">
    <div class="mdc-select__selected-text-mine">
      <div class="map-clip" id="map-outlined" ng-if="$ctrl.field.value && $ctrl.field.value.coordinates.length">
        <div
          map-clip="{type: 'Feature', geometry: $ctrl.field.value}"
          feature-style="$ctrl.geometryStyle"
          disable-interaction="true"></div>
      </div>
      <div class="map-spacer" ng-if="!$ctrl.field.value || !$ctrl.field.value.coordinates.length"></div>
    </div>
    <select class="mdc-select__native-control">
      <option disabled selected value=" "> </option>
    </select>
    <div class="mdc-notched-outline">
    <div class="mdc-notched-outline__leading"></div>
    <div class="mdc-notched-outline__notch">
      <label class="mdc-floating-label">{{$ctrl.field.title}}</label>
    </div>
    <div class="mdc-notched-outline__trailing"></div>  
    </div>
  </div>
</div>
