<div>
  <div class="edit-location__geometry-type">
    <div class="mdc-typography--overline">Geometry</div>
    <div class="mdc-chip-set mdc-chip-set--choice">
      <div class="mdc-chip" ng-click="$ctrl.shapeTypeChanged('Point')"
        ng-class="{'mdc-chip--selected': $ctrl.feature.geometry.type === 'Point'}">
        <span>Point</span>
      </div>
      <div class="mdc-chip" ng-click="$ctrl.shapeTypeChanged('LineString')"
        ng-class="{'mdc-chip--selected': $ctrl.feature.geometry.type === 'LineString'}">
        <span>Line</span>
      </div>
      <div class="mdc-chip" ng-click="$ctrl.shapeTypeChanged('Polygon')"
        ng-class="{'mdc-chip--selected': $ctrl.feature.geometry.type === 'Polygon'}">
        <span>Polygon</span>
      </div>
      <div class="mdc-chip" ng-click="$ctrl.shapeTypeChanged()"
        ng-class="{'mdc-chip--selected': !$ctrl.feature.geometry.type}">
      <span>None</span>
    </div>
    </div>
  </div>

  <div class="edit-location__coordinates">
    <div class="mdc-typography--overline">Manual Edit</div>
    <div class="mdc-chip-set mdc-chip-set--choice">
      <div class="mdc-chip" ng-click="$ctrl.coordinateSystemChange('wgs84')"
        ng-class="{'mdc-chip--selected': $ctrl.coordinateSystem === 'wgs84'}">
        <span>Lat/Lng</span>
      </div>
      <div class="mdc-chip" ng-click="$ctrl.coordinateSystemChange('mgrs')"
        ng-class="{'mdc-chip--selected': $ctrl.coordinateSystem === 'mgrs'}">
        <span>MGRS</span> 
      </div>
    </div>
  </div>

  <div>
    <div ng-show="$ctrl.coordinateSystem === 'mgrs'" class="coordinate-editor">
      <div class="mdc-text-field mdc-text-field--outlined mgrs-text-field" ng-class="{'mdc-text-field--disabled': !$ctrl.feature.geometry.coordinates.length}">
        <input type="text" id="mgrs" ng-model="$ctrl.mgrs" ng-change="$ctrl.onMgrsChange()" class="mdc-text-field__input" ng-disabled="!$ctrl.feature.geometry.coordinates">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="mgrs" class="mdc-floating-label">MGRS</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>

    <div ng-show="$ctrl.coordinateSystem === 'wgs84'" class="coordinate-editor">
      <div class="mdc-text-field mdc-text-field--outlined latitude-text-field" ng-class="{'mdc-text-field--disabled': !$ctrl.feature.geometry.coordinates.length}">
        <input type="number" step="any" min="-90" max="90" ng-model="$ctrl.selectedVertex[1]"
          ng-change="$ctrl.onLatLngChange()" class="mdc-text-field__input" ng-disabled="!$ctrl.feature.geometry.coordinates">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label class="mdc-floating-label">Latitude</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>

      <div class="mdc-text-field mdc-text-field--outlined longitude-text-field" ng-class="{'mdc-text-field--disabled': !$ctrl.feature.geometry.coordinates.length}">
        <input type="number"step="any" min="-180" max="180" ng-model="$ctrl.selectedVertex[0]"
          ng-change="$ctrl.onLatLngChange()" class="mdc-text-field__input" ng-disabled="!$ctrl.feature.geometry.coordinates">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label class="mdc-floating-label">Longitude</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="edit-location__actions">
    <button class="mdc-button" ng-click="$ctrl.cancel()">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Cancel</span>
    </button>
    
    <button class="mdc-button mdc-button--unelevated" ng-click="$ctrl.saveLocation()" ng-disabled="!$ctrl.feature.geometry.coordinates.length">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Save</span>
    </button>
  </div>

  <div id="invalid-geometry-snackbar" class="mdc-snackbar">
    <div class="mdc-snackbar__surface">
      <div class="mdc-snackbar__label" role="status" aria-live="polite">
        Invalid geometry, polygons cannot intersect.
      </div>
      <div class="mdc-snackbar__actions">
        <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
      </div>
    </div>
  </div>

</div>