<div class="export">
    <div class="export-panel">
        <div class="export-panel-container">
            <div class="mat-headline" mat-dialog-title>Exports</div>
            <mat-dialog-content class="export-content">
                <mat-icon color="primary">save_alt</mat-icon>
                <div class="mat-headline">No Exports</div>
                <div class="mat-body-1">Create a new export and it will show up here.</div>
            </mat-dialog-content>
            <mat-divider class="actions-divider"></mat-divider>
            <mat-dialog-actions class="export-actions">
                <button mat-button color="primary" (click)="openExport()" cdkFocusInitial>NEW EXPORT</button>
            </mat-dialog-actions>
        </div>
    </div>
</div>