<div class="search-wrapper" *ngIf="mapSettings?.webSearchType !== 'NONE'">
  <div class="search-pill" [class.expanded]="searchState === SearchState.ON" [class.results]="searchResults.length && searchState === SearchState.ON">
    <div class="search-expand" [class.expanded]="searchState === SearchState.ON">
      <input #searchInput class="search-input" placeholder="Address / Place Name" type="text"
             autocomplete="off"
             [tabindex]="searchState === SearchState.ON ? 0 : -1"
             (keydown.enter)="search(searchInput.value)">
      <div class="search-action">
        <mat-spinner *ngIf="searching" diameter="20"></mat-spinner>
        <button *ngIf="!searching" matIconButton class="search-clear"
                [tabindex]="searchState === SearchState.ON ? 0 : -1"
                (click)="clear($event, searchInput)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <button matMiniFab class="map-control-fab search-toggle"
            matTooltip="Address / Place Name Search"
            matTooltipPosition="before"
            [matTooltipDisabled]="searchState === SearchState.ON"
            (click)="searchToggle()">
      <mat-icon fontSet="material-symbols-outlined">map_search</mat-icon>
    </button>
  </div>
  <div class="search-results-wrapper" [class.results-hidden]="!searchResults.length || searchState === SearchState.OFF">
    <mat-card class="search-results">
      <mat-list #searchList>
        <mat-list-item matRipple *ngFor="let result of searchResults" (click)="searchResultClick(result)">
          <mat-icon matListItemIcon>place</mat-icon>
          <span matListItemTitle>{{result.name}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>
