#map {
  height: 100%;
}

:host ::ng-deep.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-controls-left {
  position: absolute;
  z-index: 1000;
  display: inline-flex;
  flex-direction: column;
  margin-top: 16px;
  margin-left: 16px;
}

.map-controls-right {
  position: absolute;
  right: 0;
  z-index: 1000;
  display: inline-flex;
  flex-direction: column;
  margin-top: 16px;
  margin-right: 16px;
}

mat-sidenav {
  min-width: 350px;
  max-width: 400px;
}

.leaflet-map {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c0d9e4;
}