<div class="map-controls-right">
  <map-control-layers (onLayerPanelToggle)="drawer.toggle()"></map-control-layers>
</div>

<mat-sidenav-container class="map-container" hasBackdrop="false">
  <mat-sidenav #drawer mode="over" position="end" autoFocus="false">
    <map-layers-panel 
      [mageLayers]="groups['MAGE'].layers" 
      [feedLayers]="groups['feed'].layers"
      [baseLayers]="groups['base'].layers" 
      [tileOverlays]="groups['tile'].layers" 
      [featureOverlays]="groups['feature'].layers"
      [gridOverlays]="groups['grid'].layers"
      (onZoom)="zoom($event)"
      (onOpacity)="opacityChanged($event)"
      (onReorder)="reorder($event)">
    </map-layers-panel>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="map" class="leaflet-map">
      <div class="map-controls-left">
        <!-- <map-control-zoom (on-zoom)="onZoom($event)"></map-control-zoom>
        <map-control-search (on-search)="onSearch($event)" (on-search-clear)="onSearchClear($event)"></map-control-search>
        <map-control-location (on-locate)="onLocate($event)" (on-broadcast)="onBroadcast($event)"></map-control-location>
        <map-control-add-observation (on-add-observation)="onAddObservation({latLng: map.getCenter()})"></map-control-add-observation> -->
      </div>
    </div>

    <!-- <leaflet 
      (onMapAvailable)="onMapAvailable($event)" 
      (onAddObservation)="onAddObservation.emit($event)"
      (onAddLayer)="addLayer($event)"
      (onRemoveLayer)="removeLayer($event)">
    </leaflet> -->
  </mat-sidenav-content>

</mat-sidenav-container>