:host {
  height: 100%;
}

#map {
  height: 100%;
  background-color: #c0d9e4;
}

.map-container {
  height: 100vh;
}

.map-content {
  height: 100%;
}

.map-controls-left {
  position: absolute;
  z-index: 1000;
  display: inline-flex;
  flex-direction: column;
  margin-top: 16px;
  margin-left: 16px;
}

.map-controls-right {
  position: absolute;
  right: 0;
  z-index: 1000;
  display: inline-flex;
  flex-direction: column;
  margin-top: 16px;
  margin-right: 16px;
}

mat-sidenav {
  min-width: 350px;
  max-width: 400px;
}