<div class="mdc-card observation-form-card">
  <div class="observation-header-text">
    {{$ctrl.form.name}}
  </div>
  <!-- <h4 ng-if="filteredFields.length > 0">{{$ctrl.form.name}}</h4> -->
  <div class="top-gap" ng-repeat="field in filteredFields = ($ctrl.form.fields | filter:$ctrl.filterHidden) | orderBy: 'id'">
    <div ng-switch on="field.type">
      <checkbox-view ng-switch-when="checkbox" field="field"></checkbox-view>
      <date-view ng-switch-when="date" field="field"></date-view>
      <text-view ng-switch-when="dropdown" field="field"></text-view>
      <text-view ng-switch-when="email" field="field"></text-view>
      <geometry-view ng-switch-when="geometry" field="field"></geometry-view>
      <multiselectdropdown-view ng-switch-when="multiselectdropdown" field="field"></multiselectdropdown-view>
      <text-view ng-switch-when="numberfield" field="field"></text-view>
      <password-view ng-switch-when="password" field="field"></password-view>
      <text-view ng-switch-when="radio" field="field"></text-view>
      <text-view ng-switch-when="textfield" field="field"></text-view>
      <textarea-view ng-switch-when="textarea" field="field"></textarea-view>
    </div>
  </div>
</div>