<div class="map-layers">
  <h4 class="header">MAGE</h4>
  <mat-accordion class="layer-list" cdkDropList cdkDropListLockAxis="y" displayMode="flat" multi="true" (cdkDropListDropped)="reorderLayers($event, 'feature', mageLayers)" >
    <ng-container *ngFor="let layer of mageLayers">
      <mat-expansion-panel hideToggle #expansionPanel cdkDrag>
        <mat-expansion-panel-header cdkDragHandle class="drag-handle" (click)="preventHeaderToggle($event, expansionPanel)">
          <layer-header [layer]="layer" multi="true" (onToggle)="expansionPanel.toggle()"></layer-header>
        </mat-expansion-panel-header>
      
        <layer-content [layer]="layer"></layer-content>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

  <div class="header">Base Layers</div>
  <mat-accordion class="layer-list" displayMode="flat" multi="true">
    <ng-container *ngFor="let layer of baseLayers">
        <mat-expansion-panel hideToggle #expansionPanel>
          <mat-expansion-panel-header class="">
            <layer-header [layer]="layer"></layer-header>
          </mat-expansion-panel-header>
        
          <layer-content [layer]="layer"></layer-content>
        </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

  <h4 class="header" *ngIf="featureOverlays.length">Feature Overlays</h4>
  <mat-accordion class="layer-list" cdkDropList cdkDropListLockAxis="y" displayMode="flat" multi="true" (cdkDropListDropped)="reorderLayers($event, 'tile', featureOverlays)">
    <ng-container *ngFor="let layer of featureOverlays">
      <mat-expansion-panel hideToggle #expansionPanel cdkDrag>
        <mat-expansion-panel-header cdkDragHandle>
          <layer-header [layer]="layer" multi="true">
          </layer-header>
        </mat-expansion-panel-header>
  
        <layer-content [layer]="layer"></layer-content>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

  <h4 class="header" *ngIf="tileOverlays.length">Tile Overlays</h4>
  <mat-accordion class="layer-list" cdkDropList cdkDropListLockAxis="y" displayMode="flat" multi="true" (cdkDropListDropped)="reorderLayers($event, 'tile', tileOverlays)">
    <ng-container *ngFor="let layer of tileOverlays">
      <mat-expansion-panel hideToggle #expansionPanel cdkDrag>
        <mat-expansion-panel-header cdkDragHandle>
          <layer-header [layer]="layer" multi="true"></layer-header>
        </mat-expansion-panel-header>
      
        <layer-content [layer]="layer"></layer-content>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>