<div class="item-container">
  <div class="item-content">
    @if (multi()) {
      <mat-checkbox
        class="item-action"
        [checked]="layer().selected"
        (click)="$event.stopPropagation()"
        (change)="checkChanged($event)">
      </mat-checkbox>
    } @else {
      <mat-radio-button
        class="item-action"
        [checked]="layer().selected"
        (click)="$event.stopPropagation()"
        (change)="radioChanged()">
      </mat-radio-button>
    }

    <span>{{ layer().name }}</span>
  </div>

  @if (hasBounds()) {
    <button class="item-action" matIconButton matTooltip="Zoom To Bounds" matTooltipPosition="below" (click)="zoom($event)">
      <mat-icon>crop_free</mat-icon>
    </button>
  }
</div>
