<div class="saml-settings">
  <div class="mat-subheading-2">Identity Provider</div>
  <mat-form-field appearance="outline">
    <mat-label>Entry Point</mat-label>
    <input matInput type="text" required [readonly]="!editable" [(ngModel)]="strategy.settings.options.entryPoint">
    <mat-hint align="end">
      Location of the identity provider. This can be the location of the single sign-on identity provider.
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Issuer</mat-label>
    <input matInput type="text" [readonly]="!editable" [(ngModel)]="strategy.settings.options.issuer">
    <mat-hint align="end">
      This is given to the identity provider.
    </mat-hint>
  </mat-form-field>

  <div class="mat-subheading-2">Security</div>

  <mat-form-field appearance="outline">
    <mat-label>Identity Provider Public Signing Certificate</mat-label>
    <textarea matInput [(ngModel)]="strategy.settings.options.cert" [ngModelOptions]="{standalone: true}"></textarea>
    <mat-hint align="end">
      The public signing certificate used to validate the signatures of the incoming SAML Responses.
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Private Key</mat-label>
    <textarea matInput [(ngModel)]="strategy.settings.options.privateCert"
      [ngModelOptions]="{standalone: true}"></textarea>
    <mat-hint align="end">
      Private key used to sign requests. Supports well formatted PEM or single-line.
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Decryption Private Key</mat-label>
    <textarea matInput [(ngModel)]="strategy.settings.options.decryptionPvk"
      [ngModelOptions]="{standalone: true}"></textarea>
    <mat-hint align="end">
      Private key that will be used to attempt to decrypt any encrypted assertions that are received. Supports well
      formatted PEM or single-line.
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Signature Algorithm</mat-label>
    <mat-select [(ngModel)]="strategy.settings.options.signatureAlgorithm" [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let algorithm of signatureAlgorithms" [value]="algorithm.value">
        {{algorithm.viewValue}}
      </mat-option>
    </mat-select>
    <mat-hint align="end">
      Signature algorithm for signing requests. Default of SHA-1.
    </mat-hint>
  </mat-form-field>

  <mat-accordion class="accordian-section">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Advanced
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="mat-subheading-1">User Profile</div>
      <mat-form-field appearance="outline">
        <mat-label>Profile ID Property</mat-label>
        <input matInput type="text" [readonly]="!editable" [(ngModel)]="strategy.settings.profile.id">
        <mat-hint align="end">
          The id property that is returned in the user profile. Defaults to 'uid'.
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Display Name Property</mat-label>
        <input matInput type="text" [readonly]="!editable" [(ngModel)]="strategy.settings.profile.displayName">
        <mat-hint align="end">
          The display name property that is returned in the user profile. Defaults to 'email'.
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email Name Property</mat-label>
        <input matInput type="text" [readonly]="!editable" [(ngModel)]="strategy.settings.profile.email">
        <mat-hint align="end">
          The email property that is returned in the user profile. Defaults to 'email'.
        </mat-hint>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>