<admin-event-form-create ng-show="$ctrl.formCreateOpen" open="$ctrl.formCreateOpen"
  on-form-create-close="$ctrl.onFormCreateClose(form)" event="$ctrl.event" />

<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li><i class="fa fa-calendar admin-dashboard"></i><a ui-sref="admin.events">Events</a></li>
      <li class="active">{{$ctrl.event.name}}</li>
    </ol>
  </div>
</div>

<div class="container-fluid bottom-gap-l">
  <div class="row">
    <div class="col-md-offset-1 col-md-10" ng-show="$ctrl.event">

      <div class="row">
        <div class="col-md-8">
          <h2>Event: {{$ctrl.event.name}}</h2>
        </div>
        <div class="col-md-4">
          <h2 ng-if="$ctrl.hasUpdatePermission">
            <button class="btn btn-default pull-right" ng-click="$ctrl.editEvent($ctrl.event)"><i class="fa fa-edit"></i> Edit</button>
            <button class="btn btn-default pull-right right-gap" ng-click="$ctrl.editAccess($ctrl.event)"><i class="fa fa-shield"></i> Access</button>
          </h2>
        </div>
      </div>
      <hr>

      <div class="row top-gap-l">
        <div class="col-sm-6">
          <div class="row top-gap-l">
            <div class="col-md-3">
              <span class="muted">Name:&nbsp;</span>
            </div>
            <div class="col-md-9">
              <span>{{$ctrl.event.name}}</span>
            </div>
          </div>
          
          <div class="row top-gap-s bottom-gap">
            <div class="col-md-3">
              <span class="muted">Description:&nbsp;</span>
            </div>
            <div class="col-md-9">
              <span>{{$ctrl.event.description}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card" ng-if="!$ctrl.event.complete && $ctrl.hasUpdatePermission">
            <div class="card-content">
              <strong class="text-primary">Complete Event</strong>
              <p class="text-primary">Marking an event as complete will remove it as a selectable event. The event is
                not destroyed and can be changed back to an active state at any time.</p>
              <button class="btn btn-primary top-gap" ng-click="$ctrl.completeEvent($ctrl.event)">Complete</button>
            </div>
          </div>

          <div class="card" ng-if="$ctrl.event.complete && $ctrl.hasUpdatePermission">
            <div class="card-content">
              <strong class="text-primary">Activate Event</strong>
              <p class="text-primary">Marking an event as active will show it as a selectable event on clients. At that
                point users can contribute observations and locations to the event.</p>
              <button class="btn btn-primary top-gap" ng-click="$ctrl.activateEvent($ctrl.event)">Activate</button>
            </div>
          </div>

          <div class="card top-gap" ng-if="$ctrl.hasDeletePermission">
            <div class="card-content">
              <strong class="text-danger">Delete Event</strong>
              <p class="text-danger">Deleting an event will remove all event information including observation and location
                data. This cannot be undone, and all event data will be unrecoverable.</p>
              <button class="btn btn-danger top-gap" ng-click="$ctrl.deleteEvent($ctrl.event)"> <i
                  class="fa fa-trash-o"></i> Delete</button>
            </div>
          </div>
        </div>

      </div>

      <hr>

      <div class="row top-gap-l">
        <div class="col-md-4 col-xs-12">
          <div ng-if="$ctrl.hasUpdatePermission" class="bottom-gap-l">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-default admin-dashboard-navbar">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand">Add Team Member to Event <sup><span class="badge">{{$ctrl.nonMembersPage.totalCount}}</span></sup></a>
                    </div>
                    <form class="navbar-form navbar-left">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.nonMemberSearchTerm" ng-model-options="{ debounce: 500 }" ng-change="$ctrl.searchNonMembers()">
                      </div>
                    </form>
                  </div>
                </nav>
              </div>
            </div>

            <div class="admin-table admin-teams-table">
              <div class="admin-teams-table-content">
                <div class="admin-teams-table-items">
                  <div class="admin-teams-table-item" ng-repeat="user in $ctrl.nonMembersPage.items">
                    <div class="row pointer" ng-click="$ctrl.gotoUser(user)">
                      <div class="admin-teams-user">
                        <user-avatar class="right-gap" [user]="user" avatar-width="40" avatar-height="40"></user-avatar>
                        <div class="admin-teams-user-detail">
                          <div class="strong right-gap">
                            <span class="right-gap">{{user.displayName}}</span>
                            <span class="muted">({{user.username}})</span>
                          </div>
                          <div class="muted">{{user.email}}</div>
                        </div>
                        <a class="btn btn-xs btn-success" ng-click="$ctrl.addMember($event, user)">Add Member</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <ul class="pager pull-right admin-teams-pager">
                      <li ng-class="{'disabled': $ctrl.hasPreviousNonMember() == false}">
                        <a href="javascript:void(0);" ng-click="$ctrl.previousNonMemberPage()">&larr; Previous</a>
                      </li>
                      <li ng-class="{'disabled': $ctrl.hasNextNonMember() == false}">
                        <a href="javascript:void(0);" ng-click="$ctrl.nextNonMemberPage()">Next&rarr;</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            
              <div class="admin-teams-table-status" ng-if="$ctrl.loadingNonMembers">
                <div class="admin-teams-table-status-text">Loading</div>
                <div>
                  <i class="fa fa-spinner fa-spin admin-teams-table-status-spinner"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <nav class="navbar navbar-default admin-dashboard-navbar">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand">Team Members <sup><span
                          class="badge">{{$ctrl.membersPage.totalCount}}</span></sup></a>
                  </div>
          
                  <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.memberSearchTerm"
                        ng-model-options="{ debounce: 500 }" ng-change="$ctrl.searchMembers()">
                    </div>
                  </form>
                  <div class="navbar-form navbar-right right-gap-s" ng-show="$ctrl.hasUpdatePermission">
                    <button class="btn btn-default navbar-right" ng-click="$ctrl.editMembers = !$ctrl.editMembers">Edit</button>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <div class="admin-table admin-teams-table">
            <div class="admin-teams-table-content">
              <div class="admin-teams-table-items">
                <div class="admin-teams-table-item" ng-repeat="user in $ctrl.membersPage.items">
                  <div class="row pointer" ng-click="$ctrl.gotoUser(user)">
                    <div class="admin-teams-user">
                      <user-avatar class="pull-left right-gap" [user]="user" avatar-width="40" avatar-height="40"></user-avatar>
                      <div class="admin-teams-user-detail">
                        <div class="strong right-gap">
                          <span class="right-gap">{{user.displayName}}</span>
                          <span class="muted">({{user.username}})</span>
                        </div>
                        <div class="muted">{{user.email}}</div>
                      </div>
                      <a class="btn btn-xs btn-danger" ng-if="$ctrl.editMembers" ng-click="$ctrl.removeMember($event, user)">Remove Member</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <ul class="pager pull-right admin-teams-pager">
                    <li ng-class="{'disabled': $ctrl.hasPreviousMember() == false}">
                      <a href="javascript:void(0);" ng-click="$ctrl.previousMemberPage()">&larr; Previous</a>
                    </li>
                    <li ng-class="{'disabled': $ctrl.hasNextMember() == false}">
                      <a href="javascript:void(0);" ng-click="$ctrl.nextMemberPage()">Next&rarr;</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          
            <div class="admin-teams-table-status" ng-if="$ctrl.loadingMembers">
              <div class="admin-teams-table-status-text">Loading</div>
              <div>
                <i class="fa fa-spinner fa-spin admin-teams-table-status-spinner"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-12">
          <div ng-if="$ctrl.hasUpdatePermission" class="bottom-gap-l">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-default admin-dashboard-navbar">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand">Add Team to Event <sup><span
                            class="badge">{{$ctrl.nonTeamsPage.totalCount}}</span></sup></a>
                    </div>
                    <form class="navbar-form navbar-left">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.nonTeamSearchTerm"
                          ng-model-options="{ debounce: 500 }" ng-change="$ctrl.searchNonTeams()">
                      </div>
                    </form>
                  </div>
                </nav>
              </div>
            </div>
          
            <div class="admin-table admin-teams-table">
              <div class="admin-teams-table-content">
                <div class="admin-teams-table-items">
                  <div class="admin-teams-table-item" ng-repeat="team in $ctrl.nonTeamsPage.items">
                    <div class="row pointer" ng-click="$ctrl.gotoTeam(team)">
                      <div class="admin-teams-user">
                        <i class="fa fa-people admin-teams-table-item-icon"></i>
                        <div class="admin-teams-user-detail">
                          <div class="strong right-gap">
                            <span class="right-gap">{{team.name}}</span>
                          </div>
                          <div class="muted">{{team.description}}</div>
                        </div>
                        <a class="btn btn-xs btn-success" ng-click="$ctrl.addTeam($event, team)">Add Team</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <ul class="pager pull-right admin-teams-pager">
                      <li ng-class="{'disabled': $ctrl.hasPreviousNonTeam() == false}">
                        <a href="javascript:void(0);" ng-click="$ctrl.previousNonTeamPage()">&larr; Previous</a>
                      </li>
                      <li ng-class="{'disabled': $ctrl.hasNextNonTeam() == false}">
                        <a href="javascript:void(0);" ng-click="$ctrl.nextNonTeamPage()">Next&rarr;</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
          
              <div class="admin-teams-table-status" ng-if="$ctrl.loadingNonTeams">
                <div class="admin-teams-table-status-text">Loading</div>
                <div>
                  <i class="fa fa-spinner fa-spin admin-teams-table-status-spinner"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <nav class="navbar navbar-default admin-dashboard-navbar">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand">Teams <sup><span
                          class="badge">{{$ctrl.teamsPage.totalCount}}</span></sup></a>
                  </div>
          
                  <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.teamSearchTerm"
                        ng-model-options="{ debounce: 500 }" ng-change="$ctrl.searchTeams()">
                    </div>
                  </form>
                  <div class="navbar-form navbar-right right-gap-s" ng-show="$ctrl.hasUpdatePermission">
                    <button class="btn btn-default navbar-right" ng-click="$ctrl.editTeams = !$ctrl.editTeams">Edit</button>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <div class="admin-table admin-teams-table">
            <div class="admin-teams-table-content">
              <div class="admin-teams-table-items">
                <div class="admin-teams-table-item" ng-repeat="team in $ctrl.teamsPage.items">
                  <div class="row pointer" ng-click="$ctrl.gotoTeam(team)">
                    <div class="admin-teams-user">
                        <i class="fa fa-people admin-teams-table-item-icon"></i>
                      <div class="admin-teams-user-detail">
                        <div class="strong right-gap">
                          <span class="right-gap">{{team.name}}</span>
                        </div>
                        <div class="muted">{{team.description}}</div>
                      </div>
                      <a class="btn btn-xs btn-danger" ng-if="$ctrl.editTeams"
                        ng-click="$ctrl.removeTeam($event, team)">Remove Layer</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <ul class="pager pull-right admin-teams-pager">
                    <li ng-class="{'disabled': $ctrl.hasPreviousTeam() == false}">
                      <a href="javascript:void(0);" ng-click="$ctrl.previousTeamPage()">&larr; Previous</a>
                    </li>
                    <li ng-class="{'disabled': $ctrl.hasNextTeam() == false}">
                      <a href="javascript:void(0);" ng-click="$ctrl.nextTeamPage()">Next&rarr;</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          
            <div class="admin-teams-table-status" ng-if="$ctrl.loadingTeams">
              <div class="admin-teams-table-status-text">Loading</div>
              <div>
                <i class="fa fa-spinner fa-spin admin-teams-table-status-spinner"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-12">
          <div ng-if="$ctrl.hasUpdatePermission" class="bottom-gap-l">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-default admin-dashboard-navbar">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand">Add Layer to Event <sup><span class="badge">{{$ctrl.nonLayers.length}}</span></sup></a>
                    </div>
            
                    <form class="navbar-form navbar-left">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.nonLayerSearch">
                      </div>
                    </form>
                  </div>
                </nav>
              </div>
            </div>
            <div class="admin-table admin-teams-table">
              <div class="admin-teams-table-content">
                <div class="admin-teams-table-items">
                  <div class="admin-teams-table-item"
                    ng-repeat="layer in ($ctrl.filteredNonLayers = ($ctrl.nonLayers | filter:$ctrl.filterNonLayers)) | orderBy:'name' | offset: $ctrl.nonLayersPage*$ctrl.layersPerPage | limitTo:$ctrl.layersPerPage">
                    <div class="row pointer" ng-click="$ctrl.gotoLayer(layer)">
                      <div class="admin-teams-user">
                        <i class="fa fa-layer admin-teams-table-item-icon"></i>
                        <div class="admin-teams-user-detail">
                          <div class="strong right-gap">
                            <span class="right-gap">{{layer.name}}</span>
                          </div>
                          <div class="muted">{{layer.description}}</div>
                        </div>
                        <a class="btn btn-xs btn-success" ng-click="$ctrl.addLayer($event, layer)">Add Layer</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">            
                    <ul class="pager pull-right admin-teams-pager">
                      <li ng-class="{'disabled': $ctrl.nonLayersPage == 0}">
                        <a href="javascript:void(0);"
                          ng-click="$ctrl.nonLayersPage == 0 || ($ctrl.nonLayersPage=$ctrl.nonLayersPage-1)">&larr;
                          Previous</a>
                      </li>
                      <li
                        ng-class="{'disabled': $ctrl.nonLayersPage >= ($ctrl.filteredNonLayers.length/$ctrl.layersPerPage) - 1}">
                        <a href="javascript:void(0);"
                          ng-click="$ctrl.nonLayersPage >= ($ctrl.filteredNonLayers.length/$ctrl.layersPerPage) - 1 || ($ctrl.nonLayersPage=$ctrl.nonLayersPage+1)">Next&rarr;</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <nav class="navbar navbar-default admin-dashboard-navbar">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand">Layers <sup><span
                          class="badge">{{$ctrl.filteredLayers.length}}</span></sup></a>
                  </div>

                  <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.layerSearch">
                    </div>
                  </form>
                  <div class="navbar-form navbar-right right-gap-s" ng-show="$ctrl.hasUpdatePermission">
                    <button class="btn btn-default navbar-right"
                      ng-click="$ctrl.editLayers = !$ctrl.editLayers">Edit</button>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="admin-table">
                <div class="well-item"
                  ng-repeat="layer in ($ctrl.filteredLayers = ($ctrl.eventLayers | filter:filterLayers)) | orderBy:'name' | offset: $ctrl.layersPage*$ctrl.layersPerPage | limitTo:$ctrl.layersPerPage">
                  <div class="row pointer" ng-click="$ctrl.gotoLayer(layer)">
                    <div class="col-md-12">
                      <div class="right-gap pull-left">
                        <i class="fa fa-map"></i>
                      </div>
                      <span>{{layer.name}}</span>

                      <span class="pull-right" ng-show="$ctrl.editLayers">
                        <a class="btn btn-xs btn-danger" ng-click="$ctrl.removeLayer($event, layer)"><i
                            class="fa fa-minus"></i></a>
                      </span>
                    </div>
                  </div>
                  <div class="row" ng-if="layer.description">
                    <div class="col-md-12">
                      <span class="muted">{{layer.description}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="pager pull-right">
                <li ng-class="{'disabled': $ctrl.layersPage == 0}">
                  <a href="javascript:void(0);"
                    ng-click="$ctrl.layersPage == 0 || ($ctrl.layersPage=$ctrl.layersPage-1)">&larr; Previous</a>
                </li>
                <li ng-class="{'disabled': $ctrl.layersPage >= ($ctrl.filteredLayers.length/$ctrl.layersPerPage) - 1}">
                  <a href="javascript:void(0);"
                    ng-click="$ctrl.layersPage >= ($ctrl.filteredLayers.length/$ctrl.layersPerPage) - 1 || ($ctrl.layersPage=$ctrl.layersPage+1)">Next&rarr;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col-md-12">
              <div class="admin-event-header">Forms</div>
            </div>
          </div>

          <div class="row top-gap">
            <div class="col-md-12">
              <div class="admin-event-list-item pointer"
                ng-repeat="form in $ctrl.event.forms | filter: (!$ctrl.showArchivedForms || '') && {archived: '!true'}"
                ng-click="$ctrl.editForm($ctrl.event, form)">
                <div class="admin-event-list-item__icon">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="admin-event-list-item-content">
                  <div class="admin-event-list-item-content__title">
                    <span>{{form.name}}</span><span ng-if="form.archived" class="text-danger"> (Archived)</span>
                  </div>
                  <div class="admin-event-list-item-content__summary">
                    {{form.description}}
                  </div>
                </div>
                <div class="admin-event-list-item-actions">
                  <i class=" fa fa-eye" ng-click="$ctrl.preview($event, form)" uib-tooltip="Preview Form"
                    tooltip-placement="right" tooltip-append-to-body="true"></i>
                  <i class=" fa fa-arrow-up admin-event-list-item-actions__icon" ng-if="!$first" ng-click="$ctrl.moveFormUp($event, form)"
                    uib-tooltip="Move form up" tooltip-placement="right" tooltip-append-to-body="true"></i>
                  <i class="fa fa-arrow-down admin-event-list-item-actions__icon" ng-if="!$last" ng-click="$ctrl.moveFormDown($event, form)"
                    uib-tooltip="Move form down" tooltip-placement="right" tooltip-append-to-body="true"></i>
                </div>
              </div>

              <div class="top-gap">
                <button ng-hide="$ctrl.showArchivedForms" class="btn btn-default" ng-click="$ctrl.showArchivedForms = !$ctrl.showArchivedForms">Show Archived Forms</button>
                <button ng-show="$ctrl.showArchivedForms" class="btn btn-default" ng-click="$ctrl.showArchivedForms = !$ctrl.showArchivedForms">Hide Archived Forms</button>
                <button class="btn btn-success" ng-click="$ctrl.createForm($event, $ctrl.event)"><i class="fa fa-plus"></i> Create Form</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <form name="$ctrl.restrictions" novalidate>
        <div class="card top-gap-l">
          <div class="card-content">
            <div class="row">
              <div class="col-md-12">
                <div class="admin-event-header">Form Restrictions</div>
              </div>
            </div>
            <div class="row top-gap-l">
              <div class="col-md-12">
                <div class="form-group" ng-class="{'has-error': $ctrl.restrictions.minObservationForms.$invalid}">
                  <label class="control-label">Min Forms Per Observation</label>
                  <input class="form-control" type="number" name="minObservationForms" ng-model="$ctrl.event.minObservationForms" placeholder="No Minimum" min="0" max="{{$ctrl.event.maxObservationForms}}" />
                  <p class="help-block" ng-if="$ctrl.restrictions.minObservationForms.$valid">Minimum number of forms that must be present in an observation for this event</p>
                  <p class="help-block" ng-if="$ctrl.restrictions.minObservationForms.$error.min">Value cannot be negative.</p>
                  <p class="help-block" ng-if="$ctrl.restrictions.minObservationForms.$error.max">Value cannot be greater than 'Max Forms Per Observation'</p>
                  <p class="help-block" ng-if="$ctrl.restrictions.minObservationForms.$error.formsMax">The minimum forms per observation must be equal to or less than the sum of the maximum of all individual forms.</p>

                </div>
                <div class="form-group" ng-class="{'has-error': $ctrl.restrictions.maxObservationForms.$invalid}">
                  <label class="control-label">Max Forms Per Observation</label>
                  <input class="form-control" type="number" name="maxObservationForms" ng-model="$ctrl.event.maxObservationForms" placeholder="No Maximum" min="1" />
                  <p class="help-block" ng-if="$ctrl.restrictions.maxObservationForms.$valid">Limit the total number of forms that can be added to an observation for this event</p>
                  <p class="help-block" ng-if="$ctrl.restrictions.maxObservationForms.$error.min">Value must be greater than 0</p>
                  <p class="help-block" ng-if="$ctrl.restrictions.maxObservationForms.$error.formsMin">The maximum forms per observation must be equal to or greater than the sum of the minimum of all individual forms.</p>
                </div>
              </div>
            </div>

            <div class="row top-gap-l">
              <div class="col-md-12">
                <div class="admin-event-restriction-header">
                  <p>Add restrictions to individual forms that include the minimum number times a form must be present in an observation, and/or the maximum number times this form can be present in an observation.</p>
                </div>
                <div class="admin-event-restriction-list-item" ng-repeat="form in $ctrl.event.forms | filter: {archived: '!true'}">
                  <div class="admin-event-restriction-list-item__icon">
                    <i class="fa fa-files-o"></i>
                  </div>
                  <div class="admin-event-restriction-list-item-content">
                    <div class="admin-event-restriction-list-item-content__title">
                      {{form.name}}
                    </div>
                    <div class="form-inline">
                      <div class="form-group right-gap" ng-class="{'has-error': $ctrl.restrictions.maxObservationForms.$error.formsMin || $ctrl.restrictions['form{{form.id}}_min'].$invalid}">
                        <label class="control-label admin-event-restriction-list-item-content__label">Min</label>
                        <input class="form-control input-sm admin-event-restriction-list-item-content__control" name="form{{form.id}}_min" type="number" ng-model="form.min" min="1" max="{{form.max}}">
                      </div>
                      <div class="form-group" ng-class="{'has-error': $ctrl.restrictions.minObservationForms.$error.formsMax || $ctrl.restrictions['form{{form.id}}_min'].$invalid}">
                        <label class="control-label admin-event-restriction-list-item-content__label">Max</label>
                        <input class="form-control input-sm admin-event-restriction-list-item-content__control" name="form{{form.id}}_max" type="number" ng-model="form.max" min="1">
                        <p class="help-block" ng-if="$ctrl.generalForm.$error.max">Cannot exceed the maximum number of forms per observation of {{$ctrl.event.maxObservationForms}}</p>
                      </div>
                    </div>
                    <div class="text-danger admin-event-restriction-list-item-content__error" ng-if="$ctrl.restrictions['form' + form.id + '_min'].$error.min">Min must be greater than 0</div>
                    <div class="text-danger admin-event-restriction-list-item-content__error" ng-if="$ctrl.restrictions['form' + form.id + '_min'].$error.max">Min greater than Max</div>
                  </div>
                </div>
              </div>
            </div>

            <div ng-if="$ctrl.restrictionsError" class="alert alert-danger admin-event-restrictions-error">
              <div><strong>Form Restriction Error</strong></div>
              <p class="admin-event-restrictions-error__text" ng-if="$ctrl.restrictionsError.message">{{$ctrl.restrictionsError.message}}</p>
              <ul class="admin-event-restrictions-error__text" ng-if="$ctrl.restrictionsError.errors">
                <li ng-repeat="(key, error) in $ctrl.restrictionsError.errors">{{error.message}}</li>
              </ul>
            </div>
          
            <div class="top-gap">
              <button class="btn btn-success" ng-click="$ctrl.saveFormRestrictions()" ng-disabled="!$ctrl.restrictions.$dirty">Save Restrictions</button>
            </div>
          </div>
        </div>
     </form>
    </div>
  </div>

  <admin-event-form-preview [form-definition]="$ctrl.previewForm" (on-close)="$ctrl.closePreview()"></admin-event-form-preview>