<!doctype html>
<html>

<head>
  <title>MAGE</title>
  <meta id="view" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>

<body class="mdc-typography">
  <bootstrap>
    <div class="application" ng-controller="NavController as $ctrl">
      <banner ng-if="myself" class="banner" type="header"></banner>
      <navbar myself="myself" ng-show="myself" on-feed-toggle="$ctrl.feedToggle()"></navbar>
      <ui-view class="route-content" toggle-feed="$ctrl.toggleFeed"></ui-view>
      <banner ng-if="myself" class="banner" type="footer"></banner>
    </div>
  </bootstrap>

</body>

</html>