@import "theme.scss";

/* You can add global styles to this file, and also import other style files */
@import "./roboto.scss";
@import "./ng1/css/style.scss";
@import "./ng1/css/map.scss";
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: unset;
}

bootstrap {
  height: 100%;
}
