@import "theme.scss";
/* You can add global styles to this file, and also import other style files */
@import "@ng-select/ng-select/themes/material.theme.css";
@import "./roboto.scss";
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: unset;
}

app {
  height: 100%
}

.feed-panel .mat-bottom-sheet-container {
  position: absolute !important;
  left: 0;
  bottom: 0;
  min-width: 468px;
}

.form-remove-snackbar {
  position: absolute;
  left: 29px;
  bottom:0;
}
