@use '~@angular/material' as mat;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat.define-palette(mat.$blue-palette, 600, 200, 800);
$app-accent: mat.define-palette(mat.$orange-palette, A700, A100, A700);
$app-warn: mat.define-palette(mat.$red-palette); // The warn palette is optional (defaults to red).

// Custom Sass colors vars (will be available in all the project)
$primary: mat.get-color-from-palette($app-primary);
$accent: mat.get-color-from-palette($app-accent);
$warn: mat.get-color-from-palette($app-warn);