$small-screen-breakpoint: 1025px;

:host {
  width: 80%;
}

.slide {
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  animation: bg-slide 400s linear infinite;
  z-index: -1;
}

.title-container {
  margin-bottom: 16px;
  text-align: center;
}

.title {
  font-size: 8rem;
  letter-spacing: 1rem;
}

.subtitle {
  margin-top: -10px;
  font-size: 1.5rem;
}

.features {
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.feature {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  padding-top: 30px;
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px;

  i {
    font-size: 3.5rem;
    stroke: white;
  }
}

.feature-description {
  display: flex;
  flex-direction: column;
}

.feature-title {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.feature-subtitle {
  font-size: 1rem;
}

@media all and (max-width:1025px) {
  .slide {
    animation: none;
  }

  .title {
    font-size: 4rem;
    letter-spacing: none;
  }

  .features {
    display: none;
  }
}