.landing {
  display: flex;
  flex-direction: row;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  height: 100vh;
  overflow: hidden;
  color: #fff;
  background-color: rgba(16, 69, 130, .5);
}

.ingress-container {
  overflow-y: scroll;
  background-color: #fff;
}

.ingress {
  width: 75%;
  height: 100vh;
  min-width: 285px;
  max-width: 600px;
  position: relative;
}

@media (max-width: 1100px) or (max-height: 460px) {
  .ingress-container {
    width: 100%;
  }

  .info {
    display: none;
  }
}