<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
    </ol>
  </div>
</div>

<div class="admin-content">
  <div class="container-fluid bottom-gap-l">

    <h4 class="bottom-gap">MAGE Access</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-default admin-dashboard-navbar">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand">Inactive users <sup><span class="badge badge-accent">{{$ctrl.inactiveUsers.length}}</span></sup></a>
                </div>

                <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="userSearch">
                  </div>
                </form>
              </div>
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="admin-table">
              <div class="well-item"
                  ng-repeat="user in ($ctrl.filteredUsers = ($ctrl.inactiveUsers | user:['displayName','email']:userSearch)) | orderBy:'displayName' | offset: $ctrl.usersPage * $ctrl.usersPerPage | limitTo:$ctrl.usersPerPage" >
                <div class="row pointer" ng-click="$ctrl.gotoUser(user)">
                  <div class="col-md-12">
                    <div class="right-gap pull-left">
                      <i class="fa fa-user"></i>
                    </div>
                    <span>
                      {{user.displayName}}
                    </span>

                    <span class="pull-right" ng-if="$ctrl.hasPermission('UPDATE_USER')">
                      <a class="btn btn-xs btn-success" ng-click="$ctrl.activateUser($event, user)"><i class="fa fa-check"></i> Activate</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="pager pull-right">
              <li ng-class="{'disabled': $ctrl.usersPage == 0}">
                <a href="javascript:void(0);" ng-click="$ctrl.usersPage == 0 || ($ctrl.usersPage=$ctrl.usersPage-1)">&larr; Previous User</a>
              </li>
              <li ng-class="{'disabled': $ctrl.usersPage >= ($ctrl.filteredUsers.length/$ctrl.usersPerPage) - 1}">
                <a href="javascript:void(0);" ng-click="$ctrl.usersPage >= ($ctrl.filteredUsers.length/$ctrl.usersPerPage) - 1 || ($ctrl.usersPage=$ctrl.usersPage+1)">Next User&rarr;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-default admin-dashboard-navbar">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand">Unregistered devices <sup><span class="badge badge-accent">{{$ctrl.unregisteredDevices.length}}</span></sup></a>
                </div>

                <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="deviceSearch">
                  </div>
                </form>
              </div>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="admin-table">
              <div class="well-item"
                  ng-repeat="d in ($ctrl.filteredDevices = ($ctrl.unregisteredDevices | filter:$ctrl.filterDevices)) | orderBy:'uid' | offset: devicesPage*devicesPerPage | limitTo:devicesPerPage" >
                <div class="row pointer" ng-click="gotoDevice(d)">
                  <div class="col-md-12">
                    <div class="right-gap pull-left">
                      <i class="fa" ng-class="iconClass(d)"></i>
                    </div>

                    <span class="strong" ng-if="d.user">{{d.user.displayName}}</span>
                    <span class="muted" ng-if="d.user">({{d.uid}})</span>

                    <span class="pull-right" ng-if="$ctrl.hasPermission('UPDATE_DEVICE')">
                      <a class="btn btn-xs btn-success" ng-click="$ctrl.registerDevice($event, d)"><i class="fa fa-check"></i> Register</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="pager pull-right">
              <li ng-class="{'disabled': $ctrl.devicesPage == 0}">
                <a href="javascript:void(0);" ng-click="$ctrl.devicesPage == 0 || ($ctrl.devicesPage=$ctrl.devicesPage-1)">&larr; Previous Device</a>
              </li>
              <li ng-class="{'disabled': $ctrl.devicesPage >= ($ctrl.filteredDevices.length/$ctrl.devicesPerPage) - 1}">
                <a href="javascript:void(0);" ng-click="$ctrl.devicesPage >= ($ctrl.filteredDevices.length/$ctrl.devicesPerPage) - 1 || ($ctrl.devicesPage=$ctrl.devicesPage+1)">Next Device&rarr;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row top-gap-xl">
      <div class="col-md-12">
        <nav class="navbar navbar-default admin-dashboard-navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="admin-navbar-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#login-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">Logins</a>
            </div>

            <div class="collapse navbar-collapse admin-navbar-collapse" id="login-nav">
              <form class="navbar-form navbar-left fixed-width-navbar" id="login-nav">
                <div class="form-group">
                  <ui-select ng-model="$ctrl.user.selected" theme="bootstrap" on-select="$ctrl.filterLogins()" style="width: 300px;">
                    <ui-select-match allow-clear placeholder="Filter on user">{{$select.selected.displayName}}</ui-select-match>
                    <ui-select-choices group-by="groupLayerByType" repeat="user in $ctrl.users | orderBy: 'name' | filter: $select.search">
                      <div ng-bind-html="user.displayName | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>

                <div class="form-group">
                  <ui-select ng-model="$ctrl.device.selected" theme="bootstrap" on-select="$ctrl.filterLogins()" style="width: 330px;">
                    <ui-select-match allow-clear placeholder="Filter on device">{{$select.selected.uid}}</ui-select-match>
                    <ui-select-choices group-by="groupLayerByType" repeat="device in $ctrl.devices | orderBy: 'uid' | filter: $select.search">
                      <div ng-bind-html="device.uid | highlight: $select.search"></div>
                      <small class="muted">
                        <span ng-bind-html="''+device.uid | highlight: $select.search"></span>
                      </small>
                    </ui-select-choices>
                  </ui-select>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" placeholder="Start Date" class="form-control" uib-datepicker-popup="MM-dd-yyyy" ng-model="$ctrl.login.startDate" ng-change="$ctrl.dateFilterChanged()" is-open="$ctrl.login.startDateOpened" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="$ctrl.openLoginStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <span class="navbar-text-inverse">&nbsp;to&nbsp;</span>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" placeholder="End Date" class="form-control" uib-datepicker-popup="MM-dd-yyyy" ng-model="$ctrl.login.endDate" ng-change="$ctrl.dateFilterChanged()" is-open="$ctrl.login.endDateOpened"  close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="$ctrl.openLoginEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </form>
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <span class="navbar-text-inverse">Results: </span>
                  <select class="form-control" ng-init="$ctrl.loginResultsLimit = 10" ng-model="$ctrl.loginResultsLimit" ng-change="$ctrl.loginResultsLimitChanged()" ng-options="o as o for o in [10, 25, 50, 100]"></select>
                </div>
              </form>
            </div>

          </div>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="admin-table">
          <div class="well-item" ng-repeat="login in $ctrl.loginPage.logins" >
            <div class="row">
              <div class="col-md-12">
                <div class="right-gap pull-left">
                  <i class="fa fa-fw" ng-class="$ctrl.iconClass(login.device)"></i>
                </div>
                <strong class="right-gap"><a href="javascript:void(0);" ng-click="$ctrl.gotoUser(login.user)">{{login.user.displayName}}</a></strong>
                <span class="muted"><a href="javascript:void(0);" ng-click="$ctrl.gotoDevice(login.device)">{{login.device.uid}}</a></span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="right-gap pull-left">
                  <i class="fa fa-fw"></i>
                </div>
                <span>{{login.timestamp | moment:'fromNow'}} ({{login.timestamp | moment:'MMM D YYYY hh:mm:ss A'}})</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="pager pull-right">
          <li ng-class="{'disabled': !$ctrl.showPrevious}">
            <a href="javascript:void(0);" ng-click="!$ctrl.showPrevious || $ctrl.pageLogin($ctrl.loginPage.prev)">&larr; Previous</a>
          </li>
          <li ng-class="{'disabled': !$ctrl.showNext}">
            <a href="javascript:void(0);" ng-click="!$ctrl.showNext || $ctrl.pageLogin($ctrl.loginPage.next)">Next &rarr;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
