<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-mobile-phone"></i> Devices</li>
    </ol>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ng-click="$ctrl.changeFilter('all')" ng-class="{active: $ctrl.filter=='all'}"><a href="javascript:void(0);">All <span class="badge pull-right">{{($ctrl.count('all'))}}</span></a></li>
        <li ng-click="$ctrl.changeFilter('registered')" ng-class="{active: $ctrl.filter=='registered'}"><a href="javascript:void(0);">Registered <span class="badge pull-right">{{($ctrl.count('registered'))}}</span></a></li>
        <li ng-click="$ctrl.changeFilter('unregistered')" ng-class="{active: $ctrl.filter=='unregistered'}"><a href="javascript:void(0);">Unregistered <span class="badge pull-right">{{($ctrl.count('unregistered'))}}</span></a></li>
      </ul>

      <hr>
      <form class="form">
        <div class="form-group">
          <label>Search</label>
          <input type="text" class="form-control" placeholder="device, user" ng-model="$ctrl.deviceSearch"
          ng-model-options="{ debounce: 1000 }" ng-change="$ctrl.search()">
        </div>
      </form>
      <hr>

      <button class="btn btn-default pull-right" ng-click="$ctrl.reset()">Reset</button>
    </div>

    <div class="col-md-9">
      <nav class="navbar navbar-default admin-dashboard-navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">Devices</a>
          </div>

          <form class="navbar-form navbar-right" role="search" ng-if="$ctrl.hasDeviceCreatePermission">
            <button type="submit" class="btn btn-default" ng-click="$ctrl.newDevice()">New Device</button>
          </form>
        </div>
      </nav>

      <div class="row">
        <div class="col-md-12">
          <div class="admin-table">
            <div class="well-item"
                ng-repeat="d in $ctrl.devices">

              <div class="pointer" ng-click="$ctrl.gotoDevice(d)">
                <div class="admin-device-container">
                  <div class="right-gap">
                    <i class="fa admin-device-icon" ng-class="$ctrl.iconClass(d)"></i>
                  </div>

                  <div class="admin-device-info">
                    <div ng-if="d.user"><strong>{{d.user.displayName}}</strong></div>
                    <div class="muted small" ng-if="d.name">{{d.name}}</div>
                    <div class="muted small ellipsis" ng-if="d.userAgent">{{d.userAgent}}</div>
                    <div class="muted small" ng-if="d.appVersion">v{{d.appVersion}}</div>
                    <span class="muted small">{{d.uid}}</span>
                  </div>

                  <div>
                    <button class="btn btn-sm btn-danger pull-right admin-user-button" ng-if="$ctrl.hasDeviceDeletePermission" ng-click="$ctrl.deleteDevice($event, d)">Delete</button>
                    <button class="btn btn-sm btn-success pull-right admin-user-button" ng-if="!d.registered && $ctrl.hasDeviceEditPermission" ng-click="$ctrl.registerDevice($event, d)">Register</button>
                    <button class="btn btn-sm btn-default pull-right" ng-if="$ctrl.hasDeviceEditPermission" ng-click="$ctrl.editDevice($event, d)">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="pager pull-right">
                <li ng-class="{'disabled': $ctrl.hasPrevious() == false}">
                  <a href="javascript:void(0);" ng-click="$ctrl.previous()">&larr; Previous</a>
                </li>
                <li ng-class="{'disabled': $ctrl.hasNext() == false}">
                  <a href="javascript:void(0);" ng-click="$ctrl.next()">Next&rarr;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
