<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li><i class="fa fa-mobile-phone admin-dashboard"></i><a ui-sref="admin.devices">Devices</a></li>
      <li class="active">{{$ctrl.device.uid}}</li>
    </ol>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-10" ng-show="$ctrl.device">

      <div class="row">
        <div class="col-md-10">
          <h2><i class="fa" ng-class="$ctrl.iconClass($ctrl.device)"></i> Device</h2>
        </div>
        <div class="col-md-2" ng-if="$ctrl.hasDeviceEditPermission">
          <h2>
            <button class="btn btn-default pull-right" ng-click="$ctrl.editDevice($ctrl.device)"><i
                class="fa fa-edit"></i> Edit</button>
          </h2>
        </div>
      </div>
      <hr>

      <div class="row top-gap-l">
        <div class="col-md-6 col-xs-12">

          <div class="row top-gap-s">
            <div class="col-md-3">
              <span class="muted">User</span>
            </div>
            <div class="col-md-9">
              <span>{{$ctrl.device.user.displayName}}</span>
            </div>
          </div>

          <div class="row top-gap-s" ng-if="$ctrl.device.name">
            <div class="col-md-3">
              <span class="muted">Name:</span>
            </div>
            <div class="col-md-9">
              <span>{{$ctrl.device.name}}</span>
            </div>
          </div>

          <div class="row top-gap-s" ng-if="$ctrl.device.description">
            <div class="col-md-3">
              <span class="muted">Description:</span>
            </div>
            <div class="col-md-9">
              <span>{{$ctrl.device.description}}</span>
            </div>
          </div>

          <div class="row top-gap-s" ng-if="$ctrl.device.appVersion">
            <div class="col-md-3">
              <span class="muted">App Version:</span>
            </div>
            <div class="col-md-9">
              <span>{{$ctrl.device.appVersion}}</span>
            </div>
          </div>

          <div class="row top-gap-s">
            <div class="col-md-3">
              <span class="muted">User Agent:</span>
            </div>
            <div class="col-md-9">
              <span>{{$ctrl.device.userAgent}}</span>
            </div>
          </div>

          <div class="row top-gap-s">
            <div class="col-md-3">
              <span class="muted">Device Id:</span>
            </div>
            <div class="col-md-9">
              <span>{{$ctrl.device.uid}}</span>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="card" ng-if="!$ctrl.device.registered && $ctrl.hasDeviceEditPermission">
            <div class="card-content">
              <strong class="text-success">Register Device</strong>
              <p class="text-success">Registering will allow device to access MAGE data. The device can be deregistered
                at any time.</p>
              <button class="btn btn-success top-gap" ng-click="$ctrl.registerDevice($ctrl.device)"> <i
                  class="fa fa-check"></i> Register</button>
            </div>
          </div>

          <div class="card" ng-if="$ctrl.device.registered && $ctrl.hasDeviceEditPermission">
            <div class="card-content">
              <strong class="text-warning">Unregister Device</strong>
              <p class="text-warning">Unregistering will deny device from accessing MAGE data. All device information
                will be retained, and the device can be registered again at any time.</p>
              <button class="btn btn-warning top-gap" ng-click="$ctrl.unregisterDevice($ctrl.device)"> <i
                  class="fa fa-ban"></i> Unregister</button>
            </div>
          </div>

          <div class="card top-gap" ng-if="$ctrl.hasDeviceDeletePermission">
            <div class="card-content">
              <strong class="text-danger">Delete Device</strong>
              <p class="text-danger">Deleting a device will remove all device information. This cannot be undone, and all
                device data will be unrecoverable.</p>
              <button class="btn btn-danger top-gap" ng-click="$ctrl.deleteDevice($ctrl.device)"> <i
                  class="fa fa-trash-o"></i> Delete</button>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row top-gap-xl">
        <div class="col-md-12">
          <nav class="navbar navbar-default admin-dashboard-navbar">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="admin-navbar-toggle navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#login-nav" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Logins</a>
              </div>
              <div class="collapse navbar-collapse admin-navbar-collapse" id="login-nav">
                <form class="navbar-form navbar-left fixed-width-navbar">
                  <div class="form-group">
                    <input type="text" ng-model="$ctrl.user" placeholder="Filter on user"
                      uib-typeahead="user as user.displayName for user in $ctrl.searchLogins($viewValue)"
                      ng-change="$ctrl.userSearchChanged()"
                      typeahead-on-select="$ctrl.filterLogins()"
                      class="form-control" ng-model-options="{ debounce: 1000 }"
                      typeahead-min-length="0">
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" placeholder="Start Date" class="form-control" uib-datepicker-popup="MM-dd-yyyy"
                        ng-model="$ctrl.login.startDate" ng-change="$ctrl.onFilterDateChanged()"
                        is-open="$ctrl.login.startDateOpened" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.openLoginStart($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <span class="navbar-text-inverse">&nbsp;to&nbsp;</span>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" placeholder="End Date" class="form-control" uib-datepicker-popup="MM-dd-yyyy"
                        ng-model="$ctrl.login.endDate" ng-change="$ctrl.onFilterDateChanged()"
                        is-open="$ctrl.login.endDateOpened" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.openLoginEnd($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                </form>
                <form class="navbar-form navbar-right">
                  <div class="form-group">
                    <span class="navbar-text-inverse">Results: </span>
                    <select class="form-control" ng-init="$ctrl.loginResultsLimit = 10"
                      ng-model="$ctrl.loginResultsLimit" ng-change="$ctrl.loginResultsLimitChanged()"
                      ng-options="o as o for o in [10, 25, 50, 100]"></select>
                  </div>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="admin-table">
            <div class="well-item" ng-repeat="login in $ctrl.loginPage.logins">
              <div class="row">
                <div class="col-md-12">
                  <div class="right-gap pull-left">
                    <i class="fa fa-fw fa-sign-in"></i>
                  </div>
                  <strong class="right-gap"><a href="javascript:void(0);"
                      ng-click="$ctrl.gotoUser(login.user)">{{login.user.displayName}}</a></strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="right-gap pull-left">
                    <i class="fa fa-fw"></i>
                  </div>
                  <span>{{login.timestamp | moment:'fromNow'}}
                    ({{login.timestamp | moment:'MMM D YYYY hh:mm:ss A'}})</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="pager pull-right">
            <li ng-class="{'disabled': !$ctrl.showPrevious}">
              <a href="javascript:void(0);" ng-click="$ctrl.pageLogin($ctrl.loginPage.prev)">&larr; Previous</a>
            </li>
            <li ng-class="{'disabled': !$ctrl.showNext}">
              <a href="javascript:void(0);" ng-click="$ctrl.pageLogin($ctrl.loginPage.next)">Next &rarr;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>