<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb" ng-if="$ctrl.device.id">
      <li><i class="fa fa-mobile-phone admin-dashboard"></i><a ui-sref="admin.devices">Devices</a></li>
      <li><a ui-sref="admin.device({ deviceId: $ctrl.device.id })">{{ $ctrl.device.uid }}</a></li>
      <li class="active">Edit</li>
    </ol>
    <ol class="breadcrumb" ng-if="!$ctrl.device.id">
      <li><i class="fa fa-mobile-phone admin-dashboard"></i><a ui-sref="admin.devices">Devices</a></li>
      <li class="active">New</li>
    </ol>
  </div>
</div>

<div class="container bottom-gap-l">
  <div class="row">
    <div class="col-md-12">
      <h2 ng-if="$ctrl.device.id"><i class="fa" ng-class="$ctrl.iconClass($ctrl.device)"></i> Edit device</h2>
      <h2 ng-if="!$ctrl.device.id">New device</h2>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-12" ng-show="$ctrl.device">

      <form ng-submit="$ctrl.saveDevice()" class="form">

        <div class="form-group">
          <label class="control-label">Device Identifier</label>
          <input type="text" placeholder="for example 01:02:03:04:05:06:08" ng-model="$ctrl.device.uid"
            class="form-control" ng-readonly="$ctrl.device.id">
          <span class="help-block form-group">MAC address, or some sort of unique identifier for your device.</span>
        </div>

        <div class="form-group">
          <label class="control-label">Description</label>
          <textarea type="text" placeholder="A bit about the device" ng-model="$ctrl.device.description"
            class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label class="control-label">Point of Contact</label>
          <input type="text" ng-model="$ctrl.poc" placeholder="Filter on user"
            uib-typeahead="user as user.displayName for user in $ctrl.searchPocs($viewValue)"
            typeahead-loading="$ctrl.pocs" typeahead-no-results="noSearchResults" class="form-control"
            typeahead-min-length="0"  ng-model-options="{ debounce: 1000 }">
          <i ng-show="$ctrl.isSearching == true" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noSearchResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>

        <span class="pull-right">
          <a class="btn btn-default" ng-class="{'disabled': $ctrl.saving}" ng-click="$ctrl.cancel()">Cancel</a>
          <a class="btn btn-success" ng-class="{'disabled': $ctrl.saving}" ng-click="$ctrl.saveDevice($ctrl.device)"><i
              class="fa fa-check"></i> Save</a>
        </span>
      </form>
    </div>
  </div>
</div>