{
    "globals": {
      "$": true,
      "_": true,
      "L": true,
      "angular": true,
      "moment": true,
      "WebFont": true,
      "EXIF": true
    },
    "rules": {
      "no-console": [1]
    },
    "env": {
      "node": false,
      "browser": true
    }
}
