<!DOCTYPE html>
<html ng-app="sage">
<head>
	<title>MAGE - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/map.css"/>

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery/jquery.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
	<script type="text/javascript" src="js/angular/angular.js"></script>
	<script type="text/javascript" src="js/angular-ui/build/angular-ui.js"></script>
	<script type="text/javascript" src="js/angular-leaflet-directive.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>

	<link rel="apple-touch-icon" href="img/touch-icon-iphone.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="img/touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="img/touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="img/touch-icon-ipad-retina.png" />
</head>
<body ng-controller="MapController">
	<div cl***REMOVED***="navbar hidden-phone">
    <div cl***REMOVED***="navbar-inner">
      <div cl***REMOVED***="container">
        <a cl***REMOVED***="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span cl***REMOVED***="icon-bar"></span>
          <span cl***REMOVED***="icon-bar"></span>
          <span cl***REMOVED***="icon-bar"></span>
        </a>
        <a cl***REMOVED***="brand" href="#">MAGE</a>
        <div cl***REMOVED***="nav-collapse collapse">
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div cl***REMOVED***="container top-gap">
    <div cl***REMOVED***="row-fluid">
      <div cl***REMOVED***="span3">
        <form cl***REMOVED***="form">
          <div cl***REMOVED***="control-group">
            <label cl***REMOVED***="control-label" for="address">Username</label>
            <div cl***REMOVED***="controls">
              <input ng-model="username"/>
            </div>
          </div>
          <div cl***REMOVED***="control-group">
            <label cl***REMOVED***="control-label" for="address">P***REMOVED***word</label>
            <div cl***REMOVED***="controls">
              <input ng-model="p***REMOVED***word"/>
            </div>
          </div>
          <span>
            <button cl***REMOVED***="btn btn-inverse">Cancel</button>
            <button cl***REMOVED***="btn">Login</button>
          </span>
        </form>
      </div>
      <div cl***REMOVED***="span9">
        <h3>Mobile Analytic GEOINT Environment</h3>
        *insert splash pic here*
      </div>
    </div>
  </div>
</body>
</html>
