<section class="mat-typography">
    <h4>New Accounts</h4>
    <hr>
</section>
<section class="mat-typography">
    <mat-label><b>New User Accounts Require Admin Approval</b></mat-label>
    <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="strategy.settings.usersReqAdmin.enabled" [ngModelOptions]="{standalone: true}"
            (selectionChange)="setDirty(); userReqAdminChanged()">
            <mat-option *ngFor="let option of usersReqAdminChoices" [value]="option.value">{{option.title}}
            </mat-option>
        </mat-select>
        <mat-hint align="end">If disabled, new user accounts do <b>NOT</b>
            require admin approval to access MAGE.</mat-hint>
    </mat-form-field>
    <div *ngIf="!strategy.settings.usersReqAdmin.enabled">
        <mat-label><b>New Users Default Event(s)</b></mat-label>
        <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="strategy.settings.newUserEvents" [ngModelOptions]="{standalone: true}" multiple
                (selectionChange)="setDirty()">
                <mat-option *ngFor="let event of events" [value]="event.id">
                    {{event.name}}
                </mat-option>
            </mat-select>
            <mat-hint align="end">When new users are created, this is the event
                that they will be added to by default.</mat-hint>
        </mat-form-field>
        <mat-label><b>New Users Default Team(s)</b></mat-label>
        <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="strategy.settings.newUserTeams" [ngModelOptions]="{standalone: true}" multiple
                (selectionChange)="setDirty()">
                <mat-option *ngFor="let team of teams" [value]="team.name">
                    {{team.name}}
                </mat-option>
            </mat-select>
            <mat-hint align="end">When new users are created, this is the team
                that they will be added to by default.</mat-hint>
        </mat-form-field>
    </div>
    <mat-label><b>New Devices Require Admin Approval</b></mat-label>
    <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="strategy.settings.devicesReqAdmin.enabled" [ngModelOptions]="{standalone: true}"
            (selectionChange)="setDirty()">
            <mat-option *ngFor="let option of devicesReqAdminChoices" [value]="option.value">{{option.title}}
            </mat-option>
        </mat-select>
        <mat-hint align="end">If disabled, new devices do <b>NOT</b> require
            admin approval to access MAGE.</mat-hint>
    </mat-form-field>
    <div *ngIf="strategy.type.toLowerCase() === 'local'">
        <admin-authentication-local [strategy]="strategy"></admin-authentication-local>
    </div>
    <div *ngIf="strategy.type.toLowerCase() !== 'local'">
        <generic-settings [strategy]="strategy"></generic-settings>
    </div>
</section>