<section class="mat-typography">
    <div class="row">
        <mat-label><b>New User Accounts Require Admin
                Approval</b></mat-label>
        <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="strategy.settings.usersReqAdmin.enabled" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let option of usersReqAdminChoices" [value]="option.value">{{option.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p class="help-block">If disabled, new user accounts do <b>NOT</b>
            require admin approval to access MAGE.</p>
    </div>
    <div *ngIf="!strategy.settings.usersReqAdmin.enabled">
        <div class="row">
            <mat-label><b>New Users Default Event(s)</b></mat-label>
            <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="strategy.settings.newUserEvents" [ngModelOptions]="{standalone: true}"
                    multiple>
                    <mat-option *ngFor="let event of events" [value]="event.id">
                        {{event.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p class="help-block">When new users are created, this is the event
                that they will be added to by default.</p>
        </div>
        <div class="row">
            <mat-label><b>New Users Default Team(s)</b></mat-label>
            <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="strategy.settings.newUserTeams" [ngModelOptions]="{standalone: true}" multiple>
                    <mat-option *ngFor="let team of teams" [value]="team.name">
                        {{team.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p class="help-block">When new users are created, this is the team
                that they will be added to by default.</p>
        </div>
    </div>
    <div class="row">
        <mat-label><b>New Devices Require Admin Approval</b></mat-label>
        <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="strategy.settings.devicesReqAdmin.enabled" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let option of devicesReqAdminChoices" [value]="option.value">{{option.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p class="help-block">If disabled, new devices do <b>NOT</b> require
            admin approval to access MAGE.</p>
    </div>
    <div *ngIf="strategy.settings.accountLock">
        <div class="row">
            <h4>Account Lock</h4>
            <hr>
        </div>
        <div class="row">
            <mat-label><b>Enabled</b></mat-label>
            <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="strategy.settings.accountLock.enabled" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let accountLockChoice of accountLockChoices" [value]="accountLockChoice.value">
                        {{accountLockChoice.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p class="help-block">MAGE can lock user accounts after a number of
                invalid login attempts for a certain amount of time.</p>
        </div>
        <div *ngIf="strategy.settings.accountLock.enabled">
            <div class="row">
                <mat-label><b>Account Lockout Threshold</b></mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="number" [(ngModel)]="strategy.settings.accountLock.threshold"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <p class="help-block">Number of invalid login attempts, after
                    which the users account will be locked.</p>
            </div>
            <div class="row">
                <mat-label><b>Account Lockout Interval (Seconds)</b></mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="number" [(ngModel)]="strategy.settings.accountLock.interval"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <p class="help-block">Amount of time in seconds a users account
                    will remain locked after reaching number of invalid login
                    attempts.</p>
            </div>
            <div class="row">
                <mat-label><b>Enable Max Lockout</b></mat-label>
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="maxLock.enabled" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let maxLockChoice of maxLockChoices" [value]="maxLockChoice.value">
                            {{maxLockChoice.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <p class="help-block">MAGE can disable user accounts if a user
                    locks their account a certain number of times.</p>
            </div>
            <div *ngIf="maxLock.enabled">
                <div class="row">
                    <mat-label><b>Max Lockout Threshold</b></mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput type="number" [(ngModel)]="strategy.settings.accountLock.max"
                            [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <p class="help-block">Number of times a user account can be
                        locked before it is disabled.
                        Disabled accounts must be re-enabled by an admin. If
                        left blank this feature is disabled.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="strategy.settings.passwordPolicy">
        <password-policy [strategy]="strategy"></password-policy>
    </div>
    <div class="row">
        <div class="bottom-gap">
            <h4>Additional Settings:</h4>
        </div>
    </div>
    <generic-settings [strategy]="strategy"></generic-settings>
</section>