<div cl***REMOVED***="row-fluid" ng-controller="AdminUsersCtrl">
  <div cl***REMOVED***="span12 top-gap" id="user-admin-area">
    <button cl***REMOVED***="btn" ng-click="newUser()" ngm-tap="newUser()"><i cl***REMOVED***="fa fa-plus-square-o"></i> New User</button>
    <div id="user-form" name="edit-form" cl***REMOVED***="top-gap" ng-show="showUserForm">
      <form ng-submit="saveUser()" id="userform" name="user-form" cl***REMOVED***="form-horizontal">

        <div avatar-user="user"/>
        <div icon-user="user" cl***REMOVED***="top-gap-xl"/>

        <div cl***REMOVED***="control-group top-gap-l">
          <label cl***REMOVED***="control-label" for="type">Username</label>
          <div cl***REMOVED***="controls">
            <input type="text" placeholder="i.e. jappleseed" ng-model="user.username" name="username">
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="type">First Name</label>
          <div cl***REMOVED***="controls">
            <input type="text" placeholder="Johnny" ng-model="user.firstname" name="firstname">
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="type">Last Name</label>
          <div cl***REMOVED***="controls">
            <input type="text" placeholder="Appleseed" ng-model="user.lastname" name="lastname">
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="type">Email</label>
          <div cl***REMOVED***="controls">
            <input type="text" placeholder="johnny@appleseed.com" ng-model="user.email" name="email">
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="type">Phone</label>
          <div cl***REMOVED***="controls">
            <input type="text" placeholder="(xxx) xxx-xxxx" ng-model="user.phone" name="phone">
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="type">P***REMOVED***word</label>
          <div cl***REMOVED***="controls">
            <input type="p***REMOVED***word" placeholder="14 characters, alphanumeric" ng-model="user.p***REMOVED***word" name="p***REMOVED***word">
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="type">Confirm P***REMOVED***word</label>
          <div cl***REMOVED***="controls">
            <input type="p***REMOVED***word" placeholder="14 characters, alphanumeric" ng-model="user.p***REMOVED***wordconfirm" name="p***REMOVED***wordconfirm">
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="type">Role</label>
          <div cl***REMOVED***="controls">
            <select ng-model="user.role" ng-options="role._id as role.name for role in roles"></select>
          </div>
        </div>
        <span>
          <button type="reset" cl***REMOVED***="btn btn-inverse" ng-click="setShowUserForm(false)" ngmtap="setShowUserForm(false)">Cancel</button>
          <button type="submit" cl***REMOVED***="btn">Save user</button>
        </span>
      </form>
    </div>
    <div cl***REMOVED***="navbar top-gap row-fluid">
      <div cl***REMOVED***="navbar-inner">
        <ul cl***REMOVED***="nav navbar-nav">
          <li cl***REMOVED***="pull-left"><a href="" ng-click="refreshUsers()"><i cl***REMOVED***="fa fa-refresh"></i></a></li>
          <li ng-cl***REMOVED***="userFilterCl***REMOVED***('all')"><a href="" ng-click="changeCurrentUserFilter('all')">All Users</a></li>
          <li ng-cl***REMOVED***="userFilterCl***REMOVED***('active')"><a href="" ng-click="changeCurrentUserFilter('active')">Active Users</a></li>
          <li ng-cl***REMOVED***="userFilterCl***REMOVED***('unregistered')"><a href="" ng-click="changeCurrentUserFilter('unregistered')">Users Awaiting Approval</a></li>
        </ul>

        <form cl***REMOVED***="navbar-search pull-right">
          <input type="text" cl***REMOVED***="form-search search-query" ng-model="userQuery" placeholder="Search" ng-change="userSearch()">
        </form>
      </div>
    </div>
    <div cl***REMOVED***="top-gap" ng-repeat="u in filteredUsers">
      <div ng-switch on="u.deleted">
        <div ng-switch-when="true" cl***REMOVED***="row-fluid deleted-border">
          <div cl***REMOVED***="span12">
            <h4 style="text-align: center;">User: {{u.username}} - {{u.firstname}} {{u.lastname}} has been deleted.</h4>
          </div>
        </div>
        <div ng-switch-default cl***REMOVED***="row-fluid">
          <div cl***REMOVED***="span2">
            <button cl***REMOVED***="btn" ng-click="editUser(u)" ngm-tap="editUser(u)">
              <i cl***REMOVED***="fa fa-edit"></i>
              Edit User
            </button>
            <button cl***REMOVED***="btn btn-success" ng-hide='u.active' ng-click="approveUser(u)" ngm-tap="approveUser(u)">
              <i cl***REMOVED***="fa fa-thumbs-up"></i>
              Approve Account
            </button>
          </div>
          <div cl***REMOVED***="span1">
            {{u.username}}
          </div>
          <div cl***REMOVED***="span2">
            {{u.firstname}} {{u.lastname}}
          </div>
          <div cl***REMOVED***="span2">
            {{u.email}}
          </div>
          <div cl***REMOVED***="span2">
            {{u.userAgent}}
          </div>
          <div cl***REMOVED***="span1">
            {{u.mageVersion}}
          </div>
          <div cl***REMOVED***="span2">
            <button cl***REMOVED***="btn btn-danger" ng-click="deleteUser(u)" ngm-tap="deleteUser(u)">
              <i cl***REMOVED***="fa fa-trash-o"></i>
              Delete User
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
