<div cl***REMOVED***="nav-gap">
  <div cl***REMOVED***="row-fluid admin-nav">
    <div cl***REMOVED***="span2 offset2">
      <h4><a href="#/admin/user" cl***REMOVED***="admin-tab" ng-cl***REMOVED***="{'admin-nav-active': currentAdminPanel == 'user'}">Users</a></h4>
    </div>
    <div cl***REMOVED***="span2">
      <h4><a href="#/admin/team" cl***REMOVED***="admin-tab" ng-cl***REMOVED***="{'admin-nav-active': currentAdminPanel == 'team'}">Teams</a></h4>
    </div>
    <div cl***REMOVED***="span2">
      <h4><a href="#/admin/event" cl***REMOVED***="admin-tab" ng-cl***REMOVED***="{'admin-nav-active': currentAdminPanel == 'event'}">Events</a></h4>
    </div>
    <div cl***REMOVED***="span2">
      <h4><a href="#/admin/device" cl***REMOVED***="admin-tab" ng-cl***REMOVED***="{'admin-nav-active': currentAdminPanel == 'device'}">Devices</a></h4>
    </div>
  </div>

  <div cl***REMOVED***="container-fluid">

    <div cl***REMOVED***="row-fluid admin-nav-gap">
      <div cl***REMOVED***="span12">
        <div cl***REMOVED***="row top-gap" ng-show="showStatus">
          <div cl***REMOVED***="span11 alert alert-block" ng-cl***REMOVED***="statusLevel">
            <button type="button" cl***REMOVED***="close" ng-click="setShowStatus(false)">&times;</button>
            <h4>{{statusTitle}}</h4>
            {{statusMessage}}
          </div>
        </div>

        <div ng-switch="currentAdminPanel">
          <div ng-switch-when="user">
            <div ng-include="'js/app/partials/admin/admin-user.html'"></div>
          </div>
          <div ng-switch-when="device">
            <div ng-include="'js/app/partials/admin/admin-device.html'"></div>
          </div>
          <div ng-switch-when="event">
            <div ng-include="'js/app/partials/admin/admin-event.html'"></div>
          </div>
          <div ng-switch-when="team">
            <div ng-include="'js/app/partials/admin/admin-team.html'"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
