<div ng-controller="AdminTeamsCtrl">
  <div cl***REMOVED***="row-fluid">
    <div cl***REMOVED***="span2">
      <div cl***REMOVED***="row-fluid admin-header">
        <div cl***REMOVED***="span12">
          <span ng-click="refresh()"><i cl***REMOVED***="fa fa-refresh icon-spacer pointer"></i></span>
          <h3 style="display: inline">Teams ({{filteredTeams.length}})</h3>
          <a cl***REMOVED***="btn pull-right" ng-click="newTeam()">New Team</a>
        </div>
      </div>

      <div cl***REMOVED***="row-fluid">
        <div cl***REMOVED***="form-search">
          <input type="text" cl***REMOVED***="search-query span12" placeholder="Search" ng-model="teamSearch" ng-change="filterTeams()">
        </div>
      </div>

      <div cl***REMOVED***="row-fluid">
        <ul cl***REMOVED***="pager">
          <li cl***REMOVED***="previous" ng-show="page != 0">
            <a ng-click="page=page-1">&larr; Previous</a>
          </li>
          <li cl***REMOVED***="next" ng-show="page < (filteredTeams.length/itemsPerPage) - 1">
            <a ng-click="page=page+1">Next &rarr;</a>
          </li>
        </ul>
      </div>

       <div ng-repeat="t in filteredTeams | orderBy:'name' | offset: page*itemsPerPage | limitTo:itemsPerPage" cl***REMOVED***="row-fluid pointer bottom-gap-l" ng-click="editTeam(t)">
         <div ng-cl***REMOVED***="{'admin-active': team.id == t.id}" cl***REMOVED***="admin-row">
           <div cl***REMOVED***="strong">{{t.name}}</div>
           <div cl***REMOVED***="muted">{{t.description}}</div>
         </div>
       </div>
   </div>

   <div cl***REMOVED***="span10" ng-show="team">
     <div style="position: fixed; top: 84px; left: 35%" cl***REMOVED***="fade alert alert-success" ng-cl***REMOVED***="{'in': saved, 'out': !saved}">
       Successfully Saved {{team.name}}
     </div>
     <div style="position: fixed; top: 84px; left: 35%" cl***REMOVED***="fade alert alert-error" ng-cl***REMOVED***="{'in': error, 'out': !error}">
       Error saving team: {{error}}
     </div>

     <div cl***REMOVED***="row-fluid">
       <div cl***REMOVED***="span8">
         <form cl***REMOVED***="form">
           <div cl***REMOVED***="control-group">
             <label cl***REMOVED***="control-label">Name</label>
             <input type="text" placeholder="Team name" ng-model="team.name"/>
           </div>
           <div cl***REMOVED***="control-group">
             <label cl***REMOVED***="control-label">Description</label>
             <div cl***REMOVED***="controls">
               <textarea type="text" placeholder="Brief description of the team." ng-model="team.description"/>
             </div>
           </div>
         </form>

         <div cl***REMOVED***="navbar">
           <div cl***REMOVED***="navbar-inner admin-table-nav">
             <a cl***REMOVED***="pull-left btn" ng-click="edit = !edit">Edit</a>
             <a cl***REMOVED***="pull-right btn" ng-click="add = !add">Add</a>

             <a cl***REMOVED***="brand" href="#">Team Members ({{team.members.length}})</a>

             <form cl***REMOVED***="navbar-search">
               <input type="text" cl***REMOVED***="search-query" placeholder="Filter Team Members" ng-model="memberSearch">
             </form>

             <div ng-show="add" style="padding: 10px;">
               <div cl***REMOVED***="row-fluid top-gap-xl">
                 <form cl***REMOVED***="navbar-search">
                   <input type="text" cl***REMOVED***="search-query" placeholder="Search Non Members" ng-model="nonMemberSearch">
                 </form>
               </div>

               <div cl***REMOVED***="pre-scrollable-small well well-small admin-table top-gap-s">
                 <div ng-repeat="nonMember in nonMembers |  user: ['username','firstname','lastname']:nonMemberSearch" cl***REMOVED***="row-fluid well-item">
                   <div cl***REMOVED***="span12">
                     <span cl***REMOVED***="icon-spacer">
                       <a cl***REMOVED***="btn btn-mini btn-success" ng-click="addMember(nonMember)"><i cl***REMOVED***="fa fa-plus"></i></a>
                     </span>
                     <span>
                       {{nonMember.firstname}} {{nonMember.lastname}}
                     </span>
                     <span cl***REMOVED***="muted"> ({{nonMember.username}})</span>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <div cl***REMOVED***="pre-scrollable-large well well-small admin-table">
           <div ng-repeat="member in team.members | user: ['username','firstname','lastname']:memberSearch" cl***REMOVED***="row-fluid well-item">
             <div cl***REMOVED***="span12">
               <span cl***REMOVED***="icon-spacer" ng-show="edit">
                 <a cl***REMOVED***="btn btn-mini btn-danger" ng-click="removeMember(member)"><i cl***REMOVED***="fa fa-minus"></i></a>
               </span>
               <span>
                 {{member.firstname}} {{member.lastname}}
               </span>
               <span cl***REMOVED***="muted"> ({{member.username}})</span>
             </div>
           </div>
         </div>

         <span cl***REMOVED***="pull-right">
           <a cl***REMOVED***="btn btn-danger" ng-show="team.id" ng-click="deleteTeam(team)"> <i cl***REMOVED***="fa fa-trash-o"></i> Delete Team</a>
           <a cl***REMOVED***="btn btn-success" ng-cl***REMOVED***="{'disabled': saving}" ng-hide="team.id" ng-click="createTeam(team)"> <i cl***REMOVED***="fa fa-check"></i> Create Team</a>
           <a cl***REMOVED***="btn btn-success" ng-cl***REMOVED***="{'disabled': saving}" ng-show="team.id" ng-click="updateTeam(team)"> <i cl***REMOVED***="fa fa-check"></i> Save Team</a>
         </span>

       </div>
     </div>
   </div>
  </div>
</div>
