version: "3.4"

services:

  mage-db:
    image: mongo:3.6-jessie
    volumes:
      - ./database/data:/data/mage
      - ./database/log:/var/log/mongodb
    command: [mongod, --dbpath, /data/mage, --logpath, /var/log/mongodb/mongod.log, --smallfiles]
    # Uncomment the following ports block to allow the mongo client on your
    # host machine to connect to MongoDB in the Docker container.
    # ports:
    #   - 27017:27017
    networks:
      - mage.net

  mage-server:
    depends_on: [mage-db]
    image: "mage-server:${MAGE_VERSION:-6.1.0}"
    # image: "mage-server:debug"
    build:
      context: ./server
      # dockerfile: Dockerfile-debug
      args:
        MAGE_VERSION: "${MAGE_VERSION:-6.1.0}"
    volumes:
      - ./server/resources:/var/lib/mage
      - ..:/home/mage/mage-server
    # Comment the ports block to disallow connections directly to the node
    # server when running the mage-web-proxy below.
    ports:
      - 4242:4242
      # Uncomment to allow debuggers to attach the Node process inside the
      # container on port 14242
      # - 14242:14242
    networks:
      - mage.net
    environment:
      MAGE_MONGO_URL: mongodb://mage-db:27017/magedb
      MAGE_TOKEN_EXPIRATION: "28800"

  # Uncomment the following block to enable the TLS reverse proxy.  You will
  # also need to generate the key and certificate as the README describes.
  # mage-web-proxy:
  #   image: nginx
  #   volumes:
  #     - ./web/nginx.conf:/etc/nginx/nginx.conf
  #     - ./web/mage-web.crt:/etc/nginx/ssl/web.crt
  #     - ./web/mage-web.key:/etc/nginx/ssl/web.key
  #   ports:
  #     - 4280:80
  #     - 4243:4243
  #   networks:
  #     - mage.net

networks:
  mage.net:
    driver: bridge
