<section class="mat-typography">
    <div class="contact-info">
        <div class="contact-info__content">
            <div class="mat-title">Administrator Contact Info</div>
            <div class="mat-body">
                <p>
                    When e-mail and/or phone is populated, MAGE will present users with the option to contact an
                    administrator to enable accounts, register devices or to report issues.
                </p>
                <mat-form-field appearance="outline" id="email">
                    <mat-label>MAGE Administrator E-Mail</mat-label>
                    <mat-icon matPrefix>mail</mat-icon>
                    <input matInput type="email" [(ngModel)]="contactinfo.email">
                    <button *ngIf="contactinfo.email" matSuffix mat-icon-button (click)="contactinfo.email=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="outline" id="phone">
                    <mat-label>MAGE Administrator Phone</mat-label>
                    <mat-icon matPrefix>phone</mat-icon>
                    <input matInput type="tel" [(ngModel)]="contactinfo.phone">
                    <button *ngIf="contactinfo.phone" matSuffix mat-icon-button (click)="contactinfo.phone=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </div>
</section>