.disclaimer-summary {
  margin-top: 16px;
  margin-bottom: 16px;
}

label {
  font-weight: unset;
  margin-left: 8px;
}

mat-form-field {
  font-size: unset;
  width: 100%;
}

section {
  margin-left: 16px;
}