<section class="mat-typography">
    <div class="mat-body; disclaimer-summary">
        MAGE can present a disclaimer after login. If the disclaimer is shown users will
        have to accept to continue into MAGE. The disclaimer will be shown on all clients, i.e.
        Android, iOS, and the Web.
    </div>
</section>
<section class="mat-typography">
    <div class="show-section">
        <mat-checkbox [(ngModel)]="disclaimer.showDisclaimer" [checked]="disclaimer.showDisclaimer" color="primary"
            [ngModelOptions]="{standalone: true}" id="show-disclaimer">
        </mat-checkbox>
        <mat-label for="show-disclaimer">Show Disclaimer</mat-label>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label for="disclaimerTitle">Disclaimer Title</mat-label>
            <input matInput [(ngModel)]="disclaimer.disclaimerTitle" [ngModelOptions]="{standalone: true}"
                [disabled]="!disclaimer.showDisclaimer">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label for="disclaimerText">Disclaimer Text</mat-label>
            <textarea matInput [(ngModel)]="disclaimer.disclaimerText" [ngModelOptions]="{standalone: true}"
                [disabled]="!disclaimer.showDisclaimer"> </textarea>
        </mat-form-field>
    </div>
</section>