@import '~@angular/material/theming';
@import "variables.scss";

.admin-settings-gap {
    //top right bottom left
    margin: 0px 10px 0px 10px;
}

label {
    font-weight: unset;
    margin-left: 8px;
}

mat-form-field {
    font-size: unset;
    width: 100%;
}