.page-container {
    display: flex;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    max-width: 1170px;
}

.content {
    display: block;
    flex: 1;
    min-width: 0;
    background-color: white;
}
  
.auth-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.third-party-button {
    flex-direction: row;
    justify-content: space-between !important;
    width: 25%;
    height: 50px;
}
  
.third-party-button-content {
    position: absolute;
    display: flex;
    align-items: center;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
}

.third-party-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 42px;
    padding: 4px;
    height: 100%;
  
    img {
      width: 60%;
    }
}

.third-party-button-text {
    text-align: center;
    flex: 1;
}
  
table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

color-picker {
    display: block;
    width: 25%;
}

.preview-button {
    margin: 16px 0;
}