<section class="mat-typography">
   <admin-breadcrumb [breadcrumbs]="breadcrumbs"></admin-breadcrumb>
</section>
<section class="mat-typography">
   <div class="page-container">
      <div class="content">
         <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step>
               <ng-template matStepLabel>Title</ng-template>
               <mat-form-field appearance="outline">
                  <mat-label>Authentication Title</mat-label>
                  <input matInput placeholder="e.g. Local LDAP" [(ngModel)]="strategy.title" required>
                  <button mat-button *ngIf="strategy.title" matSuffix mat-icon-button (click)="strategy.title=''">
                     <mat-icon>close</mat-icon>
                  </button>
               </mat-form-field>
               <div>
                  <button [disabled]="!strategy.title.length" mat-button matStepperNext>Next</button>
               </div>
            </mat-step>
            <mat-step>
               <ng-template matStepLabel>Type</ng-template>
               <mat-form-field appearance="outline">
                  <mat-label>Choose a type</mat-label>
                  <mat-select [(ngModel)]="strategy.name" [ngModelOptions]="{standalone: true}" id="type" name="type"
                     required #type="ngModel">
                     <mat-option *ngFor="let typeChoice of typeChoices" [value]="typeChoice.name">
                        {{typeChoice.title}}
                     </mat-option>
                  </mat-select>
               </mat-form-field>
               <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button [disabled]="!strategy.name.length" mat-button (click)="loadTemplate()"
                     matStepperNext>Next</button>
               </div>
            </mat-step>
            <mat-step label="Settings">
               <div [ngSwitch]="strategy.type">
                  <admin-authentication-oidc *ngSwitchCase="'openidconnect'" [strategy]="strategy"></admin-authentication-oidc>
               </div>
               <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext [disabled]="false">Next</button>
               </div>
            </mat-step>
            <mat-step>
               <ng-template matStepLabel>Login Button</ng-template>
               <mat-list-item>
                  <mat-label for="textColorPicker">Text Color</mat-label>
                  <color-picker [hexColor]="strategy.textColor" (onColorChanged)="colorChanged($event, 'textColor')"
                     id="textColorPicker">
                  </color-picker>
               </mat-list-item>
               <mat-list-item>
                  <mat-label for="buttonColorPicker">Button Color</mat-label>
                  <color-picker [hexColor]="strategy.buttonColor" (onColorChanged)="colorChanged($event, 'buttonColor')"
                     id="buttonColorPicker">
                  </color-picker>
               </mat-list-item>
               <mat-list-item>
                  <mat-label>Button Icon</mat-label>
                  <icon-upload [strategy]="strategy"></icon-upload>
               </mat-list-item>
               <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
               </div>
            </mat-step>
            <mat-step label="Summary">
               <div class="mat-title">{{strategy.title}} ({{strategy.type}})</div>
               <mat-divider></mat-divider>
               <div class="preview-button">
                  <div class="auth-button-container">
                     <button mat-raised-button disabled
                        [ngStyle]="{'color': strategy.textColor, 'background-color': strategy.buttonColor, 'border-color': strategy.buttonColor}"
                        class="bottom-gap third-party-button">
                        <span class="third-party-button-content">
                           <i *ngIf="!strategy.icon" [ngStyle]="{'color': strategy.buttonColor}"
                              class="third-party-logo fa fa-lg fa-shield"></i>
                           <span *ngIf="strategy.icon" class="third-party-logo">
                              <img [src]="strategy.icon" style="width:32px; height:32px">
                           </span>
                           <span class="third-party-button-text" [ngStyle]="{color: strategy.textColor}">
                              Sign In With {{strategy.title}}
                           </span>
                        </span>
                     </button>
                  </div>
               </div>

               <div [ngSwitch]="strategy.type">
                  <admin-authentication-oidc *ngSwitchCase="'openidconnect'" [strategy]="strategy" [editable]="false"></admin-authentication-oidc>
               </div>

               <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="reset(); stepper.reset()">Reset</button>
                  <button mat-button (click)="save()" [disabled]="!isValid()">Save</button>
               </div>
            </mat-step>
         </mat-horizontal-stepper>
      </div>
   </div>
</section>