<div>
   <h1 mat-dialog-title>Edit {{setting.key}}</h1>
</div>
<div>
   <mat-dialog-content>
      <mat-form-field>
         <input matInput [(ngModel)]="setting.value">
         <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
   </mat-dialog-content>
</div>
<div class="actions">
   <mat-dialog-actions>
      <button mat-button color="primary" (click)="close()" cdkFocusInitial>Cancel</button>
      <button mat-button color="primary" (click)="confirm()">OK</button>
   </mat-dialog-actions>
</div>