.signin-container {
  min-width: 285px;
  width: 75%;
  margin: auto;
  text-align: left;
}

.wand-container {
  text-align: center;

  .mage-wand {
    margin-top: 36px;
    width: 97px;
    height: 97px;
    margin-bottom: 36px;
  }
}

.or-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: grey;
  font-variant: small-caps;
}

.or-hr {
  margin-bottom: -23px;
  height: 0;
  border: 0;
  border-top: 2px solid #e6e6e6;
}

#or {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.spacer {
  margin-bottom: 8px;
}