<div class="container">
  <div class="title">Access Code</div>
  <div class="subtitle">Please enter your MAGE access code. If you do not have an access code please ask you MAGE administrator to provide you with one.</div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Access Code</mat-label>
      <input matInput placeholder="Access Code" type="deviceId" [formControl]="deviceId" required>
    </mat-form-field>
  </div>

  <div class="authorize">
    <button mat-flat-button color="primary" (click)="authorize()">Continue to MAGE</button>
  </div>

</div>