<div class="signin-container">
  <div class="wand-container" *ngIf="!hideSignup">
    <img class="mage-wand" src="/assets/images/bluewand.png" />
  </div>

  <local-authentication
    *ngIf="localAuthenticationStrategy"
    strategy="localAuthenticationStrategy"
    [hideSignup]="hideSignup"
    (onSignup)="onSignup({strategy: localAuthenticationStrategy})"
    (onSignin)="onSignin($event)">
  </local-authentication>

  <div *ngIf=" localAuthenticationStrategy && thirdPartyStrategies.length">
    <div class="or-container">
      <hr class="or-hr">
      <div id="or">or</div>
    </div>
  </div>

  <div *ngFor='let strategy of thirdPartyStrategies; index as i'>
    <div [ngClass]="{'spacer': i < thirdPartyStrategies.length - 1}">
      <ng-container [ngSwitch]="strategy?.type">
        <idp-authentication *ngSwitchCase="'oauth'" [strategy]="strategy" onSignin="signin($event)"></idp-authentication>
        <idp-authentication *ngSwitchCase="'saml'" [strategy]="strategy" onSignin="signin($event)"></idp-authentication>
        <idp-authentication *ngSwitchCase="'openidconnect'" [strategy]="strategy" onSignin="signin($event)"></idp-authentication>
        <!-- <ldap-signin ng-switch-when="ldap" strategy="strategy" on-signin="signin($event)"></ldap-signin> -->
      </ng-container>
    </div>
  </div>
</div>