.radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 16px;
}

.radio-button {
  margin-bottom: 8px;
}

.mat-error {
  font-size: 75%;
  margin-top: 8px;
  margin-left: 28px;
}