<mat-form-field appearance="fill" [formGroup]="formGroup">
  <mat-label>{{ definition.title }}</mat-label>

  <mat-chip-grid #chipGrid formControlName="{{ definition.name }}">
    <mat-chip-row
      *ngFor="let choice of formGroup.get(definition.name).value"
      (removed)="remove(choice)"
    >
      {{ choice }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip-row>

    <input
      #choiceInput
      #trigger="matAutocompleteTrigger"
      matInput
      (click)="trigger.openPanel()"
      [formControl]="choiceControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-grid>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <ng-container *ngIf="recentChoices$ | async as recentChoices">
      <mat-optgroup [label]="'Recents'" *ngIf="recentChoices.length !== 0">
        <mat-option *ngFor="let choice of recentChoices" [value]="choice.title">
          <span
            [ngClass]="{
              'select__choice--disabled':
                control.value && control.value.includes(choice.title)
            }"
          >
            {{ choice.title }}
          </span>
        </mat-option>
      </mat-optgroup>
      <ng-container *ngIf="filteredChoices$ | async as filteredChoices">
        <mat-optgroup [label]="'All'" *ngIf="recentChoices.length !== 0; else noRecents">
          <mat-option *ngFor="let choice of filteredChoices" [value]="choice.title">
            <span
              [ngClass]="{
                'select__choice--disabled':
                  control.value && control.value.includes(choice.title)
              }"
            >
              {{ choice.title }}
            </span>
          </mat-option>
        </mat-optgroup>
        <ng-template #noRecents>
          <mat-option *ngFor="let choice of filteredChoices" [value]="choice.title">
            <span
              [ngClass]="{
                'select__choice--disabled':
                  control.value && control.value.includes(choice.title)
              }"
            >
              {{ choice.title }}
            </span>
          </mat-option>
        </ng-template>
      </ng-container>
    </ng-container>
  </mat-autocomplete>

  <mat-error *ngIf="formGroup.get(definition.name)?.invalid">
    You must enter a value
  </mat-error>
</mat-form-field>
