<section class="mat-typography">
        <h1 mat-dialog-title>Delete Setting {{setting.key}}?</h1>
    </section>
    <section class="mat-typography">
        <mat-dialog-content>
            <p>"{{setting.key}}" will be deleted.</p>
        </mat-dialog-content>
    </section>
    <section class="mat-typography">
        <mat-dialog-actions>
            <button mat-button (click)="close()" cdkFocusInitial>Cancel</button>
            <button mat-button color="warn" (click)="confirm()">Delete</button>
        </mat-dialog-actions>
    </section>