<!-- <div class="filter-banner hidden-xs">
  <div class="filter-text">
    <div class="col-xs-12 text-center">
      <span class="filter-event">{{filteredEvent.name}}</span>
      <span *ngIf="filteredTeams" class="filter-teams"><span> > {{filteredTeams}}</span></span>
      <span *ngIf="filteredInterval" class="filter-interval"> {{filteredInterval}}</span>
    </div>
  </div>
</div> -->

<div class="main-container">
  <feed-panel
    class="feed"
    [hidden]="hideFeed"
    [observationLocation]="newObservation"
    (toggle)="onToggleFeed($event)">
  </feed-panel>

  <div class="map">
    <map></map>
  </div>
</div>

