:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.preferences-toolbar {
  display: flex;
  align-items: end;
}

.main-container {
  height: 100%;
}

.feed {
  background: #e1e2e1;
  order: 1;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: margin-left .3s linear;
  z-index: 1;
}