<!-- <div class="filter-banner hidden-xs">
  <div class="filter-text">
    <div class="col-xs-12 text-center">
      <span class="filter-event">{{filteredEvent.name}}</span>
      <span *ngIf="filteredTeams" class="filter-teams"><span> > {{filteredTeams}}</span></span>
      <span *ngIf="filteredInterval" class="filter-interval"> {{filteredInterval}}</span>
    </div>
  </div>
</div> -->

<div class="main-container">
  Hello MAGE Map
  <!-- <feed-panel class="feed ng-animatable" [hidden]="hideFeed" [event]="filteredEvent" [observation-location]="newObservation" (toggle)="onToggleFeed($event)"></feed-panel> -->

  <div class="map">
    <!-- <app-leaflet 
      (onMapAvailable)="onMapAvailable($event)"
      (onAddObservation)="onAddObservation($event)"
      (onAddLayer)="onAddLayer($event)"
      (onRemoveLayer)="onRemoveLayer($event)"></app-leaflet> -->
      <!-- <map></map> -->
  </div>
</div>

