<div class="slide-left new-obs-card form-chooser feed-card ng-animatable" ng-if="newObservationForms">
  <div class="feed-card-content">
    <observation-form-chooser 
      forms="newObservationForms" 
      on-form-picked="createObservation(form)" 
      on-form-close="cancelNewObservation()">
    </observation-form-chooser>
  </div>
</div>

<div class="slide-left new-obs-card view-obs-card feed-card ng-animatable feed-scroll" ng-if="newObservation">
  <div class="feed-card-content">
    <form-directive form="newObservationForm" form-observation="newObservation"></form-directive>
  </div>
</div>

<user-view 
    class="slide-left new-obs-card view-obs-card feed-card ng-animatable" 
    ng-if="viewUser" 
    user="viewUser" 
    event="event" 
    observations="observations"></user-view>

<observation-view
    class="slide-left new-obs-card view-obs-card feed-card ng-animatable"
    ng-if="viewObservation"
    observation="viewObservation" 
    event="event"></observation-view>

<form-directive
    class="slide-left new-obs-card view-obs-card feed-card ng-animatable feed-scroll"
    ng-if="editObservation"
    form="editForm"
    form-observation="editObservation"></form-directive>

<tab-list on-tab-switch="onTabSwitched(index)" tabs="tabs" class="tab-bg"></tab-list>
<div class="observation-feed-container content content--active">
  <observation-feed
    ng-if="currentFeedPanel === 'observations'"
    on-create-new-observation="createNewObservation()"></observation-feed>
</div>

<div class="people-feed-container content">
  <user-feed ng-if="currentFeedPanel === 'people'"></user-feed>
</div>
