<div class="feed-tabs">
  <div class="feed-tab" ng-class="{observationsTab:'feed-tab-active', peopleTab:'feed-tab-inactive'}[currentFeedPanel]">
    <span><a class="pointer" ng-click="currentFeedPanel = 'observationsTab'"><i class="fa fa-map-marker"></i> Observations</a></span>
    <span class="badge badge-accent feed-badge" ng-show="observationsChanged > 0">{{observationsChanged}}</span>
  </div>
  <div class="feed-tab" ng-class="{peopleTab:'feed-tab-active', observationsTab:'feed-tab-inactive'}[currentFeedPanel]">
    <span><a class="pointer" ng-click="currentFeedPanel = 'peopleTab'"><i class="fa fa-users"></i> People</a></span>
    <span class="badge badge-accent feed-badge" ng-show="usersChanged > 0">{{usersChanged}}</span>
  </div>
</div>

<div class="feed-page" ng-show="currentFeedPanel == 'observationsTab' && observationPages.length">
  <select
    class="form-control"
    ng-model="currentObservationPage"
    ng-options="observationPages.indexOf(observationPage) as observationPage[0].properties.timestamp | moment: 'fromNow' for observationPage in observationPages">
  </select>
</div>

<div class="feed-page" ng-show="currentFeedPanel == 'peopleTab' && userPages.length">
  <select
    class="form-control"
    ng-model="currentUserPage"
    ng-options="userPages.indexOf(userPage) as userPage[0].location.properties.timestamp | moment: 'fromNow' for userPage in userPages">
  </select>
</div>

<div class="feed-items">
  <div class="feed-card" ng-if="newObservation">
    <div class="feed-card-content">
      <form-directive form="newObservationForm" form-observation="newObservation"></form-directive>
    </div>
  </div>

  <div class="feed-items-container">
    <div ng-if="currentFeedPanel === 'observationsTab'">
      <div id="{{observation.id}}"
        ng-class="(selectedObservation.id && selectedObservation.id !== observation.id) && 'inactive-feed-card'"
        ng-repeat="observation in observationPages[currentObservationPage] track by observation.id">
        <div observation-news-item="observation" selectedobservation-form="event.form" container-element="side-bar"></div>
      </div>
    </div>

    <div ng-if="currentFeedPanel === 'peopleTab'">
      <div id="{{user.id}}"
        ng-class="(selectedUser && selectedUser.id !== user.id) && 'inactive-feed-card'"
        ng-repeat="user in userPages[currentUserPage] track by user.id">
        <div user-news-item="user" user-news-item-follow="followUserId" container-element="side-bar"></div>
      </div>
    </div>
  </div>

</div>
