<div class="filter-banner hidden-xs">
  <div class="filter-text">
    <div class="col-xs-12 text-center">
      <span class="filter-event">{{$ctrl.filteredEvent.name}}</span>
      <span ng-if="$ctrl.filteredTeams" class="filter-teams"><span> > {{$ctrl.filteredTeams}}</span></span>
      <span ng-if="$ctrl.filteredInterval" class="filter-interval"> {{$ctrl.filteredInterval}}</span>
    </div>
  </div>
</div>

<div class="main-container">

  <div class="feed ng-animatable" 
    ng-hide="$ctrl.hideFeed"
    news-feed
    event="$ctrl.filteredEvent"
    feed-observations-changed="$ctrl.feedChangedObservations"
    feed-users-changed="$ctrl.feedChangedUsers">
  </div>

  <div class="map">
    <div leaflet on-observation-create="$ctrl.onObservationCreate(latlng)"></div>
  </div>

</div>
