<div class="feed-header">
  <div class="mdc-chip-set mdc-chip-set--choice">
    <div class="mdc-chip mdc-chip--selected" ng-click="$ctrl.actionFilterChanged('all')" ng-class="{'active': $ctrl.actionFilter === 'all'}">
      <span>All</span>
    </div>
    <div class="mdc-chip" ng-click="$ctrl.actionFilterChanged('favorite')" ng-class="{'active': $ctrl.actionFilter === 'favorite'}">
      <span>Favorites</span>
    </div>
    <div class="mdc-chip" ng-click="$ctrl.actionFilterChanged('important')" ng-class="{'active': $ctrl.actionFilter === 'important'}">
      <span>Important</span>
    </div>
    <div class="mdc-chip" ng-click="$ctrl.actionFilterChanged('attachments')" ng-class="{'active': $ctrl.actionFilter === 'attachments'}">
      <span>Attachments</span>
    </div>
  </div>
  <div class="feed-content-padding-container">
    <div id="select" class="observation-select mdc-select mdc-select--outlined feed-select-width">
      <input type="hidden" name="enhanced-select">
      <i class="mdc-select__dropdown-icon"></i>
      <div class="mdc-select__selected-text">{{$ctrl.observationPages[0][0].properties.timestamp | moment: 'fromNow'}}</div>
      <div class="mdc-select__menu mdc-menu mdc-menu-surface feed-select-width">
        <ul class="mdc-list">
            <li class="mdc-list-item mdc-list-item--selected"
            data-value="$ctrl.observationPages[0[0].id">
            {{$ctrl.observationPages[0][0].properties.timestamp | moment: 'fromNow'}}
          </li>
          <li class="mdc-list-item"
            ng-if="!$first"
            ng-repeat="observationPage in $ctrl.observationPages track by observationPage[0].id"
            data-value="observationPage[0].id">
            {{observationPage[0].properties.timestamp | moment: 'fromNow'}}
          </li>
        </ul>
      </div>
      <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label class="mdc-floating-label">Observation Page</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>  
      </div>
    </div>
  </div>
</div>
<div class="observation-card-background-container card-background-container">
  <div ng-if="!$ctrl.observationPages">
    <div ng-repeat="i in [].constructor(20) track by $index" class="mdc-card loading">

      <div class="placeholder-observation-card observation-card mdc-typography">
        <div class="mdc-card__primary-action">
          <div class="observation-header">
            <div class="observation-header-content">
              <div class="observation-overline">
                <div>
                  <span class="observation-subhead">Display Name</span>
                  <span>·</span>
                  <span class="observation-subhead">JUL 11 2012 10:00 AM</span>
                </div>
              </div>
        
              <div class="observation-header-text">
                Primary Value
              </div>
      
              <div class="observation-subhead">
                Secondary Value
              </div>
            </div>
        
            <div class="observation-thumbnail">
              <i class="material-icons">place</i>
            </div>
          </div>
        </div>

        <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
            <span class="mdc-button">
              <i class="material-icons mdc-button__icon">my_location</i>
              <span class="mdc-button__label">0.000000, 0.000000</span>
            </span>
          </div>
          <div class="mdc-card__action-icons">
            <div>
              <span class="material-icons mdc-card__action mdc-card__action--icon">outlined_flag</span>
            </div>
            <div>
              <span class="material-icons mdc-card__action mdc-card__action--icon">favorite_border</span>
            </div>
            <div>
              <span class="material-icons mdc-card__action mdc-card__action--icon">save_alt</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="{{observation.id}}"
    class="mdc-card"
    ng-class="($ctrl.selectedObservation.id && $ctrl.selectedObservation.id !== observation.id) && 'inactive-feed-card'"
    ng-repeat="observation in $ctrl.observationPages[$ctrl.currentObservationPage] track by observation.id">
    <div event="$ctrl.event" observation-news-item="observation" selectedobservation-form="$ctrl.event.form" container-element="side-bar"></div>
  </div>
</div>