label {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface-variant);
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 16px;
}

mat-error {
  font: var(--mat-sys-body-small);
  color: var(--mat-sys-error);
  margin-top: 4px;
  margin-left: 28px;
}
