.banner-summary {
  margin-top: 16px;
  margin-bottom: 16px;
}

.show-section {
  margin-bottom: 8px;
}

color-picker {
  display: block;
  width: 25%;
}

mat-label {
  margin-left: 8px;
}

mat-form-field {
  width: 100%;
}

section {
  margin-left: 16px;
  margin-right: 16px;
}