<section class="mat-typography">
    <div class="mat-body; banner-summary">
        MAGE can add a header and footer to all views. Below you can specify whether or
        not you want a header and/or footer, text, text color and background color.
    </div>
</section>
<section class="mat-typography">
    <div class="mat-title">Header</div>
    <div class="show-section"> 
        <mat-checkbox [(ngModel)]="banner.showHeader" [checked]="banner.showHeader" color="primary"
            [ngModelOptions]="{standalone: true}" id="show-header">
        </mat-checkbox>
        <mat-label for="show-header">Show Header</mat-label>
    </div>
    <div>
        <mat-label for="headerText">Header Text</mat-label>
        <mat-form-field appearance="outline"> <input matInput [(ngModel)]="banner.headerText"
                [ngModelOptions]="{standalone: true}" [disabled]="!banner.showHeader" placeholder="Header text">
        </mat-form-field>
    </div>
    <div>
        <mat-label for="headerTextColor">Header Text Color</mat-label>
        <color-picker [hexColor]="banner.headerTextColor" (onColorChanged)="colorChanged($event, 'headerTextColor')"
            id="headerTextColor" #headerTextColor>
        </color-picker>
    </div>
    <div>
        <mat-label for="headerBackgroundColor">Header Background Color</mat-label>
        <color-picker [hexColor]="banner.headerBackgroundColor"
            (onColorChanged)="colorChanged($event, 'headerBackgroundColor')" id="headerBackgroundColor"
            #headerBackgroundColor>
        </color-picker>
    </div>
</section>
<section class="mat-typography">
    <div class="mat-title">Footer</div>
    <div class="show-section">
        <mat-checkbox [(ngModel)]="banner.showFooter" [checked]="banner.showFooter" color="primary"
            [ngModelOptions]="{standalone: true}" id="show-footer">
        </mat-checkbox>
        <mat-label for="show-footer">Show Footer</mat-label>
    </div>
    <div>
        <mat-label for="footerText">Footer Text</mat-label>
        <mat-form-field appearance="outline"> <input matInput [(ngModel)]="banner.footerText"
                [ngModelOptions]="{standalone: true}" [disabled]="!banner.showFooter" placeholder="Footer text">
        </mat-form-field>
    </div>
    <div>
        <mat-label for="footerTextColor">Footer Text Color</mat-label>
        <color-picker [hexColor]="banner.footerTextColor" (onColorChanged)="colorChanged($event, 'footerTextColor')"
            id="footerTextColor" #footerTextColor>
        </color-picker>
    </div>
    <div>
        <mat-label for="footerBackgroundColor">Footer Background Color</mat-label>
        <color-picker [hexColor]="banner.footerBackgroundColor"
            (onColorChanged)="colorChanged($event, 'footerBackgroundColor')" id="footerBackgroundColor"
            #footerBackgroundColor>
        </color-picker>
    </div>
</section>