@import '~@angular/material/theming';
@import "variables.scss";

.admin-settings-gap {
    //top right bottom left
    margin: 0px 10px 0px 10px;
}

color-picker {
    display: block;
    width: 25%;
}

label {
    font-weight: unset;
    margin-left: 8px;
}