.page-container {
  display: flex;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 1170px;
}
  
.content {
  display: block;
  flex: 1;
  min-width: 0;
  background-color: white;
}

color-picker {
  display: block;
  width: 25%;
}

label {
  font-weight: unset;
  margin-left: 8px;
}

mat-form-field {
  font-size: unset;
  width: 100%;
}