<div cl***REMOVED***="field control-group">
  <label cl***REMOVED***="control-label">{{field.title}}
    <span cl***REMOVED***="required-error" ng-show="field.required && !field.value">*</span>
  </label>
  <div cl***REMOVED***="controls row-fluid">
    <input cl***REMOVED***="span5" type="number" ng-model="field.value.x" value="{{field.value.x}}" ng-required="field.required">,
    <input cl***REMOVED***="span5" type="number" ng-model="field.value.y" value="{{field.value.y}}" ng-required="field.required">
    (manual)
  </div>
</div>
