<div cl***REMOVED***="field control-group">
  <label cl***REMOVED***="control-label">{{field.title}}
    <span cl***REMOVED***="required-error" ng-show="field.required && !field.value">*</span>
  </label>
  <div cl***REMOVED***="controls row-fluid">
    <input cl***REMOVED***="span5" type="text" ng-model="field.value[0]" value="{{field.value[0]}}" ng-required="field.required">,
    <input cl***REMOVED***="span5" type="text" ng-model="field.value[1]" value="{{field.value[1]}}" ng-required="field.required">
    (manual)
  </div>
</div>
