<mat-toolbar>
  <button matIconButton (click)="close()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span *ngIf="primary" class="title">{{ primary }}</span>
</mat-toolbar>

<div class="feed-item">
  <mat-card class="feed-item__card">
    <div class="card-header">
      <div class="card-header-text">
        <div *ngIf="date" class="card-overline">{{ date }}</div>
        <div *ngIf="primary" class="card-title">{{ primary }}</div>
        <div *ngIf="secondary" class="card-subtitle">{{ secondary }}</div>
      </div>

      <div class="card-avatar">
        <mat-icon *ngIf="!feed.icon">place</mat-icon>
        <mage-static-icon-img *ngIf="feed.icon" [iconRef]="feed.icon"></mage-static-icon-img>
      </div>
    </div>

    <div class="card-image">
      <map-clip class="map" [feature]="mapFeature"></map-clip>
    </div>

    <div class="card-actions">
      <button matButton (click)="onLocationClick()">
        <mat-icon>gps_fixed</mat-icon>
        <span>{{ item?.geometry | geometry:5 }}</span>
      </button>
    </div>
  </mat-card>

  <mat-card class="feed-item__card">
    <mat-card-header>
      <mat-card-title>Properties</mat-card-title>
    </mat-card-header>

    <mat-list>
      <mat-list-item *ngFor="let property of properties">
        <span matListItemTitle class="prop-key">{{ property.key }}</span>
        <span matListItemLine class="prop-value">{{ property.value }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
