mat-error {
  font-size: 75%;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}
::ng-deep
  json-schema-form
  mat-form-field
  .mat-form-field-wrapper
  .mat-form-field-flex
  .mat-form-field-infix {
  width: initial;
}
