.item {
  background: white;
  width: 100%;
  min-height: 72px;
  padding: 0 12px;
}

:host ::ng-deep .item .mdc-list-item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.item__icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

:host ::ng-deep .item__icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

:host ::ng-deep .item .mat-mdc-list-item-icon,
:host ::ng-deep .item .mdc-list-item__start,
:host ::ng-deep .item .mdc-list-item__end {
  margin-top: 0;
  align-self: center;
}

.item__timestamp {
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  opacity: 0.6;
}

.item__primary {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  opacity: 0.87;
}

.item__secondary {
  font-size: 12px;
  line-height: 1.2;
  opacity: 0.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}