.mat-list-icon {
  border-radius: unset !important;
  height: unset !important;
}

.list-item-icon {
  border-radius: unset;
  height: unset;
}

.mat-body-1 {
  opacity: .60;
}

.mat-body-2 {
  opacity: .87;
}

.overline {
  font: 500 10px/24px Roboto, "Helvetica Neue", sans-serif;
  font-size: 10px !important;
  text-transform: uppercase;
  opacity: .60;
}

.item {
  background: white;
  width: 100%;
}

.no-content {
  font-size: 24px;
  padding-left: 16px;
}

.no-content > span {
  opacity: .6;
}

