<mat-form-field appearance="fill">
  <mat-label>{{field.title}}</mat-label>
  <mat-select [(ngModel)]="field.value" [required]="field.required" (selectionChange)="onSelectionChange($event)" #dropdown="ngModel">
    <mat-option>
      <ngx-mat-select-search [formControl]="searchControl" placeholderLabel="{{field.title}}" noEntriesFoundLabel=""></ngx-mat-select-search>
    </mat-option>

    <mat-option [value]="null"></mat-option>
    <mat-option *ngFor="let choice of filteredChoices | async" [value]="choice.title">
      {{choice.title}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="dropdown.errors?.required">You must enter a value</mat-error>
</mat-form-field>
