<form class="form" method="post" autocomplete="off">
  <div class="modal-header">
    <h3 class="modal-title">Enter Your MAGE Device ID to Continue</h3>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h4>Welcome to MAGE {{user.displayName}}</h4>

        <div class="form-group top-gap" ng-class="{'has-error': status > 399}">
          <p class="help-block">To access MAGE you will need to enter a device ID.  If you do not have a device ID please ask you MAGE administrator to provide you with one.</p>
          <input ng-model="uid" name="uid" type="text" placeholder="Device ID" autocapitalize="off" class="form-control"/>
        </div>

        <button class="btn btn-primary pull-right top-gap" type="submit" ng-click="authorize({uid: uid})">Continue to MAGE</button>

      </div>

      <div class="col-md-10 col-md-offset-1">
        <div class="top-gap-l alert alert-danger" ng-show="status > 399">
          <strong>Invalid Device ID</strong>
          <p>Please check your device ID, try again.</p>
        </div>
      </div>
    </div>
  </div>

</form>
