<div class="row">
  <div class="col-md-12">
    <form class="form" method="post" autocomplete="off">
      <div class="form-group" ng-class="{'has-error': status > 399}">
        <input ng-model="$ctrl.username" class="form-control" name="username" placeholder="{{$ctrl.strategy.title}} Username" autocomplete="username" type="text" autocapitalize="off"/>
      </div>

      <div class="form-group" ng-class="{'has-error': status > 399}">
        <input ng-model="$ctrl.password" class="form-control" name="password" placeholder="{{$ctrl.strategy.title}} Password" autocomplete="password" type="password" autocapitalize="off"/>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <button class="btn btn-danger btn-lg btn-block" ng-style="{'background-color': $ctrl.strategy.buttonColor, 'border-color': $ctrl.strategy.buttonColor}" ng-click="$ctrl.signin(strategy)">
            <span ng-if="!$ctrl.strategy.icon" class="logo">
              <i class="fa fa-lg fa-shield" ng-style="{'color': $ctrl.strategy.buttonColor}"></i>
            </span>

            <span ng-if="$ctrl.strategy.icon" class="logo">
              <img data-ng-src="data:image/png;base64,{{$ctrl.strategy.icon}}"></img>
            </span>

            <span>Sign in With {{$ctrl.strategy.title}}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Status message area -->
<div class="row top-gap" ng-show="$ctrl.showStatus">
  <div class="col-md-12">
    <div class="alert" ng-class="$ctrl.statusLevel">
      <button type="button" class="close" ng-click="$ctrl.showStatus = false">&times;</button>
      <h4>{{$ctrl.statusTitle}}</h4>
      {{$ctrl.statusMessage}}
    </div>
  </div>
</div>
