<form class="form" method="post" autocomplete="off">
  <div class="top-gap" ng-class="{'has-error': $ctrl.status > 399}">
    <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%">
      <input type="text" 
        id="username" 
        name="username" 
        placeholder="Username" 
        autocomplete="username" 
        autocapitalize="off"
        ng-model="$ctrl.username" 
        value="{{$ctrl.username}}" 
        class="mdc-text-field__input">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="username" class="mdc-floating-label">Username</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
  </div>

  <div class="top-gap" ng-class="{'has-error': $ctrl.status > 399}">
    <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%">
      <input type="password" 
        id="password" 
        name="password" 
        placeholder="Password" 
        autocomplete="password" 
        autocapitalize="off"
        ng-model="$ctrl.password" 
        value="{{$ctrl.password}}" 
        class="mdc-text-field__input">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="password" class="mdc-floating-label">Password</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
  </div>

  <div class="text-right">
    <button class="top-gap mdc-button mdc-button--raised" ng-click="$ctrl.signin()">Sign In</button>
  </div>
</form>

<div class="top-gap" ng-if="$ctrl.signinType === 'main'">
  <span class="pull-right"><p class="muted">Don't have a MAGE account?&nbsp&nbsp<a href="/#/signup">Create one here</a></p></span>
</div>

<!-- Status message area -->
<div class="row top-gap" ng-show="$ctrl.showStatus">
  <div class="col-md-12">
    <div class="alert" ng-class="$ctrl.statusLevel">
      <button type="button" class="close" ng-click="$ctrl.showStatus = false">&times;</button>
      <h4>{{$ctrl.statusTitle}}</h4>
      {{$ctrl.statusMessage}}
    </div>
  </div>
</div>
