<div class="row">
  <div class="col-md-12">
    <form name="account" ng-submit="$ctrl.signup(account)" method="post" autocomplete="off" novalidate>

      <div class="form-group">
        <label class="control-label">Username</label>
        <div ng-class="{'has-error': account.$submitted && account.password.$invalid}">
          <input type="text" ng-model="$ctrl.user.username" autocapitalize="off" name="username" placeholder="i.e. jappleseed" class="form-control" required>
          <div class="help-block" ng-messages="account.$submitted && account.username.$error" ng-if="account.username.$invalid">
            <div ng-message="required">Username is required</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Display Name</label>
        <div ng-class="{'has-error': account.$submitted && account.displayName.$invalid}">
          <input type="text" ng-model="$ctrl.user.displayName" autocapitalize="off" name="displayName" placeholder="Johnny Appleseed" class="form-control" required>
          <div class="help-block" ng-messages="account.$submitted && account.displayName.$error" ng-if="account.displayName.$invalid">
            <div ng-message="required">Display Name is required</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="type">Email</label>
        <input type="text" placeholder="johnny@appleseed.com" ng-model="$ctrl.user.email" autocapitalize="off" class="form-control">
      </div>

      <div class="form-group">
        <label class="control-label" for="type">Phone</label>
        <input type="text" ng-model="$ctrl.user.phone" autocapitalize="off" class="form-control">
      </div>

      <div class="form-group">
        <label class="control-label">Password</label>
        <div ng-class="{'has-error': account.$submitted && account.password.$invalid}">
          <input type="password" ng-model="$ctrl.user.password" ng-change="$ctrl.onPasswordChange()" name="password" placeholder="{{$ctrl.passwordPlaceholder}}" class="form-control" required>
          <div class="help-block" ng-messages="account.$submitted && account.password.$error" ng-if="account.password.$invalid">
            <div ng-message="required">Password is required</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Re-type new</label>
        <div ng-class="{'has-error': account.$submitted && account.passwordconfirm.$invalid}">
          <input type="password" ng-model="$ctrl.user.passwordconfirm" name="passwordconfirm" placeholder="{{$ctrl.passwordPlaceholder}}" class="form-control" required>
          <div class="help-block" ng-messages="account.passwordconfirm.$error" ng-if="account.$submitted && account.passwordconfirm.$invalid">
            <div ng-message="required">Re-type password is required</div>
            <div ng-messages="nomatch">Passwords do not match</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div><strong class="muted">Password Strength: <span class="text-{{$ctrl.passwordStrengthType}}">{{$ctrl.passwordStrength}}<span></strong></div>
        <uib-progressbar max="5" value="$ctrl.passwordStrengthScore" type="{{$ctrl.passwordStrengthType}}"></uib-progressbar>
      </div>

      <div class="row top-gap">
        <div class="col-sm-9 col-sm-offset-3">
          <button type="submit" class="btn btn-default pull-right">Create my account</button>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="row top-gap-l">
  <div class="col-md-12">
    <p class="help-block pull-right">Your account will have to be approved by an admin before it becomes active</p>
  </div>
</div>

<!-- Status message area -->
<div class="row top-gap-l" ng-show="$ctrl.showStatus">
  <div class="col-md-12 alert" ng-class="$ctrl.statusLevel">
    <button type="button" class="close" ng-click="$ctrl.setShowStatus(false)">&times;</button>
    <h4>{{$ctrl.statusTitle}}</h4>
    {{$ctrl.statusMessage}}
  </div>
</div>
