<div class="container top-gap-l">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-12 top-gap-xl">
          <div class="text-center">
            <i class="fa fa-magic icon-brand-m"></i>
          </div>
          <div class="brand-title text-center">
            <span>Welcome to MAGE</span>
          </div>
        </div>
      </div>

      <div class="top-gap-xl bottom-gap-l">
        <div ng-repeat="strategy in thirdPartyStrategies" class="top-gap">
          <oauth-signin strategy="strategy"></oauth-signin>
        </div>
      </div>

      <div ng-if="localAuthenticationStrategy">
        <div ng-if="thirdPartyStrategies.length" class="top-gap-l bottom-gap-s">
          <div class="or-container">
            <hr class="or-hr">
            <div id="or">or create a MAGE account</div>
          </div>
        </div>

        <div class="top-gap">
          <local-signup strategy="localAuthenticationStrategy"></local-signup>
        </div>
      </div>
  </div>
</div>
