<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="#/admin"><i class="fa fa-dashboard admin-dashboard"></i>Dashboard</a></li>
      <li class="active">Devices</li>
    </ol>
  </div>
</div>

<div class="content-flex">

  <div class="content-inner">

    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li ng-click="page = 0; filter='all'" ng-class="{active: filter=='all'}"><a href="javascript:void(0);">All <span class="badge pull-right">{{filteredDevices.length}}</span></a></li>
            <li ng-click="page = 0; filter='registered'" ng-class="{active: filter=='registered'}"><a href="javascript:void(0);">Registered <span class="badge pull-right">{{(filteredDevices | filter:{registered: true}).length}}</span></a></li>
            <li ng-click="page = 0; filter='unregistered'" ng-class="{active: filter=='unregistered'}"><a href="javascript:void(0);">Unregistered <span class="badge pull-right">{{(filteredDevices | filter:{registered: !true}).length}}</span></a></li>
          </ul>

          <hr>
          <form class="form">
            <div class="form-group">
              <label>Search</label>
              <input type="text" class="form-control" placeholder="device, user" ng-model="deviceSearch" ng-change="page=0">
            </div>
          </form>
          <hr>

          <button class="btn btn-default pull-right" ng-click="reset()">Reset</button>
        </div>

        <div class="col-md-9">
          <nav class="navbar navbar-default admin-dashboard-navbar">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand">Devices</a>
              </div>

              <form class="navbar-form navbar-right" role="search">
                <button type="submit" class="btn btn-default" ng-click="newDevice()">New Device</button>
              </form>
            </div>
          </nav>

          <div class="row">
            <div class="col-md-12">
              <div class="admin-table">
                <div class="well-item"
                    ng-repeat="d in (filteredDevices = (devices | filter:filterDevices)) | filter:filterRegistered | orderBy:'uid' | offset: page*itemsPerPage | limitTo:itemsPerPage" >

                  <div class="pointer" ng-click="gotoDevice(d)">
                    <div class="admin-device-container">
                      <div class="right-gap">
                        <i class="fa admin-device-icon" ng-class="iconClass(d)"></i>
                      </div>

                      <div class="admin-device-info">
                        <div ng-if="userIdMap[d.userId]"><strong>{{userIdMap[d.userId].displayName}}</strong></div>
                        <div class="muted small" ng-if="d.name">{{d.name}}</div>
                        <div class="muted small ellipsis" ng-if="d.userAgent">{{d.userAgent}}</div>
                        <div class="muted small" ng-if="d.appVersion">v{{d.appVersion}}</div>
                        <span class="muted small">{{d.uid}}</span>
                      </div>

                      <div>
                        <button class="btn btn-sm btn-danger pull-right admin-user-button" ng-click="deleteDevice($event, d)">Delete</button>
                        <button class="btn btn-sm btn-success pull-right admin-user-button" ng-if="!d.registered" ng-click="registerDevice($event, d)">Register</button>
                        <button class="btn btn-sm btn-default pull-right" ng-click="editDevice($event, d)">Edit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <ul class="pager pull-right">
                    <li ng-class="{'disabled': page == 0}">
                      <a href="javascript:void(0);" ng-click="page == 0 || (page=page-1)">&larr; Previous</a>
                    </li>
                    <li ng-class="{'disabled': page >= (filteredDevices.length/itemsPerPage) - 1}">
                      <a href="javascript:void(0);" ng-click="page >= (filteredDevices.length/itemsPerPage) - 1 || (page=page+1)">Next&rarr;</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
