<div cl***REMOVED***="row" ng-controller="AdminDevicesController">
  <div cl***REMOVED***="col-md-2">
    <div cl***REMOVED***="row admin-header">
      <div cl***REMOVED***="col-md-12">
        <span ng-click="refresh()"><i cl***REMOVED***="fa fa-refresh icon-spacer pointer"></i></span>
        <h3 style="display: inline">Devices ({{filteredDevices.length}})</h3>
        <a cl***REMOVED***="btn btn-primary pull-right" ng-click="newDevice()"><i cl***REMOVED***="fa fa-plus"></i> New Device</a>

        <hr>
      </div>
    </div>

    <div cl***REMOVED***="row bottom-gap">
      <div cl***REMOVED***="btn-group col-md-12">
        <label cl***REMOVED***="btn btn-default col-md-4" ng-model="filter" ng-change="page = 0" btn-radio="'all'" uncheckable>All</label>
        <label cl***REMOVED***="btn btn-default col-md-4" ng-model="filter" ng-change="page = 0" btn-radio="'registered'" uncheckable>Registered</label>
        <label cl***REMOVED***="btn btn-default col-md-4" ng-model="filter" ng-change="page = 0" btn-radio="'unregistered'" uncheckable>Unregistered</label>
      </div>
    </div>

    <div cl***REMOVED***="form-horizontal">
      <input type="text" cl***REMOVED***="search-query col-md-12 form-control" placeholder="Search devices" ng-model="deviceSearch" ng-change="page = 0">
    </div>

    <div cl***REMOVED***="row">
      <div cl***REMOVED***="col-md-12">
        <ul cl***REMOVED***="pager">
          <li cl***REMOVED***="previous" ng-show="page != 0">
            <a ng-click="page=page-1">&larr; Previous</a>
          </li>
          <li cl***REMOVED***="next" ng-show="page < (filteredDevices.length/itemsPerPage) - 1">
            <a ng-click="page=page+1">Next &rarr;</a>
          </li>
        </ul>
      </div>
    </div>

    <div cl***REMOVED***="pointer bottom-gap-s"
      ng-cl***REMOVED***="{'admin-active': device.id == d.id}"
      ng-click="editDevice(d)"
      ng-repeat="d in (filteredDevices = (devices | filter:filterRegistered | filter:filterDevices)) | filter:filterRegistered | orderBy:'uid' | offset: page*itemsPerPage | limitTo:itemsPerPage" >
      <div cl***REMOVED***="admin-row row">

        <div cl***REMOVED***="col-md-10">
          <span cl***REMOVED***="strong">{{d.uid}}</span><span cl***REMOVED***="strong muted" ng-show="userIdMap[d.userId]"> ({{userIdMap[d.userId].username}})</span>
          <div cl***REMOVED***="muted">{{d.name}}</div>
        </div>
        <div cl***REMOVED***="col-md-2" ng-hide="d.registered">
          <a cl***REMOVED***="btn btn-mini btn-success pull-right" ng-click="registerDevice(d)">Register</a>
        </div>
      </div>
    </div>
  </div>

  <div cl***REMOVED***="col-md-10" ng-show="device">
    <div style="position: fixed; top: 84px; left: 35%" cl***REMOVED***="fade alert alert-success" ng-cl***REMOVED***="{'in': saved, 'out': !saved}">
      Successfully Saved {{u.uid}}
    </div>
    <div style="position: fixed; top: 84px; left: 35%" cl***REMOVED***="fade alert alert-error" ng-cl***REMOVED***="{'in': error, 'out': !error}">
      Error saving user: {{error}}
    </div>

    <div cl***REMOVED***="row">
      <div cl***REMOVED***="col-md-4">

        <form ng-submit="saveDevice()" id="device-form" cl***REMOVED***="form-horizontal">

          <div cl***REMOVED***="form-group">
            <label cl***REMOVED***="control-label col-sm-4" for="type">Device Identifier</label>
            <div cl***REMOVED***="col-sm-8">
              <input type="text" placeholder="for example 01:02:03:04:05:06:08" ng-model="device.uid" cl***REMOVED***="form-control">
              <span cl***REMOVED***="help-block top-gap">MAC address, or some sort of unique identifier for your device.</span>
            </div>
          </div>

          <div cl***REMOVED***="form-group">
            <label cl***REMOVED***="control-label col-sm-4" for="type">Description</label>
            <div cl***REMOVED***="col-sm-8">
              <textarea type="text" placeholder="A bit about the device" ng-model="device.description" cl***REMOVED***="form-control"></textarea>
            </div>
          </div>

          <div cl***REMOVED***="form-group">
            <label cl***REMOVED***="control-label col-sm-4" for="type">Point of Contact</label>
            <div cl***REMOVED***="col-sm-8">
              <select ng-model="device.userId" ng-options="user.id as user.firstname + ' ' + user.lastname for user in users" cl***REMOVED***="form-control">
              </select>
            </div>
          </div>

          <div cl***REMOVED***="form-group" ng-show="device.id">
            <label cl***REMOVED***="control-label col-sm-4" for="type">App Version</label>
            <div cl***REMOVED***="col-sm-8">
              <input type="text" ng-model="device.appVersion" cl***REMOVED***="form-control" readonly rows="5"></input>
            </div>
          </div>

          <div cl***REMOVED***="form-group" ng-show="device.id">
            <label cl***REMOVED***="control-label col-sm-4" for="type">User Agent</label>
            <div cl***REMOVED***="col-sm-8">
              <textarea type="text" ng-model="device.userAgent" cl***REMOVED***="form-control" readonly rows="5"></textarea>
            </div>
          </div>

          <span cl***REMOVED***="pull-right">
            <a cl***REMOVED***="btn btn-danger" ng-show="device.id" ng-click="deleteDevice(device)"> <i cl***REMOVED***="fa fa-trash-o"></i> Delete Device</a>
            <a cl***REMOVED***="btn btn-success" ng-cl***REMOVED***="{'disabled': saving}" ng-hide="device.id" ng-click="saveDevice(device)"> <i cl***REMOVED***="fa fa-check"></i> Create Device</a>
            <a cl***REMOVED***="btn btn-success" ng-cl***REMOVED***="{'disabled': saving}" ng-show="device.id" ng-click="saveDevice(device)"> <i cl***REMOVED***="fa fa-check"></i> Save Device</a>
          </span>
        </form>

      </div>
    </div>
  </div>
</div>
