<div cl***REMOVED***="admin-nav-gap">
  <div cl***REMOVED***="container-fluid">
    <ol cl***REMOVED***="breadcrumb">
      <li><i cl***REMOVED***="fa fa-dashboard"></i><a href="#/admin">&nbsp;&nbsp;Dashboard</a></li>
      <li><a href="#/admin/devices">Devices</a></li>
      <li cl***REMOVED***="active">{{device.uid}}</li>
    </ol>
  </div>
</div>

<div cl***REMOVED***="content-flex">

  <div cl***REMOVED***="content-inner">

    <div cl***REMOVED***="container">
      <div cl***REMOVED***="row">
        <div cl***REMOVED***="col-md-12" ng-show="device">

          <div cl***REMOVED***="row">
            <div cl***REMOVED***="col-md-10">
              <h2>Device: {{device.uid}}</h2>
            </div>
            <div cl***REMOVED***="col-md-2">
              <h2>
                <button cl***REMOVED***="btn btn-default pull-right" ng-click="editDevice(device)"><i cl***REMOVED***="fa fa-edit"></i> Edit</button>
              </h2>
            </div>
          </div>
          <hr>

          <div cl***REMOVED***="row top-gap-l">
            <div cl***REMOVED***="col-md-6 col-xs-12">

              <div cl***REMOVED***="row top-gap-l">
                <div cl***REMOVED***="col-md-3">
                  <span cl***REMOVED***="muted">Device Id:&nbsp;</span>
                </div>
                <div cl***REMOVED***="col-md-9">
                  <span>{{device.uid}}</span>
                </div>
              </div>

              <div cl***REMOVED***="row top-gap-s">
                <div cl***REMOVED***="col-md-3">
                  <span cl***REMOVED***="muted">Description:&nbsp;</span>
                </div>
                <div cl***REMOVED***="col-md-9">
                  <span>{{device.description}}</span>
                </div>
              </div>

              <div cl***REMOVED***="row top-gap-s">
                <div cl***REMOVED***="col-md-3">
                  <span cl***REMOVED***="muted">POC:&nbsp;</span>
                </div>
                <div cl***REMOVED***="col-md-9">
                  <span>{{userIdMap[device.userId].username}}</span>
                </div>
              </div>

              <div cl***REMOVED***="row top-gap-s">
                <div cl***REMOVED***="col-md-3">
                  <span cl***REMOVED***="muted">App Version:&nbsp;</span>
                </div>
                <div cl***REMOVED***="col-md-9">
                  <span>{{device.appVersion}}</span>
                </div>
              </div>

              <div cl***REMOVED***="row top-gap-s bottom-gap">
                <div cl***REMOVED***="col-md-3">
                  <span cl***REMOVED***="muted">User Agent:&nbsp;</span>
                </div>
                <div cl***REMOVED***="col-md-9">
                  <span>{{device.userAgent}}</span>
                </div>
              </div>

            </div>

            <div cl***REMOVED***="col-md-6">

              <div cl***REMOVED***="row" ng-if="!device.registered">
                <div cl***REMOVED***="alert alert-success">
                  <strong>Register device</strong>
                  <p>Registering will allow device to access MAGE data. The device can be deregistered at any time.</p>
                  <button cl***REMOVED***="btn btn-success top-gap" ng-click="registerDevice(device)"> <i cl***REMOVED***="fa fa-check"></i> Register</button>
                </div>
              </div>

              <div cl***REMOVED***="row" ng-if="device.registered" >
                <div cl***REMOVED***="alert alert-warning">
                  <strong>Unregister device</strong>
                  <p>Unregistering will deny device from accessing MAGE data. All device information will be retained and the device can be registered again at any time.</p>
                  <button cl***REMOVED***="btn btn-warning top-gap" ng-click="unregisterDevice(device)"> <i cl***REMOVED***="fa fa-ban"></i> Unregister</button>
                </div>
              </div>

              <div cl***REMOVED***="row">
                <div cl***REMOVED***="alert alert-danger">
                  <strong>Delete device</strong>
                  <p>Deleting device will remove all device information. This cannot be undone, all device data will be unrecoverable.</p>
                  <button cl***REMOVED***="btn btn-danger top-gap" ng-click="deleteDevice(device)"> <i cl***REMOVED***="fa fa-trash-o"></i> Delete</button>
                </div>
              </div>

            </div>
          </div>

          <hr>

          <div cl***REMOVED***="row top-gap-xl">
            <div cl***REMOVED***="col-md-12">
              <nav cl***REMOVED***="navbar navbar-default admin-dashboard-navbar">
                <div cl***REMOVED***="container-fluid">
                  <div cl***REMOVED***="navbar-header">
                    <button type="button" cl***REMOVED***="admin-navbar-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#login-nav" aria-expanded="false">
                      <span cl***REMOVED***="sr-only">Toggle navigation</span>
                      <span cl***REMOVED***="icon-bar"></span>
                      <span cl***REMOVED***="icon-bar"></span>
                      <span cl***REMOVED***="icon-bar"></span>
                    </button>
                    <a cl***REMOVED***="navbar-brand">Logins</a>
                  </div>
                  <div cl***REMOVED***="collapse navbar-collapse admin-navbar-collapse" id="login-nav">
                    <form cl***REMOVED***="navbar-form navbar-left fixed-width-navbar">
                      <div cl***REMOVED***="form-group">
                        <ui-select ng-model="user.selected" theme="bootstrap" on-select="filterLogins()" style="width: 300px;">
                          <ui-select-match allow-clear placeholder="Filter on user">{{$select.selected.username}}</ui-select-match>
                          <ui-select-choices group-by="groupLayerByType" repeat="user in users | orderBy: 'name' | filter: $select.search">
                            <div ng-bind-html="user.username | highlight: $select.search"></div>
                            <small cl***REMOVED***="muted">
                             <span ng-bind-html="''+user.firstname + ' ' + user.lastname | highlight: $select.search"></span>
                           </small>
                          </ui-select-choices>
                        </ui-select>
                      </div>
                      <div cl***REMOVED***="form-group">
                        <div cl***REMOVED***="input-group">
                          <input type="text" placeholder="Start Date" cl***REMOVED***="form-control" datepicker-popup="MM-dd-yyyy" ng-model="login.startDate" is-open="login.startDateOpened" close-text="Close" />
                          <span cl***REMOVED***="input-group-btn">
                            <button type="button" cl***REMOVED***="btn btn-default" ng-click="openLoginStart($event)"><i cl***REMOVED***="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                      </div>
                      <div cl***REMOVED***="form-group">
                        <span cl***REMOVED***="navbar-text-inverse">&nbsp;to&nbsp;</span>
                      </div>
                      <div cl***REMOVED***="form-group">
                        <div cl***REMOVED***="input-group">
                          <input type="text" placeholder="End Date" cl***REMOVED***="form-control" datepicker-popup="MM-dd-yyyy" ng-model="login.endDate" is-open="login.endDateOpened"  close-text="Close" />
                          <span cl***REMOVED***="input-group-btn">
                            <button type="button" cl***REMOVED***="btn btn-default" ng-click="openLoginEnd($event)"><i cl***REMOVED***="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                      </div>
                    </form>
                    <form cl***REMOVED***="navbar-form navbar-right">
                      <div cl***REMOVED***="form-group">
                        <span cl***REMOVED***="navbar-text-inverse">Results: </span>
                        <select cl***REMOVED***="form-control" ng-init="loginResultsLimit = 10" ng-model="loginResultsLimit" ng-change="loginResultsLimitChanged()" ng-options="o as o for o in [10, 25, 50, 100]"></select>
                      </div>
                    </form>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <div cl***REMOVED***="row">
            <div cl***REMOVED***="col-sm-12">
              <div cl***REMOVED***="admin-table">
                <div cl***REMOVED***="well-item" ng-repeat="login in loginPage.logins" >
                  <div cl***REMOVED***="row">
                    <div cl***REMOVED***="col-md-12">
                      <div cl***REMOVED***="right-gap pull-left">
                        <i cl***REMOVED***="fa fa-fw fa-sign-in"></i>
                      </div>
                      <strong cl***REMOVED***="right-gap"><a href="javascript:void(0);" ng-click="gotoUser(login.user)">{{login.user.username}}</a></strong>
                    </div>
                  </div>
                  <div cl***REMOVED***="row">
                    <div cl***REMOVED***="col-md-12">
                      <div cl***REMOVED***="right-gap pull-left">
                        <i cl***REMOVED***="fa fa-fw"></i>
                      </div>
                      <span>{{login.timestamp | moment:'fromNow'}} ({{login.timestamp | moment:'MMM D YYYY hh:mm:ss A'}})</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div cl***REMOVED***="row">
            <div cl***REMOVED***="col-md-12">
              <ul cl***REMOVED***="pager pull-right">
                <li ng-cl***REMOVED***="{'disabled': !showPrevious}">
                  <a href="javascript:void(0);" ng-click="pageLogin(loginPage.prev)">&larr; Previous</a>
                </li>
                <li ng-cl***REMOVED***="{'disabled': !showNext}">
                  <a href="javascript:void(0);" ng-click="pageLogin(loginPage.next)">Next &rarr;</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
