<div>
  <form [formGroup]="formGroup" class="oidc-settings">
    <mat-form-field appearance="outline">
      <mat-label>Client ID</mat-label>
      <input matInput type="text" formControlName="clientID" required [readonly]="!editable"
        [(ngModel)]="strategy.settings.clientID">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Client Secret</mat-label>
      <input matInput type="text" formControlName="clientSecret" required [readonly]="!editable"
        [(ngModel)]="strategy.settings.clientSecret">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Issuer</mat-label>
      <input matInput type="text" formControlName="issuer" required [readonly]="!editable"
        [(ngModel)]="strategy.settings.issuer">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Authentication URL</mat-label>
      <input matInput type="text" formControlName="authenticationURL" required [readonly]="!editable"
        [(ngModel)]="strategy.settings.authenticationURL">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Token URL</mat-label>
      <input matInput type="text" formControlName="tokenURL" required [readonly]="!editable"
        [(ngModel)]="strategy.settings.tokenURL">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>User Info URL</mat-label>
      <input matInput type="text" formControlName="profileURL" required [readonly]="!editable"
        [(ngModel)]="strategy.settings.profileURL">
    </mat-form-field>
  </form>
</div>