<div ng-if="$ctrl.strategy.name === 'google'" 
  style="display:inline-block;" 
  ng-init="$ctrl.initializeGoogleButton($ctrl.strategy)" 
  id="google-signin" 
  class="g-signin2"></div>

<div class="text-center" ng-if="$ctrl.strategy.name !== 'google'">

  <button class="mdc-button mdc-button--raised third-party-button" 
  ng-style="{'background-color': $ctrl.strategy.buttonColor, 'border-color': $ctrl.strategy.buttonColor}" 
  ng-click="$ctrl.signin($ctrl.strategy)">
    <span ng-if="$ctrl.strategy.icon" class="third-party-logo">
      <i class="fa fa-lg fa-shield" ng-style="{'color': $ctrl.strategy.buttonColor}"></i>
    </span>

    <span ng-if="!$ctrl.strategy.icon" class="third-party-logo">
      <img data-ng-src="data:image/png;base64,{{$ctrl.strategy.icon}}"></img>
    </span>

    <span class="third-party-button-text">{{$ctrl.buttonText}}</span>
  </button>
</div>

<!-- Status message area -->
<div class="row top-gap" ng-show="$ctrl.showStatus">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert" ng-class="$ctrl.statusLevel">
      <button type="button" class="close" ng-click="$ctrl.showStatus = false">&times;</button>
      <h4>{{$ctrl.statusTitle}}</h4>
      {{$ctrl.statusMessage}}
    </div>
  </div>
</div>
