:host {
  display: contents;
}

.export-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

mat-icon {
  font-size: 96px;
  width: 96px;
  height: 96px;
  margin-bottom: 36px;
  color: var(--mat-sys-primary);
}

.empty-headline {
  font-size: var(--mat-sys-headline-small-size);
  font-weight: var(--mat-sys-headline-small-weight);
  color: var(--mat-sys-on-surface);
}

.empty-body {
  font-size: var(--mat-sys-body-large-size);
  color: var(--mat-sys-on-surface-variant);
}
