<admin-breadcrumb [breadcrumbs]="breadcrumbs"></admin-breadcrumb>

<div class="page" *ngIf="service && serviceType; else loading">
  <div class="heading">
    <div class="heading__content">
      <mat-icon class="heading__icon">cloud_queue</mat-icon>

      <div class="heading__info">
        <div class="heading__title">{{ service.title }}</div>
        <div class="heading__summary">{{ service.summary }}</div>
      </div>
    </div>

    <div class="heading__actions">
      <button
        mat-button
        color="warn"
        class="heading__action"
        (click)="deleteService()"
      >
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </div>
  </div>

  <div class="content">
    <div class="content__layout">
      <div class="content__column">
        <mat-card class="content__card">
          <mat-card-header class="content__card-header">
            <mat-card-title class="content__card-title">
              Configuration
            </mat-card-title>
          </mat-card-header>

          <mat-card-content class="content__card-content">
            <mage-json-schema-form
              [(schema)]="serviceType.configSchema"
              [data]="service.config"
              [options]="configOptions"
              framework="material-design"
            >
            </mage-json-schema-form>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="content__column">
        <mat-card class="content__card">
          <mat-card-header class="content__card-header">
            <mat-card-title class="content__card-title"> Feeds </mat-card-title>
          </mat-card-header>

          <mat-card-content class="content__card-content">
            <mat-nav-list class="feed-list" *ngIf="feeds?.length; else noFeeds">
              <ng-container
                *ngFor="
                  let feed of feeds
                    | slice
                      : feedPage * itemsPerPage
                      : (feedPage + 1) * itemsPerPage
                "
              >
                <mat-list-item
                  class="feed-list__item"
                  [routerLink]="['../feed', feed.id]"
                >
                  <mat-icon class="feed-list__icon" matListItemIcon>
                    rss_feed
                  </mat-icon>

                  <div matListItemTitle class="feed-list__title">
                    {{ feed.title }}
                  </div>

                  <div matListItemLine class="feed-list__summary">
                    {{ feed.summary }}
                  </div>
                </mat-list-item>

                <mat-divider></mat-divider>
              </ng-container>
            </mat-nav-list>

            <ng-template #noFeeds>
              <div class="feed-list__empty">No feeds configured.</div>
            </ng-template>

            <mat-paginator
              class="feed-paginator"
              [length]="feeds.length"
              [pageSize]="itemsPerPage"
              (page)="feedPage = $event.pageIndex"
            >
            </mat-paginator>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="content">Loading</div>
</ng-template>
