<div class="filter-banner hidden-xs">
  <div class="filter-text">
    <div class="col-xs-12 text-center">
      <span class="filter-event">{{$ctrl.filteredEvent.name}}</span>
      <span ng-if="$ctrl.filteredTeams" class="filter-teams"><span> > {{$ctrl.filteredTeams}}</span></span>
      <span ng-if="$ctrl.filteredInterval" class="filter-interval"> {{$ctrl.filteredInterval}}</span>
    </div>
  </div>
</div>

<div class="main-container">

  <div class="feed ng-animatable" 
    ng-hide="$ctrl.hideFeed"
    news-feed
    event="$ctrl.filteredEvent"
    add-observation="$ctrl.newObservation"
    on-toggle-feed="$ctrl.onToggleFeed($event)"
    feed-observations-changed="$ctrl.feedChangedObservations"
    feed-users-changed="$ctrl.feedChangedUsers">
  </div>

  <div class="map">
    <map-leaflet (on-map-available)="$ctrl.onMapAvailable($event)" (on-add-observation)="$ctrl.onAddObservation($event)" (on-add-layer)="$ctrl.onAddLayer($event)" (on-remove-layer)="$ctrl.onRemoveLayer($event)"></map-leaflet>
  </div>

</div>
