<div class="sliding-bg" ng-class="$ctrl.backgroundClass"></div>
<div class="mage-info-inner">
  <div class="mage-info-title-container">
    <div class="mage-info-title" ng-click="$ctrl.showAbout()">MAGE</div>
    <div class="mage-info-subtitle">Mobile Awareness GEOINT Environment</div>
  </div>
  <div class="mage-feature-list">
    <div class="mage-info-feature">
      <div class="mage-info-feature-icon">
        <i class="material-icons-outlined">photo_camera</i>
      </div>
      <div class="mage-info-feature-description">
        <div class="mage-info-feature-title">Share what you see</div>
        <div class="mage-info-feature-subtitle">Attach photos, videos, and voice to your observations from the field</div>
      </div>
    </div>
    <div class="mage-info-feature">
      <div class="mage-info-feature-icon">
        <i class="material-icons-outlined">place</i>
      </div>
      <div class="mage-info-feature-description">
        <div class="mage-info-feature-title">Location, location, location</div>
        <div class="mage-info-feature-subtitle">See your observations and your team's locations on the map</div>
      </div>
    </div>
    <div class="mage-info-feature">
      <div class="mage-info-feature-icon">
        <i class="material-icons-outlined">signal_cellular_alt</i>
      </div>
      <div class="mage-info-feature-description">
        <div class="mage-info-feature-title">No connection, no problem</div>
        <div class="mage-info-feature-subtitle">Keep collecting observations even when you have no service</div>
      </div>
    </div>
  </div>
</div>