:host {
  display: block;
  width: 100%;
}

.datetime {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: start;
}

.date,
.time {
  min-width: 0;
  width: 100%;
}

.date mat-form-field,
.time mat-form-field {
  width: 100%;
}
