.tabs {
  height: 100%;
  background-color: white;
}

.tabs__icon {
  margin-right: 8px;
}

:host ::ng-deep.mat-tab-body-wrapper {
  flex-grow: 1;
}

.component__view {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 3;
  background-color: #E1E2E1;
}

.permission__actions {
  justify-content: flex-end;
}

observation-feed {
  display: block;
  height: 100%;
}

user-feed {
  display: block;
  height: 100%;
}

.feeds-nav {
  position: absolute;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.20);
  width: 57px;
  height: 100%;
  padding-top: 8px;
  z-index: 10;
  overflow-y: auto;
  -webkit-transition: width .3s linear;
  transition: width .3s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.feeds-nav:hover {
  width: 240px;
}

.feeds-content {
  position: relative;
  margin-left: 56px;
  width: 100%;
}