<div class="feeds-nav">
  <div *ngFor="let tab of tabs" (click)="onTabSwitched(tab)">
    <feed-panel-tab [tab]="tab" [active]="tab.id === currentTab?.id"></feed-panel-tab>
  </div>
</div>

<div class="feeds-content">
  <user-view *ngIf="viewUser" @slide class="component__view" [user]="viewUser" [event]="event"
    (close)="onUserViewClose()">
  </user-view>

  <observation-view *ngIf="viewObservation" @slide class="component__view" [event]="event"
    [observation]="viewObservation" (close)="onObservationViewClose()" (delete)="onObservationDelete($event)">
  </observation-view>

  <observation-edit *ngIf="editObservation" @slide class="component__view" [observation]="editObservation"
    (close)="onObservationEditClose($event)">
  </observation-edit>

  <observation-edit *ngIf="newObservation" @slide class="component__view" [observation]="newObservation"
    (close)="onObservationEditClose($event)">
  </observation-edit>

  <feed-item *ngIf="feedItem" @slide class="component__view" [item]="feedItem.item" [feed]="feedItem.feed">
  </feed-item>

  <contact *ngIf="contactOpen" [open]="contactOpen" [info]="info" (on-contact-close)="onContactClose()"></contact>
  <observation-list class="feed-container" *ngIf="currentTab.id === 'observations'"></observation-list>
  <user-list class="feed-container" *ngIf="currentTab.id === 'people'"></user-list>
  <feed-list class="feed-container" [feed]="currentTab.feed" *ngIf="currentTab.feed"></feed-list>
</div>