<div class="filter-panel mdc-dialog"
role="alertdialog"
aria-modal="true"
aria-labelledby="my-dialog-title"
aria-describedby="my-dialog-content">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <div class="modal-header">
        <h3 class="modal-title"><i class="fa fa-filter"></i> Filter</h3>
      </div>
      <div class="mdc-dialog__content" id="my-dialog-content">
        <form>
          <div class="form-group">
            <div class="event-select mdc-select mdc-select--outlined filter-dropdown">
              <input type="hidden" name="enhanced-select">
              <i class="mdc-select__dropdown-icon"></i>
              <div class="mdc-select__selected-text">{{$ctrl.filterEvent.selected.name}}</div>
              <div class="mdc-select__menu mdc-menu mdc-menu-surface filter-dropdown">
                <ul class="mdc-list" >
                  <li
                    ng-repeat="event in $ctrl.events | orderBy: 'name'"
                    class="mdc-list-item"
                    ng-class="{'mdc-list-item--selected': $ctrl.filterEvent.selected.id === event.id}"
                    data-value="{{event.id}}">
                    {{event.name}}
                  </li>
                </ul>
              </div>
              <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label class="mdc-floating-label">Event</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="mage-multi-select team-select mdc-select mdc-select--outlined filter-dropdown">
              <input type="hidden" name="enhanced-select">
              <i class="mdc-select__dropdown-icon"></i>
              <div class="mdc-select__selected-text"></div>
              <div class="mdc-select__selected-text-mine">
                  <div class="mdc-chip-set mdc-chip-set--input">
                      <div class="mdc-chip" ng-repeat="team in $ctrl.filterTeams.selected">
                        <div class="mdc-chip__text">{{team.name}}</div>
                        <i class="material-icons mdc-chip__icon mdc-chip__icon--trailing" tabindex="0" role="button" ng-click="$ctrl.removeTeam($index)">cancel</i>
                      </div>
                    </div>
                </div>
              <div class="mdc-select__menu mdc-menu mdc-menu-surface filter-dropdown">
                <ul class="mdc-list" >
                  <li
                    ng-repeat="team in $ctrl.filterEvent.selected.teams | orderBy: 'name'"
                    ng-class="{'mdc-list-item--selected': $ctrl.filterTeams.selected.name === team.name}"
                    ng-disabled="$ctrl.isTeamChosen(team.id)"
                    class="mdc-list-item"
                    data-value="{{team.id}}">
                    {{team.name}}
                  </li>
                </ul>
              </div>
              <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label class="mdc-floating-label">Team</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>  
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="interval-select mdc-select mdc-select--outlined filter-dropdown">
              <input type="hidden" name="enhanced-select">
              <i class="mdc-select__dropdown-icon"></i>
              <div class="mdc-select__selected-text">{{$ctrl.intervalChoice.label}}</div>
              <div class="mdc-select__menu mdc-menu mdc-menu-surface filter-dropdown">
                <ul class="mdc-list" >
                  <li
                    ng-repeat="intervalChoice in $ctrl.intervalChoices"
                    ng-class="{'mdc-list-item--selected': $ctrl.intervalChoice.label === intervalChoice.label}"
                    class="mdc-list-item"
                    data-value="{{intervalChoice.label}}">
                    {{intervalChoice.label}}
                  </li>
                </ul>
              </div>
              <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label class="mdc-floating-label">Time</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>  
              </div>
            </div>
          </div>
          <div ng-show="$ctrl.intervalChoice.filter === 'custom'">
            <div class="form-group">
              <date-time field-name="Start Date/Time" date="$ctrl.startDate" local-time="$ctrl.localTime" on-date-picked="$ctrl.onStartDate(date, localTime)"></date-time>
            </div>
            <div class="form-group">
              <date-time field-name="End Date/Time" date="$ctrl.endDate" local-time="$ctrl.localTime" on-date-picked="$ctrl.onEndDate(date, localTime)"></date-time>
            </div>
          </div>
        </div>
      </form>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
          <span class="mdc-button__label">Cancel</span>
        </button>
        <button type="button" class="mdc-button mdc-dialog__button set-filter-button" data-mdc-dialog-action="yes" ng-click="$ctrl.performFilter()">
          <span class="mdc-button__label">Filter</span>
        </button>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>
