
:host {
  width: 100%;
}

.authentications {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.signin-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--mat-sys-primary);
}

.welcome__title {
  margin-bottom: 16px;
  font: var(--mat-sys-display-medium);
}

.welcome__message {
  font: var(--mat-sys-title-large);
}

.or {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 36px 0;
}

.or__text {
  color: var(--mat-sys-on-surface-variant);
}

.or__divider {
  flex: 1;
  height: 2px;
  background-color: var(--mat-sys-outline-variant);
  border-radius: 1px;
}

.strategies {
  display: flex;
  flex-direction: column;
  gap: 16px;
}