@import 'variables.scss';

:host {
  display: block;
  width: 100%;
}

:host ::ng-deep mat-dialog-container {
  overflow: hidden !important;
  max-height: 90vh !important;
  width: 100% !important;
}

:host ::ng-deep .authorization {
  display: flex;
  flex-direction: column;
  gap: 12px !important; // gives tighter spacing for Access Code modal
  overflow: hidden;
}

:host ::ng-deep .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: auto !important;
  min-height: 0 !important;
  margin-bottom: 12px;
}

.authorize {
  display: flex;
  justify-content: flex-end;
}

mat-form-field {
  width: 100%;
}

:host ::ng-deep .container {
  height: auto !important;
  min-height: 250px;
  position: relative;
}

:host ::ng-deep .state {
  position: relative !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}