<mat-form-field [appearance]="options?.appearance || matFormFieldDefaultOptions?.appearance || 'outline'"
  [class]="options?.htmlClass || ''"
  [floatLabel]="options?.floatLabel || matFormFieldDefaultOptions?.floatLabel || (options?.notitle ? 'never' : 'auto')"
  [hideRequiredMarker]="options?.hideRequired ? 'true' : 'false'" [style.width]="'100%'">
  @if (!options?.notitle) {
    <mat-label>{{options?.title}}</mat-label>
  }
  @if (options?.prefix || options?.fieldAddonLeft) {
    <span matPrefix [innerHTML]="options?.prefix || options?.fieldAddonLeft"></span>
  }
    <input type="text"
          [placeholder]="options?.notitle ? options?.placeholder : options?.title"
          aria-label="options?.notitle ? options?.placeholder : options?.title"
           matInput
           [disabled]="controlDisabled || options?.readonly"
           [formControl]="formControl"
           [required]="options?.required"
           [matAutocomplete]="auto">
    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    <mat-autocomplete #auto
      [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
      [attr.name]="controlName"
      [style.width]="'100%'"
      [displayWith]="boundDisplayValue"
      (blur)="options.showErrors = true"
      (optionSelected)="updateValue($event)"
      >
      @for (selectItem of filteredTitleMap | async; track $index) {
        @if (!isArray(selectItem?.items)) {
          <mat-option [value]="selectItem?.value">
            <span [innerHTML]="selectItem?.name"></span>
          </mat-option>
        } @else {
          <mat-optgroup [label]="selectItem?.group">
            @for (subItem of selectItem.items; track $index) {
              <mat-option [value]="subItem?.value">
                <span [innerHTML]="subItem?.name"></span>
              </mat-option>
            }
          </mat-optgroup>
        }
      }
    </mat-autocomplete>
  @if (options?.suffix || options?.fieldAddonRight) {
    <span matSuffix [innerHTML]="options?.suffix || options?.fieldAddonRight"></span>
  }
  @if (options?.description && (!options?.showErrors || !options?.errorMessage)) {
    <mat-hint align="end" [innerHTML]="options?.description"></mat-hint>
  }
</mat-form-field>
@if (options?.showErrors && options?.errorMessage) {
  <mat-error [innerHTML]="options?.errorMessage"></mat-error>
}
