<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb" ng-if="team.id">
      <li><i class="fa fa-dashboard"></i><a href="#/admin">&nbsp;&nbsp;Dashboard</a></li>
      <li><a href="#/admin/teams">Teams</a></li>
      <li><a ng-href="#/admin/teams/{{team.id}}">{{team.name}}</a></li>
      <li class="active">Edit</li>
    </ol>
    <ol class="breadcrumb" ng-if="!team.id">
      <li><i class="fa fa-dashboard"></i><a href="#/admin">&nbsp;&nbsp;Dashboard</a></li>
      <li><a href="#/admin/teams">Teams</a></li>
      <li class="active">New</li>
    </ol>
  </div>
</div>

<div class="content-flex">

  <div class="content-inner">

    <div class="container bottom-gap-l">

      <div class="row">
        <div class="col-md-12">
          <h2 ng-if="team.id">Edit team: {{team.name}}</h2>
          <h2 ng-if="!team.id">New team</h2>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-12" ng-show="team">

          <form ng-submit="saveTeam()" class="form">
            <div class="form-group">
              <label class="control-label">Name</label>
              <input class="form-control" type="text" placeholder="Team name" ng-model="team.name"/>
            </div>
            <div class="form-group">
              <label class="control-label">Description</label>
              <textarea class="form-control" type="text" placeholder="Brief description of the team." ng-model="team.description"/>
            </div>
          </form>

          <span class="pull-right">
            <a class="btn btn-default" ng-class="{'disabled': saving}" ng-click="cancel()">Cancel</a>
            <a class="btn btn-success" ng-class="{'disabled': saving}" ng-click="saveTeam(team)"><i class="fa fa-check"></i> Save</a>
          </span>

        </div>
      </div>
    </div>
  </div>
</div>
