<div cl***REMOVED***="admin-nav-gap">
  <div cl***REMOVED***="container-fluid">
    <ol cl***REMOVED***="breadcrumb">
      <li><i cl***REMOVED***="fa fa-dashboard"></i><a href="#/admin">&nbsp;&nbsp;Dashboard</a></li>
      <li cl***REMOVED***="active">Teams</li>
    </ol>
  </div>
</div>

<div cl***REMOVED***="content-flex">

  <div cl***REMOVED***="content-inner">

    <div cl***REMOVED***="container bottom-gap-l">

      <div cl***REMOVED***="row">
        <div cl***REMOVED***="col-md-3">

          <form cl***REMOVED***="form">
            <div cl***REMOVED***="form-group">
              <label>Search</label>
              <input type="text" cl***REMOVED***="form-control" placeholder="team name, description" ng-model="teamSearch" ng-change="page=0">
            </div>
          </form>
          <hr>

          <button cl***REMOVED***="btn btn-default pull-right" ng-click="reset()">Reset</button>
        </div>

        <div cl***REMOVED***="col-md-9">
          <nav cl***REMOVED***="navbar navbar-default admin-dashboard-navbar">
            <div cl***REMOVED***="container-fluid">
              <div cl***REMOVED***="navbar-header">
                <a cl***REMOVED***="navbar-brand">Teams</a>
              </div>

              <form cl***REMOVED***="navbar-form navbar-right" role="search">
                <button type="submit" cl***REMOVED***="btn btn-default" ng-click="newTeam()">New Team</button>
              </form>
            </div>
          </nav>

          <div cl***REMOVED***="row">
            <div cl***REMOVED***="col-md-12">
              <div cl***REMOVED***="admin-table">
                <div cl***REMOVED***="well-item"
                    ng-repeat="t in (filteredTeams = (teams | filter:filterTeams)) | orderBy:'name' | offset: page*itemsPerPage | limitTo:itemsPerPage" >

                    <div cl***REMOVED***="row pointer" ng-click="gotoTeam(t)">
                      <div cl***REMOVED***="col-md-8">
                        <div cl***REMOVED***="right-gap pull-left">
                          <i cl***REMOVED***="fa fa-users admin-layer-icon"></i>
                        </div>
                        <div cl***REMOVED***="strong">{{t.name}}</div>
                        <div cl***REMOVED***="muted">{{t.description}}</div>
                      </div>
                      <div cl***REMOVED***="col-md-4">
                        <button cl***REMOVED***="btn btn-sm btn-danger pull-right admin-user-button" ng-click="deleteTeam($event, t)">Delete</button>
                        <button cl***REMOVED***="btn btn-sm btn-default pull-right" ng-click="editTeam($event, t)">Edit</button>
                      </div>
                    </div>

                </div>
              </div>

              <div cl***REMOVED***="row">
                <div cl***REMOVED***="col-md-12">
                  <ul cl***REMOVED***="pager">
                    <li cl***REMOVED***="previous" ng-show="page != 0">
                      <a ng-click="page=page-1">&larr; Previous</a>
                    </li>
                    <li cl***REMOVED***="next" ng-show="page < (filteredTeams.length/itemsPerPage) - 1">
                      <a ng-click="page=page+1">Next &rarr;</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
