<div cl***REMOVED***="admin-nav-gap">
  <div cl***REMOVED***="container-fluid">
    <ol cl***REMOVED***="breadcrumb">
      <li><i cl***REMOVED***="fa fa-dashboard"></i><a href="#/admin">&nbsp;&nbsp;Dashboard</a></li>
      <li><a href="#/admin/teams">Teams</a></li>
      <li cl***REMOVED***="active">{{team.name}}</li>
    </ol>
  </div>
</div>

<div cl***REMOVED***="content-flex">

  <div cl***REMOVED***="content-inner">

    <div cl***REMOVED***="container bottom-gap-l">
      <div cl***REMOVED***="row">
        <div cl***REMOVED***="col-md-12" ng-show="team">

          <div cl***REMOVED***="row">
            <div cl***REMOVED***="col-md-8">
              <h2>Team: {{team.name}}</h2>
            </div>
            <div cl***REMOVED***="col-md-4">
              <h2>
                <button cl***REMOVED***="btn btn-default pull-right" ng-click="editTeam(team)"><i cl***REMOVED***="fa fa-edit"></i> Edit</button>
              </h2>
            </div>
          </div>

          <hr>

          <div cl***REMOVED***="row top-gap-l">
            <div cl***REMOVED***="col-sm-6 col-xs-12" >

              <div cl***REMOVED***="row top-gap-l">
                <div cl***REMOVED***="col-md-3">
                  <span cl***REMOVED***="muted">Name:&nbsp;</span>
                </div>
                <div cl***REMOVED***="col-md-9">
                  <span>{{team.name}}</span>
                </div>
              </div>

              <div cl***REMOVED***="row top-gap-s bottom-gap">
                <div cl***REMOVED***="col-md-3">
                  <span cl***REMOVED***="muted">Description:&nbsp;</span>
                </div>
                <div cl***REMOVED***="col-md-9">
                  <span>{{team.description}}</span>
                </div>
              </div>
            </div>

            <div cl***REMOVED***="col-sm-6" >
              <div cl***REMOVED***="row">
                <div cl***REMOVED***="alert alert-danger">
                  <strong>Delete team</strong>
                  <p>Deleting team will remove all team information including. This cannot be undone, users within team will not be deleted.</p>
                  <button cl***REMOVED***="btn btn-danger top-gap" ng-click="deleteTeam(team)"> <i cl***REMOVED***="fa fa-trash-o"></i> Delete</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <hr>

      <div cl***REMOVED***="row">
        <div cl***REMOVED***="col-md-6 col-xs-12">
          <div cl***REMOVED***="row">
            <div cl***REMOVED***="col-md-12">
              <nav cl***REMOVED***="navbar navbar-default admin-dashboard-navbar">
                <div cl***REMOVED***="container-fluid">
                  <div cl***REMOVED***="navbar-header">
                    <a cl***REMOVED***="navbar-brand">Add user to the team</a>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div cl***REMOVED***="admin-table">
            <div cl***REMOVED***="well-item">
              <div cl***REMOVED***="row">
                <div cl***REMOVED***="col-md-12">
                  <ui-select ng-model="user.selected" theme="bootstrap">
                    <ui-select-match placeholder="Select a user to add to team">{{$select.selected.username}}</ui-select-match>
                    <ui-select-choices group-by="groupLayerByType" repeat="user in nonUsers | orderBy: 'name' | filter: $select.search">
                      <div ng-bind-html="user.username | highlight: $select.search"></div>
                      <small cl***REMOVED***="muted">
                       <span ng-bind-html="''+user.firstname + ' ' + user.lastname | highlight: $select.search"></span>
                     </small>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>

              <hr>

              <div cl***REMOVED***="row">
                 <div cl***REMOVED***="col-md-12">
                   <button cl***REMOVED***="btn btn-success" ng-click="addUser(user.selected)" ng-disabled="user.selected == null"><i cl***REMOVED***="fa fa-plus"></i> Add User</button>
                 </div>
              </div>
            </div>
          </div>

          <div cl***REMOVED***="row top-gap-l">
            <div cl***REMOVED***="col-md-12">
              <nav cl***REMOVED***="navbar navbar-default admin-dashboard-navbar">
                <div cl***REMOVED***="container-fluid">
                  <div cl***REMOVED***="navbar-header">
                    <a cl***REMOVED***="navbar-brand">Users</a>
                  </div>

                  <form cl***REMOVED***="navbar-form navbar-left">
                    <div cl***REMOVED***="form-group">
                      <input type="text" cl***REMOVED***="form-control" placeholder="Search" ng-model="memberSearch">
                    </div>
                  </form>
                  <div cl***REMOVED***="navbar-form navbar-right right-gap-s">
                    <button cl***REMOVED***="btn btn-default navbar-right" ng-click="edit = !edit">Edit</button>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div cl***REMOVED***="row">
            <div cl***REMOVED***="col-sm-12">
              <div cl***REMOVED***="admin-table">
                <div cl***REMOVED***="well-item"
                    ng-repeat="user in (filteredUsers = (team.users | user:['username','firstname','lastname','email']:memberSearch)) | orderBy:'username' | offset: usersPage*usersPerPage | limitTo:usersPerPage" >
                  <div cl***REMOVED***="row">
                    <div cl***REMOVED***="col-md-12">
                      <div cl***REMOVED***="right-gap pull-left">
                        <i cl***REMOVED***="fa fa-user"></i>
                      </div>
                      <span>
                        {{user.firstname}} {{user.lastname}}
                      </span>
                      <span cl***REMOVED***="muted"> ({{user.username}})</span>

                      <span cl***REMOVED***="pull-right" ng-show="edit">
                        <a cl***REMOVED***="btn btn-xs btn-danger" ng-click="removeUser(user)"><i cl***REMOVED***="fa fa-minus"></i></a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div cl***REMOVED***="row">
            <div cl***REMOVED***="col-md-12">
              <ul cl***REMOVED***="pager pull-right">
                <li ng-cl***REMOVED***="{'disabled': usersPage == 0}">
                  <a href="javascript:void(0);" ng-click="usersPage == 0 || (usersPage=usersPage-1)">&larr; Previous</a>
                </li>
                <li ng-cl***REMOVED***="{'disabled': usersPage >= (filteredUsers.length/usersPerPage) - 1}">
                  <a href="javascript:void(0);" ng-click="usersPage >= (filteredUsers.length/usersPerPage) - 1 || (usersPage=usersPage+1)">Next&rarr;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div cl***REMOVED***="col-md-6 col-xs-12">
          <div cl***REMOVED***="row">
            <div cl***REMOVED***="col-md-12">
              <nav cl***REMOVED***="navbar navbar-default admin-dashboard-navbar">
                <div cl***REMOVED***="container-fluid">
                  <div cl***REMOVED***="navbar-header">
                    <a cl***REMOVED***="navbar-brand">Add team to an event</a>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div cl***REMOVED***="admin-table">
            <div cl***REMOVED***="well-item">
              <div cl***REMOVED***="row">
                <div cl***REMOVED***="col-md-12">
                  <ui-select ng-model="event.selected" theme="bootstrap">
                    <ui-select-match placeholder="Select an event">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="event in nonTeamEvents | orderBy: 'name' | filter: $select.search">
                      <div ng-bind-html="event.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>

              <hr>

              <div cl***REMOVED***="row">
                 <div cl***REMOVED***="col-md-12">
                   <button cl***REMOVED***="btn btn-success" ng-click="addEventToTeam(event.selected)" ng-disabled="event.selected == null"><i cl***REMOVED***="fa fa-plus"></i> Add Event</button>
                 </div>
              </div>
            </div>
          </div>

          <div cl***REMOVED***="row top-gap-l">
            <div cl***REMOVED***="col-md-12">
              <nav cl***REMOVED***="navbar navbar-default admin-dashboard-navbar">
                <div cl***REMOVED***="container-fluid">
                  <div cl***REMOVED***="navbar-header">
                    <a cl***REMOVED***="navbar-brand">Events for {{team.name}}</a>
                  </div>

                  <form cl***REMOVED***="navbar-form navbar-left">
                    <div cl***REMOVED***="form-group">
                      <input type="text" cl***REMOVED***="form-control" placeholder="Search" ng-model="eventSearch">
                    </div>
                  </form>
                  <div cl***REMOVED***="navbar-form navbar-right right-gap-s">
                    <button cl***REMOVED***="btn btn-default navbar-right" ng-click="editEvent = !editEvent">Edit</button>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div cl***REMOVED***="row">
            <div cl***REMOVED***="col-sm-12">
              <div cl***REMOVED***="admin-table">
                <div cl***REMOVED***="well-item"
                    ng-repeat="e in (filteredEvents = (teamEvents | filter:filterEvents)) | orderBy:'name' | offset: eventsPage*eventsPerPage | limitTo:eventsPerPage" >
                  <div cl***REMOVED***="row pointer" ng-click="gotoEvent(e)">
                    <div cl***REMOVED***="col-md-12">
                      <span cl***REMOVED***="pull-right" ng-show="editEvent">
                        <a cl***REMOVED***="btn btn-xs btn-danger" ng-click="removeEventFromTeam($event, e)"><i cl***REMOVED***="fa fa-minus"></i></a>
                      </span>

                      <div cl***REMOVED***="right-gap pull-left">
                        <i cl***REMOVED***="fa fa-calendar admin-layer-icon"></i>
                      </div>
                      <div cl***REMOVED***="strong">{{e.name}}</div>
                      <div cl***REMOVED***="muted">{{e.description}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div cl***REMOVED***="row">
            <div cl***REMOVED***="col-md-12">
              <ul cl***REMOVED***="pager pull-right">
                <li ng-cl***REMOVED***="{'disabled': eventsPage == 0}">
                  <a href="javascript:void(0);" ng-click="eventsPage == 0 || (eventsPage=eventsPage-1)">&larr; Previous</a>
                </li>
                <li ng-cl***REMOVED***="{'disabled': eventsPage >= (filteredEvents.length/eventsPerPage) - 1}">
                  <a href="javascript:void(0);" ng-click="eventsPage >= (filteredEvents.length/eventsPerPage) - 1 || (eventsPage=eventsPage+1)">Next&rarr;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
