.error-container {
  overflow: hidden;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
  color: var(--mat-sys-error);
  border-radius: 4px;
  border: 1px solid var(--mat-sys-error);
  padding: 16px;
}

.error__icon {
  font-size: 48px;
  font-variation-settings: 'fill' 0, 'wght' 400, 'grad' 0, 'opsz' 48;
}

.error__message {
  flex: 1;
  text-align: center;
}
