:host {
    width: 100%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;

    &:has(.banner-header) {
        .nav-float-wrapper {
            top: 91px !important;

            @media (max-width: 599px) {
                top: 85px !important;
            }
        }

        .drawer-backdrop {
            margin-top: 139px !important;

            @media (max-width: 599px) {
                margin-top: 135px !important;
            }
        }

        .drawer {
            top: 45px;

            &.open {
                @media (max-width: 599px) {
                    margin-top: 135px;
                }
            }
        }
    }
}

:host {
    width: 100%;
    display: block;
    position: relative;
  }
  
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10001;
  }
  
