.full-width {
  width: 100%;
}

.label--customize-password {
  font-weight: unset;
  margin-left: unset;
}

mat-label {
  margin-left: 8px;
}

mat-form-field {
  font-size: unset;
  width: 25%;
}

mat-checkbox {
  margin-right: 8px;
}

.info-icon {
  font-size: 16px;
  vertical-align: middle;
  margin-left: 4px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 6px;
}
