.full-width {
  width: 100%;
}

.label--customize-password {
  font-weight: unset;
  margin-left: unset;
}

mat-label {
  margin-left: 8px;
}

mat-form-field {
  font-size: unset;
  width: 25%;
}

mat-checkbox {
  margin-right: 8px;
}