:host {
  --mat-card-elevated-container-color: #ffffff;
}

mat-toolbar {
  background-color: var(--mat-sys-primary);
  color: #ffffff;

  mat-icon {
    color: #ffffff;
  }
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.section-title {
  margin: 0;
  font: var(--mat-sys-headline-large);
}

.section-subtitle {
  font: var(--mat-sys-body-medium);
  opacity: .6;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-title {
  margin-left: 16px;
  font: var(--mat-sys-title-medium);
}

.container {
  position: relative;
  padding: 16px 0;
  flex: 1;
  overflow-y: auto;
}

.cards {
  margin: auto;
  max-width: 1200px;
}

.card {
  margin: 16px 0;
  padding: 16px 24px !important;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.avatar-container {
  width: 140px;
  height: 140px;
  position: relative;
  display: flex;
  margin: 8px 0 24px;
}

.avatar {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  overflow: hidden;
}

.avatar-container__button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: var(--mat-sys-surface-variant);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.row mat-form-field {
  flex: 1;
}

.actions {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
  padding-top: 8px;
}

.password-strength {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;

  .strength-label {
    font: var(--mat-sys-body-medium);
  }

  .strength-value {
    font: var(--mat-sys-body-small);
  }
}

.error {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--mat-sys-error);
}

.error__text {
  flex: 1;
}

.mask {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .1);
}