@use '@angular/material' as mat;
@import "variables.scss";
@import "font-awesome/css/font-awesome.min.css";

.content {
  width: 75vw;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mat-h1 {
  color: mat.get-color-from-palette($app-primary);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h3 {
  width:100%;
  text-align:left;
  border-bottom: 1px solid #000;
  line-height:0.1em;
  margin:10px 0 20px;
  color: mat.get-color-from-palette($app-primary);
} 
h3 span {
  background:#fff;
  padding:0 10px;
  border: none;
}

.title {
  margin-left: 16px;
}

.app-store {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-top: 20px;
}

.app-store-icon {
  height: 48px;
}

.center-content{
  margin: 0 auto !important;
}