<mat-expansion-panel [expanded]="expanded" (opened)="opened.emit()" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Describe the Feed
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="feedMetaDataForm" class="meta-data-form">
    <div class="configuration-hint">
        <mat-icon>info</mat-icon>
        For any values you omit below, MAGE will assign values based on the topic
        you selected.
    </div>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title"/>
      <mat-hint>Short title to identify the feed</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Summary</mat-label>
      <input matInput type="text" formControlName="summary"/>
      <mat-hint>Purpose and content of the feed</mat-hint>
    </mat-form-field>
    <mat-checkbox formControlName="itemsHaveIdentity">Items have unique ID</mat-checkbox>
    <mat-checkbox formControlName="itemsHaveSpatialDimension">Items are geospatial features</mat-checkbox>
    <mat-checkbox class="checkbox-group-spacer" formControlName="showOnMapByDefault">Show on map by default</mat-checkbox>
    <mat-form-field>
      <mat-label>Primary property</mat-label>
      <input matInput type="text" formControlName="itemPrimaryProperty" [matAutocomplete]="itemPropertyAutoComplete"/>
      <mat-hint>Appears as the main text on the feed's items</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Secondary property</mat-label>
      <input matInput type="text" formControlName="itemSecondaryProperty" [matAutocomplete]="itemPropertyAutoComplete"/>
      <mat-hint>Appears as ancillary text on the feed's items</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date/time property</mat-label>
      <input matInput type="text" formControlName="itemTemporalProperty" [matAutocomplete]="itemPropertyAutoComplete"/>
      <mat-hint>Used for sorting items chronologically</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Refresh interval hint (seconds)</mat-label>
      <input matInput type="number" formControlName="updateFrequencySeconds"/>
      <mat-hint>Hint how often to query for new feed data</mat-hint>
    </mat-form-field>
    <div class="icon">
      <div class="mat-hint">Feed Icon</div>
      <div class="configuration-hint">
        <mat-icon>info</mat-icon>
        This icon appears small in the feed list, so pick something simple and solid-colored.
      </div>
      <mage-static-icon-form-field (change)="onFeedIconChange($event)" formControlName="icon" [accessToken]="accessToken"></mage-static-icon-form-field>
      <div class="icon__preview-group">
        <div class="mat-hint mat-caption icon__preview-label">Preview: how this icon will appear on the feed</div>
        <div class="icon__layout">
          <div class="icon__preview">
            <button mat-icon-button>
              <feed-icon class="icon__preview--icon" [icon]="feedIconContent" [active]="true"></feed-icon>
            </button>
            <div class="mat-hint mat-caption icon__preview-text">Active</div>
          </div>
          <div class="icon__preview">
            <button mat-icon-button>
              <feed-icon class="icon__preview--icon" [icon]="feedIconContent"></feed-icon>
            </button>
            <div class="mat-hint mat-caption icon__preview-text">Inactive</div>
          </div>
        </div>
      </div>
    </div>
    <div class="icon" formGroupName="mapStyle">
      <div class="mat-hint">Map Icon</div>
      <div class="configuration-hint">
        <mat-icon>info</mat-icon>
        Select an icon to represent this location on the map
      </div>
      <mage-static-icon-form-field formControlName="icon" [accessToken]="accessToken"></mage-static-icon-form-field>
    </div>
    <mat-autocomplete #itemPropertyAutoComplete="matAutocomplete">
      <mat-option *ngFor="let itemProperty of itemSchemaPropertyTitles" [value]="itemProperty.key">{{itemProperty.title}}</mat-option>
    </mat-autocomplete>
  </form>
  <mat-action-row>
    <button matButton (click)="onPreviousStep()">Previous</button>
    <button matButton (click)="onAccepted()">{{buttonText}}</button>
  </mat-action-row>
</mat-expansion-panel>
