<mat-toolbar color="primary">
  <mat-toolbar-row class="navigation">
    <button mat-icon-button class="navigation__icon" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="navigation__title">
      <span>Choose A Form</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<ng-container *ngFor="let form of forms; trackBy: trackByFormId">
  <mat-card class="form" matRipple (click)="onSelected(form)">
    <mat-card-header>
      <div mat-card-avatar><mat-icon [ngStyle]="{'color': form.color}">description</mat-icon></div>
      <mat-card-title>{{form.name}}</mat-card-title>
      <mat-card-subtitle>{{form.description}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</ng-container>