<section class="mat-typography">
    <admin-breadcrumb [breadcrumbs]="breadcrumbs"></admin-breadcrumb>
</section>
<section class="mat-typography">
    <div class="page-container">
        <div class="content">
            <h1>Create Authentication</h1>
        </div>
    </div>
</section>
<section class="mat-typography">
    <div class="page-container">
        <div class="content">
            <mat-horizontal-stepper linear #stepper>
                <mat-step>
                    <ng-template matStepLabel>Title</ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>Authentication Title</mat-label>
                        <input matInput placeholder="e.g. Local LDAP" [(ngModel)]="strategy.title" required>
                        <button mat-button *ngIf="strategy.title" matSuffix mat-icon-button (click)="strategy.title=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <div>
                        <button [disabled]="!strategy.title.length" mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Type</ng-template>
                    <mat-form-field appearance="outline">
                        <mat-select [(ngModel)]="strategy.type" [ngModelOptions]="{standalone: true}" id="type"
                            name="type" required #type="ngModel">
                            <mat-option *ngFor="let typeChoice of typeChoices" [value]="typeChoice.type">
                                {{typeChoice.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button [disabled]="!strategy.type.length" mat-button (click)="loadTemplate()"
                            matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Settings</ng-template>
                    <generic-settings [strategy]="strategy" id="settings" #settings></generic-settings>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Colors</ng-template>
                    <div class="bottom-gap">
                        These are the colors for the login button that the users will see.
                    </div>
                    <mat-list-item>
                        <mat-label for="textColorPicker"><b>Text Color</b></mat-label>
                        <color-picker [hexColor]="strategy.textColor"
                            (onColorChanged)="colorChanged($event, 'textColor')" id="textColorPicker" #textColorPicker>
                        </color-picker>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-label for="buttonColorPicker"><b>Button Color</b></mat-label>
                        <color-picker [hexColor]="strategy.buttonColor"
                            (onColorChanged)="colorChanged($event, 'buttonColor')" id="buttonColorPicker"
                            #buttonColorPicker>
                        </color-picker>
                    </mat-list-item>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Icon</ng-template>
                    <div class="bottom-gap">
                        This is the icon for the login button that the users will see.
                    </div>
                    <legend>Default Icon</legend>
                    <mat-icon id="defaultIcon">shield</mat-icon>
                    <legend>Custom Icon</legend>
                    <input type="file" class="file-upload" onchange="console.log(event.target.files)">
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext (click)="summary.refresh()">Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <legend>Summary of {{strategy.title}}</legend>
                    <generic-settings [strategy]="strategy" [editable]="false" id="summary" #summary></generic-settings>
                    <mat-divider></mat-divider>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="reset(); stepper.reset()">Reset</button>
                        <button mat-button (click)="save()"
                            [disabled]="!strategy.type.length || !strategy.name.length">Save</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</section>