@import '~@angular/material/theming';
@import "variables.scss";

.bottom-gap {
    margin-bottom: 16px;
}
  
.left-gap {
    margin-left: 10px;
}

.right-gap {
    margin-right: 10px;
}

#cancel-button {
    margin-right: 8px;
    color: #1E88E5;
}
  
#ok-button {
    margin-left: 8px;
}
  
#ok-button:not(:disabled) {
    background-color: #1E88E5 !important;
    color: white;
}

mat-form-field {
    width: 100%;
}

mat-dialog-actions {
    display: flex;
    justify-content: right;
}