@import '~@angular/material/theming';
@import "variables.scss";

  
.page-container {
    display: flex;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    max-width: 1170px;
}

.content {
    display: block;
    flex: 1;
    min-width: 0;
    background-color: white;
}

.bottom-gap {
    margin-bottom: 16px;
}
  
.left-gap {
    margin-left: 10px;
}

.right-gap {
    margin-right: 10px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}
  
.mat-form-field {
    margin-top: 16px;
}