@import '~@angular/material/theming';
@import "variables.scss";

.bottom-gap {
    margin-bottom: 16px;
}
  
.left-gap {
    margin-left: 10px;
}

.right-gap {
    margin-right: 10px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}
  
.mat-form-field {
    margin-top: 16px;
}