<section class="mat-typography">
    <admin-breadcrumb [breadcrumbs]="breadcrumbs"></admin-breadcrumb>
</section>
<section class="mat-typography">
    <div class="page-container">
        <div class="content">
            <h1>Create Authentication</h1>
        </div>
    </div>
</section>
<section class="mat-typography">
    <div class="page-container">
        <div class="content">
            <mat-horizontal-stepper linear #stepper>
                <mat-step>
                    <ng-template matStepLabel>Name</ng-template>
                    <mat-form-field>
                        <mat-label>Authentication Name</mat-label>
                        <input matInput placeholder="Local LDAP" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Type</ng-template>
                    <mat-form-field appearance="outline">
                        <mat-select [(ngModel)]="strategy.type" [ngModelOptions]="{standalone: true}" id="type"
                            name="type" required #type="ngModel">
                            <mat-option *ngFor="let typeChoice of typeChoices" [value]="typeChoice.type">
                                {{typeChoice.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</section>