
<div>
    <div cl***REMOVED***="row-fluid feature-title">
      <div cl***REMOVED***="span2">
        <div marker-icon="observation" types="types"></div>
      </div>
      <div cl***REMOVED***="span10">
        <div>
          <span cl***REMOVED***="muted">
            <strong user-id="observation.userId">{{user.firstname}} {{user.lastname}}</strong>
            <span ui-if="observation.deviceId" device-id="observation.deviceId">({{device.uid}})</span>
          </span>
        </div>
        <div>
          <span cl***REMOVED***="muted ng-binding">{{formatFeatureDate(observation.properties.timestamp)}} @ {{observation.geometry.coordinates[1].toPrecision(7)}}, {{observation.geometry.coordinates[0].toPrecision(7)}} </span>
        </div>
      </div>
    </div>

    <ul cl***REMOVED***="nav nav-pills">
      <li ng-cl***REMOVED***="{active: observationTab == 1}">
        <a href="" ng-click="observationTab = 1;">
          <i cl***REMOVED***="icon-list" style="background-image: none;"></i>
          Details
        </a>
      </li>
      <li ng-cl***REMOVED***="{active: observationTab == 2}">
        <a href="" ng-click="observationTab = 2;">
          <i cl***REMOVED***="icon-camera" style="background-image: none;"></i>
          Media
        </a>
      </li>
    </ul>
    <div cl***REMOVED***="tab-content" ng-init="observationTab = 1" ng-show="observationTab == 1">
      <form cl***REMOVED***="form-horizontal">
        <div cl***REMOVED***="control-group" ng-cl***REMOVED***="!observation.layerId && 'error'">
          <label cl***REMOVED***="control-label" for="type">Layer</label>
          <div cl***REMOVED***="controls">
            <select ng-model="observation.layerId" ng-selected="observation.layerId" ng-options="layer.id as layer.name for layer in ms.featureLayers"></select>
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="type">Type</label>
          <div cl***REMOVED***="controls">
            <select ng-model="observation.properties.type" ng-selected="type.name" ng-options="type.name as type.name for type in os.types"></select>
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="level">Level</label>
          <div cl***REMOVED***="controls">
            <select ng-model="observation.properties.EVENTLEVEL" ng-selected="level" ng-options="level.name as level.name for level in os.levels"></select>
          </div>
        </div>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="unit">Description</label>
          <div cl***REMOVED***="controls">
            <textarea ng-model="observation.properties.DESCRIPTION"></textarea>
          </div>
        </div>
      </form>
      <span cl***REMOVED***="pull-right">
        <button cl***REMOVED***="btn btn-inverse" ng-click="cancelEdit()" ngm-tap="cancelEdit()"><span ng-show="observation.id">Close</span><span ng-hide="observation.id">Cancel</span></button>
        <button cl***REMOVED***="btn" ng-click="saveObservation(observation)" ngm-tap="saveObservation(observation)"><i cl***REMOVED***="icon-save"></i> Save</button>
      </span>
      <span>
        <button cl***REMOVED***="btn btn-danger pull-left" ng-show="observation.id && amAdmin" ng-click="deleteObservation(observation)" ngm-tap="deleteObservation(observation)"><i cl***REMOVED***="icon-trash"></i> Delete</button>
      </span>
    </div>
    <!-- Start of tab2 -->
    <div cl***REMOVED***="tab-content" ng-show="observationTab == 2">
      <form>
        <div cl***REMOVED***="control-group">
          <label cl***REMOVED***="control-label" for="unit">Select File</label>
          <div cl***REMOVED***="controls">
            <input type="file" id="file-upload" accept="audio/*|video/*|image/*" capture="camera" ng-model-instant multiple onchange="angular.element(this).scope().setFiles(this)">
          </div>
          <div ng-show="progressVisible">
            <div cl***REMOVED***="percent">{{progress}}%</div>
            <div cl***REMOVED***="progress-bar">
                <div cl***REMOVED***="uploaded" ng-style="{'width': progress+'%'}"></div>
            </div>
          </div>
        </div>
      </form>
      <span>
        <button cl***REMOVED***="btn btn-inverse" ng-click="cancelEdit()" ngm-tap="cancelEdit()"><span ng-show="observation.id">Close</span><span ng-hide="observation.id">Cancel</span></button>
        <button cl***REMOVED***="btn" ng-click="saveObservation(observation)" ngm-tap="saveObservation(observation)"><i cl***REMOVED***="icon-save"></i> Save</button>
      </span>
      <hr>
      <div cl***REMOVED***="attachment" ng-repeat="attachment in observation.attachments track by attachment.id">
        <span ng-switch on="$index % 2">
          <span ng-switch-when="0">
            <div cl***REMOVED***="row-fluid">
              <div cl***REMOVED***="span6">
                <div cl***REMOVED***="image-button">
                  <div ng-switch on="observation.attachments[$index].contentType">
                    <img ng-switch-when="image/jpg" cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}"></img>
                    <img ng-switch-when="image/jpeg" cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}"></img>
                    <img ng-switch-when="image/png" cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}"></img>
                    <img ng-switch-when="image/gif" cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}"></img>
                    <input type="button" value="Delete" ng-show="amAdmin && (observation.attachments[$index].contentType != 'application/octet-stream') && $index < observation.attachments.length" cl***REMOVED***="btn btn-danger" ng-click="deleteAttachment(observation, observation.attachments[$index].id)">
                    <div ng-switch-when="video/mp4">
                      <video cl***REMOVED***="news-feed-video" controls="controls">
                        <source ng-src="{{'/FeatureServer/'+observation.layerId+'/features/' + observation.id + '/attachments/' + observation.attachments[$index].id + '?access_token=' + token}}" type="video/mp4">
                      </video>
                    </div>
                    <div ng-switch-default ng-show="$index < observation.attachments.length">
                      <span>{{observation.attachments[$index].name}}</span>
                      <div><button ng-show="amAdmin" cl***REMOVED***="btn btn-danger" ng-click="deleteAttachment(observation, observation.attachments[$index].id)">Delete</button></div>
                    </div>
                  </div>
                </div>
              </div>
              <div cl***REMOVED***="span6 image-button">
                <div cl***REMOVED***="image-button">
                  <div ng-switch on="observation.attachments[$index+1].contentType">
                    <img ng-switch-when="image/jpg" cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}"></img>
                    <img ng-switch-when="image/jpeg" cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}"></img>
                    <img ng-switch-when="image/png" cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}"></img>
                    <img ng-switch-when="image/gif" cl***REMOVED***="news-feed-image center-block" ng-src="{{'/FeatureServer/'+observation.layerId+'/features/'+ observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}"></img>
                    <input type="button" value="Delete" ng-show="amAdmin && (observation.attachments[$index+1].contentType != 'application/octet-stream') && $index + 1 < observation.attachments.length" cl***REMOVED***="btn btn-danger" ng-click="deleteAttachment(observation, observation.attachments[$index+1].id)"></input>
                    <div ng-switch-when="video/mp4">
                      <video cl***REMOVED***="news-feed-video" controls="controls">
                        <source ng-src="{{'/FeatureServer/'+observation.layerId+'/features/' + observation.id + '/attachments/' + observation.attachments[$index+1].id + '?access_token=' + token}}" type="video/mp4">
                      </video>
                    </div>
                    <div ng-switch-default ng-show="$index + 1 < observation.attachments.length">
                      <span>{{observation.attachments[$index+1].name}}</span>
                      <div><button ng-show="amAdmin" cl***REMOVED***="btn btn-danger" ng-click="deleteAttachment(observation, observation.attachments[$index+1].id)">Delete</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </span>
      </div>
    </div>
</div>
