<div ng-if="$ctrl.action === 'setup'" class="setup-info-container ng-animatable fade-in">
  <setup api="$ctrl.api" on-setup-complete="$ctrl.authorized(device)"></setup>
</div>
<div ng-if="$ctrl.action === 'disclaimer'" class="disclaimer-info-container ng-animatable fade-in">
  <disclaimer disclaimer="$ctrl.api.disclaimer" 
    on-accept="$ctrl.acceptDisclaimer()" 
    on-cancel="$ctrl.returnToSignin()"></disclaimer>
</div>
<div ng-if="$ctrl.action === 'authorize-device'" class="device-id-container ng-animatable fade-in">
  <authorize strategy="{{$ctrl.strategy}}" token="{{$ctrl.token}}" user="$ctrl.user" on-authorized="$ctrl.authorized(device)" on-cancel="$ctrl.returnToSignin()"></authorize>
</div>
<div ng-if="$ctrl.action === 'signup'" class="section-container ng-animatable fade-in">
  <div class="signup-container">
    <div class="wand-container">
      <img class="mage-wand" src="/assets/images/bluewand.png"/>
    </div>
    <local-signup strategy="$ctrl.localAuthenticationStrategy" on-cancel="$ctrl.returnToSignin()" on-success="$ctrl.showSignupSuccess()"></local-signup>
  </div>
</div>
<div ng-if="$ctrl.action === 'inactive-account'" class="section-container ng-animatable fade-in">
  <div class="signup-container">
    <div class="wand-container">
      <img class="mage-wand" src="/assets/images/bluewand.png"/>
    </div>
    <p>Your account has been created but it is not active. A MAGE administrator needs to activate your account before you can log in.</p>
    <div class="auth-button-container">
      <button class="top-gap mdc-button mdc-button--raised return-to-login-button" ng-click="$ctrl.returnToSignin()">Return to Login</button>
    </div>
  </div>
</div>
<div ng-if="$ctrl.action === 'disabled-account'" class="section-container ng-animatable fade-in">
  <div class="signup-container">
    <div class="wand-container">
      <img class="mage-wand" src="/assets/images/bluewand.png" />
    </div>
    <p>Your account has been disabled, please contact a MAGE administrator for assistance.</p>
    <div class="auth-button-container">
      <button class="top-gap mdc-button mdc-button--raised return-to-login-button"
        ng-click="$ctrl.returnToSignin()">Return to Login</button>
    </div>
  </div>
</div>
<div ng-if="$ctrl.action === 'signin' || !$ctrl.action" class="section-container ng-animatable fade-in">
  <signin api="$ctrl.api" on-signin="$ctrl.onSignin($event)" on-signup="$ctrl.onSignup(strategy)" hide-signup="$ctrl.hideSignup"></signin>
</div>
<div ng-if="$ctrl.action === 'about'" class="about-container ng-animatable fade-in">
  <about></about>
  <div class="auth-button-container">
    <button class="top-gap mdc-button mdc-button--raised return-to-login-button" ng-click="$ctrl.returnToSignin()">Return to Login</button>
  </div>
</div>
<div class="app-store-container" ng-if="($ctrl.action === 'signin' || !$ctrl.action) && !$ctrl.hideSignup">
  <p>iOS or Android user? Check out our mobile app</p>
  <div class="app-store-badges">
    <a class="app-store-badge" href="https://itunes.apple.com/us/app/m.a.g.e./id1032815042?mt=8"><img src="/assets/images/ios_app_store_black.svg" height="49"></img></a>
    <a class="app-store-badge" href="https://play.google.com/store/apps/details?id=mil.nga.giat.mage&hl=en"><img src="/assets/images/google-play-badge.png" height="49"></img></a>
  </div>
  <a class="about-link" href="javascript:void(0)" ng-click="$ctrl.showAbout()">About MAGE v{{$ctrl.api.version.major}}.{{$ctrl.api.version.minor}}.{{$ctrl.api.version.micro}}</a>
</div>