<div class="row">
  <div class="col-md-12">
    <form name="account" class="bottom-gap-l" autocomplete="off" novalidate>

      <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
        <input type="text" 
          id="username" 
          name="username" 
          placeholder="i.e. jappleseed" 
          autocomplete="new-password" 
          autocapitalize="off"
          ng-model="$ctrl.account.username"
          ng-blur="$ctrl.getCaptcha()"
          required="true"
          class="mdc-text-field__input">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="username" class="mdc-floating-label">Username</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>

      <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
          <input type="text" 
            id="displayName" 
            name="displayName" 
            placeholder="Johnny Appleseed" 
            autocomplete="none"
            autocapitalize="off"
            ng-model="$ctrl.account.displayName" 
            required="true"
            class="mdc-text-field__input">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="displayName" class="mdc-floating-label">Display Name</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>

      <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
          <input type="email" 
            id="signup-email" 
            name="signup-email" 
            placeholder="johnny@appleseed.com" 
            autocomplete="none"
            autocapitalize="off"
            ng-model="$ctrl.account.email" 
            class="mdc-text-field__input">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="signup-email" class="mdc-floating-label">Email</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>

      <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
          <input type="tel" 
            id="signup-phone" 
            name="signup-phone" 
            autocomplete="none"
            autocapitalize="off"
            ng-model="$ctrl.account.phone" 
            class="mdc-text-field__input">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="signup-phone" class="mdc-floating-label">Phone</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>

      <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
        <input type="password" id="password" name="password" autocomplete="new-password" autocapitalize="off"
          ng-model="$ctrl.account.password" required="true" ng-change="$ctrl.onPasswordChange()" class="mdc-text-field__input">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="password" class="mdc-floating-label">Password</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
      
      <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
        <input type="password" id="passwordconfirm" name="passwordconfirm" autocomplete="new-password" autocapitalize="off"
          ng-model="$ctrl.account.passwordconfirm" required="true" class="mdc-text-field__input">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="passwordconfirm" class="mdc-floating-label">Confirm Password</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
      <div class="mdc-text-field-helper-line">
        <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg">Passwords do not match</div>
      </div>
      
      <div>
        <div class="muted">Password Strength: <span
            class="text-{{$ctrl.passwordStrengthType}}">{{$ctrl.passwordStrength}}<span></div>
        <div role="progressbar" class="top-gap-s mdc-linear-progress" ng-class="'progress-bar-' + $ctrl.passwordStrengthType">
          <div class="mdc-linear-progress__buffering-dots"></div>
          <div class="mdc-linear-progress__buffer"></div>
          <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
          </div>
          <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
          </div>
        </div>
      </div>

      <div class="auth-captcha-container top-gap-l">
        <div ng-show="$ctrl.loadingCaptcha" class="auth-captcha-progress">
          <div class="auth-captcha-progress__container">
            <div class="auth-captcha-progress--text">Generating Captcha...</div>
            <div role="progressbar" class="mdc-linear-progress" aria-label="Example Progress Bar" aria-valuemin="0"
              aria-valuemax="1" aria-valuenow="0">
              <div class="mdc-linear-progress__buffer">
                <div class="mdc-linear-progress__buffer-bar"></div>
                <div class="mdc-linear-progress__buffer-dots"></div>
              </div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="auth-captcha">
          <img ng-if="$ctrl.captcha.uri" alt="" width="100%" height="100%" src="{{$ctrl.captcha.uri}}">
        </div>
        <div class="auth-captcha-refresh">
          <button ng-if="$ctrl.captcha.uri" class="mdc-icon-button material-icons" ng-click="$ctrl.getCaptcha()">refresh</button>
        </div>
      </div>
      
      <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
        <input type="text" id="captchaText" name="captchaText" placeholder="Enter text from image above" autocapitalize="off"
          ng-model="$ctrl.account.captchaText" required="true" class="mdc-text-field__input">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="username" class="mdc-floating-label">Captcha Text</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
      <div class="mdc-text-field-helper-line">
        <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg">Captcha text is required</div>
      </div>

      <div class="auth-button-container">
        <button type="button" class="top-gap mdc-button mdc-button--raised secondary-button" ng-click="$ctrl.onCancel()">Cancel</button>
        <button type="button" class="top-gap mdc-button mdc-button--raised primary-button" ng-click="$ctrl.verify(account)">Signup</button>
      </div>
    </form>
  </div>
</div>

<div class="mdc-snackbar">
  <div class="mdc-snackbar__surface">
    <div class="mdc-snackbar__label"
         role="status">
      <h4>{{$ctrl.statusTitle}}</h4>
      {{$ctrl.statusMessage}}
    </div>
    <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
  </div>
</div>
