<div class="text-center">

  <button class="mdc-button mdc-button--raised third-party-button" 
    ng-style="{'background-color': $ctrl.strategy.buttonColor, 'border-color': $ctrl.strategy.buttonColor}" 
    ng-click="$ctrl.signin($ctrl.strategy)">

    <span class="third-party-button-content">
      <span ng-if="!$ctrl.strategy.icon" class="third-party-logo">
        <i class="fa fa-lg fa-shield" ng-style="{'color': $ctrl.strategy.buttonColor}"></i>
      </span>
      <span ng-if="$ctrl.strategy.icon" class="third-party-logo">
        <img data-ng-src="data:image/png;base64,{{$ctrl.strategy.icon}}"></img>
      </span>

      <span class="third-party-button-text" ng-style="{color: $ctrl.strategy.textColor}">Sign In With {{$ctrl.strategy.title}}</span>
    </span>

  </button>
</div>

<!-- Status message area -->
<div class="mdc-snackbar">
  <div class="mdc-snackbar__surface">
    <div class="mdc-snackbar__label" role="status">
      <h4>{{$ctrl.statusTitle}}</h4>
      {{$ctrl.statusMessage}}
    </div>
    <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
  </div>
</div>
