<div class="signin-container">
  <div class="wand-container bottom-gap" ng-if="!$ctrl.hideSignup">
    <img class="mage-wand" src="/assets/images/bluewand.png"/>
  </div>
  <local-signin ng-if="$ctrl.localAuthenticationStrategy" 
    strategy="$ctrl.localAuthenticationStrategy" 
    hide-signup="$ctrl.hideSignup" 
    on-signup="$ctrl.onSignup({strategy: $ctrl.localAuthenticationStrategy})" 
    on-signin="$ctrl.onSignin($event)"></local-signin>
  <div ng-if=" $ctrl.localAuthenticationStrategy && $ctrl.thirdPartyStrategies.length">
    <div class="or-container">
      <hr class="or-hr">
      <div id="or">or</div>
    </div>
  </div>
  <div ng-repeat="strategy in $ctrl.thirdPartyStrategies">
    <div ng-class="{'bottom-gap': $index < $ctrl.thirdPartyStrategies.length - 1}">
      <ng-switch on="strategy.type">
        <oauth-signin ng-switch-when="oauth" strategy="strategy" on-signin="$ctrl.onSignin($event)"></oauth-signin>
        <oauth-signin ng-switch-when="saml" strategy="strategy" on-signin="$ctrl.onSignin($event)"></oauth-signin>
        <ldap-signin ng-switch-when="ldap" strategy="strategy" on-signin="$ctrl.onSignin($event)"></ldap-signin>
      </ng-switch>
    </div>
  </div>
</div>