<div class="signin-container">
  <div class="wand-container" ng-if="!$ctrl.hideSignup">
    <img class="mage-wand" src="/images/bluewand.png"/>
  </div>
  <local-signin strategy="$ctrl.localAuthenticationStrategy" 
    signin-type="main"
    hide-signup="$ctrl.hideSignup" 
    on-signup="$ctrl.onSignup({strategy: $ctrl.localAuthenticationStrategy})" 
    on-signin="$ctrl.localSignin({user: user})"></local-signin>
  <div ng-if="$ctrl.thirdPartyStrategies.length">
    <div class="or-container">
      <hr class="or-hr">
      <div id="or">or</div>
    </div>
  </div>
  <div ng-repeat="strategy in $ctrl.thirdPartyStrategies">
    <oauth-signin strategy="strategy" strategy-type="signin"></oauth-signin>
  </div>
</div>