<div mat-dialog-title>
  <span>Delete {{service?.title}}?</span>
</div>

<div mat-dialog-content>
  @if (feeds?.length) {
    <div class="danger-zone">
      <h3 class="danger-zone-title">
        <mat-icon fontSet="material-symbols-outlined">warning</mat-icon>
        {{feeds.length}} {{feeds.length === 1 ? 'feed' : 'feeds'}} will also be deleted
      </h3>
      <p class="feed-list__label">The following feeds will be permanently deleted:</p>
      <div class="feed-list">
        @for (feed of feeds; track feed.id) {
          <div class="feed-list__item">{{feed.title}}</div>
        }
      </div>
    </div>
  }
</div>

<mat-dialog-actions align="end">
  <button matButton type="button" [mat-dialog-close]="false" cdkFocusInitial data-testid="cancel-button">Cancel</button>
  <button matButton type="button" class="delete-button" [mat-dialog-close]="true" data-testid="delete-button">
    <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
    Delete Service
  </button>
</mat-dialog-actions>
