<section class="mat-typography">
  <admin-breadcrumb [breadcrumbs]="breadcrumbs"></admin-breadcrumb>
</section>

<section class="mat-typography">
  <div class="page-container">
    <div class="content">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step
          [stepControl]="titleCtrl"
          label="Title"
          errorMessage="Title is required."
        >
          <mat-form-field appearance="outline">
            <mat-label>Authentication Title</mat-label>
            <input
              matInput
              placeholder="e.g. Local LDAP"
              [formControl]="titleCtrl"
              required
            />
            <button
              mat-button
              *ngIf="titleCtrl.value"
              matSuffix
              mat-icon-button
              (click)="titleCtrl.setValue('')"
              type="button"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <div>
            <button mat-button matStepperNext [disabled]="titleCtrl.invalid">
              Next
            </button>
          </div>
        </mat-step>

        <mat-step
          [stepControl]="nameCtrl"
          label="Type"
          errorMessage="Type is required."
        >
          <mat-form-field appearance="outline">
            <mat-label>Choose a type</mat-label>
            <mat-select [formControl]="nameCtrl" id="type" required>
              <mat-option
                *ngFor="let typeChoice of TYPE_CHOICES"
                [value]="typeChoice.name"
              >
                {{ typeChoice.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="nameCtrl.invalid">
              Next
            </button>
          </div>
        </mat-step>

        <!-- SETTINGS -->
        <mat-step
          [stepControl]="settingsCtrl"
          label="Settings"
          errorMessage="Missing required settings."
        >
          <div [ngSwitch]="strategy.type">
            <admin-authentication-oidc
              *ngSwitchCase="'openidconnect'"
              [strategy]="strategy"
              (ngModelChange)="onSettingsChanged()"
            ></admin-authentication-oidc>

            <admin-authentication-oauth2
              *ngSwitchCase="'oauth'"
              [strategy]="strategy"
              (ngModelChange)="onSettingsChanged()"
            ></admin-authentication-oauth2>

            <admin-authentication-ldap
              *ngSwitchCase="'ldap'"
              [strategy]="strategy"
              (ngModelChange)="onSettingsChanged()"
            ></admin-authentication-ldap>

            <admin-authentication-saml
              *ngSwitchCase="'saml'"
              [strategy]="strategy"
              (ngModelChange)="onSettingsChanged()"
            ></admin-authentication-saml>

            <div *ngSwitchDefault class="mat-body-2" style="padding: 8px 0">
              Select a type to load settings.
            </div>
          </div>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="!isValid()">
              Next
            </button>
          </div>
        </mat-step>

        <mat-step label="Login Button">
          <button-preview [strategy]="strategy"></button-preview>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step label="Summary">
          <div class="mat-title">
            {{ strategy.title }} ({{ strategy.type }})
          </div>
          <button-preview
            [strategy]="strategy"
            [editable]="false"
          ></button-preview>

          <div [ngSwitch]="strategy.type">
            <admin-authentication-oidc
              *ngSwitchCase="'openidconnect'"
              [strategy]="strategy"
              [editable]="false"
            ></admin-authentication-oidc>

            <admin-authentication-oauth2
              *ngSwitchCase="'oauth'"
              [strategy]="strategy"
              [editable]="false"
            ></admin-authentication-oauth2>

            <admin-authentication-ldap
              *ngSwitchCase="'ldap'"
              [strategy]="strategy"
              [editable]="false"
            ></admin-authentication-ldap>

            <admin-authentication-saml
              *ngSwitchCase="'saml'"
              [strategy]="strategy"
              [editable]="false"
            ></admin-authentication-saml>
          </div>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button type="button" (click)="reset(); stepper.reset()">
              Reset
            </button>
            <button
              mat-button
              type="button"
              (click)="save()"
              [disabled]="!isValid()"
            >
              Save
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</section>
