.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0;
}

.title {
  font: 400 20px / 32px Roboto, "Helvetica Neue", sans-serif;
}

.icon {
  color: #4CAF50;
  font-size: 96px;
  font-variation-settings: 'fill' 0, 'wght' 200, 'grad' 0, 'opsz' 96;
  margin-bottom: 32px;
}