:host {
  display: block;
  background: white;
  border-radius: var(--mat-sys-corner-medium);
  overflow: hidden;
  margin: 0 8px 8px;
}

mat-list-item {
  min-height: 88px;
}

.item__content {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.item__icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: var(--mat-sys-primary);
}

.item__timestamp {
  font: var(--mat-sys-body-small);
  color: var(--mat-sys-on-surface-variant);
}

.item__primary {
  font: var(--mat-sys-body-large);
  color: var(--mat-sys-primary);
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item__secondary {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface-variant);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
