<mat-card matRipple [matRippleTrigger]="ripple">
  <mat-card-content class="item" (click)="onItemSelect()" (mousedown)="onRipple()">
    <div class="item-header">
      <div class="item__icon">
        <mat-icon *ngIf="!iconUrl">place</mat-icon>
        <mage-static-icon-img *ngIf="feed?.icon" [iconRef]="feed.icon"></mage-static-icon-img>
      </div>

      <div class="item__content">
        <ng-container *ngIf="hasContent; else noContent">
          <span class="item__timestamp">{{timestamp | moment}}</span>
          <span class="item__primary">{{primary || "&nbsp;"}}</span>
          <span class="item__secondary">{{primary || "&nbsp;"}}</span>
        </ng-container>
        <ng-template #noContent>
          <span class="item__primary">{{feed.title}}</span>
        </ng-template>
      </div>
    </div>
  </mat-card-content>

  <div #ripple></div>
</mat-card>
