<section class="mat-typography">
    <div class="row">
        <h4>Password Policies</h4>
        <hr>
    </div>
</section>
<section class="mat-typography">
    <div class="row">
        <div class="bottom-gap">
            <h5>Minimum Password Requirements for User Accounts:</h5>
        </div>
    </div>
    <mat-list-item class="bottom-gap">
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.minCharsEnabled"
            [ngModelOptions]="{standalone: true}" [checked]="strategy.settings.passwordPolicy.minCharsEnabled"
            (change)="buildPasswordHelp()" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline" class="left-gap">
            <input matInput type="number" id="minChars" [disabled]="!strategy.settings.passwordPolicy.minCharsEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.minChars" [ngModelOptions]="{standalone: true}" min="0"
                (click)="buildPasswordHelp()">
        </mat-form-field>
        <label for="minChars">Minimum Letters</label>
    </mat-list-item>
    <mat-list-item class="bottom-gap">
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.maxConCharsEnabled"
            [checked]="strategy.settings.passwordPolicy.maxConCharsEnabled" (change)="buildPasswordHelp()"
            [ngModelOptions]="{standalone: true}" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline" class="left-gap">
            <input matInput type="number" id="maxConChars"
                [disabled]="!strategy.settings.passwordPolicy.maxConCharsEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.maxConChars" min="0" (click)="buildPasswordHelp()"
                [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <label for="maxConChars">Maximum Consecutive Letters</label>
    </mat-list-item>
    <mat-list-item class="bottom-gap">
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.lowLettersEnabled"
            [checked]="strategy.settings.passwordPolicy.lowLettersEnabled" (change)="buildPasswordHelp()"
            [ngModelOptions]="{standalone: true}" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline" class="left-gap">
            <input matInput type="number" id="lowLetters"
                [disabled]="!strategy.settings.passwordPolicy.lowLettersEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.lowLetters" min="0" (click)="buildPasswordHelp()"
                [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <label for="lowLetters">Lowercase Letters</label>
    </mat-list-item>
    <mat-list-item class="bottom-gap">
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.highLettersEnabled"
            [checked]="strategy.settings.passwordPolicy.highLettersEnabled" (change)="buildPasswordHelp()"
            [ngModelOptions]="{standalone: true}" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline" class="left-gap">
            <input matInput type="number" id="highLetters"
                [disabled]="!strategy.settings.passwordPolicy.highLettersEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.highLetters" min="0" (click)="buildPasswordHelp()"
                [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <label for="highLetters">Uppercase Letters</label>
    </mat-list-item>
    <mat-list-item class="bottom-gap">
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.numbersEnabled"
            [checked]="strategy.settings.passwordPolicy.numbersEnabled" (change)="buildPasswordHelp()"
            [ngModelOptions]="{standalone: true}" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline" class="left-gap">
            <input matInput type="number" id="numbers" [disabled]="!strategy.settings.passwordPolicy.numbersEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.numbers" min="0" (click)="buildPasswordHelp()"
                [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <label for="numbers">Numbers</label>
    </mat-list-item>
    <mat-list-item class="bottom-gap">
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.specialCharsEnabled"
            [checked]="strategy.settings.passwordPolicy.specialCharsEnabled" (change)="buildPasswordHelp()"
            [ngModelOptions]="{standalone: true}" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline" class="left-gap">
            <input matInput type="number" id="specialChars"
                [disabled]="!strategy.settings.passwordPolicy.specialCharsEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.specialChars" min="0" (click)="buildPasswordHelp()"
                [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <label for="specialChars">Special Characters</label>
    </mat-list-item>
</section>
<section class="mat-typography">
    <div class="row">
        <div class="bottom-gap">
            <h5>User Password Policies:</h5>
        </div>
    </div>
    <mat-list-item class="bottom-gap">
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.passwordMinLengthEnabled"
            [checked]="strategy.settings.passwordPolicy.passwordMinLengthEnabled" (change)="buildPasswordHelp()"
            [ngModelOptions]="{standalone: true}" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline" class="left-gap">
            <input matInput type="number" id="passwordMinLength"
                [disabled]="!strategy.settings.passwordPolicy.passwordMinLengthEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.passwordMinLength" min="0" (click)="buildPasswordHelp()"
                [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <label for="passwordMinLength">Minimum Password Length</label>
    </mat-list-item>
    <mat-list-item class="bottom-gap">
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.passwordHistoryCountEnabled"
            [checked]="strategy.settings.passwordPolicy.passwordHistoryCountEnabled" (change)="buildPasswordHelp()"
            [ngModelOptions]="{standalone: true}" color="primary">
        </mat-checkbox>
        <mat-form-field appearance="outline" class="left-gap">
            <input matInput type="number" id="passwordHistoryCount"
                [disabled]="!strategy.settings.passwordPolicy.passwordHistoryCountEnabled"
                [(ngModel)]="strategy.settings.passwordPolicy.passwordHistoryCount" min="0"
                (click)="buildPasswordHelp()" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <label for="passwordHistoryCount">Previous Passwords
            Remembered</label>
    </mat-list-item>
</section>
<section class="mat-typography">
    <div class="row">
        <div class="bottom-gap">
            <h5>User Password Policy Help:</h5>
        </div>
    </div>
    <mat-list-item class="bottom-gap">
        <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.customizeHelpText"
            [checked]="strategy.settings.passwordPolicy.customizeHelpText" color="primary"
            [ngModelOptions]="{standalone: true}" id="customize-help" (change)="buildPasswordHelp()">
        </mat-checkbox>
        <label for="customize-help">Customize password help message</label>
    </mat-list-item>
    <mat-list-item class="bottom-gap">
        <mat-form-field appearance="outline" class="full-width">
            <textarea matInput id="helpText" [disabled]="!strategy.settings.passwordPolicy.customizeHelpText"
                [(ngModel)]="strategy.settings.passwordPolicy.helpText"
                [ngModelOptions]="{standalone: true}"></textarea>
        </mat-form-field>
        <span id="passwordHelpBlock" class="help-block">This is the help
            text that is displayed to the user during password
            creation/update, when their password fails to meet the password
            policy.</span>
    </mat-list-item>
</section>