@import '~@angular/material/theming';
@import "variables.scss";

.bottom-gap {
  margin-bottom: 16px;
}

.left-gap {
  margin-left: 10px;
}

.full-width {
  width: 100%;
}
  
a {
  color: #1E88E5;
}

label {
  font-weight: unset;
  margin-left: 8px;
}

h1, h2, h3, h4, h5 {
	color: #1E88E5;
}

mat-form-field {
  font-size: unset;
  width: 25%;
}

mat-list-item {
  margin-left: unset;
  padding-left: unset;
}