<section class="mat-typography">
    <div *ngIf="strategy.type == 'local'">
        <div class="row">
            <h4>Password Policies</h4>
            <hr>
        </div>
        <div class="row">
            <div class="bottom-gap">
                <h5>Minimum Password Requirements for User Accounts:</h5>
            </div>
        </div>
        <div class="row">
            <div class="bottom-gap form-inline">
                <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.minCharsEnabled"
                    [checked]="strategy.settings.passwordPolicy.minCharsEnabled" (change)="buildPasswordHelp()"
                    [ngModelOptions]="{standalone: true}" color="primary">
                </mat-checkbox>
                <input matInput type="number" id="minChars"
                    [disabled]="!strategy.settings.passwordPolicy.minCharsEnabled"
                    [(ngModel)]="strategy.settings.passwordPolicy.minChars" min="0" (click)="buildPasswordHelp()"
                    class="form-control left-gap" [ngModelOptions]="{standalone: true}">
                <label for="minChars">Minimum Letters</label>
            </div>
        </div>
        <div class="row">
            <div class="bottom-gap form-inline">
                <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.maxConCharsEnabled"
                    [checked]="strategy.settings.passwordPolicy.maxConCharsEnabled" (change)="buildPasswordHelp()"
                    [ngModelOptions]="{standalone: true}" color="primary">
                </mat-checkbox>
                <input matInput type="number" id="maxConChars"
                    [disabled]="!strategy.settings.passwordPolicy.maxConCharsEnabled"
                    [(ngModel)]="strategy.settings.passwordPolicy.maxConChars" min="0" (click)="buildPasswordHelp()"
                    class="form-control left-gap" [ngModelOptions]="{standalone: true}">
                <label for="maxConChars">Maximum Consecutive Letters</label>
            </div>
        </div>
        <div class="row">
            <div class="bottom-gap form-inline">
                <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.lowLettersEnabled"
                    [checked]="strategy.settings.passwordPolicy.lowLettersEnabled" (change)="buildPasswordHelp()"
                    [ngModelOptions]="{standalone: true}" color="primary">
                </mat-checkbox>
                <input matInput type="number" id="lowLetters"
                    [disabled]="!strategy.settings.passwordPolicy.lowLettersEnabled"
                    [(ngModel)]="strategy.settings.passwordPolicy.lowLetters" min="0" (click)="buildPasswordHelp()"
                    class="form-control left-gap" [ngModelOptions]="{standalone: true}">
                <label for="lowLetters">Lowercase Letters</label>
            </div>
        </div>
        <div class="row">
            <div class="bottom-gap form-inline">
                <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.highLettersEnabled"
                    [checked]="strategy.settings.passwordPolicy.highLettersEnabled" (change)="buildPasswordHelp()"
                    [ngModelOptions]="{standalone: true}" color="primary">
                </mat-checkbox>
                <input matInput type="number" id="highLetters"
                    [disabled]="!strategy.settings.passwordPolicy.highLettersEnabled"
                    [(ngModel)]="strategy.settings.passwordPolicy.highLetters" min="0" (click)="buildPasswordHelp()"
                    class="form-control left-gap" [ngModelOptions]="{standalone: true}">
                <label for="highLetters">Uppercase Letters</label>
            </div>
        </div>
        <div class="row">
            <div class="bottom-gap form-inline">
                <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.numbersEnabled"
                    [checked]="strategy.settings.passwordPolicy.numbersEnabled" (change)="buildPasswordHelp()"
                    [ngModelOptions]="{standalone: true}" color="primary">
                </mat-checkbox>
                <input matInput type="number" id="numbers" [disabled]="!strategy.settings.passwordPolicy.numbersEnabled"
                    [(ngModel)]="strategy.settings.passwordPolicy.numbers" min="0" (click)="buildPasswordHelp()"
                    class="form-control left-gap" [ngModelOptions]="{standalone: true}">
                <label for="numbers">Numbers</label>
            </div>
        </div>
        <div class="row">
            <div class="bottom-gap form-inline">
                <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.specialCharsEnabled"
                    [checked]="strategy.settings.passwordPolicy.specialCharsEnabled" (change)="buildPasswordHelp()"
                    [ngModelOptions]="{standalone: true}" color="primary">
                </mat-checkbox>
                <input matInput type="number" id="specialChars"
                    [disabled]="!strategy.settings.passwordPolicy.specialCharsEnabled"
                    [(ngModel)]="strategy.settings.passwordPolicy.specialChars" min="0" (click)="buildPasswordHelp()"
                    class="form-control left-gap" [ngModelOptions]="{standalone: true}">
                <label for="specialChars">Special Characters</label>
            </div>
        </div>
        <div class="row">
            <div class="bottom-gap">
                <h5>User Password Policies:</h5>
            </div>
        </div>
        <div class="row">
            <div class="bottom-gap form-inline">
                <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.passwordMinLengthEnabled"
                    [checked]="strategy.settings.passwordPolicy.passwordMinLengthEnabled" (change)="buildPasswordHelp()"
                    [ngModelOptions]="{standalone: true}" color="primary">
                </mat-checkbox>
                <input matInput type="number" id="passwordMinLength"
                    [disabled]="!strategy.settings.passwordPolicy.passwordMinLengthEnabled"
                    [(ngModel)]="strategy.settings.passwordPolicy.passwordMinLength" min="0"
                    (click)="buildPasswordHelp()" class="form-control left-gap" [ngModelOptions]="{standalone: true}">
                <label for="passwordMinLength">Minimum Password Length</label>
            </div>
        </div>
        <div class="row">
            <div class="bottom-gap form-inline">
                <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.passwordHistoryCountEnabled"
                    [checked]="strategy.settings.passwordPolicy.passwordHistoryCountEnabled"
                    (change)="buildPasswordHelp()" [ngModelOptions]="{standalone: true}" color="primary">
                </mat-checkbox>
                <input matInput type="number" id="passwordHistoryCount"
                    [disabled]="!strategy.settings.passwordPolicy.passwordHistoryCountEnabled"
                    [(ngModel)]="strategy.settings.passwordPolicy.passwordHistoryCount" min="0"
                    (click)="buildPasswordHelp()" class="form-control left-gap" [ngModelOptions]="{standalone: true}">
                <label for="passwordHistoryCount">Previous Passwords
                    Remembered</label>
            </div>
        </div>
        <div class="row">
            <div class="bottom-gap">
                <h5>User Password Policy Help:</h5>
            </div>
        </div>
        <div class="row">
            <mat-checkbox [(ngModel)]="strategy.settings.passwordPolicy.customizeHelpText"
                [checked]="strategy.settings.passwordPolicy.customizeHelpText" color="primary"
                [ngModelOptions]="{standalone: true}" id="customize-help" (change)="buildPasswordHelp()">
            </mat-checkbox>
            <label for="customize-help">Customize password help message</label>
        </div>
        <div class="row">
            <div class="bottom-gap">
                <textarea matInput id="helpText" [disabled]="!strategy.settings.passwordPolicy.customizeHelpText"
                    [(ngModel)]="strategy.settings.passwordPolicy.helpText" class="form-control left-gap"
                    [ngModelOptions]="{standalone: true}"></textarea>
                <span id="passwordHelpBlock" class="help-block">This is the help
                    text that is displayed to the user during password
                    creation/update, when their password fails to meet the password
                    policy.</span>
            </div>
        </div>
    </div>
</section>