<h2 mat-dialog-title>Delete {{ strategy.title }} Authentication?</h2>

<mat-dialog-content>
  By deleting this authentication strategy, {{ userCount() }} users will no longer be able to access MAGE.
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton type="button" (click)="close()" cdkFocusInitial data-testid="cancel-button">Cancel</button>
  <button matButton type="button" class="delete-button" (click)="delete()" data-testid="delete-button">
    <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
    Delete Authentication
  </button>
</mat-dialog-actions>
