<div class="container top-gap-l">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-12 top-gap-xl">
          <h2 class="text-center">Welcome to MAGE</h2>
          <div class="text-center">
            <i class="fa fa-magic icon-brand-s"></i>
          </div>
        </div>
      </div>

      <hr>

      <div ng-if="page == 'account'">
        <div class="row">
          <div class="col-md-12 top-gap-xl text-center">
            <h4>You will need to create an initial account to access and administer MAGE.</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3 top-gap-l">
            <form name="form.account" class="form" novalidate>
              <div class="form-group" ng-class="{'has-error': form.account.$submitted && form.account.username.$invalid}">
                <input type="text" ng-model="account.username" name="username" placeholder="Username" class="form-control" required>
                <div class="help-block" ng-messages="form.account.username.$error" ng-if="form.account.$submitted && form.account.username.$invalid">
                  <div ng-message="required">Username is required</div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error': form.account.$submitted && form.account.password.$invalid}">
                <input type="password" ng-model="account.password" name="password" placeholder="Password" class="form-control" ng-minlength="{{passwordRequirements.minLength}}" required>
                <div class="help-block" ng-messages="form.account.password.$error" ng-if="form.account.$submitted && form.account.password.$invalid">
                  <p ng-message="required">Password is required</p>
                  <p ng-message="minlength">Password does not meet minimum length requirement</p>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error': form.account.$submitted && form.account.passwordconfirm.$invalid}">
                <input type="password" ng-model="account.passwordconfirm" name="passwordconfirm" placeholder="Confirm Password"class="form-control" equals="{{account.password}}" ng-minlength="{{passwordRequirements.minLength}}" required>
                <div class="help-block" ng-messages="form.account.passwordconfirm.$error" ng-if="form.account.$submitted && form.account.passwordconfirm.$invalid">
                  <p ng-message="required">Confirm Passwordis required</p>
                  <p ng-message="minlength">Password does not meet minimum length requirement</p>
                  <p ng-message="equals">Passwords do not match</p>
                </div>
              </div>

              <span class="pull-right">
                <button type="submit" class="btn btn-primary" ng-click="next()">Next</button>
              </span>
            </form>
          </div>
        </div>
      </div>

      <div ng-if="page == 'device'">
        <div class="row">
          <div class="col-md-12 top-gap-xl text-center">
            <h4>You will need to create an initial device ID to access and administer MAGE.</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3 top-gap-l">
            <form name="form.device" class="form" novalidate>
              <div class="form-group" ng-class="{'has-error': form.device.$submitted && form.device.uid.$invalid}">
                <input type="text" ng-model="account.uid" name="uid" placeholder="UID" class="form-control" required>
                <div class="help-block" ng-messages="form.device.uid.$error" ng-if="form.device.$submitted && form.device.uid.$invalid">
                  <div ng-message="required">Device ID is required</div>
                </div>
              </div>

              <span class="pull-right">
                <button class="btn btn-primary" ng-click="finish()">Finish</button>
              </span>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
