@import '~@angular/material/theming';
@import "variables.scss";

.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav>li>a {
  color: #FFFFFF;
}
  
.nav-pills>li>a {
  color: #1E88E5;
}
  
.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  color: #1565C0;
  background: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #1E88E5;
}

.admin-settings-gap {
  //top right bottom left
  margin: 0px 20px 0px 20px;
}

.top-gap {
  margin-top: 10px;
}

.bottom-gap {
  margin-bottom: 16px;
}

.left-gap {
  margin-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

color-picker {
  display: block;
  width: 25%;
}
  
a {
  color: #1E88E5;
}

label {
  font-weight: unset;
  margin-left: 8px;
}

h1, h2, h3, h4, h5 {
	color: #1E88E5;
}

mat-card-title {
  color: #1E88E5;
}

mat-drawer-container {
  background-color: unset;
}

mat-toolbar {
  background-color: unset;
}