<section class="mat-typography">
    <admin-breadcrumb [breadcrumbs]="breadcrumbs"></admin-breadcrumb>
</section>
<section class="mat-typography">
    <div class="page-container">
        <div class="content">
            <mat-tab-group color="primary" mat-stretch-tabs (selectedIndexChange)="selectedTab.setValue($event)">
                <mat-tab label="Authentication">
                    <div class="auth__action--new">
                        <button mat-stroked-button color="primary"
                            (click)="$event.stopPropagation(); createAuthentication()"
                            *ngIf="hasAuthConfigEditPermission">
                            <mat-icon>add</mat-icon>New Authentication
                        </button>
                    </div>
                    <mat-accordion class="headers-align">
                        <div *ngFor="let strategy of strategies; index as i; first as isFirst">
                            <mat-expansion-panel class="mat-elevation-z0" [expanded]="isFirst">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <i *ngIf="!strategy.icon" [ngStyle]="{'color': strategy.buttonColor}"
                                            class="fa fa-lg fa-shield right-gap"></i>
                                        <span *ngIf="strategy.icon" class="right-gap">
                                            <img [src]="strategy.icon" style="width:24px; height:24px">
                                        </span>
                                        {{strategy.title}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <div *ngIf="strategy.enabled">Enabled</div>
                                        <div *ngIf="!strategy.enabled">Disabled</div>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <mat-slide-toggle [(ngModel)]="strategy.enabled" [checked]="strategy.enabled"
                                    color="primary" [ngModelOptions]="{standalone: true}"
                                    *ngIf="hasAuthConfigEditPermission"
                                    (click)="$event.stopPropagation(); strategy.isDirty = 'true'">
                                    Enable Authentication
                                </mat-slide-toggle>
                                <admin-authentication [strategy]="strategy" [teams]="teams" [events]="events">
                                </admin-authentication>
                                <div class="auth__action--delete">
                                    <button mat-button color="warn" id="delete-strategy-button"
                                        (click)="$event.stopPropagation(); deleteStrategy(strategy)"
                                        *ngIf="hasAuthConfigEditPermission && strategy.type.toLowerCase() !== 'local'">
                                        <mat-icon>delete</mat-icon>Delete Authentication
                                    </button>
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </mat-accordion>
                </mat-tab>
                <mat-tab label="Banner">
                    <security-banner (saveEvent)="onBannerSaved($event)"></security-banner>
                </mat-tab>
                <mat-tab label="Disclaimer">
                    <security-disclaimer (saveEvent)="onDisclaimerSaved($event)"></security-disclaimer>
                </mat-tab>
            </mat-tab-group>
            <div class="auth__action--save">
                <button mat-flat-button color="primary" (click)="save()">
                    <mat-icon>check</mat-icon>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
</section>