@import '~@angular/material/theming';
@import "variables.scss";

.page-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 1170px;
}

.content {
  display: block;
  flex: 1;
  min-width: 0;
}

.settings__action--save {
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  margin-top: 4px;
  margin-right: 8px;
}