<section class="mat-typography">
    <admin-breadcrumb [breadcrumbs]="breadcrumbs"></admin-breadcrumb>
</section>
<section class="mat-typography">
    <div class="page-container">
        <div class="content">
            <mat-card>
                <mat-tab-group color="primary" mat-stretch-tabs (selectedIndexChange)="selectedTab.setValue($event)">
                    <mat-tab label="Authentication">
                        <div class="top-gap bottom-gap auth__action--new">
                            <button mat-stroked-button color="primary"
                                (click)="$event.stopPropagation(); createAuthentication()"
                                *ngIf="hasAuthConfigEditPermission">
                                <mat-icon>add</mat-icon>New Authentication
                            </button>
                        </div>
                        <div *ngFor="let strategy of strategies; index as i; first as isFirst">
                            <mat-accordion class="top-gap admin-settings-gap headers-align" style="padding-bottom: 25px;">
                                <mat-expansion-panel class="mat-elevation-z0" [expanded]="isFirst">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <div class="fa fa-lg fa-shield right-gap"></div>
                                            {{strategy.title}}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            <div *ngIf="strategy.enabled">Enabled</div>
                                            <div *ngIf="!strategy.enabled">Disabled</div>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <section class="mat-typography" *ngIf="strategy.type !== 'local'">
                                        <mat-slide-toggle [(ngModel)]="strategy.enabled" [checked]="strategy.enabled"
                                            color="primary" [ngModelOptions]="{standalone: true}"
                                            *ngIf="hasAuthConfigEditPermission"
                                            (click)="$event.stopPropagation(); strategy.isDirty = 'true'"
                                            [disabled]="strategy.type.toLowerCase() === 'local'">
                                        </mat-slide-toggle>
                                        <label>Enable Authentication</label>
                                        <hr>
                                    </section>
                                    <authentication-settings [strategy]="strategy" [teams]="teams" [events]="events">
                                    </authentication-settings>
                                    <div class="top-gap">
                                        <button mat-button color="warn" id="delete-strategy-button"
                                            (click)="$event.stopPropagation(); deleteStrategy(strategy)"
                                            *ngIf="hasAuthConfigEditPermission && strategy.type.toLowerCase() !== 'local'">
                                            <mat-icon>delete</mat-icon>Delete Authentication
                                        </button>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-tab>
                    <mat-tab label="Banner">
                        <security-banner (saveEvent)="onBannerSaved($event)"></security-banner>
                    </mat-tab>
                    <mat-tab label="Disclaimer">
                        <security-disclaimer (saveEvent)="onDisclaimerSaved($event)"></security-disclaimer>
                    </mat-tab>
                </mat-tab-group>
                <mat-card-actions>
                    <button mat-flat-button color="primary" (click)="save()">
                        <mat-icon>check</mat-icon>
                        <span>Save</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>