[mat-dialog-title] {
  color: var(--mat-sys-primary);
}

.observation {
  position: relative;
  margin-bottom: 8px;
}

.delete-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.delete-button {
  --mat-button-filled-container-color: var(--mat-sys-error);
  --mat-button-filled-label-text-color: var(--mat-sys-on-error);
}
