<div class="feed-card">
  <div class="feed-card-content" ng-cloak>
    <div ng-if="edit === false">
      <div class="observation-item">
        <div class="observation-item-content">
          <div class="observation-type" ng-if="primaryField">
            <strong class="muted">{{primaryField.value}}</strong>
          </div>
          <div class="observation-variant muted" ng-if="variantField">{{variantField.value}}</div>
          <div class="observation-user muted" title="{{observationUser.displayName}}">{{observationUser.displayName}}</div>
        </div>

        <div class="observation-item-actions">
          <div class="pull-right news-feed-item-support small muted">{{observation.properties.timestamp | moment}}</div>
          <div>
            <a href="javascript:void(0)" class="small muted" ng-click="onObservationLocationClick(observation)">
              {{observation.geometry | geometry:5}}
            </a>
          </div>
        </div>
      </div>

      <div class="map-clip">
        <div map-clip="observation"></div>
      </div>

      <div class="top-gap observation-actions">
        <span class="observation-action">
          <i ng-if="canEditImportant || observation.important" class="fa fa-flag observation-action-important pointer" ng-class="{'observation-action-important-active': observation.important}"
          uib-tooltip="{{canEditImportant && !observation.important ? 'Flag As Important' : 'Flagged as Important'}}"
          uib-popover-template="'observation/observation-important.html'"
          popover-placement="auto"
          popover-is-open="importantPopover.isOpen"></i>
        </span>

        <span class="observation-action">
          <i class="fa fa-heart observation-action-favorite pointer"
          ng-class="{'observation-action-favorite-active': isUserFavorite}"
          ng-click="toggleFavorite()"
          uib-tooltip="{{isUserFavorite ? 'Unfavorite' : 'Favorite'}}"></i>

          <span class="observation-action-favorite-count pointer"
            ng-if="observation.favoriteUserIds.length"
            ng-class="{'observation-action-favorite-active': isUserFavorite}"
            ng-click="showFavoriteUsers()">{{observation.favoriteUserIds.length}}
          </span>

        </span>

        <span class="observation-action observation-action-email">
          <i class="fa fa-download observation-action-email pointer" uib-tooltip="Download" ng-click="download()"></i>
        </span>
      </div>

      <div class="top-gap" ng-repeat="form in observationForm.forms">
        <observation-form-view form="form"></observation-form-view>
      </div>

      <div class="attachments">
        <div class="attachment" ng-repeat="attachment in observation.attachments track by attachment.id">
          <div attachment="attachment" attachment-observation="observation" edit="false"></div>
        </div>
      </div>

      <div ng-if="canEdit" class="clearfix">
        <button class="btn btn-sm btn-primary pull-right" ng-click="editObservation()">Edit</button>
      </div>
    </div>

    <div ng-if="edit === true">
      <form-directive form="editForm" form-observation="observation" class="row"></form-directive>
    </div>

  </div>

</div>
