<div class="observation-card mdc-typography">
  <div class="mdc-card__primary-action" ng-click="viewObservation()">
    <div class="observation-header">
      <div class="observation-thumbnail">
        <img ng-src="{{observation.style.iconUrl}}"/>
      </div>
      <div class="observation-header-content">
        <div class="observation-header-text">
          <div ng-switch="primaryFeedField.field.type">
            <div ng-switch-when="geometry">
              {{primaryFeedField.value | geometry:5}}
            </div>
            <div ng-switch-default>
              {{primaryFeedField.value}}
            </div>
          </div>
        </div>
        <div class="observation-subhead">
          <span ng-switch="secondaryFeedField.field.type">
            <span ng-switch-when="geometry">
              {{secondaryFeedField.value | geometry:5}}
            </span>
            <span ng-switch-default>
              {{secondaryFeedField.value}}
            </span>
          </span>
        </div>
        <div class="observation-subhead">
          {{observationUser.displayName}}
        </div>
      </div>
      <div class="observation-header-content-right">
        <div class="observation-time user-subhead">{{observation.properties.timestamp | moment}}</div>
        <div class="observation-time user-subhead">{{observation.geometry | geometry:5}}</div>
      </div>
    </div>
    <div ng-if="observation.attachments && observation.attachments.length > 0" class="mdc-card__media observation-media">
      <div attachment-no-link="observation.attachments[0]" attachment-observation="observation" edit="false" label="observation.attachments.length > 1 ? '1 of ' + observation.attachments.length : false"></div>
    </div>
    <div ng-if="observation.important" class="observation-supporting-text-container">
      <span>
        <i class="material-icons observation-action-important-active vertical-middle">flag</i>
        <span class="observation-subhead">{{observationImportantUser.displayName}} flagged on {{observation.important.timestamp | moment}}</span>
      </span>
      <div ng-show="!importantEditor.isOpen">
        {{observation.important.description}}
      </div>
    </div>
  </div>
  <div ng-show="importantEditor.isOpen" class="important-editor observation-supporting-text-container slide-animate">
    <div class="mdc-text-field mdc-text-field--textarea mdc-text-field--fullwidth important-textarea">
      <textarea id="fav-textarea"
        class="mdc-text-field__input"
        type="text"
        ng-model="importantEditor.description"
        value="{{importantEditor.description}}"></textarea>
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="fav-textarea" class="mdc-floating-label">Description</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="text-right top-gap">
    <button class="mdc-button" ng-click="clearImportant()">
      <span ng-if="observation.important">Remove</span>
      <span ng-if="!observation.important">Cancel</span>
    </button>
    <button class="mdc-button mdc-button--raised" ng-click="markAsImportant()">{{observation.important ? 'Update' : 'Flag As Important'}}</button>
    </div>
  </div>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
    </div>
    <div class="mdc-card__action-icons">
      <div class="mage-tooltip">
        <span class="tooltiptext">{{canEditImportant && !observation.important ? 'Flag As Important' : 'Flagged as Important'}}</span>
        <button ng-if="canEditImportant || observation.important"
          ng-class="{'observation-action-important-active mdc-icon-button--on': observation.important}"
          class="mdc-icon-button mdc-card__action mdc-card__action--icon"
          aria-label="Flag as Important"
          ng-click="onFlagAsImportant()">
          <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">flag</i>
          <i class="material-icons mdc-icon-button__icon">outlined_flag</i>
        </button>
      </div>
      <div class="mage-tooltip">
        <span class="tooltiptext">Add to favorites</span>
        <button
          ng-class="{'observation-action-favorite-active mdc-icon-button--on': isUserFavorite}"
          ng-click="toggleFavorite()"
          class="mdc-icon-button mdc-card__action mdc-card__action--icon"
          aria-pressed="false"
          aria-label="Add to favorites"
          title="Add to favorites">
          <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
          <i class="material-icons mdc-icon-button__icon">favorite_border</i>
        </button>
      </div>
      <div class="mage-tooltip">
        <span class="tooltiptext">Download</span>
        <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon"
          title="Download"
          ng-click="download()">save_alt</button>
      </div>
   </div>
  </div>
</div>
