<div cl***REMOVED***="observation-popup">
  <div cl***REMOVED***="row-fluid">
    <div cl***REMOVED***="pull-right">
      <a href="javascript:void(0)" title="Show in feed" cl***REMOVED***="observation-popup-info" ng-click="onInfoClicked()"><i cl***REMOVED***="fa fa-info-circle"></i></a>
      <a href="javascript:void(0)" title="Zoom to" cl***REMOVED***="observation-popup-info" ng-click="onZoomClicked()"><i cl***REMOVED***="fa fa-crosshairs"></i></a>
    </div>

    <div ng-if="type" cl***REMOVED***="observation-popup-title">
      {{type}}
    </div>

    <div cl***REMOVED***="observation-popup-subtitle">
      <span ng-if="variant" cl***REMOVED***="icon-spacer strong">
        {{variant}}
      </span>
      <span ng-if="date">
        {{date}}
      </span>
    </div>
  </div>
</div>
