<header id="edit-app-bar" class="mdc-top-app-bar mdc-elevation--z4 feed-top-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <i ng-click="closeObservationView()" class="material-icons mdc-top-app-bar__navigation-icon">arrow_back</i>
      <span class="mdc-top-app-bar__title">
        <span>{{primaryFeedField.value}}</span>
      </span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <button ng-if="canEdit" class="mdc-button mdc-card__action mdc-card__action--button"
        ng-click="editObservation()">
        <span class="mdc-button__label">Edit</span>
      </button>
    </section>
  </div>
</header>
<div class="header-spacer"></div>
<div class="mdc-card observation-view-card">
  <div class="observation-header">
    <div class="observation-thumbnail">
      <img ng-src="{{observation.style.iconUrl}}"/>
    </div>
    <div class="observation-header-content">
      <div class="observation-header-text">
        {{primaryFeedField.value}}
      </div>
      <div class="observation-subhead">
        {{secondaryFeedField.value}}
      </div>
      <div class="observation-subhead">
        {{observationUser.displayName}}
      </div>
    </div>
    <div class="observation-header-content-right">
      <div class="observation-time user-subhead">{{observation.properties.timestamp | moment}}</div>
      <div class="observation-time user-subhead">{{observation.geometry | geometry:5}}</div>
    </div>
  </div>

  <div class="map-clip">
    <div map-clip="observation"></div>
  </div>

  <div ng-if="observation.important" class="observation-supporting-text-container">
    <span>
      <i class="material-icons observation-action-important-active">flag</i>
      <span class="observation-subhead">{{observationImportantUser.displayName}} flagged on {{observation.important.timestamp | moment}}</span>
    </span>
    <div>
      {{observation.important.description}}
    </div>
  </div>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
    </div>
    <div class="mdc-card__action-icons">
      <button ng-if="canEditImportant || observation.important"
        ng-class="{'observation-action-important-active mdc-icon-button--on': observation.important}"
        class="mdc-icon-button mdc-card__action mdc-card__action--icon"
        aria-pressed="false"
        aria-label="Flag as Important"
        title="Flag as Important"
        uib-tooltip="{{canEditImportant && !observation.important ? 'Flag As Important' : 'Flagged as Important'}}"
      uib-popover-template="'observation/observation-important.html'"
      popover-placement="auto"
      popover-is-open="importantPopover.isOpen">
        <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">flag</i>
        <i class="material-icons mdc-icon-button__icon">outlined_flag</i>
      </button>
      <button 
        ng-class="{'observation-action-favorite-active mdc-icon-button--on': isUserFavorite}"
        ng-click="toggleFavorite()"
        class="mdc-icon-button mdc-card__action mdc-card__action--icon"
        aria-pressed="false"
        aria-label="Add to favorites"
        title="Add to favorites">
      <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
      <i class="material-icons mdc-icon-button__icon">favorite_border</i>
    </button>
    <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon"
      title="Download" 
      ng-click="download()">save_alt</button>
    </div>
  </div>
</div>

<div class="mdc-card top-gap media-card"  ng-if="observation.attachments && observation.attachments.length > 0">
    <div ng-if="observation.attachments && (observation.attachments.length % 2) === 1" class="mdc-card__media observation-media media-tile">
        <div attachment="observation.attachments[0]" attachment-observation="observation" edit="false"></div>
      </div>
  <div class="attachments">
    <div class="attachment media-tile" ng-repeat="attachment in observation.attachments track by attachment.id" ng-if="!$first || (observation.attachments.length % 2 === 0)">
      <div attachment="attachment" attachment-observation="observation" edit="false"></div>
    </div>
  </div>
</div>

  <div class="top-gap" ng-repeat="form in observationForm.forms">
    <observation-form-view form="form"></observation-form-view>
  </div>
</div>