<div class="observation-popup">

  <div class="observation-popup-content">
    <div ng-if="type" class="observation-popup-title">
      <strong>{{type}}</strong>
    </div>

    <div class="observation-popup-subtitle">
      <strong class="muted">{{variant}}</strong>
    </div>

    <div class="muted small">{{date}}</div>
  </div>

  <div class="observation-popup-actions">
    <div>
      <a href="javascript:void(0)" title="Show in feed" class="location-popup-info" ng-click="onInfoClicked()"><i class="fa fa-info-circle right-gap"></i></a>
      <a href="javascript:void(0)" title="Zoom to" class="location-popup-info" ng-click="onZoomClicked()"><i class="fa fa-crosshairs"></i></a>
    <div>
  </div>

</div>
