<div>
  <div class="clearfix">
    <i class="fa fa-close pull-right observation-action-important-close pointer" ng-click="closeImportantPopover()"></i>
  </div>

  <div class="bottom-gap" ng-if="observation.important">
    <strong class="small muted">Flagged by {{importantUser.displayName}}</strong>
    <div class="small muted">{{observation.important.timestamp | moment:'fromNow'}}</div>
  </div>

  <form class="form clearfix" ng-if="canEditImportant">
    <div class="form-group">
      <strong class="muted">Description</strong><span> (optional)</span>
      <textarea rows="2" ng-model="importantPopover.description" class="form-control"></textarea>
    </div>

    <button class="btn btn-sm btn-primary pull-right" ng-click="markAsImportant()">{{observation.important ? 'Update' : 'Flag As Important'}}</button>
    <button class="btn btn-sm btn-danger" ng-if="observation.important" ng-click="clearImportant()">Remove</button>
  </form>

  <div class="top-gap" ng-if="!canEditImportant && observation.important.description">
    <p class="muted">{{observation.important.description}}</p>
  </div>
<div>
