<div ng-switch on="attachment.contentType">
  <div ng-class="{'image-delete': attachment.markedForDelete}">
    <a ng-switch-when="image/jpg|image/jpeg|image/png|image/gif" 
       ng-switch-when-separator="|"
       ng-href="{{attachment.url + '?access_token=' + token}}"
       target="_blank">
      <img class="center-crop attachment-media" 
          ng-class="{'image-delete': attachment.markedForDelete}" 
          ng-src="{{attachment.url + '?access_token=' + token + '&size=394' + '&synced=' + attachment.synced + '&oriented=' + attachment.oriented}}"></img>
    </a>
    
    <div ng-switch-when="audio/mp4"  ng-class="{'image-delete': attachment.markedForDelete}">
      <div class="attachment-media attachment-icon" ng-class="{'attachment-media-sm': !fullscreen}">
        <a target="_blank" ng-href="{{attachment.url + '?access_token=' + token}}">
            <i class="fa fa-play attachment-icon"></i>
            <div class="top-gap-s">{{attachment.name | filename:6}}</div>
        </a>
      </div>
    </div>

    <div ng-switch-when="video/mp4">
      <div class="attachment-media" ng-class="{'attachment-media-sm': !fullscreen}">
        <video ng-if="!edit || !amAdmin" controls width="100%" height="100%">
          <source ng-src="{{attachment.url + '?access_token=' + token + '&synced=' + attachment.synced}}" type="video/mp4">
          <div class="attachment-media attachment-icon" ng-class="{'attachment-media-sm': !fullscreen}">
            <a target="_blank" ng-href="{{attachment.url + '?access_token=' + token}}">
              <i class="fa fa-file-video-o attachment-icon"></i>
              <div class="top-gap-s">{{attachment.name | filename:6}}</div>
            </a>
          </div>
        </video>
        <video ng-if="edit && amAdmin" width="100%" height="100%">
          <source ng-src="{{attachment.url + '?access_token=' + token + '&synced=' + attachment.synced}}" type="video/mp4">
          <div class="attachment-media attachment-icon" ng-class="{'attachment-media-sm': !fullscreen}">
            <a target="_blank" ng-href="{{attachment.url + '?access_token=' + token}}">
              <i class="fa fa-file-video-o attachment-icon"></i>
              <div class="top-gap-s">{{attachment.name | filename:6}}</div>
            </a>
          </div>
        </video>
      </div>
    </div>

    <div ng-switch-default>
       <div ng-switch on="attachment.name.substr(attachment.name.lastIndexOf('.') + 1)" ng-switch-when-separator="|">
        <a ng-switch-when="jpg|jpeg|png|gif" 
           ng-switch-when-separator="|"
           ng-href="{{attachment.url + '?access_token=' + token}}" target="_blank">
           <img class="center-crop attachment-media" 
              ng-class="{'image-delete': attachment.markedForDelete}" 
              ng-src="{{attachment.url + '?access_token=' + token + '&size=394' + '&synced=' + attachment.synced + '&oriented=' + attachment.oriented}}"></img>
        </a>
        <div ng-switch-when="mp4">
          <video ng-if="!edit || !amAdmin" class="feed-video" controls width="100%" height="100%">
            <source ng-src="{{attachment.url + '?access_token=' + token + '&synced=' + attachment.synced}}" type="video/mp4">
          </video>
          <video ng-if="edit && amAdmin" class="feed-video">
            <source ng-src="{{attachment.url + '?access_token=' + token + '&synced=' + attachment.synced}}" type="video/mp4">
          </video>
          <i class="icon-mage icon-facetime-video"></i><a target="_blank" ng-href="{{attachment.url + '?access_token=' + token}}"> Download video</a>
        </div>

        <div ng-switch-default  ng-class="{'image-delete': attachment.markedForDelete}">
          <div class="attachment-media attachment-icon" ng-class="{'attachment-media-sm': !fullscreen}">
            <a target="_blank" ng-href="{{attachment.url + '?access_token=' + token}}">
                <i class="fa fa-paperclip attachment-icon"></i>
                <div class="top-gap-s">{{attachment.name | filename:6}}</div>
            </a>
          </div>
        </div>
       </div>
    </div>
  </div>
  <div ng-if="label" class="mdc-chip label-chip">
    <div class="mdc-chip__text">{{label}}</div>
  </div>
  <div ng-show="(edit && amAdmin)" class="image-text-protection">
    <div class="image-action-icons mdc-typography--subtitle1">
      <button ng-if="edit && amAdmin" class="mdc-button undefined mdc-ripple-upgraded delete-attachment-button"
        title="Delete" 
        ng-disabled="attachment.markedForDelete"
        ng-click="deleteAttachment()">
        <i class="material-icons mdc-button__icon">delete</i><span class="mdc-button__label">Delete</span>
      </button>
    </div>
  </div>
</div>