<admin-breadcrumb [breadcrumbs]="breadcrumbs"></admin-breadcrumb>

<div class="page-container">
  <div class="content">
    <div class="settings-card">
      <mat-tab-group color="primary" mat-stretch-tabs>
        <mat-tab label="Banner">
          <div class="tab-panel">
            <security-banner
              (saveComplete)="onBannerSaved($event)"
              (onDirty)="onBannerDirty($event)"
              [beginSave]="onSave"
            ></security-banner>
          </div>
        </mat-tab>

        <mat-tab label="Disclaimer">
          <div class="tab-panel">
            <security-disclaimer
              (saveComplete)="onDisclaimerSaved($event)"
              (onDirty)="onDisclaimerDirty($event)"
              [beginSave]="onSave"
            ></security-disclaimer>
          </div>
        </mat-tab>

        <mat-tab label="Contact Info">
          <div class="tab-panel">
            <contact-info
              (saveComplete)="onContactInfoSaved($event)"
              (onDirty)="onContactInfoDirty($event)"
              [beginSave]="onSave"
            ></contact-info>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="settings__action--save">
      <button
        mat-flat-button
        color="primary"
        (click)="save()"
        [disabled]="!isDirty()"
      >
        <mat-icon>check</mat-icon>
        Save
      </button>
    </div>
  </div>
</div>