<div class="observation-card mdc-typography">
  <div class="observation-header">
    <div class="observation-header-content">
      <div class="observation-overline">
        <div class="">
          <span>{{observation.user.displayName}}</span>
          <span class="">·</span>
          <span class="">{{observation.properties.timestamp | moment}}</span>
        </div>
      </div>

      <div ng-if="primaryFeedField.value">
        <div class="observation-header-text">
          <div ng-switch="primaryFeedField.field.type">
            <div ng-switch-when="geometry">
              {{primary | geometry:5}}
            </div>
            <div ng-switch-default>
              {{primary}}
            </div>
          </div>
        </div>
      </div>

      <div ng-if="secondaryFeedField.value">
        <div class="observation-subhead">
          <span ng-switch="secondaryFeedField.field.type">
            <span ng-switch-when="geometry">
              {{variant | geometry:5}}
            </span>
            <span ng-switch-default>
              {{variant}}
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <button class="mdc-button  mdc-ripple-upgraded" ng-click="onZoomClicked()">
        <span class="mdc-button__ripple"></span>
        <i class="material-icons mdc-button__icon">my_location</i>
        <span class="mdc-button__label">{{observation.geometry | geometry:5}}</span>
      </button>
    </div>
    <div class="mdc-card__action-icons">
      <button class="material-icons-outlined mdc-icon-button mdc-card__action mdc-card__action--icon"
        title="View" 
        ng-click="onInfoClicked()">info</button>
    </div>
  </div>
</div>