:host {
  height: 100%;
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-content {
  flex: 1;
}

mat-sidenav-container {
  height: 100%;
}

.preferences-toolbar {
  display: flex;
  align-items: flex-end;
}

.feed {
  background: var(--mat-sys-surface-container);
  order: 1;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: margin-left .3s linear;
}

.feeds-nav {
  --mat-sidenav-container-width: 500px;
  --mat-sidenav-container-shape: 0;
  --mat-sidenav-container-background-color: var(--mat-sys-surface-container);
  max-width: 100%;
}