<div class="export">
  <div class="export-panel">
    <h2 mat-dialog-title>Export Data</h2>

    <mat-dialog-content class="export-content">
      <div class="section-title">What to Export</div>
      <div class="export-options">
        <mat-checkbox [(ngModel)]="exportObservations">Observations</mat-checkbox>
        <mat-checkbox [(ngModel)]="exportLocations">Locations</mat-checkbox>
      </div>

      <div class="section-title">Export Format</div>
      <div class="export-format">
        <mat-chip-listbox class="export-format__chips" [(ngModel)]="exportFormat"
          [hideSingleSelectionIndicator]="true">
          <mat-chip-option *ngFor="let format of exportFormats" [value]="format" (click)="changeFormat(format)">
            {{format}}
          </mat-chip-option>
        </mat-chip-listbox>
      </div>

      <div class="section-title">Time</div>
      <mat-form-field class="time-field" appearance="outline">
        <mat-label>Time Range</mat-label>
        <mat-select [(ngModel)]="exportTime">
          <mat-option *ngFor="let option of exportTimeOptions" [value]="option.key">{{option.label}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="exportTime === 'custom'">
        <datetime-picker title="Start" required="true" [datetime]="defaultStartDate"
          (dateTimeChange)="onStartDate($event)"></datetime-picker>
        <datetime-picker title="End" required="true" [datetime]="defaultEndDate"
          (dateTimeChange)="onEndDate($event)"></datetime-picker>
      </div>

      <div class="advanced">
        <div class="advanced-header">
          <div class="section-title">More Options</div>
          <button matIconButton (click)="onAdvanced()">
            <mat-icon [@rotate]="showAdvanced">expand_more</mat-icon>
          </button>
        </div>

        <div class="advanced-content" *ngIf="showAdvanced" [@expand] #advanced>
          <mat-checkbox [(ngModel)]="excludeObservationsAttachments">Exclude all attachments</mat-checkbox>
          <mat-checkbox [(ngModel)]="exportFavoriteObservations">Export only your favorite observations</mat-checkbox>
          <mat-checkbox [(ngModel)]="exportImportantObservations">Export only observations flagged important</mat-checkbox>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button matButton mat-dialog-close="closeAction">Cancel</button>
      <button matButton (click)="exportData()" cdkFocusInitial>Export</button>
    </mat-dialog-actions>
  </div>
</div>
