<div>
  <button class="third-party-button" mat-flat-button color="primary" (click)="signin()" [ngStyle]="{'background-color': strategy.buttonColor, 'border-color': strategy.buttonColor}">
    <span class="third-party-button-content">
      <span *ngIf="!strategy.icon" class="third-party-logo">
        <mat-icon [ngStyle]="{'color': strategy.buttonColor}">lock</mat-icon>
      </span>
      <span *ngIf="strategy.icon" class="third-party-logo">
        <img src="data:image/png;base64,{{strategy.icon}}">
      </span>
    </span>

    <span class="third-party-button-text" [ngStyle]="{color: strategy.textColor}">Sign In With {{strategy.title}}</span>
  </button>
</div>