<div class="container top-gap-xl">
  <div class="row">
    <div class="col-md-12">
      <h2>Password Reset</h2>
      <h5>You must reset your password before continuing to MAGE.</h5>
    </div>
  </div>

  <div class="row top-gap-l">
    <div class="col-md-6">

      <form name="passwordReset" ng-submit="resetPassword()" class="form-horizontal">
        <div class="top-gap" ng-class="{'has-error': passwordReset.password.$touched && !passwordReset.password.$valid}">
          <label class="control-label col-sm-4">Current Password</label>
          <div class="col-sm-8">
            <input type="password" ng-model="account.password" name="password" class="form-control" required>
            <div ng-messages="passwordReset.password.$error" ng-if='passwordReset.password.$touched && !passwordReset.password.$valid'>
              <div ng-message="required" class="help-block">This field is required</div>
            </div>
          </div>
        </div>

        <div class="top-gap" ng-class="{'has-error': passwordReset.newPassword.$touched && !passwordReset.newPassword.$valid}">
          <label class="control-label col-sm-4">New Password</label>
          <div class="col-sm-8">
            <input type="password" ng-model="account.newPassword" name="newPassword" class="form-control" required>
            <div ng-messages="passwordReset.newPassword.$error" ng-if='passwordReset.newPassword.$touched && !passwordReset.newPassword.$valid'>
              <div ng-message="required" class="help-block">This field is required</div>
            </div>
          </div>
        </div>

        <div class="top-gap" ng-class="{'has-error': passwordReset.newPasswordconfirm.$touched && !passwordReset.newPasswordconfirm.$valid}">
          <label class="control-label col-sm-4">Confirm New Password</label>
          <div class="col-sm-8">
            <input type="password" ng-model="account.newPasswordconfirm" name="newPasswordconfirm" class="form-control" required>
            <div ng-messages="passwordReset.newPasswordconfirm.$error" ng-if='passwordReset.newPasswordconfirm.$touched && !passwordReset.newPasswordconfirm.$valid'>
              <div ng-message="required" class="help-block">This field is required</div>
            </div>
          </div>
        </div>

        <span class="pull-right">
          <button type="submit" class="btn btn-primary">Change password</button>
        </span>
      </form>

    </div>

  </div>

  <!-- Status message area -->
  <div class="row top-gap" ng-show="showStatus">
    <div class="col-md-6 alert" ng-class="statusLevel">
      <button type="button" class="close" ng-click="setShowStatus(false)">&times;</button>
      <h4>{{statusTitle}}</h4>
      {{statusMessage}}
    </div>
  </div>

</div>
