<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb" ng-if="layer.id">
      <li><a href="#/admin"><i class="fa fa-dashboard admin-dashboard"></i>Dashboard</a></li>
      <li><a href="#/admin/layers">Layers</a></li>
      <li><a ng-href="#/admin/layers/{{layer.id}}">{{layer.name}}</a></li>
      <li class="active">Edit</li>
    </ol>
    <ol class="breadcrumb" ng-if="!layer.id">
      <li><a href="#/admin"><i class="fa fa-dashboard admin-dashboard"></i>Dashboard</a></li>
      <li><a href="#/admin/layers">Layers</a></li>
      <li class="active">New</li>
    </ol>
  </div>
</div>

<div class="content-flex">

  <div class="content-inner">

    <div class="container bottom-gap-l">

      <div class="row">
        <div class="col-md-12">
          <h2 ng-if="layer.id">Edit layer: {{layer.name}}</h2>
          <h2 ng-if="!layer.id">New layer</h2>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-6" ng-show="layer">

          <form ng-submit="saveLayer()" class="form">

            <div class="form-group top-gap-l" ng-show="layer.id == undefined">
              <label class="radio-inline">
                <input type="radio" name="layer-type" value="Imagery" ng-model="layer.type"> Imagery
              </label>
              <label class="radio-inline">
                <input type="radio" name="layer-type" value="Feature" ng-model="layer.type"> Static
              </label>
            </div>

            <div class="form-group">
              <label class="control-label">Layer name</label>
              <input class="form-control" type="text" placeholder="i.e. HurricaneSandy" ng-model="layer.name"/>
            </div>

            <div class="form-group" ng-show="layer.type == 'Imagery'">
              <label class="control-label">Layer URL</label>
              <input class="form-control" type="text" class="input-xxlarge" placeholder="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" ng-model="layer.url"/>
            </div>

            <div class="form-group">
              <label class="control-label">Description</label>
              <textarea class="form-control" type="text" placeholder="Brief description of the layer." ng-model="layer.description"/>
            </div>

            <div class="form-group" ng-show="layer.type == 'Imagery'">
             <div class="checkbox">
               <label>
                 <input type="checkbox" name="layer-type" ng-model="layer.base"> Base Layer
               </label>
             </div>
           </div>

            <div class="form-group" ng-show="layer.type == 'Imagery'">
              <label class="radio-inline">
                <input type="radio" name="layer-format" value="XYZ" ng-model="layer.format"> XYZ
              </label>
              <label class="radio-inline">
                <input type="radio" name="layer-format" value="TMS" ng-model="layer.format"> TMS
              </label>
              <label class="radio-inline">
                <input type="radio" name="layer-format" value="WMS" ng-model="layer.format"> WMS
              </label>
            </div>

            <div class="form-group" ng-show="layer.format == 'WMS' && layer.type == 'Imagery'">
              <label class="control-label">Layers</label>
              <input class="form-control" class="input-xlarge" type="text" placeholder="Comma seperated list of layer names" ng-model="layer.wms.layers"/>
            </div>

            <div class="form-group" ng-show="layer.format == 'WMS' && layer.type == 'Imagery'">
              <label class="control-label">Styles</label>
              <input class="form-control" class="input-xlarge" type="text" placeholder="Comma seperated list of layer styles" ng-model="layer.wms.styles"/>
            </div>

            <div class="form-group" ng-show="layer.format == 'WMS' && layer.type == 'Imagery'">
              <label class="control-label" for="type">Format</label>
              <select class="form-control" ng-model="layer.wms.format" ng-options="format for format in wmsFormats"></select>
            </div>

            <div class="form-group" ng-show="layer.format == 'WMS' && layer.type == 'Imagery'">
             <div class="checkbox">
               <label>
                 <input type="checkbox" name="layer-wms-transparency" ng-model="layer.wms.transparent"> Transparent
               </label>
             </div>
           </div>

            <div class="form-group" ng-show="layer.format == 'WMS' && layer.type == 'Imagery'">
              <label class="control-label" for="type">Version</label>
              <select class="form-control" ng-model="layer.wms.version" ng-options="version for version in wmsVersions"></select>
            </div>

            <span class="pull-right">
              <a class="btn btn-default" ng-class="{'disabled': saving}" ng-click="cancel()">Cancel</a>
              <a class="btn btn-success" ng-class="{'disabled': saving}" ng-click="saveLayer(layer)"><i class="fa fa-check"></i> Save</a>
            </span>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
