<div cl***REMOVED***="modal-header">
  <h3>Please Confirm Delete '{{layer.name}}'</h3>
</div>
<div cl***REMOVED***="modal-body">
  <div cl***REMOVED***="row-fluid"><h4>Layer '{{layer.name}}' will be deleted.  <strong>This cannot be undone<strong>.  All data will be unrecoverable.</h4></div>
  <div cl***REMOVED***="row-fluid"><h4>Do you want to delete the layer '{{layer.name}}'?<h4></div>
  <span>
    <button cl***REMOVED***="btn btn-danger" ng-click="deleteLayer(layer, true)" ngm-tap="deleteLayer(layer, true)"><i cl***REMOVED***="icon-trash"> </i>Confirm Delete Layer</button>
    <button cl***REMOVED***="btn pull-right" ng-click="cancel()" ngm-tap="cancel()">Cancel</button>
  </span>
</div>
