<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb" ng-if="$ctrl.layer.id">
      <li><i class="fa fa-map admin-dashboard"></i> <a href="#/admin/layers">Layers</li></a>
      <li><a ng-href="#/admin/layers/{{$ctrl.layer.id}}">{{$ctrl.layer.name}}</a></li>
      <li class="active">Edit</li>
    </ol>
    <ol class="breadcrumb" ng-if="!$ctrl.layer.id">
      <li><i class="fa fa-map admin-dashboard"></i> <a href="#/admin/layers">Layers</li></a>
      <li class="active">New</li>
    </ol>
  </div>
</div>

<div class="container bottom-gap-l">
  <div class="row">
    <div class="col-md-12">
      <h2 ng-if="$ctrl.layer.id">Edit layer: {{$ctrl.layer.name}}</h2>
      <h2 ng-if="!$ctrl.layer.id">New layer</h2>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-12" ng-show="$ctrl.layer">

      <form ng-submit="$ctrl.saveLayer()" class="form">
        <div ng-show="$ctrl.layer.id == undefined" class="bottom-gap">
          <div class="radio">
            <label>
              <input type="radio" name="layer-type" value="Imagery" ng-model="$ctrl.layer.type"> Imagery <span class="muted"> (WMS, XYZ or TMS Layers)</span>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="layer-type" value="Feature" ng-model="$ctrl.layer.type"> Static <span class="muted"> (KML)</span>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="layer-type" value="GeoPackage" ng-model="$ctrl.layer.type"> GeoPackage
            </label>
          </div>
        </div>

        <div class="form-group" ng-if="$ctrl.layer.type === 'GeoPackage' && !$ctrl.layer.id">
          <label class="control-label">Choose GeoPackage File</label>
          <file-browser on-file-chosen="$ctrl.fileChosen($event)"></file-browser>
        </div>

        <div class="form-group">
          <label class="control-label">Layer name</label>
          <input class="form-control" type="text" placeholder="i.e. HurricaneSandy" ng-model="$ctrl.layer.name"/>
        </div>

        <div class="form-group" ng-show="$ctrl.layer.type === 'Imagery'">
          <label class="control-label">Layer URL</label>
          <input class="form-control" type="text" class="input-xxlarge" placeholder="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" ng-model="$ctrl.layer.url"/>
        </div>

        <div class="form-group">
          <label class="control-label">Description</label>
          <textarea class="form-control" type="text" placeholder="Brief description of the layer." ng-model="$ctrl.layer.description"/>
        </div>

        <div class="form-group" ng-show="$ctrl.layer.type === 'Imagery'">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="layer-type" ng-model="$ctrl.layer.base"> Base Layer
            </label>
          </div>
        </div>

        <div class="form-group" ng-show="$ctrl.layer.type === 'Imagery'">
          <label class="radio-inline">
            <input type="radio" name="layer-format" value="XYZ" ng-model="$ctrl.layer.format"> XYZ
          </label>
          <label class="radio-inline">
            <input type="radio" name="layer-format" value="TMS" ng-model="$ctrl.layer.format"> TMS
          </label>
          <label class="radio-inline">
            <input type="radio" name="layer-format" value="WMS" ng-model="$ctrl.layer.format"> WMS
          </label>
        </div>

        <div class="form-group" ng-show="$ctrl.layer.format === 'WMS' && $ctrl.layer.type === 'Imagery'">
          <label class="control-label">Layers</label>
          <input class="form-control" class="input-xlarge" type="text" placeholder="Comma seperated list of layer names" ng-model="$ctrl.layer.wms.layers"/>
        </div>

        <div class="form-group" ng-show="$ctrl.layer.format === 'WMS' && $ctrl.layer.type === 'Imagery'">
          <label class="control-label">Styles</label>
          <input class="form-control" class="input-xlarge" type="text" placeholder="Comma seperated list of layer styles" ng-model="$ctrl.layer.wms.styles"/>
        </div>

        <div class="form-group" ng-show="$ctrl.layer.format === 'WMS' && $ctrl.layer.type === 'Imagery'">
          <label class="control-label" for="type">Format</label>
          <select class="form-control" ng-model="$ctrl.layer.wms.format" ng-options="format for format in $ctrl.wmsFormats"></select>
        </div>

        <div class="form-group" ng-show="$ctrl.layer.format === 'WMS' && $ctrl.layer.type === 'Imagery'">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="layer-wms-transparency" ng-model="$ctrl.layer.wms.transparent"> Transparent
            </label>
          </div>
        </div>

        <div class="form-group" ng-show="$ctrl.layer.format === 'WMS' && $ctrl.layer.type === 'Imagery'">
          <label class="control-label" for="type">Version</label>
          <select class="form-control" ng-model="$ctrl.layer.wms.version" ng-options="version for version in w$ctrl.msVersions"></select>
        </div>

        <div class="clearfix">
          <span class="pull-right">
            <a class="btn btn-default" ng-class="{'disabled': $ctrl.saving}" ng-click="$ctrl.cancel()">Cancel</a>
            <a class="btn btn-success" ng-class="{'disabled': $ctrl.saving}" ng-click="$ctrl.saveLayer($ctrl.layer)"><i class="fa fa-check"></i> Save</a>
          </span>
        </div>

        <div ng-if="$ctrl.saving && $ctrl.layer.type === 'GeoPackage' && $ctrl.layer.geopackage" class="form-group top-gap">
          <uib-progressbar max="$ctrl.total" value="$ctrl.progress"><span style="color:white; white-space:nowrap;">{{$ctrl.progress | filesize}} / {{$ctrl.total | filesize}}</span></uib-progressbar>
        </div>

      </form>
    </div>
  </div>
</div>
