<div class="admin">
  <div admin-tab="'layers'"></div>

  <div class="admin-main">
    <div class="admin-nav-gap">
      <div class="container-fluid">
        <ol class="breadcrumb">
          <li><i class="fa fa-map admin-dashboard"></i> <a href="#/admin/layers">Layers</li></a>
          <li class="active">{{layer.name}}</li>
        </ol>
      </div>
    </div>

    <div class="admin-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-1 col-md-10" ng-show="layer">

            <div class="row">
              <div class="col-md-10">
                <h2>Layer: {{layer.name}}</h2>
              </div>
              <div class="col-md-2" ng-if="hasLayerEditPermission">
                <h2>
                  <button class="btn btn-default pull-right" ng-click="editLayer(layer)"><i class="fa fa-edit"></i> Edit</button>
                </h2>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-6 col-xs-12">

                <div class="row">
                  <div class="col-md-3">
                    <span class="muted">Name:&nbsp;</span>
                  </div>
                  <div class="col-md-9">
                    <span>{{layer.name}}</span>
                  </div>
                </div>

                <div class="row top-gap-s">
                  <div class="col-md-3">
                    <span class="muted">Type:&nbsp;</span>
                  </div>
                  <div class="col-md-9">
                    <span>{{layer.type}}</span>
                  </div>
                </div>

                <div class="row top-gap-s" ng-show="layer.type == 'Imagery'">
                  <div class="col-md-3">
                    <span class="muted">Base Layer:&nbsp;</span>
                  </div>
                  <div class="col-md-9">
                    <span>{{layer.base}}</span>
                  </div>
                </div>

                <div class="row top-gap-s" ng-show="layer.type == 'Imagery'">
                  <div class="col-md-3">
                    <span class="muted">Format:&nbsp;</span>
                  </div>
                  <div class="col-md-9">
                    <span>{{layer.format}}</span>
                  </div>
                </div>

                <div class="row top-gap-s" ng-show="layer.type == 'Imagery'">
                  <div class="col-md-3">
                    <span class="muted">URL:&nbsp;</span>
                  </div>
                  <div class="col-md-9">
                    <span>{{layer.url}}</span>
                  </div>
                </div>

                <div class="row top-gap-s" ng-show="layer.format == 'WMS' && layer.type == 'Imagery'">
                  <div class="col-md-3">
                    <span class="muted">Layers:&nbsp;</span>
                  </div>
                  <div class="col-md-9">
                    <span>{{layer.wms.layers}}</span>
                  </div>
                </div>

                <div class="row top-gap-s" ng-show="layer.format == 'WMS' && layer.type == 'Imagery'">
                  <div class="col-md-3">
                    <span class="muted">Styles:&nbsp;</span>
                  </div>
                  <div class="col-md-9">
                    <span>{{layer.wms.styles}}</span>
                  </div>
                </div>

                <div class="row top-gap-s" ng-show="layer.format == 'WMS' && layer.type == 'Imagery'">
                  <div class="col-md-3">
                    <span class="muted">Format:&nbsp;</span>
                  </div>
                  <div class="col-md-9">
                    <span>{{layer.wms.format}}</span>
                  </div>
                </div>

                <div class="row top-gap-s" ng-show="layer.format == 'WMS' && layer.type == 'Imagery'">
                  <div class="col-md-3">
                    <span class="muted">Transparent:&nbsp;</span>
                  </div>
                  <div class="col-md-9">
                    <span>{{layer.wms.transparent}}</span>
                  </div>
                </div>

                <div class="row top-gap-s" ng-show="layer.format == 'WMS' && layer.type == 'Imagery'">
                  <div class="col-md-3">
                    <span class="muted">Version:&nbsp;</span>
                  </div>
                  <div class="col-md-9">
                    <span>{{layer.wms.version}}</span>
                  </div>
                </div>

                <div class="row top-gap-s bottom-gap">
                  <div class="col-md-3">
                    <span class="muted">Description:&nbsp;</span>
                  </div>
                  <div class="col-md-9">
                    <span>{{layer.description}}</span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card" ng-if="hasLayerDeletePermission">
                  <div class="card-content">
                    <strong class="text-danger">Delete layer</strong>
                    <p class="text-danger">Deleting layer will remove all information. This cannot be undone, all layer data will be unrecoverable.</p>
                    <button class="btn btn-danger top-gap" ng-click="deleteLayer(layer)"> <i class="fa fa-trash-o"></i> Delete</button>
                  </div>
                </div>
              </div>

            </div>

            <hr>

            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="row">
                  <div class="col-md-12">
                    <nav class="navbar navbar-default admin-dashboard-navbar">
                      <div class="container-fluid">
                        <div class="navbar-header">
                          <a class="navbar-brand">Add layer to an event</a>
                        </div>
                      </div>
                    </nav>
                  </div>
                </div>

                <div class="admin-table">
                  <div class="well-item">
                    <div class="row">
                      <div class="col-md-12">
                        <ui-select ng-model="event.selected" theme="bootstrap">
                          <ui-select-match placeholder="Select an event">{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices repeat="event in nonLayerEvents | orderBy: 'name' | filter: $select.search">
                            <div ng-bind-html="event.name | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                       <div class="col-md-12">
                         <button class="btn btn-success" ng-click="addEventToLayer(event.selected)" ng-disabled="event.selected == null"><i class="fa fa-plus"></i> Add Event</button>
                       </div>
                    </div>
                  </div>
                </div>

                <div class="row top-gap-l">
                  <div class="col-md-12">
                    <nav class="navbar navbar-default admin-dashboard-navbar">
                      <div class="container-fluid">
                        <div class="navbar-header">
                          <a class="navbar-brand">Events for {{layer.name}}</a>
                        </div>

                        <form class="navbar-form navbar-left">
                          <div class="top-gap">
                            <input type="text" class="form-control" placeholder="Search" ng-model="eventSearch">
                          </div>
                        </form>
                        <div class="navbar-form navbar-right right-gap-s">
                          <button class="btn btn-default navbar-right" ng-click="editEvent = !editEvent">Edit</button>
                        </div>
                      </div>
                    </nav>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="admin-table">
                      <div class="well-item"
                          ng-repeat="e in (filteredEvents = (layerEvents | filter:filterEvents)) | orderBy:'name' | offset: eventsPage*eventsPerPage | limitTo:eventsPerPage" >
                        <div class="row pointer" ng-click="gotoEvent(e)">
                          <div class="col-md-12">
                            <span class="pull-right" ng-show="editEvent">
                              <a class="btn btn-xs btn-danger" ng-click="removeEventFromLayer($event, e)"><i class="fa fa-minus"></i></a>
                            </span>

                            <div class="right-gap pull-left">
                              <i class="fa fa-calendar admin-layer-icon"></i>
                            </div>
                            <div class="strong">{{e.name}}</div>
                            <div class="muted">{{e.description}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <ul class="pager pull-right">
                      <li ng-class="{'disabled': eventsPage == 0}">
                        <a href="javascript:void(0);" ng-click="eventsPage == 0 || (eventsPage=eventsPage-1)">&larr; Previous</a>
                      </li>
                      <li ng-class="{'disabled': eventsPage >= (filteredEvents.length/eventsPerPage) - 1}">
                        <a href="javascript:void(0);" ng-click="eventsPage >= (filteredEvents.length/eventsPerPage) - 1 || (eventsPage=eventsPage+1)">Next&rarr;</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-xs-12" ng-if="layer.type === 'Feature' && hasLayerEditPermission">
                <div class="row">
                  <div class="col-md-12">
                    <nav class="navbar navbar-default admin-dashboard-navbar">
                      <div class="container-fluid">
                        <div class="navbar-header">
                          <a class="navbar-brand">Add KML data</a>
                        </div>
                      </div>
                    </nav>
                  </div>
                </div>

                <div class="admin-table">
                  <div class="well-item">
                    <div ng-show="layer.type == 'Feature'">
                      <div ng-repeat="upload in uploads" class="bottom-gap">
                        <form enctype="multipart/form-data" file-upload url="{{fileUploadOptions.url}}" allow-upload="uploadConfirmed" upload-file-form-name="'file'" upload-id="$index">
                        </form>

                        <div ng-if="status[$index]"><span>Created {{status[$index].features}} features from file {{status[$index].name}} </span></div>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-12">
                        <button class="btn btn-primary" ng-click="addUploadFile()">Add KML File</button>
                        <button class="btn btn-success" ng-click="confirmUpload()">Upload File(s)</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
