<div cl***REMOVED***="admin-nav-gap">
  <div cl***REMOVED***="container-fluid">
    <ol cl***REMOVED***="breadcrumb" ng-if="user.id">
      <li><i cl***REMOVED***="fa fa-dashboard"></i><a href="#/admin">&nbsp;&nbsp;Dashboard</a></li>
      <li><a href="#/admin/users">Users</a></li>
      <li><a ng-href="#/admin/users/{{user.id}}">{{user.username}}</a></li>
      <li cl***REMOVED***="active">Edit</li>
    </ol>
    <ol cl***REMOVED***="breadcrumb" ng-if="!user.id">
      <li><i cl***REMOVED***="fa fa-dashboard"></i><a href="#/admin">&nbsp;&nbsp;Dashboard</a></li>
      <li><a href="#/admin/users">Users</a></li>
      <li cl***REMOVED***="active">New</li>
    </ol>
  </div>
</div>

<div cl***REMOVED***="content-flex">

  <div cl***REMOVED***="content-inner">

    <div cl***REMOVED***="container bottom-gap-l">

      <div cl***REMOVED***="row">
        <div cl***REMOVED***="col-md-12">
          <h2 ng-if="user.id">Edit user: {{user.username}}</h2>
          <h2 ng-if="!user.id">New user</h2>
        </div>
      </div>
      <hr>

      <div cl***REMOVED***="row">
        <div cl***REMOVED***="col-md-6" ng-show="user">

          <form ng-submit="saveUser()" cl***REMOVED***="form">

            <div avatar-user="user"></div>
            <div icon-user="user"></div>

            <div cl***REMOVED***="form-group top-gap-l">
              <label >Username</label>
              <input type="text" placeholder="i.e. jappleseed" ng-model="user.username" name="username" cl***REMOVED***="form-control">
            </div>

            <div cl***REMOVED***="form-group">
              <label cl***REMOVED***="control-label">First Name</label>
              <input type="text" placeholder="Johnny" ng-model="user.firstname" name="firstname" cl***REMOVED***="form-control">
            </div>

            <div cl***REMOVED***="form-group">
              <label cl***REMOVED***="control-label">Last Name</label>
              <input type="text" placeholder="Appleseed" ng-model="user.lastname" name="lastname" cl***REMOVED***="form-control">
            </div>

            <div cl***REMOVED***="form-group">
              <label cl***REMOVED***="control-label">Email</label>
              <input type="text" placeholder="johnny@appleseed.com" ng-model="user.email" name="email" cl***REMOVED***="form-control">
            </div>

            <div cl***REMOVED***="form-group">
              <label cl***REMOVED***="control-label">Phone</label>
              <input type="text" placeholder="(xxx) xxx-xxxx" ng-model="user.phone" name="phone" cl***REMOVED***="form-control">
            </div>

            <div cl***REMOVED***="form-group">
              <label cl***REMOVED***="control-label">P***REMOVED***word</label>
              <input type="p***REMOVED***word" placeholder="14 characters, alphanumeric" ng-model="user.p***REMOVED***word" name="p***REMOVED***word" cl***REMOVED***="form-control">
            </div>

            <div cl***REMOVED***="form-group">
              <label cl***REMOVED***="control-label">Confirm P***REMOVED***word</label>
              <input type="p***REMOVED***word" placeholder="14 characters, alphanumeric" ng-model="user.p***REMOVED***wordconfirm" name="p***REMOVED***wordconfirm" cl***REMOVED***="form-control">
            </div>

            <div cl***REMOVED***="form-group">
              <label cl***REMOVED***="control-label">Role</label>
              <select cl***REMOVED***="form-control" ng-model="user.role.id" ng-options="role.id as role.name for role in roles"></select>
            </div>

            <span cl***REMOVED***="pull-right">
              <a cl***REMOVED***="btn btn-default" ng-cl***REMOVED***="{'disabled': saving}" ng-click="cancel()">Cancel</a>
              <a cl***REMOVED***="btn btn-success" ng-cl***REMOVED***="{'disabled': saving}" ng-click="saveUser(user)"><i cl***REMOVED***="fa fa-check"></i> Save</a>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
