<div class="admin">
  <div admin-tab="'users'"></div>

  <div class="admin-main">
    <div class="admin-nav-gap">
      <div class="container-fluid">
        <ol class="breadcrumb" ng-if="user.id">
          <li><i class="fa fa-user admin-dashboard"></i> <a href="#/admin/users">Users</li></a>
          <li><a ng-href="#/admin/users/{{user.id}}">{{user.displayName}}</a></li>
          <li class="active">Edit</li>
        </ol>
        <ol class="breadcrumb" ng-if="!user.id">
          <li><i class="fa fa-user admin-dashboard"></i> <a href="#/admin/users">Users</li></a>
          <li class="active">New</li>
        </ol>
      </div>
    </div>

    <div class="admin-content">
      <div class="container top-gap">

        <div class="row bottom-gap">
          <div class="col-sm-10">
            <div class="card">
              <div class="card-content">

                <h3 style="display: inline;" ng-if="user.id">{{user.displayName}}</h3>
                <h3 style="display: inline;" ng-if="!user.id">New user</h3>
                <hr>

                <div class="row top-gap-l">
                  <div class="col-md-12">
                    <form ng-submit="saveUser(user)" class="form-horizontal" name="account" method="post" autocomplete="off">

                        <div class="top-gap" ng-show="!user.id || user.authentication.type == 'local'">
                          <label class="control-label col-sm-2">Username</label>
                          <div class="col-sm-10">
                            <input type="text" ng-model="user.username" class="form-control" ng-disabled="user.id && user.authentication.type === local"/>
                          </div>
                        </div>

                        <div class="top-gap">
                          <label class="control-label col-sm-2" for="type">Display Name</label>
                          <div class="col-sm-10">
                            <input type="text" placeholder="Johnny Appleseed" ng-model="user.displayName" name="displayName" class="form-control">
                          </div>
                        </div>

                        <div class="top-gap">
                          <label class="control-label col-sm-2" for="type">Email</label>
                          <div class="col-sm-10">
                            <input type="text" placeholder="johnny@appleseed.com" ng-model="user.email" name="email" class="form-control">
                          </div>
                        </div>

                        <div class="top-gap">
                          <label class="control-label col-sm-2" for="type">Phone</label>
                          <div class="col-sm-10">
                            <input type="text" placeholder="(xxx) xxx-xxxx" ng-model="user.phones[0].number" name="phone" class="form-control">
                          </div>
                        </div>

                        <div class="top-gap" ng-class="{error: 'has-error', success: 'hs-success'}[passwordStatus.status]" ng-if="!user.id">
                          <label class="control-label col-sm-2">Password</label>
                          <div class="col-sm-10">
                            <input type="password" placeholder="{{passwordPlaceholder}}" ng-model="user.password" name="password" class="form-control">
                            <span class="help-inline" ng-show="passwordStatus.status">{{passwordStatus.msg}}</span>
                          </div>
                        </div>

                        <div class="top-gap" ng-class="{error: 'has-error', success: 'has-success'}[passwordStatus.status]" ng-if="!user.id">
                          <label class="control-label col-sm-2">Confirm Password</label>
                          <div class="col-sm-10">
                            <input type="password" placeholder="{{passwordPlaceholder}}" ng-model="user.passwordconfirm" name="passwordconfirm" class="form-control">
                            <span class="help-inline" ng-show="passwordStatus.status">{{passwordStatus.msg}}</span>
                          </div>
                        </div>

                        <div class="top-gap">
                          <label class="control-label col-sm-2" for="type">Role</label>
                          <div class="col-sm-10">
                            <select class="form-control" ng-model="user.role.id" ng-options="role.id as role.name for role in roles" ng-disabled="!canEditRole"></select>
                          </div>
                        </div>

                        <div class="top-gap">
                          <label class="control-label col-sm-2">Avatar</label>
                          <div class="col-sm-8">
                            <div avatar-user-edit="user"/>
                          </div>
                        </div>

                        <div class="top-gap">
                          <label class="control-label col-sm-2">Map Icon</label>
                          <div class="col-sm-8">
                            <label class="radio-inline">
                              <input type="radio" name="inlineRadioOptions" value="none" ng-model="iconMetadata.type"> None
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="inlineRadioOptions" value="create" ng-model="iconMetadata.type"> Create
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="inlineRadioOptions" value="upload" ng-model="iconMetadata.type"> Upload
                            </label>
                          </div>
                        </div>

                        <div class="top-gap" ng-if="iconMetadata.type === 'create'">
                          <div class="col-sm-8 col-sm-offset-2">
                            <div class="user-icon-container">
                              <div class="user-icon">
                                <div map-icon="iconMetadata"></div>
                              </div>
                              <div class="user-icon-initials">
                                <input class="form-control user-map-icon" type="text" ng-model="iconMetadata.text" maxlength="2">
                              </div>
                              <div class="user-icon-color">
                                <input minicolors="minicolorSettings" class="form-control" type="text" ng-model="iconMetadata.color">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="top-gap" ng-if="iconMetadata.type === 'upload'">
                          <div class="col-sm-8 col-sm-offset-2">
                            <div icon-user-edit="user"></div>
                          </div>
                        </div>

                        <div>
                          <span class="pull-right">
                            <a class="btn btn-default" ng-class="{'disabled': saving}" ng-click="cancel()">Cancel</a>
                            <button type="submit" class="btn btn-success" ng-class="{'disabled': saving}"><i class="fa fa-check"></i> Save</button>
                          </span>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row top-gap-l bottom-gap" ng-show="user.authentication.type === 'local' && canUpdatePassword">
          <div class="col-sm-10">

            <div class="card">
              <div class="card-content">
                <div class="admin-password-container">
                  <div>
                    <i class="fa fa-fw fa-2x muted fa-lock"></i>
                  </div>
                  <div class="admin-password-text">
                    <div><span>Update Password</span></div>
                    <div><span class="muted">Reset users password</span></div>
                  </div>
                  <div>
                    <button class="btn btn-default pull-right" ng-click="editPassword = !editPassword">{{editPassword ? 'Close' : 'Edit'}}</button>
                  </div>
                </div>

                <div ng-show="editPassword">
                  <hr>
                  <form ng-submit="updatePassword(authentication)" name="authentication" class="form-horizontal clearfix" autocomplete="off" method="post" novalidate>

                    <div class="top-gap">
                      <label class="control-label col-sm-2">Password</label>
                      <div class="col-sm-10" ng-class="{'has-error': authentication.$submitted && authentication.password.$invalid}">
                        <input type="password" ng-model="user.password" name="password" placeholder="{{passwordPlaceholder}}" class="form-control" required>
                        <div class="help-block" ng-messages="authentication.$submitted && authentication.password.$error" ng-if="authentication.password.$invalid">
                          <div ng-message="required">Password is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="top-gap">
                      <label class="control-label col-sm-2">Re-type Password</label>
                      <div class="col-sm-10" ng-class="{'has-error': authentication.$submitted && authentication.passwordconfirm.$invalid}">
                        <input type="password" ng-model="user.passwordconfirm" name="passwordconfirm" placeholder="{{passwordPlaceholder}}" class="form-control" required>
                        <div class="help-block" ng-messages="authentication.passwordconfirm.$error" ng-if="authentication.$submitted && authentication.passwordconfirm.$invalid">
                          <div ng-message="required">New password confirmation is required</div>
                          <div ng-messages="nomatch">Passwords do not match</div>
                        </div>
                      </div>
                    </div>

                    <div class="top-gap">
                      <div class="col-md-offset-2 col-sm-10">
                        <div><strong class="muted">Password Strength: <span class="text-{{passwordStrengthType}}">{{passwordStrength}}<span></strong></div>
                        <uib-progressbar max="5" value="passwordStrengthScore" type="{{passwordStrengthType}}"></uib-progressbar>
                      </div>
                    </div>

                    <div class="top-gap">
                      <div class="col-md-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary pull-right">Change password</button>
                      </div>
                    </div>

                    <div class="top-gap">
                      <div class="top-gap clearfix col-md-offset-2 col-sm-10" ng-if="passwordStatus.msg">
                        <div class="alert alert-{{passwordStatus.status}}">
                          <p>{{passwordStatus.msg}}<p>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row top-gap" ng-if="error">
          <div class="col-md-10">
            <div class="alert alert-danger">
              <h4>Error Saving User</h4>
              <span>{{error}}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
