<div class="dialog-modal">
    <div class="dialog-header">
        <h2 class="dialog-title">Create a New Layer</h2>
    </div>

    <div class="dialog-content">
        <div *ngIf="errorMessage" class="error-popover">
            <i class="fa fa-exclamation-triangle"></i>
            <span>{{ errorMessage }}</span>
        </div>

        <form [formGroup]="layerForm" class="layer-form">
            <div class="form-field">
                <label class="field-label">Layer Name</label>
                <input type="text" class="form-input" formControlName="name" placeholder="Enter layer name" />
                <div class="field-error">
                    <span class="error-text visible" *ngIf="
              layerForm.get('name').hasError('required') &&
              (layerForm.get('name').touched || layerForm.get('name').dirty)
            ">
                        Name is required
                    </span>
                    <span class="error-text visible" *ngIf="
              layerForm.get('name').hasError('duplicateName') &&
              (layerForm.get('name').touched || layerForm.get('name').dirty)
            ">
                        A layer with this name already exists
                    </span>
                </div>
            </div>

            <div class="form-field">
                <label class="field-label">Layer Type</label>
                <select class="form-input" formControlName="type" (change)="onTypeChange()">
                    <option value="" disabled>Select a layer type</option>
                    <option value="Imagery">Imagery</option>
                    <option value="Feature">Feature</option>
                    <option value="GeoPackage">GeoPackage</option>
                </select>
                <div class="type-description">
                    <span *ngIf="layerForm.get('type').value === 'Imagery'" class="description-text">
                        <i class="fa fa-info-circle"></i>
                        WMS, XYZ or TMS Layers
                    </span>
                    <span *ngIf="layerForm.get('type').value === 'Feature'" class="description-text">
                        <i class="fa fa-info-circle"></i>
                        Static layers (KML/KMZ)
                    </span>
                    <span *ngIf="layerForm.get('type').value === 'GeoPackage'" class="description-text">
                        <i class="fa fa-info-circle"></i>
                        Downloadable GeoPackage layers
                    </span>
                </div>
                <div class="field-error">
                    <span class="error-text" [class.visible]="
              layerForm.get('type').invalid &&
              (layerForm.get('type').touched || layerForm.get('type').dirty)
            ">
                        Type is required
                    </span>
                </div>
            </div>

            <div *ngIf="layerForm.get('type').value === 'Imagery'" class="conditional-fields">
                <div class="form-field">
                    <label class="field-label">Layer URL</label>
                    <input type="text" class="form-input" formControlName="url"
                        placeholder="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" />
                    <div class="field-error">
                        <span class="error-text" [class.visible]="
                            layerForm.get('url').invalid &&
                            (layerForm.get('url').touched || layerForm.get('url').dirty)
                        ">
                            URL is required for Imagery layers
                        </span>
                    </div>
                </div>

                <div class="form-field">
                    <label class="field-label">Format</label>
                    <div class="radio-group">
                        <label class="radio-label">
                            <input type="radio" formControlName="format" value="XYZ" (change)="onFormatChange()" />
                            <span>XYZ</span>
                        </label>
                        <label class="radio-label">
                            <input type="radio" formControlName="format" value="TMS" (change)="onFormatChange()" />
                            <span>TMS</span>
                        </label>
                        <label class="radio-label">
                            <input type="radio" formControlName="format" value="WMS" (change)="onFormatChange()" />
                            <span>WMS</span>
                        </label>
                    </div>
                </div>

                <div *ngIf="layerForm.get('format').value === 'WMS'" class="wms-section">
                    <button type="button" class="action-button btn-secondary" (click)="fetchWmsCapabilities()"
                        [disabled]="!layerForm.get('url').value || isLoadingWms">
                        <i class="fa" [class.fa-refresh]="!isLoadingWms" [class.fa-spinner]="isLoadingWms"
                            [class.fa-spin]="isLoadingWms"></i>
                        {{ isLoadingWms ? 'Loading...' : 'Load WMS Capabilities' }}
                    </button>

                    <div *ngIf="wmsError" class="wms-error">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>{{ wmsError }}</span>
                    </div>

                    <div *ngIf="wmsCapabilities" class="wms-server-info">
                        <h4>{{ wmsCapabilities.Service?.Title }}</h4>
                        <div *ngIf="wmsCapabilities.Service?.Abstract" class="wms-abstract">
                            {{ wmsCapabilities.Service.Abstract }}
                        </div>
                        <div class="wms-version">WMS Version: {{ wmsCapabilities.version }}</div>
                        <div *ngIf="wmsCapabilities.Service?.ContactInformation?.ContactPersonPrimary"
                            class="wms-contact">
                            <div>Contact Person:
                                {{ wmsCapabilities.Service.ContactInformation.ContactPersonPrimary.ContactPerson }}
                            </div>
                            <div>Contact Organization:
                                {{ wmsCapabilities.Service.ContactInformation.ContactPersonPrimary.ContactOrganization
                                }}
                            </div>
                            <div *ngIf="wmsCapabilities.Service.ContactInformation.ContactVoiceTelephone">
                                Contact Telephone:
                                <a href="tel:{{ wmsCapabilities.Service.ContactInformation.ContactVoiceTelephone }}">
                                    {{ wmsCapabilities.Service.ContactInformation.ContactVoiceTelephone }}
                                </a>
                            </div>
                            <div *ngIf="wmsCapabilities.Service.ContactInformation.ContactElectronicMailAddress">
                                Contact Email:
                                <a
                                    href="mailto:{{ wmsCapabilities.Service.ContactInformation.ContactElectronicMailAddress }}">
                                    {{ wmsCapabilities.Service.ContactInformation.ContactElectronicMailAddress }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="wmsLayers.length > 0" class="wms-layers-section">
                        <h5>Available EPSG:3857 layers on this WMS server. Choose layers to create your map with:</h5>
                        <div class="form-field">
                            <input type="text" class="form-input" [(ngModel)]="wmsLayerSearchQuery"
                                [ngModelOptions]="{standalone: true}" placeholder="Search layers..." />
                        </div>
                        <div class="wms-layers-list">
                            <label *ngFor="let layer of filteredWmsLayers()" class="wms-layer-item">
                                <input type="checkbox" [(ngModel)]="selectedWmsLayers[layer.Name]"
                                    [ngModelOptions]="{standalone: true}" />
                                <span class="layer-info">
                                    <span class="layer-title">{{ layer.Title }}</span>
                                    <span *ngIf="layer.Abstract" class="layer-abstract">{{ layer.Abstract }}</span>
                                </span>
                            </label>
                        </div>
                    </div>

                    <div *ngIf="wmsOtherLayers.length > 0" class="wms-other-layers-section">
                        <h5 class="warning-text">These layers appear to not be available in EPSG:3857. MAGE clients can
                            only show EPSG:3857 layers.</h5>
                        <div class="wms-layers-list">
                            <label *ngFor="let layer of filteredWmsOtherLayers()" class="wms-layer-item disabled">
                                <input type="checkbox" disabled />
                                <span class="layer-info">
                                    <span class="layer-title">{{ layer.Title }}</span>
                                    <span *ngIf="layer.Abstract" class="layer-abstract">{{ layer.Abstract }}</span>
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="wms-advanced-section">
                        <h4>
                            <a href="javascript:void(0)" (click)="toggleAdvancedOptions()">
                                <i class="fa" [class.fa-chevron-down]="!advancedOptionsExpanded"
                                    [class.fa-chevron-up]="advancedOptionsExpanded"></i>
                                Advanced Options
                            </a>
                        </h4>
                        <div *ngIf="advancedOptionsExpanded" class="advanced-options-content">
                            <div class="form-field">
                                <label class="field-label">WMS Version</label>
                                <input type="text" class="form-input" formControlName="wmsVersion"
                                    placeholder="i.e. 1.3.0" />
                            </div>

                            <div class="form-field">
                                <label class="checkbox-label">
                                    <input type="checkbox" formControlName="wmsTransparent" />
                                    <span>Transparent</span>
                                </label>
                            </div>

                            <div class="form-field">
                                <label class="field-label">Styles</label>
                                <input type="text" class="form-input" formControlName="wmsStyles"
                                    placeholder="Comma separated list of layer styles" />
                            </div>
                        </div>
                    </div>

                    <div *ngIf="wmsCapabilities" class="wms-capabilities-section">
                        <h4>
                            <a href="javascript:void(0)" (click)="toggleWmsCapabilitiesDocument()">
                                <i class="fa" [class.fa-chevron-down]="!showWmsCapabilitiesDocument"
                                    [class.fa-chevron-up]="showWmsCapabilitiesDocument"></i>
                                Show WMS Capabilities Document
                            </a>
                        </h4>
                        <div *ngIf="showWmsCapabilitiesDocument" class="capabilities-document-content">
                            <pre>{{ wmsCapabilities | json }}</pre>
                        </div>
                    </div>

                    <div class="wms-preview-section">
                        <button type="button" class="action-button btn-secondary" (click)="openPreview()"
                            [disabled]="!getSelectedWmsLayers()">
                            <i class="fa fa-map"></i>
                            Preview Map
                        </button>
                    </div>

                    <div *ngIf="showPreview" class="preview-map-modal">
                        <div class="preview-map-overlay" (click)="closePreview()"></div>
                        <div class="preview-map-content">
                            <div class="preview-map-header">
                                <h3>Layer Preview</h3>
                                <button type="button" class="close-button" (click)="closePreview()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="preview-map-body">
                                <div #previewMapContainer class="preview-map-container"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="layerForm.get('format').value !== 'WMS' && layerForm.get('url').value"
                    class="imagery-preview-section">
                    <button type="button" class="action-button btn-secondary" (click)="openPreview()">
                        <i class="fa fa-map"></i>
                        Preview Map
                    </button>
                    <div *ngIf="showPreview" class="preview-map-modal">
                        <div class="preview-map-overlay" (click)="closePreview()"></div>
                        <div class="preview-map-content">
                            <div class="preview-map-header">
                                <h3>Layer Preview</h3>
                                <button type="button" class="close-button" (click)="closePreview()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="preview-map-body">
                                <div #previewMapContainer class="preview-map-container"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <label class="checkbox-label">
                        <input type="checkbox" formControlName="base" />
                        <span>Base Layer</span>
                    </label>
                </div>
            </div>

            <div *ngIf="layerForm.get('type').value === 'GeoPackage'" class="conditional-fields">
                <div class="form-field">
                    <label class="field-label">Choose GeoPackage File</label>
                    <div class="file-upload-container">
                        <input type="file" id="geopackage-file" class="file-input" accept=".gpkg"
                            (change)="onGeoPackageFileSelected($event)" />
                        <label for="geopackage-file" class="file-label">
                            <i class="fa fa-upload"></i>
                            <span *ngIf="!geopackageFileName">Select GeoPackage file...</span>
                            <span *ngIf="geopackageFileName" class="file-name">{{ geopackageFileName }}</span>
                        </label>
                    </div>
                    <div class="field-hint">
                        <i class="fa fa-info-circle"></i>
                        Select a .gpkg file to upload
                    </div>
                </div>
            </div>

            <div class="form-field">
                <label class="field-label">Description</label>
                <textarea class="form-input" formControlName="description" rows="3"
                    placeholder="Enter layer description (optional)"></textarea>
            </div>
        </form>
    </div>

    <div class="dialog-actions">
        <button class="action-button" (click)="cancel()">Cancel</button>
        <button class="action-button btn-primary" (click)="save()" [disabled]="canSave">
            <i class="fa fa-save"></i>
            Create Layer
        </button>
    </div>
</div>