<mat-toolbar color="primary">
  <div class="container">
    <div class="menu">
      <button mat-icon-button *ngIf="state === 'map'" (click)="toggleFeed()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="event-title">
      <span class="filter-event">{{ filteredEvent.name }}</span>
      <span *ngIf="filteredTeams" class="filter-teams"
        ><span>> {{ filteredTeams }}</span></span
      >
      <span *ngIf="filteredInterval" class="filter-interval">
        {{ filteredInterval }}</span
      >
    </div>

    <div class="collapsed-menu">
      <button matTooltip="Preferences" mat-button (click)="togglePreferences()">
        <mat-icon>tune</mat-icon>
      </button>
      <button
        mat-icon-button
        class="navigation-options"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu>
        <a mat-menu-item [routerLink]="['/profile']">
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </a>
        <a mat-menu-item [routerLink]="['/about']">
          <mat-icon>info</mat-icon>
          <span>About</span>
        </a>
        <a mat-menu-item *ngIf="isAdmin" href="admin/#/admin/">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Admin</span>
        </a>
        <a mat-menu-item (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </a>
      </mat-menu>

      <div class="actions">
        <a matTooltip="Profile" [routerLink]="['/profile']" mat-button>
          <mat-icon>account_circle</mat-icon>
        </a>

        <a matTooltip="Info" [routerLink]="['/about']" mat-button>
          <mat-icon>info</mat-icon>
        </a>

        <a
          matTooltip="Admin Page"
          *ngIf="isAdmin"
          mat-button
          href="admin/#/admin/"
        >
          <mat-icon>admin_panel_settings</mat-icon>
        </a>

        <a matTooltip="Logout" mat-button (click)="onLogout()">
          <mat-icon>logout</mat-icon>
        </a>
      </div>
    </div>
  </div>
</mat-toolbar>
