:host {
  display: block;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.collapsed-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.actions {
  display: none;
}

.event-title {
  margin-top: 0.2rem;
  font-size: 0.75em;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 900px) {
  .navigation-options {
    display: none;
  }

  .actions {
    display: block;
  }
}
