:host {
  display: block;
}

mat-toolbar {
  background-color: var(--mat-sys-primary);
  color: #ffffff;
  --mat-icon-button-icon-color: #ffffff;
}


.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.collapsed-menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.actions {
  display: none;
  gap: 8px;
}

.event-title {
  margin-top: 0.2rem;
  font-size: 0.75em;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media (min-width: 900px) {
  .navigation-options {
    display: none;
  }

  .actions {
    display: flex;
  }
}
